[2016-11-09 22:19] shiftkey opened #1500 "Issue Comments - need an overload to take in optional arguments"
Documentation: https://developer.github.com/v3/issues/comments/#list-comments-in-a-repository

Existing methods: https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IIssueCommentsClient.cs#L36-L66

There should be overloads for each of these methods which accept an parameter which `IssueCommentRequest` and has those fields from the documentation.

[2016-11-11 21:18] andrejo-msft opened #1502 "Event types not covered by EventInfo API appearing in event stream, causing argument exception"
https://api.github.com/repos/Microsoft/WinObjC/issues/1305/events

In this set of events, notice a **review_dismissed** event. review_dismissed does not appear as an enum in the EventInfo.cs list, so a call of:

                IReadOnlyList<EventInfo> issueEvents = await Client.Issue.Events.GetAllForIssue("Microsoft", "WinObjC", 1305);

results in an **ArgumentException: Requested value 'reviewdi

[2016-11-11 21:55] ryangribble commented on #1502
Evidently th new reviews stuff has added some new event types to this API (and probably to webhooks as well)

I think it's hard to track this sort of thing with a concrete enum as we don't want to break everytime an upstream event type gets added. Yet making it a string loses some niceties as well.

I'd propose we could shoot for a best of both worlds approach involving
- have an `Unknown` enum me

[2016-11-11 22:07] andrejo-msft commented on #1502
I like that rather a lot. Otherwise, we’ll continue to hit one-off issues such as these every time a new set of features around issue events are released.

-Drew

From: Ryan Gribble [mailto:notifications@github.com]
Sent: Friday, November 11, 2016 1:56 PM
To: octokit/octokit.net <octokit.net@noreply.github.com>
Cc: Drew Johnson <Drew.Johnson@microsoft.com>; Author <author@noreply.github.com>
Subje

[2016-11-14 21:00] mderriey commented on #1419
I'll spend some time working on this very soon.

My intent is to port the main 3 projects to `netstandard1.1`. Then we'll talk about all the other platforms we need to target and how we'll do it. I quite like how [Rx.NET](https://github.com/Reactive-Extensions/Rx.NET/blob/master/Rx.NET/Source/System.Reactive.Core/project.json) was ported, with conditional compilation symbols that map to capabiliti

[2016-11-17 02:57] ghuntley commented on #1440
Yo @shiftkey I'd suggest using `gitversion` to automatically version your releases and generating release notes using `GitReleaseManager` which automatically builds RELEASENOTES.md from closed github issues + github tags.

See https://github.com/reactiveui/ReactiveUI/blob/develop/GitReleaseManager.yaml  and https://github.com/reactiveui/ReactiveUI/blob/develop/GitVersion.yml

Doing `RELEASENOTES.m

[2016-11-17 03:48] ghuntley commented on #1419
Yo.

Alright, I had a poke around whilst reviewing @mderriey's progress and there's some stuff bouncing around in my head that needs to be discussed before progressing further.

First up I think the title of this discussion is incorrect; the focus should not be on porting to netcore - it should be a discussion about what which netstandard profile this library should migrate to and how to handle `[

[2016-11-17 04:09] ghuntley commented on #1440
Additionally, once netstandard migration is done you can move 100% to appveyor and get rid of travisci.

[2016-11-18 01:35] ryangribble commented on #1440
Yep all sounds good.  The cake stuff i was playing with already is using GitVersion [see here](https://github.com/octokit/octokit.net/pull/1476/files#diff-7ee6d77108fc6e231391468494148b63R76)

So far i mostly based my cake stuff off [Bddfy cake scripts](https://github.com/TestStack/TestStack.BDDfy) but I'll take a look at akavache

[2016-11-18 01:48] ryangribble commented on #1502
Any thoughts from @shiftkey @maddin2016 @M-Zuber about this enum approach?

[2016-11-18 01:49] ryangribble commented on #1495
Given that #1500 is opened, are we happy to close this one?

[2016-11-18 07:57] M-Zuber commented on #1502
That approach makes the most sense.

Would be cool if the serializer could phone home on error and open an issue to add the new value to the enum.

[2016-11-18 07:58] maddin2016 commented on #1502
👍 to @M-Zuber

[2016-11-18 11:52] maddin2016 commented on #1502
But what if there n new members at the same time.

[2016-11-21 12:24] #1143 closed

[2016-11-22 01:56] mderriey commented on #1419
@shiftkey / @ryangribble if/when you have some time, could you please take a look at @ghuntley's comment above? thanks :+1:

[2016-11-22 03:55] ghuntley commented on #1419
Had a convo with Oren today - he recommends going to `System.Reactive` v3.1.1 as that won't force `net45` consumers into installing the netstandard lib dependency.

[2016-11-22 13:18] ryangribble commented on #1419
IM happy with the approach suggested by @mderriey in getting the main 3 projects going on netstandard 1.1 first then looking at what to do next.  I'm also :+1: to the Rx approach of the capability based #ifdefs

[2016-11-24 14:21] l1salvatore opened #1505 "Cannot get a Date of a Commit?"
I want to get a Date of a single commit. It is posibble? Thanks!

[2016-11-24 14:29] #1505 closed

[2016-11-25 00:42] shiftkey commented on #1505
Not sure if you found a solution, but here's mine:

[code]

[2016-11-27 21:47] shiftkey commented on #1419
@ghuntley the use of `[Serializable]` was more of a correctness thing than anything core to Octokit's behaviour, so don't let that get in the way of anything serious. I think the most interesting dependency is `System.Net.Http` so I think that sets a floor of `netstandard1.1` for which version to target.

I think this would affect existing users of `Profile259` (from memory that's closer to `netst

[2016-11-27 22:37] shiftkey commented on #1495
@ryangribble I think this is a separate issue to #1500. If this endpoint is now serving up different data, we need to address this as a breaking change (introduce `PullRequest.ReviewComment` and obsolete `PullRequest.Comment` maybe?)

[2016-11-30 21:20] ryangribble commented on #1495
OK so did you get confirmation that this had changed upstream?

I thought for as long as Ive been using octokit it was like this - Eg since `PullRequests` are also/actually `Issues`, the "comments" you see on the discussion area were always obtained from getting them from the `Issue` API, and the "comments" on the PullRequest API were always the "review" comments... even before   all the changes t

[2016-11-30 21:52] jaredpar commented on #1495
Correct.  The code sample I posted is just my expectation of how the API should work.

[2016-12-01 19:56] l1salvatore opened #1508 "What is the integer in PullRequest.Get? .NET"
I have a question. What is the integer that appears as the 2nd parameter of the Commit,Files and Get methods?
 I suppose that the integer is how many pull req i want to get. But i want to get all pull request.

[code]

Moreover, if doesn't exist a pull request in a repo, octokit throws me an exception..
Some help?

[2016-12-01 23:47] shiftkey commented on #1508
The second parameter is the unique identifier for a pull request. For example, #1503 is the identifier for this pull request: https://github.com/octokit/octokit.net/pull/1503

If you just want to enumerate all open pull requests, use this method:

[code]

This is due to a 404 being returned from the GitHub API - we just surface that because we don't have any data to give the caller.

[2016-12-01 23:47] #1508 closed

[2016-12-02 12:54] l1salvatore commented on #1508
Sorry, but how access to commits and files of pullrequest? I only access with commits and files

[2016-12-05 19:50] 101shipit opened #1509 "GetLastApiInfo always returns null"
Using octokit v0.23.0 from nuget I am trying to capture rate limit information from github but whenever I call `gitHubClient.GetLastApiInfo()` it is returning null

[2016-12-11 08:29] k0shk0sh opened #1510 "watchers & watchers_count are incorrect"
As per the title says, the `watchers` & `watchers_count` are incorrect & always follows the `stargazers_count` I have seen this issue has been reported previously in #699 & that issue is reported back in 2015, now we are entering 2017 & this issue haven't been resolved.

Steps to produce the issue:  using `("Accept","application/vnd.github.v3+json");`

1. Call Repositories API
2. Validate the `wat

[2016-12-12 13:03] ryangribble commented on #1510
Hey, if you have a read of #1470 there is some explanation there, but basically the fields you mentioned aren't the correct ones.  There was a `SubscribersCount` field which was correct but it was deprecated and replaced with a separate API call.  So the current official way to get this info is via a call to the `client.Activity.Watching.GetAllWatchers()` call.

However as the `SubscribersCount` f

[2016-12-12 13:23] ryangribble commented on #1509
`GetLastApInfo()` returns the `ApiInfo` from the last call that was made - are you making a regular Api call prior to calling it?

Can you provide a code sample reproducing the problem?  (Ive just run through [the integration tests](https://github.com/octokit/octokit.net/blob/master/Octokit.Tests.Integration/Clients/GitHubClientTests.cs#L16) locally and confirm they are passing)

[2016-12-12 13:34] ryangribble opened #1511 "Rename PulRequest.Comment client to PullRequest.ReviewComment"
To better align with the [API docs](https://developer.github.com/v3/pulls/comments/), the access to the `PullRequestReviewClient` should be renamed from `client.PullRequest.Comment` to `client.PullRequest.ReviewComment` (also applies to the `Observable` versions of the client)

Normal octokit.net deprecation procedures should be followed (old variables being marked `[Obsolete]` for at least 2 rele

[2016-12-12 13:38] ryangribble commented on #1495
OK, since this was just an expectation thing rather than any kind of breaking change, Im going to close this issue out.  Ive also raised #1511 to tweak the naming of `PullRequest.Comment` to `PullRequest.ReviewComment` to make the naming clearer and better aligned with the API docs

[2016-12-12 13:38] #1495 closed

[2016-12-12 13:52] ryangribble opened #1512 "ProtectedBranches API changes for Required Review Enforcement"
As per this [blog anouncement](https://developer.github.com/v3/repos/branches/#update-branch-protection) the ProtectedBranches API has a new `required_pull_request_reviews` object

- On the existing `UpdateBranchProtection` method (add to our `BranchProtectionSettingsUpdate` request object, which will require a few `ctor`s to be added to cater for the different combinations of the 3 fields being p

[2016-12-12 13:53] M-Zuber commented on #1512
I'd like to try and do this one if it's still available

[2016-12-12 13:56] ryangribble opened #1513 "Organization Membership Preview API Changes - new endpoints"
As per this [blog post](https://developer.github.com/changes/2016-11-28-preview-org-membership/) several changes are in preview for the Organization Membership API

This issue is to cover implementing new endpoints

- [Review a user's permission level](https://developer.github.com/v3/repos/collaborators/#review-a-users-permission-level)

- [List outside collaborators](https://developer.github.com/

[2016-12-12 14:00] ryangribble opened #1514 "Organization Membership Preview API Changes - existing endpoints"
As per this [blog post](https://developer.github.com/changes/2016-11-28-preview-org-membership/) several changes are in preview for the Organization Membership API

This issue is to cover changes to existing endpoints

- The `default_repository_permission` and `members_can_create_repositories` settings for an organization can now be retrieved and set through the [Get an organization](https://devel

[2016-12-12 14:04] ryangribble commented on #1512
All yours @M-Zuber !

[2016-12-12 14:07] ryangribble commented on #1512
Unless you prefer the organization ones I also just raised #1513 and #1514 in which case Im happy to knock over this protected branches one since Im pretty familiar with this area.

Up to you though, if you want to do this one that's cool

[2016-12-12 14:10] M-Zuber commented on #1512
I want something small in order to get back into things.
Lets see if I can get this one done fast enough to start tackling those also 😀

[2016-12-12 15:12] BigAlInTheHouse commented on #1512
existen datos ahora.

ALG Services

On Dec 12, 2016 7:52 AM, "Ryan Gribble" <notifications@github.com> wrote:

[2016-12-13 10:57] M-Zuber commented on #1512
How exactly do you want the additional ctors to look?
Currently there are 2: one that takes only a `BranchProtectionRequiredStatusChecksUpdate`, and the other that takes a `BranchProtectionPushRestrictionsUpdate` in addition.

Based on my understanding of the docs: `You can, and should, pass required_pull_request_reviews as well. While this is not required currently, it should be treated as such a

[2016-12-13 13:18] ryangribble commented on #1512
I would have thought passing null means review isn't required at all, then passing the object means review IS required (with the boolean indicating whether admins also have to comply with it or not). If you can't pass null how do you indicate no review is required?

[2016-12-13 13:31] M-Zuber commented on #1512
Hmmm... Had not thought of it that way, and you are probably correct.
But the docs seem to imply otherwise as for the older params they specify `pass in null to disable` while for the new param they don't.

So I am going to assume you are correct, and try to write an integration test proving it.

[2016-12-15 22:04] DamianEdwards commented on #1419
@shiftkey hello sir! Are you currently working on this? Are you moving straight to the new CSPROJ project format as you go (meaning you'll need >=VS2017 RC or latest dotnet CLI builds)?

Also, please note you should drop your reference to Microsoft.Net.Http and instead just depend on NETStandard.Library which brings in System.Net.Http. The Microsoft.Net.Http package is hella old now and won't be m

[2016-12-15 22:50] ryangribble commented on #1419
Hi @DamianEdwards ,  @mderriey is doing most of this work and I've been changing our build script over from FAKE to CAKE.

As time goes on i think its more and more likely we do jump onto the "new" csproj project system. Last I heard there were still problems with the tests/explorer in vs2017 but things change so quickly that may be old info?

We'll certainly take your advice on the system.net.htt

[2016-12-15 22:52] ryangribble commented on #1419
Btw see #1503 for where we are at with this work so far

[2016-12-15 22:56] ghuntley commented on #1419
Heads up AppVeyor doesn't have VS2017 in GA yet. See https://github.com/appveyor/ci/issues/1179

[2016-12-15 23:53] mderriey commented on #1419
Hi @DamianEdwards , we only reference `Microsoft.Net.Http` for the `net45` TFM. `NETStandard.Library` is used when targeting `netstandard1.1`, as you can see [here](https://github.com/octokit/octokit.net/pull/1503/files#diff-04cf975081b2ad282e6c41f68f1235e9).

I'll leave it to @shiftkey and @ryangribble to decide whether we make the move to the new `csproj` system with VS 2017 RC. As it's availabl

[2016-12-16 00:52] shiftkey commented on #1419
@mderriey @ryangribble @DamianEdwards the state of the tooling has been an issue for me, and was one of the reasons I deferring the porting work. Ideally I'd love for this stuff to "just work" for new contributors who stumble upon this, and having to be on bleeding-edge stuff isn't something that everyone is keen to do.

Personally, requiring VS2017 when it's still RC doesn't feel great. I know th

[2016-12-18 21:00] mderriey commented on #1419
Did I *really* write this? That's embarassing. Point taken, will remove it altogether.

I tried the one-way upgrade over the WE with the latest VS 2017 RC. Didn't go well as the upgrade didn't work when opening the solution. I'll have another look this week. I know @NickCraver did it for MiniProfiler so I'll have a look at how he got it done.

[2016-12-19 16:11] l1salvatore opened #1517 "Search Repo by URL - Rate Limit Exception"
Is not issue.
I take advantage of this "forum" of issues to ask how i search a repo by URL or by user/repo.

And my other question is, how much time i have to wait to search repo again when the api throws me an Rate Limit Exception

Thanks

[2016-12-19 17:43] bmeverett commented on #1511
Is [this](https://github.com/bmeverett/octokit.net/blob/ca0011546b90674d079f03b6f9bcb317c059ef34/Octokit/Clients/IPullRequestsClient.cs#L19-L24) what you're looking for? And then should the tests be modified to use ReviewComment now?

[2016-12-19 20:48] ryangribble commented on #1517
If you just want to ask a question you could use the gitter chat room also

Documentation on rate limiting is here: https://developer.github.com/v3/#rate-limiting

[2016-12-19 20:48] #1517 closed

[2016-12-19 20:53] ryangribble commented on #1511
Yeah pretty much, although the obsolete message wording should be more in line with other examples in the code base. It also needs to be done in both the interface definition and the concrete implementation and also for the `Observable` client/interface

And yes updating any other test code should be done now, so that later on the removal of the deprecated endpoint is simple/surgical

[2016-12-20 14:10] damianh opened #1518 "Unable to check for multi-factor auth is enabled for each member of an org"
Howdy!

I would like to be able to:

    (await _gitHubClient.Organization.Member.GetAll(_organization)).Where(u => u.MfaEnabled)

... but alas there is no such `MfaEnabled` property on `User`. I can't find anything that look like that. Is this possible by other means? I swear I searched the entire API space first :)

Toodle-pip!

[2016-12-20 14:15] damianh commented on #1518
(await _gitHubClient.Organization.Member.GetAll(_organization, OrganizationMembersFilter.TwoFactorAuthenticationDisabled))

I hate when this happens.

[2016-12-20 14:15] #1518 closed

[2016-12-20 16:16] bmeverett commented on #1511
Ok and just to be clear about the Observables. That would require changing  `IObservablePullRequestReviewCommentsClient.GetComment(long repositoryId, int number)` and `IObservable<PullRequestReviewComment> GetComment(string owner, string name, int number)` correct?

And does anything need to be done with `Task<PullRequestReviewComment> GetComment(string owner, string name, int number)`?

[2016-12-20 22:07] #837 closed

[2016-12-20 23:56] SeanKilleen commented on #1509
I'm using the `GetLastApiInfo()` as part of a quick console app I'm writing and can confirm it works as expected (null on first call, populated for subsequent calls).

[2016-12-21 00:02] SeanKilleen opened #1519 "Octokit.Tests.Integration.Helper fails due to unset environment variables around credentials"
Hi all,

I noticed that when I first pulled the project, a few tests failed. Looking into it, it appears to be because the `Helper` uses a `Lazy<Credentials>` that reads from environment variables.

I'm thinking the solution for this is to mention it in the contributing guide; I'll submit the PR.

[2016-12-21 00:04] SeanKilleen commented on #1519
Annnnd nevermind -- it turns out the solution is to better **read** the contrib guide, which clearly mentions the powershell for the environment variables. Totally missed that somehow.

![](https://cdn.meme.am/cache/instances/folder265/500x/62529265.jpg)

[2016-12-21 00:04] #1519 closed

[2016-12-21 03:46] shiftkey commented on #1519
@SeanKilleen I'm glad this was relatively easy to solve!

![](https://cloud.githubusercontent.com/assets/359239/21376811/009b0c8e-c788-11e6-80c6-7ea3c05f7c1d.gif)

[2016-12-21 04:12] shiftkey commented on #1518
I got you @damianh

![](https://cloud.githubusercontent.com/assets/359239/21377136/5dc28db2-c78b-11e6-9b4e-d04c0e68ec2f.gif)

[2016-12-21 06:32] damianh commented on #1518
:)

On 21 Dec 2016 5:12 a.m., "Brendan Forster" <notifications@github.com>
wrote:

[2016-12-21 13:13] ryangribble commented on #1511
What I actually meant was to make the same rename to the variable name in the observable API client structure...  But you are spot on that the internals of the observable methods will also need to be tweaked to call the new client's path

If you're keen to work on this just push up a PR with your progress and we can work through it there 👍

[2016-12-21 19:27] l1salvatore opened #1521 "PullRequest.Files array can return a null patch and a contents_url to follow"
I have tried to get the patch of the following url https://github.com/dotnet/docs.de-de/pull/4/commits/05761c5864fff7dbbf5453b234e3fe581399ed24#diff-de8433d9825dcc2b06d9b079bc597e51 in the file ".filepath-state . But gives me a Nothing value, when the patch exists and is not empty.

Regards
Lucas

[2016-12-21 19:32] l1salvatore opened #1522 "There is no way to access to commit's files of a Pull Request"
Is there a way to obtain the file's collections of a commit in a pull request? I know that there is a method called  github.Repository.PullRequest.Files

[2016-12-21 19:52] ryangribble commented on #1521
Hi @l1salvatore

can you post some sample code to demonstrate what you're trying please?

[2016-12-21 20:23] l1salvatore commented on #1521
For num As Integer = 1 To _searchRepositoryResultList.Count Step 1
            Dim _PullRequests = Await github.Repository.PullRequest.GetAllForRepository(_searchRepositoryResultList.Item(num).Items(0).Id)
            For Each pull As Octokit.PullRequest In _PullRequests
                Dim PullRequestCommits = Await github.Repository.PullRequest.Commits(_searchRepositoryResultList.Item(num).Items

[2016-12-21 20:23] l1salvatore commented on #1521
Sorry, i don't know how put entirely as code

[2016-12-21 20:29] ryangribble commented on #1521
https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2016-12-21 21:14] l1salvatore commented on #1521
I have edited the text. So i have 3 collections: All repositories of a given list, All pull request for each repository, and all files for each pull request.
There is a file in the collection that has as .patch the Nothing value. But the .patch is not empty, there is text.

[2016-12-21 22:37] shiftkey commented on #1522
Not directly, due to how the Pull Request API is designed.

But you can combine two API calls to do this:

[code]

[2016-12-21 22:37] #1522 closed

[2016-12-21 23:45] shiftkey commented on #1521
`PullRequestCommit` won't have their `Files` entries populated. See #1522 for how to resolve those.

If you look at the [commit response](https://api.github.com/repos/dotnet/docs.de-de/commits/05761c5864fff7dbbf5453b234e3fe581399ed24) for that change, it appears to be a new feature of the GitHub API, likely related to how we're trying to defer our diff rendering wherever possible.

<img width="113

[2016-12-22 00:54] Eilon commented on #1509
Working just fine for me too, using 0.23.0 in an ASP.NET Core app.

[2016-12-22 00:56] Eilon commented on #1403
Yeah I kept wondering why things like Comment count were always 0 for PRs. Kind of frustrating that I have to make additional calls for each PR I'm interested in... kind of blows away the rate limit with the amount of data I'm crunching!

[2016-12-22 01:04] Eilon commented on #1334
Per my latest comment at https://github.com/octokit/octokit.net/pull/1339#issuecomment-268691145, I think this should also include adding this for PullRequest (and not just Issue).

[2016-12-22 02:15] mderriey commented on #1419
@shiftkey I'm giving the move to VS 2017 RC a go, could you tell me to which account is the `octokit` organisation linked to in AppVeyor so I can ask them to enable VS 2017 for us? Cheers

[2016-12-22 02:57] shiftkey commented on #1419
@mderriey it's the `github-windows` account on Appveyor, and if it's something available through the admin panel I can set that for you directly...

[2016-12-22 03:02] ghuntley commented on #1419
@shiftkey go post in the appveyor thread linked above and once added you can select from admin panel.

[2016-12-22 03:25] mderriey commented on #1419
@shiftkey Cheers. I don't think it's available in the UI for now as there's a dedicated thread for people to ask that it gets enabled for their accounts. I'll do it. Thanks again.

[2016-12-22 05:31] mderriey commented on #1419
I have a WIP branch named [port-to-dotnet-core-vs-2017](https://github.com/mderriey/octokit.net/tree/port-to-dotnet-core-vs-2017). I'm waiting for AppVeyor to enable the VS 2017 RC image on the account and I'll create a PR to see if things are running smoothly.

A couple of issues I encountered on the way:

 - `.nuspec` files don't exist anymore and the NuGet package metadata is now stored [in the

[2016-12-22 12:05] M-Zuber commented on #1512
I didn't get to writing the tests yet, but am making a pr just to get another set of  👀 on it as soon as possible

[2016-12-22 17:21] l1salvatore commented on #1521
![error patch](https://cloud.githubusercontent.com/assets/14284586/21434186/dee58928-c851-11e6-8485-f3ba684e533f.jpg)
Sorry, i don't understad. Why gives me Nothing in the .patch field?

[2016-12-22 19:43] 101shipit commented on #1509
mmmh, ok can't get it working, always just returns null. Assume it's something weird with my setup and dependency injection perhaps.
Will close this off anyway.

[2016-12-22 19:44] SeanKilleen commented on #1509
@101shipit if you're creating a new instance of the client per request, the client likely won't ever have the "last request". May want to look at how many instances you're creating within your DI setup.

[2016-12-23 02:20] shiftkey commented on #1521
@l1salvatore because the `patch` property on the JSON isn't populated

[2016-12-24 18:43] SeanKilleen commented on #1142
@shiftkey happy to write this up as I just used it and it seems pretty straightforward.

Do you have a preference for where it should live in the docs? Wasn't sure if it makes sense to devote an entire markdown doc to it or to throw it into `getting-started.md`.

[2016-12-28 12:52] aniket-aurea opened #1525 "Timeline API: Exception: {"Requested value 'reviewed' was not found."}"
Note: gitHubClient.PullRequest.Get works fine for the same pull request
StackTrace:
   at System.Enum.EnumResult.SetFailure(ParseFailureKind failure, String failureMessageID, Object failureMessageFormatArgument)
   at System.Enum.TryParseEnum(Type enumType, String value, Boolean ignoreCase, EnumResult& parseResult)
   at System.Enum.Parse(Type enumType, String value, Boolean ignoreCase)
   at Octo

[2016-12-31 09:21] #1511 closed

[2017-01-06 15:22] JohnGoldsmith opened #1526 "Commit not found from content sha"
I'm trying to get hold of the last commit object from the sha of a content object.  I can retrieve the sha for each content object, but I don't seem to be able to correlate this to a commit.  Here's an example using LinqPad:
[code]

This results in the following:
[code]
...however none of these sha's match the ones found in the repo: https://github.com/githubtraining/hellogitworld/commits/feature_

[2017-01-07 03:44] shiftkey commented on #1526
@JohnGoldsmith unfortunately the `Sha` property here represents the blob of the file, not the commit where the file was last modified. That's why you're seeing the 404 Not Found.

I'm not quite sure of an easy way to get this data - you could walk through the commits starting from the tip of the branch, like this:

[code]

By default these aren't pre-populated, so you'd have to make a second call

[2017-01-08 01:56] SeanKilleen opened #1527 "Add "retry-after" information to abuse detection exceptions"
Offering a suggestion that I'm willing to look at implementing as well.

I was having a little too much fun exploring Github with some concurrent actor processes and tripped the abuse mechanism. I received a `ForbiddenException` with the reason and pointing me to [Github's Abuse Rate Limits Guide](https://developer.github.com/v3/#abuse-rate-limits).

There, I see that a header exists for `Retry-Af

[2017-01-08 03:06] ryangribble commented on #1527
Hey @SeanKilleen that sounds like a great idea

This option sounds 👍 to me

[2017-01-08 15:24] SeanKilleen commented on #1527
@ryangribble sounds good. I'll plan to tackle this in the following way:

* Create a new Exception Inheriting from ForbiddenException
* Modify `Connection.cs` to throw the new exception (with tests)
* Add the `Retry-After` as a readonly field within the constructor based on the headers from the `IResponse` that are passed in.

Question: If for some reason we're creating this Abuse exception and th

[2017-01-09 00:36] shiftkey commented on #1525
@aniket-aurea do you have an example URL that I can use to confirm this is related to [`EventInfoState`](https://github.com/octokit/octokit.net/blob/c9b2c1260bc87b7782d4fd9645d43a8885203923/Octokit/Models/Response/EventInfo.cs#L74) not having this value?

[2017-01-09 04:45] ryangribble commented on #1525
Apart from adding enum values that are missing, we also have a proposal to handle these at runtime here  #1504

[2017-01-09 05:09] aniket-aurea commented on #1525
Thanks, this sounds great.

I don't have a url as this is a private repo.
But I saw atleast 1 other status apart from the one mentioned in the
ticket, that gave the same exception.

Yes the problem did occur during de-serialization by Newtonsoft, as the
Enum did not have the value.
I have made this field string in my classes till a fix is available, and am
using the rest API till then.

Hope this

[2017-01-09 11:50] JohnGoldsmith commented on #1526
That's great.  Thanks very much @shiftkey

I've amended based on your help as follows:

[code]

...which results in the following:

[code]
I see the the [xml comment on Sha](https://github.com/octokit/octokit.net/blob/c9b2c1260bc87b7782d4fd9645d43a8885203923/Octokit/Models/Response/CommitContent.cs) says 'SHA of the last commit that modified this content' if I'm reading in the right place.  Should

[2017-01-09 12:05] ryangribble commented on #1526
Yeah looks like that's an incorrectly documented field and should be fixed up... apologies for the bum steer!  😮

[2017-01-09 12:08] JohnGoldsmith commented on #1526
Well it's helped progress my git understanding so good things have come out of it :)

[2017-01-09 12:59] SeanKilleen opened #1529 "Exceptions don't display default exception messages when ApiError.Message is empty"
Currently, many exceptions take `ApiErrorMessageSafe` and display the default text if it's null.

However, this should probably also apply if `ApiErrorMessageSafe` is empty so that the user gets something.

I came across this while attempting to write out tests for #1528. I didn't want to change too many things in that PR, so figured I'd create this as an off-shoot.

## A failing test
Removed this

[2017-01-09 13:24] SeanKilleen commented on #1527
@ryangribble any preferences on what to do if the `Retry-After` header isn't present or can't be parsed? We could default to a number, e.g. 60 seconds, or we could make the field a nullable int.

[2017-01-09 13:28] ryangribble commented on #1529
Is this related to something I found when working on a PR here: https://github.com/octokit/octokit.net/pull/1415  ?

If you see the 2nd bullet point where I talk about the attempted `ApiError` deserialization never returning a `null` and thus never falling back to the text payload...

[2017-01-09 14:54] ryangribble commented on #1527
Personally im not a fan of a non official default that we make up ourselves.  I think make it nullable and if the value can't be parsed/isn't present then return `null`

[2017-01-09 14:55] SeanKilleen commented on #1527
Sure thing -- I'll make those adjustments.

[2017-01-09 14:56] SeanKilleen commented on #1527
Also, I added the failing test back. Normally my preference would have been to open a new PR against #1529 but this works fine too.

[2017-01-09 15:38] SeanKilleen commented on #1500
I believe this is now closed via #1501.

[2017-01-09 15:38] SeanKilleen commented on #1358
I believe this was closed via #1489.

[2017-01-09 15:47] #1358 closed

[2017-01-09 15:47] SeanKilleen commented on #295
Bumping this because it's pretty old.

I'm thinking it would make sense to close this in lieu of a new ticket referencing this and suggesting the documentation changes that came from @shiftkey's comment: https://github.com/octokit/octokit.net/issues/295#issuecomment-32185849

Let me know if that's the right approach here; I'm happy to write up the new ticket.

[2017-01-09 15:55] SeanKilleen commented on #823
Given @shiftkey's last comments on this and that it's > 6 months old, should we close this out?

[2017-01-09 15:56] SeanKilleen commented on #790
I took a quick stab at this in #1530.

[2017-01-09 20:58] #1500 closed

[2017-01-09 21:11] #790 closed

[2017-01-09 21:13] shiftkey commented on #1526
@JohnGoldsmith I'm glad you were able to workaround the issue! :sparkles:

Leaving this open for someone to address the suggestion that the comment on [this line](https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/CommitContent.cs#L40) needs to be updated:

[2017-01-09 22:50] shiftkey commented on #823
Yep. And with the port to .NET Core that's underway, the change to use the `System.Net.Http` NuGet package instead of directly referencing `System.Net.Http` as mentioned in https://github.com/octokit/octokit.net/issues/1419#issuecomment-267457741 should resolve this.

[2017-01-09 22:50] #823 closed

[2017-01-09 22:52] shiftkey commented on #295
@SeanKilleen yeah, let's just document it rather than trying to be too clever here. Happy to discuss in a new issue.

[2017-01-09 22:52] #295 closed

[2017-01-09 22:54] shiftkey commented on #1115
Closing this out in favour of #1419 which has more information and is more recent.

[2017-01-09 22:54] #1115 closed

[2017-01-10 00:58] jparnell8839 opened #1531 "Pulling the latest release (Docs outdated?)"
I have been trying to get some semblance of the releases down, and it just doesn't seem to be working at all. I'm pretty sure that as Octokit has been updated, the docs have fallen asunder.

For instance, the following code, from the docs:

[code]

results in the following errors:
[code]
I am using strictly what is in the documentation, i.e. the `var client = new GitHubClient(new ProductHeaderValu

[2017-01-10 01:05] shiftkey commented on #1531
@jparnell8839 ah yes, I know what's happened here. Here's the commit where we removed the code, which previously had an Obsolete message: https://github.com/octokit/octokit.net/commit/2cc2ccda622e0774094e8449802eb63c2044da98

Originally we had `client.Release` but we wanted to align the Octokit API with how the GitHub documentation organizes it's endpoints. This meant moving it under `Repository`,

[2017-01-10 02:20] YunLi1988 opened #1532 "can we have id property included for PullRequest?"
the json response includes the id not for PullRequest object, Can we have this id implemented? Thanks a lot.

[2017-01-10 02:20] jparnell8839 commented on #1531
How would I call that? I'm not familiar with the GitHub API and/or how to read it. Am I anywhere close to the nail?
[code]

[2017-01-10 02:56] shiftkey commented on #1532
The `Id` field isn't used in any of the APIs (`Number` is the recommended identifier) but for the sake of completeness if someone wants to add in the field [this](https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/PullRequest.cs) is the response model.

[2017-01-10 10:38] ryangribble commented on #1532
@YunLi1988 can you share your use case?  My concern is that by adding this `Id` field which as @shiftkey says isnt actually used for any other API calls, it will just lead to confusion with users using `Id` instead of `Number`

[2017-01-10 10:57] ryangribble commented on #1531
Yep that's it.  Basically it was just relocated from `client.Release` to `client.Repository.Release`

It's an interesting point though about how to keep documented code samples up to date.  I guess some sort of system where the linqpad snippets (which we can automatically test) are embedded into documentation... But that implies a built docs system whereas currently we really just have a limited n

[2017-01-10 11:23] wanjizheng opened #1533 "Missing Organization Membership API"
Hi, in the OrganizationMembersClient, you have got the Delete task/function. However I think you the Add/Invite task/function is missing.

[2017-01-10 12:04] JohnGoldsmith commented on #1526
Hi, Have made the change in PR #1534

[2017-01-10 14:49] jparnell8839 commented on #1531
Well, that was a fun bit of troubleshooting, but I got it to work... it needs await, so I had to put it in an async method. And you cannot make Main() asynchronous.

So for any Google stumblers, here's the code:

[code]

[2017-01-10 14:49] #1531 closed

[2017-01-11 11:59] ryangribble commented on #1526
Comment clarified in #1534 - thanks!

[2017-01-11 11:59] #1526 closed

[2017-01-11 12:22] ryangribble commented on #1533
Hi @wanjizheng

Yes it does look like we don't currenly have the [Add organization member](https://developer.github.com/v3/orgs/members/#add-or-update-organization-membership) endpoint implemented.

However as a workaround, as [documented here](https://developer.github.com/v3/orgs/members/#add-a-member), users can also be invited by [adding them to a Team](https://developer.github.com/v3/orgs/team

[2017-01-11 12:53] #1334 closed

[2017-01-11 13:01] ryangribble commented on #1531
Glad you got it working @jparnell8839

Just to reply to this:

FYI in c# you can force an async call to be run in a blocking fashion (and thus can be run from your Main() method, by using the `.Result` like this:
`var releases = client.Repository.Release.GetAll("octokit", "octokit.net").Result;`

Also in terms of this:

This doesn't sound right as there are a number of octokit releases!  When I ru

[2017-01-11 16:56] jparnell8839 commented on #1531
@ryangribble  I did not know about the .Result call... good info to have! Asynchronous methods are something new to me.

And yes, you're right, "octokit" has many releases. "oc**k**tokit", on the other hand does not. Typos will getcha every time, and I'm glad I got one in my first testing, because while this was a simple typo, there may actually be a project that doesn't have any releases, and wil

[2017-01-11 18:08] vmikeska opened #1535 "List labels for repository"
I did my best, but cannot find how could I get list of labels for a repository. Is it already implemented ?

[2017-01-11 20:07] YunLi1988 commented on #1532
Thanks @shiftkey @ryangribble for the quick response! My usage scenario is when integrating pullrequests for different repos, the numbers are no longer identical. For now I can use repo + number as the ID to differentiate them. But it would be super helpful for me to use the official id unified by github. Thanks again!

[2017-01-11 21:04] ryangribble commented on #1532
OK no worries, we can just make sure that the XmlDoc comments on this `Id` field are sufficiently explanatory to hopefully avoid users mistakenly using it when they really want `pullrequest.Number`

Are you going to have a crack at adding this field to `PullRequest` class @YunLi1988 ?  Happy to guide you through it!  It's pretty much just a case of adding the field to the class (and including it i

[2017-01-11 21:30] #1527 closed

[2017-01-11 21:46] YunLi1988 commented on #1532
I would like to help and please let me know more.

[2017-01-11 21:47] ryangribble commented on #1535
Hi @vmikeska , yes it should be implemented - something like the following should work:

[code]

Please let me know if this is what you were looking for! 😀

[2017-01-11 21:54] ryangribble commented on #1532
Awesome!  Well basically you just need to add the new field `long Id` to the PullRequest response class [here](https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/PullRequest.cs#L83) and also include it in the constructor [here](https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/PullRequest.cs#L18).  You can look at all the existing fields of that res

[2017-01-12 02:47] YunLi1988 commented on #1532
I have send out this pull request for review. https://github.com/octokit/octokit.net/pull/1537

Thanks a lot for your guidance.

[2017-01-12 11:39] jennet opened #1538 "How do I: add Credentials to a githubclient passed in via DI?"
I'm using GitHubClient in a .NET MVC controller.

Before passing in IGitHubClient via DI I just used this:

    var client = new GitHubClient(new ProductHeaderValue("appname"))
            {
                Credentials = new Credentials(accessToken)
            };

where accessToken was the value saved in my user's Identity Claims (set there after the user has signed up via GitHub).

Now that GitH

[2017-01-12 11:41] M-Zuber commented on #1538
What DI are you using?

You should be able to set the credentials in DI setup, and when it gets passed to the controller it is fully ready to use

[2017-01-12 11:44] jennet commented on #1538
Autofac in Startup.Services.cs in a standard MVC 5 app.
A user will need to login before I can get at their access token.

[2017-01-12 11:49] jennet commented on #1538
I should have clarified that I'm using this in conjunction with an OWIN GitHub external login provider. So depending on the logged in user there will be different credentials

[2017-01-12 11:54] M-Zuber commented on #1538
I'm not that experienced in DI, but do you have an option of calling something like `container.GetInstance<IGithubClient>()`, registration of which is set to pull token from logged in user?

I know that it is not the cleanest solution, others may have a better one.

[2017-01-12 12:47] jennet commented on #1538
Not during application start. I need to add the Credentials after it's been passed to the controller

[2017-01-12 12:54] M-Zuber commented on #1538
I meant that instead of relying on injection into the controller, inject the Autofac container itself and call `container.Resolve`, which - if I understood correctly - can be registered to use dynamic values to create the instance.

There are a number of projects that might have useful code, when I get back I'll try and look for them.

[2017-01-12 14:44] jennet commented on #1538
That doesn't _feel_ like the right thing to do here, but if you can supply code/links then I'll take a look into that approach, for sure.

[2017-01-12 15:05] vmikeska commented on #1535
Hi @ryangribble, yes, thank you very much, was exactly it!

[2017-01-12 15:05] #1535 closed

[2017-01-12 15:20] M-Zuber commented on #1538
My apologies, I remembered wrong.
The posts I had seen only dealt with the actual login, not how you would deal with using the combination of DI.
here they are anyways, in case they help you with something.
http://www.jerriepelser.com/blog/owin-oauth-provider-github/
http://www.jerriepelser.com/blog/using-aspnet-oauth-providers-without-identity/
http://haacked.com/archive/2014/04/24/octokit-oauth/

[2017-01-12 15:20] M-Zuber commented on #1538
@ryangribble might have something more helpful to add

[2017-01-12 17:14] jennet commented on #1538
I've just noticed in the GitHubClient code the comment to only use the Credentials getter/setter if you only use a single hard-coded credential.

I'll read up on ICredentialStore.

[2017-01-12 17:29] jennet commented on #1538
I had a bit of a fail with ICredentialStore, but in amongst my googlings I saw [this blog post](http://blog.somewhatabstract.com/2015/10/28/octokit-and-the-authenticated-access/) which set the Credentials a slightly different way.

By setting the Credentials in this way (actually it's more long-winded than this for error checking but you get the idea) :
` _gitHubClient.Connection.Credentials = new

[2017-01-12 19:06] somewhatabstract commented on #1538
I think the client is supposed to be one per credential rather than using the same one for multiple credentials. For that reason, I would expect the DI to be configured to create a new `GitHubClient` instance per injection request and probably, to have that require the credentials to be injected accordingly.

I'm not it makes sense to inject an `IGitHubClient` directly but instead to inject your o

[2017-01-13 00:39] ryangribble commented on #1538
Yes, the way we tend to do it is create a Factory class which gets injected by DI, and that Factory class (which can be initially setup with your common values such as the AppName and the Url (if using GitHub Enterprise) etc) knows how to generate a client with the credentials you give it from your lower context...

eg

[code]

[2017-01-14 21:52] ryangribble commented on #1532
Fixed by #1537

[2017-01-14 21:52] #1532 closed

[2017-01-15 06:03] #1470 closed

[2017-01-15 13:14] ryangribble commented on #1251
Just as an FYI I tried unskipping the tests originally skipped in #1374 (that issue was closed in favour of this issue)... and found that they are now passing.  Not sure if that is ALL the impacted tests that are being talked about here, or just some...

See https://github.com/octokit/octokit.net/pull/1539/commits/2f0ca4a09feeef20ebd2d14094d109fb435d1acd for the tests that have been unskipped

[2017-01-15 13:32] ryangribble commented on #1529
Just refreshing my memory with this stuff and yes I agree with your suggestion.

Specifically I think the 2nd suggested fix would be the way to go, since we can "fix" it in one place, rather than needing to fix it in every place that currently has `ApiErrorMessageSafe ?? "default error text"`

And this is a different situation to what I commented about above - in that case I found that a compeltel

[2017-01-15 17:46] SeanKilleen commented on #1529
👍 Got it, makes sense. I'll put together a PR to un-skip this test and fix it via the decision here.

[2017-01-16 13:13] #1529 closed

[2017-01-18 11:56] ReCoDev opened #1542 "Content.CreateFile or Blob.Create returns exceptions on "large" files"
Hello I've been having an issue that I thought would be resolve by  https://github.com/octokit/octokit.net/issues/1143
Unfortunately  after the fix and refactoring my code taking it into account I'm still having the same issue.
When my files are around 10mo+   after around 15 seconds I get an api exception.
Precisely github answer

[code]
which leads me to think that it might be a github  api issu

[2017-01-18 13:18] l1salvatore opened #1543 "patch is Nothing when the file is too large"
Hi!
   Maybe i already asked this problem. When a file is too large, its .patch string is Nothing. For example: https://patch-diff.githubusercontent.com/raw/Microsoft/azure-docs.es-es/pull/13.patch

   Is a issue?

Thanks!

[2017-01-18 22:02] ryangribble commented on #1510
#1473 should have resolved this with the `SubscribersCount` field

[2017-01-18 22:02] #1510 closed

[2017-01-18 22:10] ryangribble commented on #1543
Yes you already asked this in #1521 and it looks like the `Patch` field is not provided on those responses (thus it is `null`).  There is discussion on that issue about another field that could be useful (but isnt currently supported in Octokit)

Let's continue discussions over on #1521 and close this duplicate issue

[2017-01-18 22:10] #1543 closed

[2017-01-21 22:09] mderriey opened #1545 "Create a draft release when building a PR from a release branch"
As per the current release process, maintainers create a `release` branch to tidy things up, get release notes, etc...

Now that the .NET Core version of Octokit uses CAKE, we can automate the creation of this draft release. We can also take advantage of GitVersion if the release branch is named `release/{version}` where `{version}` is `{major.minor.patch}`.

The goal is for the build to verify is

[2017-01-24 07:44] mderriey opened #1546 "[.NET Core] - Remove platform-specific/unneeded files"
As we're shifting to `netstandard`, we can now safely remove platform-specific artifacts that were left before #1503 was merged. Some files are also not needed anymore, like `.nuspec` files since NuGet packages metadata is now described in the `project.json` files.

[2017-01-24 07:46] mderriey opened #1547 "[.NET Core] - Add CAKE code formatting task"
As we shifted from FAKE to CAKE in #1503, we need to port the code formatting task used before a release to make sure the code style is consistent across the solution.

[2017-01-24 07:47] mderriey opened #1548 "[.NET Core] - Add CAKE task to run LINQPad samples"
As we shifted from FAKE to CAKE in #1503, we need to port the task that runs LINQPad samples against the built code to make sure we don't break them/keep them up-to-date.

[2017-01-24 11:34] shaggygi commented on #1472
Any update on finalizing and when it will be added to NuGet package?  I'm looking forward to this feature.  Great work :+1:

[2017-01-29 02:09] mderriey opened #1554 "[.NET Core] - add GitVersion config file"
This will have the benefit of making the configuration and behaviour explicit.

[2017-01-30 23:57] mderriey commented on #1554
@ryangribble any idea why this issue - and the other ones - didn't get closed? I thought putting the correct message in the PR description would do the trick. Or do you need to put it in the commit message when you squash the commits into one while merging the PR?

[2017-01-31 01:37] ryangribble commented on #1554
What you did should have worked

Maybe it's the full stop at the end of the line?!

[2017-01-31 01:37] #1554 closed

[2017-01-31 01:38] #1548 closed

[2017-01-31 01:38] #1547 closed

[2017-02-01 13:14] l1salvatore commented on #1521
Reopen this issue and its possible solution and for example this content https://api.github.com/repos/Microsoft/azure-docs.ja-jp/contents/articles/virtual-machines/virtual-machines-windows-migration-classic-resource-manager.md?ref=08ba86851de2eac6f0f30e8953a8779aaa6db259 . How i do to access via Octokit? Sorry for a question in the issue thread. But in the chatroom nobody answer yet

[2017-02-02 06:07] ryangribble commented on #1521
The `ContentsUri` field needs to be added to `PullRequestFile` response class.  Then you would be able to get the Uri for the contents of these large diffs, and access it with a HTTP call

[2017-02-11 13:42] shaggygi commented on #1430
Came across this today, but is for UWP.
http://docs.uwpcommunitytoolkit.com/en/dev/controls/MarkdownTextBlock/

[2017-02-16 00:43] 101shipit commented on #1509
Actually it seems to work fine for most client requests except for when calling the search api.
If calling `gitHubClient.Search.SearchIssues(search)` for example then gitHubClient.GetLastApiInfo() is returning null

[2017-02-16 00:58] SeanKilleen commented on #1509
@101shipit so to make sure I understand, the issue is basically:

| Action | GetLastApiInfo() Result | |
| ------- | ------------------------- | - |
| Non-search API call | null | ✅ |
| 2 non-search API calls | has result | ✅ |
| Search API call | null | ✅ |
| 2 search API calls | null | ❌ |

Is that correct?

[2017-02-16 01:45] 101shipit commented on #1509
yes

[2017-02-20 11:27] pthivierge opened #1558 "Getting Exception thrown: 'System.FormatException' in mscorlib.dll when deserializing type RepositoryTrafficView"
I am using the new API calls from Octokit .NET (3c818934 Release v0.24) , and I am getting a deserialization Exception:

System.FormatException occurred
  HResult=-2146233033
  Message=Input string was not in a correct format.
  Source=mscorlib
  StackTrace:
       at System.Number.StringToNumber(String str, NumberStyles options, NumberBuffer& number, NumberFormatInfo info, Boolean parseDecimal)

[2017-02-20 11:36] shiftkey commented on #1558
@pthivierge can you provide a sample for what you're calling, so we can reproduce it on our end?

[2017-02-20 11:38] ryangribble commented on #1558
Hi @pthivierge it looks like the API response field for `timestamp`may now be a formatted  time string rather than the long value Unix epoch time that it used to be, back when [we implemented it]( https://github.com/octokit/octokit.net/pull/1457)

Such is the nature of preview API features I guess!

We should confirm this has changed on a few example repos and if so change the field type to `DateT

[2017-02-20 15:51] pthivierge commented on #1558
@shiftkey , below  is what I am calling.

@ryangribble, thanks for helping out, let me know if you need more details.

    public class PluginParams
    {
    	/// <summary>
    	/// The organization name to search for
    	/// </summary>
    	public string GitHubOwner { get; set; }

    	/// <summary>
    	/// Application credentials token to use to connect to GitHub
    	/// <see cref="https://g

[2017-02-20 15:53] pthivierge commented on #1558
@ryangribble, where in the code may I change the type? Maybe I can test it... :)

[2017-02-28 00:55] asimonov-msft opened #1559 "Exception thrown: Requested value 'linecommented' was not found."
Here is the short repro case, using the Octokit.net v0.24.0 nuget package:
[code]

Stack:
[code]

[2017-03-02 05:20] mderriey commented on #1558
Indeed, it looks like both the [views](https://developer.github.com/v3/repos/traffic/#views) and [clones](https://developer.github.com/v3/repos/traffic/#clones) now use a formatted string. Good catch, @ryangribble.

Looking through the codebase, I could only find that timestamp pattern in 2 classes, [`RepositoryTrafficView`](https://github.com/octokit/octokit.net/blob/a57fb1278d1bca6375a6f80345da9

[2017-03-03 15:51] andrejo-msft commented on #1559
This looks like another iteration of 'X event type was not found, so Octokit crashes.'

[2017-03-05 10:54] ryangribble commented on #1559
Yes, the easy "fix" is to add the missing value to the enumeration, similar to #1536

We are also kicking around a new approach to enums in #1504 which would at least stop exceptions from being thrown whenever GitHub adds a new event type

[2017-03-05 11:14] #1558 closed

[2017-03-06 10:10] pthivierge commented on #1558
Thanks a lot guys! Good job :)

[2017-03-11 03:47] #1546 closed

[2017-03-11 03:55] ryangribble commented on #1542
Do either of your methods work when the file is not "large" ?

[2017-03-11 04:08] ryangribble commented on #1538
CLosing this out as answered :+1:

[2017-03-11 04:08] #1538 closed

[2017-03-11 06:37] ReCoDev commented on #1542
They both work with small files and sometimes with larger ones (the limit seems above 10m but not much further )

[2017-03-14 17:02] zeppaman opened #1565 "Release repositoy missing in GitHubClient"
According with http://octokitnet.readthedocs.io/en/latest/releases/ Release repositoy should be a member of  GitHubClient, but seems to be missing.
https://github.com/octokit/octokit.net/blob/master/Octokit/GitHubClient.cs

I'm using version 0.24 from nuget. May I add some other libraries or add some namespace to see memebrer by extension classes?

[2017-03-14 21:24] ryangribble commented on #1565
Hi @zeppaman  thanks for reaching out.

The good news is, the Releases client is implemented, you will find it at `client.Repository.Release` rather than `client.Release`

The bad news is that the documentation is out of date! If you would consider sending a pull request to correct [the offending doc file](https://github.com/octokit/octokit.net/blob/master/docs/releases.md) that would be wonderful

[2017-03-15 00:21] xanthome opened #1566 "How to get list of branches/tags that a given commitid is contained in?"
https://github.com/{org}/{repo}/commit/{sha}
https://github.gaikai.org/core/core_konan/commit/25f8fa8544c89081818e70ada35fcec22fbdd59e

this blog posts mention it, how do I get it from my app?

https://github.com/blog/1451-branch-and-tag-labels-for-commit-pages

[2017-03-15 00:38] shiftkey commented on #1566
This is not available through the API.

[2017-03-15 00:38] #1566 closed

[2017-03-20 07:34] eriawan opened #1568 "Remove or fix warnings caused by the obsoleted default parameterless constructor of RepositoryUpdate"
Hi guys,

Could we replace any referenced usages of obsoleted default (parameterless) constructor of RepositoryUpdate?

For example:

![image](https://cloud.githubusercontent.com/assets/8773147/24091335/11475a5a-0d7a-11e7-8eea-519f5a74b481.png)

As suggested, we could simply replace the default constructor with the constructor that has parameter `name`.

If this accepted, I will create a WIP PR on

[2017-03-20 07:53] shiftkey commented on #1568
Here's where we introduced the `Obsolete` rule: https://github.com/octokit/octokit.net/commit/e31ac8659a124079a696c84bfb22f67c759bd6d5

And this made it into the v0.23 release - https://github.com/octokit/octokit.net/releases/tag/v0.23.0

I think this is fine to remove from the next update @eriawan! :thumbsup:

[2017-03-20 08:24] eriawan commented on #1568
Thanks for the prompt response, @shiftkey 👍

ok, so what do you think is the best? here are the solutions to choose:

1. Do you mean to remove the obsoleted parameterless ctor in the `RepositoryUpdate`? Then we will have many changes on the tests, although it is quite straightforward and it's easy to change. It is also easier to check all of the diffs on the PR, therefore it's easier to review.
2.

[2017-03-20 11:05] ryangribble commented on #1568
After the item ha been marked obsolete for a couple on releases its fine to remove it, so go with option 1 👍

[2017-03-20 18:38] eriawan commented on #1568
@ryangribble PR #1569  has been submitted.

cc @shiftkey

[2017-03-25 18:20] GuardRex opened #1570 "Non-issue: Rubber duck to the rescue!"
Nevermind ... figured it out.

[2017-03-25 21:24] #1570 closed

[2017-03-26 01:57] ryangribble commented on #1570
Glad you figured it out!

It'd be good if you could leave the issue here and update with the solution incase others run into the same situation

[2017-03-26 02:00] GuardRex commented on #1570
I simply made an implementation mistake, so it didn't have value. Sorry for the bother.

[2017-03-28 20:01] nating opened #1572 "Authenticating Application without user input"
Is there a way to authenticate an application so that it can have a higher rate limit, without web-flow? So that the application can just use its clientID & clientSecret to get a higher rate limit without any information about the user?

It seems that the only way to authenticate an app needs 'code' from the callback of the web-flow when a user permits access to the application.

![image](https://

[2017-03-28 21:32] shiftkey commented on #1572
Unfortunately not.

The [docs](https://developer.github.com/v3/oauth/#non-web-application-flow) for doing OAuth without the web flow involves signing in with basic authentication and creating an authorization on behalf of the user. But that still requires their input.

Alternatively, if the user can provide a personal access token you can use that for credentials - however it's not tied to your ap

[2017-03-28 22:17] nating commented on #1572
Thanks for getting back Brendan. That's unfortunate.

We are building a [chatbot](https://github.com/nating/gitbot) to interact with GitHub and were hoping it could scale to more than 60 queries per hour. Do you think creating a personal access key to be associated with the application so that it can have its higher rate limit would be a good idea?

[2017-03-28 22:52] shiftkey commented on #1572
The OAuth token represents the relationship between a user and an application - that doesn't feel relevant here as it sounds like you don't need to have everyone authenticate against the application. Personal access tokens are great for testing and prototyping, but they are tied to a real account - combining whatever the real account has access to with [the scopes you give the token](https://devel

[2017-03-28 23:03] rjk40 commented on #1572
Everything step in take i feel like I can't breath, friend or foe. I need a
professional opinion

On Mar 28, 2017 5:31 PM, "Geoff Natin" <notifications@github.com> wrote:

[2017-03-28 23:48] alfhenrik commented on #1572
This is what we've done with our slack bot for releasing Octopus and it works well! 😄

[2017-03-30 11:15] joensindholt opened #1575 "Calling RepoCollaboratorsClient.Add with CollaboratorRequest param swallows exceptions"
If I call the `RepoCollaboratorsClient.Add(string owner, string name, string user)` without specifying credentials I get an "Octokit.AuthorizationException: Bad credentials". That's expected.

If I call the `RepoCollaboratorsClient.Add(string owner, string name, string user, CollaboratorRequest permission)` overload the same exception is swallowed and instead a false boolean is returned, making it

[2017-03-31 04:33] shiftkey commented on #1575
@joensindholt the reason is they're two different code paths (and that we don't look at the exception for the second one):

 - https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/RepoCollaboratorsClient.cs#L151-L158

 - https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/RepoCollaboratorsClient.cs#L171-L186

I gather surfacing the `AuthorizationException` is probably

[2017-03-31 05:17] joensindholt commented on #1575
I would very much like to look at doing a fix. I see you have a "How to Contribute", but if you have further information I'd like it - this being my first time ;)

[2017-03-31 05:35] shiftkey commented on #1575
If you've got VS2015 installed, you should be able to just open the solution and build it locally.

There's a bunch of additional things in our [CONTRIBUTING.md](https://github.com/octokit/octokit.net/blob/master/CONTRIBUTING.md) docs - running tests, etc - and this [overview](https://github.com/octokit/octokit.net/blob/master/OVERVIEW.md) of the code is probably helpful.

[2017-03-31 06:48] joensindholt commented on #1575
I'll give it a shot - thanks

[2017-04-02 12:57] #1568 closed

[2017-04-02 13:03] ryangribble commented on #1572
Agree that a "machine account" with a personal access token sounds like the way to handle this.  We also have a release/helper bot that uses this approach.

Im going to close out this issue but feel free to comment further or re-open if you need to @nating

[2017-04-02 13:03] #1572 closed

[2017-04-02 17:01] nating commented on #1572
Thank you all for your help. We set up a machine account for the application and are achieving our higher rate-limit.

[2017-04-02 23:49] #1525 closed

[2017-04-02 23:49] #1559 closed

[2017-04-03 00:11] #1565 closed

[2017-04-03 12:34] #1575 closed

[2017-04-10 05:35] aalok05 opened #1578 "Notifications.MarkAsRead() throws Octokit.ApiException"
The method ` client.Activity.Notifications.MarkAsRead();` is throwing an exception.

Type: Octokit.ApiException
HttpResponse Body:
{"message":"Problems parsing JSON","documentation_url":"https://developer.github.com/v3"}

[2017-04-10 06:25] shiftkey commented on #1578
Weird - [the source](https://github.com/octokit/octokit.net/blob/693cc29dd5f44646600c9e4759f800b31a1eca26/Octokit/Clients/NotificationsClient.cs#L190) looks rather mundane, and the endpoint also seems boring: https://developer.github.com/v3/activity/notifications/#mark-as-read

[2017-04-10 13:41] aalok05 commented on #1578
yes it's definitely weird

[2017-04-11 06:47] ryangribble commented on #1578
Ive poked around with this, and it looks like the `last_read_at` parameter is required.  Not sure if this is a recent thing or it's always been like this, as there are no integration tests for this method currently.

For now, you can call the method using the following code and it should work OK (specifying no time in the `MarkAsReadRequest` passes null for the argument)

`await client.Activity.No

[2017-04-11 07:00] ryangribble commented on #1509
While looking at something else I found the reason for this!

[This condition](https://github.com/octokit/octokit.net/blob/master/Octokit/Http/ApiInfo.cs#L63-L64) causes a null `ApiInfo` object to be stored as `LastApiInfo` if any of the various properties are null.  In my case I was debugging something and the Api response did NOT have an `ETag` header, which meant the `ApiInfo` object was then n

[2017-04-11 07:46] shiftkey commented on #1578
Sigh. I'll check it out. Thanks for digging into it @ryangribble!

[2017-04-11 08:31] ryangribble commented on #1578
I think this would be an uncommonly used method, so there's no telling how long it may have been like this for upstream (possibly forever?!)

[2017-04-11 09:18] ryangribble commented on #1142
Noticed this issue was fixed in #1524

[2017-04-11 09:18] #1142 closed

[2017-04-11 10:32] shiftkey commented on #1578
@ryangribble If you PUT with an empty JSON object you get the correct behaviour without having to specify anything in the payload. And I'm pretty sure that PUT without a body isn't typical HTTP behaviour (the server may think "you haven't given me an entity to update, what am I supposed to do here?" and returning a 400 like it's doing here seems reasonable).

Anyway, #1579 should fix it

[2017-04-13 08:04] #1578 closed

[2017-04-14 23:55] shiftkey opened #1582 "*Url response properties are inconsistent"
Before going 1.0 we should do a scan and ensure all response fields suffixed with `Url` are `Uri`s instead of strings.

@nickcraver pointed these examples out to me:

 - https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/Author.cs#L38-L58
 - https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/GitHubCommit.cs#L45
 - https://github.com/octokit/octokit.n

[2017-04-14 23:56] shiftkey commented on #1582
Or maybe they should just go back to `string` if we're not getting anything from using `Uri` due to the increased allocations?

[2017-04-14 23:58] NickCraver commented on #1582
+1 on consistency, and a selfish +1 on strings (for performance reasons). I'd value consistency more overall, though.

[2017-04-15 05:22] mderriey commented on #1582
@shiftkey I'm happy to do this.
Would you rather have them as `string` or `Uri`?

So far, 43 classes have at least one property named or suffixed with `Url` that are not `Uri`. 27 classes have at least one property named or suffixed with `Url` that are all typed as `Uri`.

[2017-04-15 06:25] shiftkey commented on #1582
@mderriey I really don't think we're getting much out of returning `Uri`s - and they're boring enough that the caller can `new Uri()` the result if they need it explicitly.

Let's make them all `string`.

[2017-04-15 06:35] ryangribble commented on #1582
Sounds good. You could also add a convention test @mderriey,  to keep us consistent going forward :D

[2017-04-15 07:11] zlatibor opened #1583 "How get an folder from GitHub repository structure (tree)?"
Hello,

I am new in OctoKit and I need a little help.

I need to get an folder (and it's content) from (inside) GitHub repository. How to do that using OctoKit?

I suppose that I need to use this https://developer.github.com/v3/git/trees/ , but how in OctoKit?

Do I need to be owner of that repository to get folder using OctoKit? I am asking that because I am collaborator.

**Could you provide an

[2017-04-15 09:35] mderriey commented on #1582
Cool, will do!

[2017-04-15 10:09] ryangribble commented on #1583
You'll want to use the `RepositoryContentsClient` in octokit

One good source  of sample code is the integration tests eg this one retrieves the contents of a folder: https://github.com/octokit/octokit.net/blob/master/Octokit.Tests.Integration/Clients/RepositoryContentsClientTests.cs#L95

[2017-04-18 13:29] azubanov opened #1586 "Please support repository's license API"
https://developer.github.com/v3/licenses/#get-a-repositorys-license

"license": {
    "key": "mit",
    "name": "MIT License",
    "spdx_id": "MIT",
    "url": "https://api.github.com/licenses/mit"
  },

[2017-04-18 23:55] shiftkey commented on #1586
From the [integration tests](https://github.com/octokit/octokit.net/blob/master/Octokit.Tests.Integration/Clients/MiscellaneousClientTests.cs#L49-L58):

[code]

Please let me know if there's anything more you want from this endpoint.

[2017-04-19 05:08] azubanov commented on #1586
Hello, shiftkey!
Yes there is no way to get license information about particular repository.
Please take a look at my link: https://developer.github.com/v3/licenses/#get-a-repositorys-license

[2017-04-19 06:11] shiftkey commented on #1586
It looks like we need to deserialize the `license` JSON as part of the [Repository](https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/Repository.cs) response model.

@azubanov are you interested in contributing this change?

[2017-04-19 06:11] ryangribble commented on #1586
Indeed there are a couple of unimplemented calls that would be under `IRepositoriesClient` endpoint.

Would you be interested in making these modifications @azubanov  ?

Firstly, we could have license information included in existing calls that return `Repository` objects.  To do this we need to add the licenses preview API header (`AcceptHeaders.LicensesApiPreview`) in those calls (eg client.Repo

[2017-04-19 06:23] azubanov commented on #1586
Hello ryangribble!
Sounds interesting :)
If this issue be still active in two weeks, I'll take a look.

[2017-04-19 09:39] #1509 closed

[2017-04-22 14:31] ronaksharma8 opened #1589 "Dotnet core compatible"
I am trying to add the package "Install-Package Octokit.Reactive" into my dotnet core project via package manager console but it shows it is not compatible with dotnet core. Can anyone plz shred some light on it?

[2017-04-23 00:21] #1589 closed

[2017-04-25 14:20] Victov opened #1590 "Recovery after loss of internet connection fails"
Github API does not recover from losing internet connection once, even though the connection has been restored in the meantime.

**Reproduction steps**
1. Put your device in airplane mode (Tested on windows 10)
2. Use the API to get data from github
3. Catch the exception that is being thrown due to lack of connection
4. Disable airplane mode on your device
5. Request data from github again
6. Wat

[2017-04-25 14:25] ryangribble commented on #1590
This sounds really weird.

Can you post more details (eg the type of application and whether this is during a single application life cycle or across separate program executions) and also the exception and stack trace details of the initial exception and also the one "after connection restored"?

[2017-04-25 14:34] Victov commented on #1590
This happens in one life cycle. Restarting the program after the internet connection is makes everything function perfectly again. It's a very basic console application that takes some data from github and interprets it for some data analytics purpose. It all works perfectly fine when the internet connection is never interupted.

The problem seems to be an AuthorizationException. I tried setting t

[2017-04-25 15:28] Victov commented on #1590
Nevermind, a unit test I had written was interfering and changed the API key. There's nothing wrong...

[2017-04-25 15:28] #1590 closed

[2017-04-26 03:57] NickCraver opened #1592 "LINQPad samples are requiring Reactive, but not actually using it"
Many of the LINQPad samples have this prompt:
<img width="399" alt="screen shot 2017-04-25 at 23 54 28" src="https://cloud.githubusercontent.com/assets/454813/25417522/a9839bda-2a12-11e7-9489-62af99f93421.png">

...but they don't *actually* use it. Since there's also a bug restoring Rx-Main right now, this creates a blocker for the user. I'll submit a PR soon as time allows cleaning up the samples

[2017-04-26 04:02] shiftkey commented on #1592
Yeah, this is a convenience thing.

Weird. Would love to hear more about this one - I gather it's because Rx-Main is unlisted and we haven't had a chance to land the migration to `System.Reactive`, but restore shouldn't be affected by that.

[2017-04-26 04:04] NickCraver commented on #1592
<img width="484" alt="screen shot 2017-04-25 at 23 55 56" src="https://cloud.githubusercontent.com/assets/454813/25417700/e46da884-2a13-11e7-8bbd-abfce4547106.png">
^ the LINQPad experience :)

[2017-04-26 04:11] shiftkey commented on #1592
Of course, because LINQPad doesn't know about specific versions...

![](https://cloud.githubusercontent.com/assets/359239/25417734/7cae2ffe-2a89-11e7-8860-2cfcf6dab5e3.gif)

Yep, burn those references to the ground @NickCraver  :fire: :fire: :fire: :fire: :fire: :fire:

[2017-04-26 11:44] NickCraver commented on #1592
Done: PR is #1593

[2017-04-27 00:44] #1592 closed

[2017-04-27 08:14] karelz opened #1594 "Timeline - missing 'AddedToProject', 'RemovedFromProject' and more events"
Looks like variant of #1563 - which doesn't seem to be fixed by looking at source code: https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/EventInfo.cs#L74

Got it for dotnet/roslyn issues (numbers: 3 and 5).

I tried 0.24.1-alpha NuGet, which doesn't have even #1563 fix (I hit also LineCommented and CommitCommented). Will try latest master build later ...

[code]

[2017-04-27 08:28] khellang commented on #1594
What about making `EventInfo.Event` some kinda union type between `string` and `EventInfoState`. It would just be a simple wrapper around a `string`, but would allow you to call something like `TryParse(out EventInfoState)` to get an enum version. That way, if the event type is new, you could still handle it as a string, and it won't blow up when new types are added.

The type could also have an i

[2017-04-27 08:34] karelz commented on #1594
And RemovedFromProject event -- dotnet/roslyn issue 35, after local fix to address AddedToProject ...

I like your idea to not hardcoding all events, make the list more resilient ... but of course I know near 0 about Octokit.net design ;)

[2017-04-27 08:42] shiftkey commented on #1594
Yeah, #1591 should fix these. But given how often new events are introduced I really think deserializing to `string` with more flexibility for callers to then map it to something is a more sane long-term strategy for this area 🤔 .

[2017-04-27 08:46] karelz commented on #1594
Thanks for the link to the PR. I just hit 'MovedColumnsInProject' ... I will grab the list from the PR ;)

[2017-04-27 10:28] ryangribble commented on #1594
We had a sort of proof of concept of a way to handle this in #1504 which essentially would see all response enums contain an extra member (eg `OctokitUnsupportedValue`) that could be used when encountering an unknown value, whilst also exposing a `string xxxxxRaw` property containing the unparsed api return value.  But it didn't necessarily feel quite right so I hadn't pushed it too hard.  I do qu

[2017-04-27 10:29] khellang commented on #1594
I may or may not have a PR brewing, using something like

[code]

[2017-04-27 10:29] ryangribble commented on #1594
Even better :+1:

[2017-04-27 21:53] Korporal opened #1596 "Enumeration"
Using C# in a (say) Console app, how can I
* enumerate every repo in an org.
* enumerate every branch in a repo ordered by most recently updated (most recently commited to)

Thx

[2017-04-27 22:01] shiftkey commented on #1596
First one is easy:

[code]

Second one is only partially possible:

[code]

The response returned for each branch doesn't give you much - just a link to the commit - and so you'll need to lookup that commit to find the timestamp.

[2017-04-29 17:01] ryangribble commented on #1594
Closing this since the specific missing properties is resolved in #1591 and the ongoing improvements to handle Enums in a more resilient fashion is in #1595

[2017-04-29 17:01] #1594 closed

[2017-04-29 17:14] karelz commented on #1594
Great, thanks!

Out of curiosity: What is cadence for your NuGet alpha releases? Last nuget.org alpha build is from January. I'd like to know when I can stop using the project-to-project reference. Not a high pri ... but would be nice.

If there is anything I can help with to release new alpha version, please let me know. If it is not over my head or super-costly, I will be happy to help.

[2017-04-29 17:22] ryangribble commented on #1594
So we don't currently regularly release alpha packages to nuget... that one release was actually a special case to expose our dotnetcore port to a wider audience

You can add the appveyor CI feed to your nuget settings and pull packages from there if you need

My plan is once we've merged the dotnetcore and CAKE build script (should be soon) we'll look at automating pre release packages pushed to

[2017-04-29 17:33] karelz commented on #1594
ok, I'll use the AppVeyor CI feed (I think I already added it anyway, then I realized it is not fixed either there yet ;-) - I just forgot about it ...)
Thanks!

[2017-04-30 12:19] #1582 closed

[2017-04-30 15:57] NickCraver commented on #1582
\o/ thanks @mderriey and @ryangribble!

[2017-05-02 07:05] M-Zuber opened #1597 "Implement Protected Branches API Admin Enforcement Updates"
Due to https://developer.github.com/changes/2017-03-22-protected-branches-admin-improvements/, the `BranchProtection` sub classes no longer should accept an `includeAdmins` param in the constructor.
In addition a top level property of `enforce_admins` needs to be added.

[2017-05-02 09:51] M-Zuber commented on #1597
@ryangribble I am working on implementing this, but there is a question of just how many constructors to add
![image](https://cloud.githubusercontent.com/assets/4746537/25613153/ec43710c-2f35-11e7-800b-82a9fea749f1.png)

Do we tell people that if they want to set `EnforceAdmins` they have to use the fullest ctor, or add another two?
(once this lands, #1523 is going to be adding a few more as well.

[2017-05-02 10:14] ryangribble commented on #1597
Maybe just 1 ctor taking each single option and 1 ctor taking all options?

[2017-05-02 10:19] M-Zuber commented on #1597
so n+1 with n being the number of properties on the class? Sounds good to me.

An interesting item in the docs that @shiftkey might have some insight on is the fact that the `include_admins` property on some of the sub classes is marked as **`required`**, but in testing I've done, it does not effect the end result.
My personal vote is then to obsolete it as it can cause confusion.

[2017-05-03 10:48] ronaksharma8 opened #1601 "fetch user from its mail id"
I am using Octokit.Reactive 0.21.1-alpha0001 and .net core application with User Identity . Now, my question how can i get user based on it email id i.e (User.Identity.Name = 'asd@asd.com' , get github user whose email id is 'asd@asd.com')

Below is my code

var client = new GitHubClient(new ProductHeaderValue("my-cool-app"));
var tokenAuth = new Credentials(access_token);
client.Credentials = tok

[2017-05-03 10:54] shiftkey commented on #1601
[code]

[2017-05-03 10:54] #1601 closed

[2017-05-04 12:34] #1597 closed

[2017-05-09 08:33] EmpireWorld opened #1603 "Can i use Octokit.net in Unity3D?"
Hi.

Can i use Octokit.net in Unity3D?

It seems Octokit.net does not supports unity 3d mono2x.

Thanks.

[2017-05-09 08:41] shiftkey commented on #1603
I'm honestly not sure which version of the .NET Framework is supported by Unity 3D.

If it is earlier than 4.0, we don't have plans to support it due to the heavy usage of the Task Parallel Library. And we dropped 4.0 support a while ago because there were significant gains to using .NET 4.5.

A supported version of .NET Standard is almost ready - I think the target is .NET Standard 1.1 - but that

[2017-05-09 08:48] EmpireWorld commented on #1603
So what should i do?

Do i use GitHub HTTP API?

[2017-05-09 08:56] shiftkey commented on #1603
@EmpireWorld that's what I'd recommend - use the endpoint and snippet examples from https://developer.github.com/v3/ and have a bit of JSON parsing of the response to get the data you need in C# objects.

You could extract the relevant source file for the response models from our [Octokit/Models/Response folder](https://github.com/octokit/octokit.net/tree/master/Octokit/Models/Response) and add th

[2017-05-09 08:57] #1603 closed

[2017-05-09 17:39] CortanaAnalyticsGallery opened #1604 "Strongly named assembly issue"
I'm working at Azure Machine Learning Team and we found the kit very useful for the project we've been currently working on.  Unfortunately we hit a blocker when it turns out that the dlls distributed through the nuget are not signed.
Because we can only consume strongly named assemblies in production environment I would like to ask if there are any plans to make official nuget distribution with t

[2017-05-09 20:51] khellang commented on #1604
I think [the docs](https://github.com/octokit/octokit.net/blob/master/docs/strong-naming.md) explains it pretty clearly. If you're going to read the [epic thread](https://github.com/octokit/octokit.net/issues/405), I suggest you get some popcorn :wink:

Lately, there's been quite a few projects pointing to [StrongNamer](https://github.com/dsplaisted/strongnamer) for questions like these. The libra

[2017-05-09 22:43] shiftkey commented on #1604
@AzureMLTest @khellang I'm mostly neutral on this due to the fact that it doesn't hurt me in my day-to-day work, but I'll defer to @ryangribble and @mderriey who have been doing a lot of work recently on getting .NET Standard support in on whether they want to support this at some stage.

And :thumbsup: to StrongNamer as an escape hatch for this.

[2017-05-10 23:21] mderriey commented on #1604
I don't have a strong opinion on the subject as I've never used it/experienced any pain with it.

I'd lean towards StrongNamer as the process seems straightforward.

[2017-05-11 10:13] ryangribble commented on #1604
I wasn't aware of the history (definitely enjoyed reading the epic thread! :popcorn:)

I am also from the "don't have a strong opinion" stance.  The fact it hasn't come up in the 15 months I've been contributing to Octokit would seem to indicate it isnt a hugely requested feature.  Given there are things like StrongNamer now to let others effectively make any of their dependencies strongly named w

[2017-05-12 12:45] ryangribble commented on #1440
Closed by #1581

[2017-05-12 12:45] #1440 closed

[2017-05-12 12:46] #1596 closed

[2017-05-13 02:54] ferventcoder opened #1605 "Recent 413 Entity too large for gist creation"
Recently have been seeing quite a few 413 request entity too large for our service that has been creating gists for choco community package testing results (running a year and a half now!).

I have not had time to dig in just yet but I'm curious for the GitHub folks - have there been any changes recently limiting size of gist files?

[2017-05-13 02:55] ferventcoder commented on #1605
Apologies as well - prolly not the right place to file this

[2017-05-13 06:20] mderriey opened #1606 "Search API: search parameters are not encoded"
The following code:

[code]

hits the following URL: `https://api.github.com/search/repositories?q=language:F#`, which the backend is not happy with.

Search parameters stopped being encoded because of https://github.com/octokit/octokit.net/issues/474 - fixed in https://github.com/octokit/octokit.net/pull/467.

At the time, the backend couldn't/didn't decode search parameters correctly.
This seems

[2017-05-13 06:31] mderriey opened #1607 "Search API: languages with space(s) fetch wrong results"
The following code:

[code]

hits the following URL: https://api.github.com/search/repositories?q=language:Gettext%20Catalog, which returns incorrect results - see the first repo has `language: "JavaScript"`.

When surrounding the language with double quotes, like https://api.github.com/search/repositories?q=language:"Gettext%20Catalog", then the fetched results are correct as all the repos have `

[2017-05-14 06:41] shiftkey commented on #1605
Looks like this isn't specific to Octokit.net - https://github.com/philschatz/octokat.js/issues/169

Gut feeling is something server-side has changed - I'll do some digging through the support channels and see if I can get an idea of what's changed recently.

[2017-05-14 21:07] philschatz commented on #1605
Thanks for taking a look into it!

/cc @SleepyBandit so they can track the progress of this issue

[2017-05-15 21:55] shiftkey commented on #1605
@ferventcoder a configuration fix has been deployed a few hours ago - are you able to see if that fixes the issue on your end?

[2017-05-15 22:00] SleepyBandit commented on #1605
I will confirm, this is fixed for me. Github support had me test it this morning and it worked for 3 different files of differing sizes above the 700KB threshold I was having issues with when it occurred.

[2017-05-15 22:00] shiftkey commented on #1605
@SleepyBandit thanks for confirming. I'll close this out for now.

@ferventcoder please let me know if you see any other issues.

[2017-05-15 22:00] #1605 closed

[2017-05-15 22:09] ferventcoder commented on #1605
@shiftkey looks like things are rolling again - https://gist.github.com/choco-bot.

Note that the last noted time the service gave us an error was at 13:54 CDT:

[code]

Note that the bazel package testing gist creation was successful an hour ago - https://gist.github.com/choco-bot/e292af89f9d777d15348bc524ec03739

[2017-05-15 22:10] shiftkey commented on #1605
@ferventcoder yeah, that last error was before the update was deployed.

[2017-05-15 22:11] ferventcoder commented on #1605
@shiftkey fantastic customer service there. I def owe you a drink next time I see you!

[2017-05-16 02:24] Ygilany commented on #1491
@jsauvexamarin were you able to fix this? I'd really appreciate it if you would point me to a solution or even a workaround for this.

[2017-05-24 03:20] PavelBansky opened #1608 "Batch pull-request comments API is missing"
I see at the documentation that submitting multiple pull-request comments is supported by the REST API, but I can't see any C# wrapper at Octokit?

Is that correct, or am I missing something?

[2017-05-24 09:18] shiftkey commented on #1608
@PavelBansky can you link to the documentation you are looking at?

[2017-05-24 20:06] PavelBansky commented on #1608
I'm looking at this:
https://developer.github.com/v3/pulls/reviews/#create-a-pull-request-review

Specifically:
comments | array of draft review comment objects

I would like to submit several pull request comments/review comments in batch. I don't want to trigger pull request comment event after every single comment, but rather when I'm done commenting.

[2017-05-25 01:06] sqltestloc opened #1609 "How to add an attachment into issue?"
How can I use octokit.net  to add an attachment into issue?

[2017-05-25 07:25] shiftkey commented on #1609
This is not supported through the GitHub API.

[2017-05-25 07:25] #1609 closed

[2017-05-25 09:14] shiftkey commented on #1608
Looks like we don't have that overload: https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/PullRequestReviewCommentsClient.cs#L250

Given that was originally implemented a while ago and this feels like a new change, I guess it'd be nice to see if someone was keen to add this support in.

[2017-06-01 21:04] Red-Folder opened #1610 "How do I creating a full tree?"
So, I want to be able to make multiple deletes in a commit.

From my understanding, I believe I need to:

1. Get the recursive tree for the current commit (via Tree.GetRecursive)
2. Amend that tree, then pass to Tree.Create
3. Create a commit for new Tree sha (via Commit.Create)
4. Attach the new commit to the parent

My problem comes in the Tree.Create.

It requires NewTree object.  The recursive

[2017-06-02 12:01] Red-Folder commented on #1610
Ok, a bit of playing later ... I believe I have it.  Here is sample code:

[code]

[2017-06-02 12:03] Red-Folder commented on #1610
I'd appreciate any feedback on if this is an appropriate approach.

Note, that I need to remove all the Tree Type nodes as without this, no change is made.

Assuming this is a reasonable hack - would it be a good idea to add a constructor to NewTree which accepts the current tree?  (Happy to do the PR if this makes sense)

[2017-06-02 12:32] ryangribble commented on #1610
Hey @Red-Folder I haven't played too much with the Tree API so I was poking around trying to figure out the answer to your question

It doesn't sound "right" that you'd have to strip things from the list though

Looking at the API docs https://developer.github.com/v3/git/trees/#create-a-tree I do see that there is a base_tree field that can be set to the sha of the tree you want to update. So rath

[2017-06-02 18:15] Red-Folder commented on #1610
Hi @ryangribble - thanks for the comments

You are 100% correct - there is a base tree.  This works great for additions (and I suspect update, but not tried).

It doesn't however support delete.

From the research I've done, I believe that to delete - the only method is to clone the entire existing tree (without setting the base tree).  And then either omit or remove the files you wish to delete f

[2017-06-02 23:39] ryangribble commented on #1610
Ah ok I didn't appreciate the fact that there's no way to delete something except to omit it from a whole new tree !

What's with needing to exclude anything of type Tree from the new tree though? Did you figure out why that's necessary?

[2017-06-03 07:53] Red-Folder commented on #1610
Removing the Tree types was taken from this blog post (see section 5b) -> http://www.levibotelho.com/development/commit-a-file-with-the-github-api

Originally I had the above code without the removal of the Tree type - everything seemed to work (I got 201 Created rather than 500 as mentioned in Levi's post).  However, when I looked at the commit on Github it showed as no changes had been made.

Ad

[2017-06-08 00:28] jamesqo opened #1612 "Octokit fails to install in a Xamarin.Android project"
Hi, I'm using VS2017 with the free Xamarin.Android tools. When I created a new Blank App, did some work, then tried running `Install-Package Octokit`, I got the following error in the Package Manager Console:

[code]

It looks like `Microsoft.Net.Http 2.0.20505` is having issues installing. Can someone please take a look or advise me if I can do anything to work around this? Thanks.

[2017-06-08 00:48] ryangribble commented on #1612
Hey @jamesqo

Maybe try our new dotnetcore (netstandard1.1) library and see if that works better. It's not an official release on nuget just yet, but a prerelease package is available if you specify Prerelease flag to get it. Or you could change your feed to our appveyor one

[2017-06-08 16:17] jamesqo commented on #1612
@ryangribble Thanks for the advice! I just tried installing the prerelease package and it works perfectly. :heart:

[2017-06-08 16:17] #1612 closed

[2017-06-08 20:54] jamesqo commented on #800
Can we reopen this issue? The fix was accidentally undone during https://github.com/octokit/octokit.net/pull/1348 and I'm running into it again.

[2017-06-09 04:02] ryangribble commented on #800
Whoops!

Need to dig into this to see why there isn't an integration test that failed

[2017-06-09 15:02] markwilkie opened #1613 "Zenhub support?"
Zenhub now has their API released. (https://github.com/ZenHubIO/API)

What's the current thinking regarding including that surface area in octokit?  Should it be in its own library or included in this one?

Cheers

[2017-06-09 15:05] shiftkey commented on #1613
@markwilkie thanks for the interest, but I'd recommend doing that as a standalone library.

[2017-06-09 15:05] #1613 closed

[2017-06-10 03:28] jamesqo opened #1614 "Debugging Octokit source does not work"
Hi, I just followed [the instructions here](https://github.com/octokit/octokit.net/blob/master/docs/debugging-source.md) to debug an issue I was having with Octokit. However, checking **Enable source server support** in VS and pressing F11 on an Octokit method does not take me into the method. Is debugging like this still supported?

[2017-06-10 04:01] jamesqo opened #1615 "RepositoryContent.Content and other properties are null"
If you look at https://api.github.com/repos/jamesqo/Repository/contents/Repository.sln, you can clearly see the base64-encoded content is present in the response. Howevver, run the following app:

[code]

View the variable `sln` in the debugger. You will be able to see that several important properties, including `Content`, `EncodedContent`, and `Encoding` are all null.

[2017-06-10 05:26] ryangribble commented on #1614
What version of the library are you using?

[2017-06-10 12:47] jamesqo commented on #1614
@ryangribble `0.24.1-alpha0001`.

[2017-06-10 12:58] ryangribble commented on #1614
Ah yep that was our alpha dotnetcore build and won't support source
debugging because at the time SourceLink tooling didn't exist for
dotnetcore.

Previous releases it should work...

And the good news that it's already now re/implemented in our dotnetcore
work, so will be there in the next release (occuring soon, as few as a
couple of things get sorted out).

You can grab the  current master buil

[2017-06-10 13:40] jamesqo commented on #1614
@ryangribble I am trying with a .NET Framework app, but it's not working there either.

![sourcelink_wont_work](https://user-images.githubusercontent.com/9159214/27003213-77aefd1c-4dc0-11e7-8b03-84abbf5fce98.gif)

Proof that I've enabled the source server setting:

<img width="527" alt="sourcelink_config_correct" src="https://user-images.githubusercontent.com/9159214/27003224-c8f311ae-4dc0-11e7-83

[2017-06-10 13:42] ryangribble commented on #1614
Using 0.23 or the master branch build from appveyor?

[2017-06-10 13:43] jamesqo commented on #1614
This is using [0.24](https://www.nuget.org/packages/Octokit/0.24.0) (the one that doesn't support .NET Core).

[2017-06-10 13:58] jamesqo commented on #1614
@ryangribble I just tried again, using the latest AppVeyor build with a .NET Core app, and it doesn't work there either. Not sure what I could be doing wrong on my end 🙁

[2017-06-10 14:16] ryangribble commented on #1614
For the dotnetcore version on appveyor, you need to be in vs2017 and using the "new" sourcelink option

Details here : https://github.com/ctaggart/SourceLink

[2017-06-10 14:29] jamesqo commented on #1615
I looked into this a little bit. It seems that when you go to https://api.github.com/repos/jamesqo/Repository/contents, which corresponds to `GetAllContents` on the root directory, the content of each file will not be returned. However, passing in the file name to `GetAllContents` (I wasn't aware you could do that, I thought it only worked with directories) returns its content.

[2017-06-10 14:29] #1615 closed

[2017-06-11 02:49] jamesqo commented on #1614
@ryangribble I already had both SourceLink v1 and v2 enabled and was using VS2017. I ended up git cloning the repo and inserting a new test to diagnose the issue. Regardless, thanks very much for your help :smile:

I'm closing this issue for now, but if anyone else has had problems with debugging too, comment and I'll reopen.

[2017-06-11 02:49] #1614 closed

[2017-06-18 14:53] suchja opened #1616 "Repository Property is null on Issue objects"
Not sure what I'm doing wrong, but the following code always provides an `Issue` object where the `Repository` property is null.

[code]

Although I believe I have seen some cases to provide a non-null `Repository`, I can't reconstruct those case(s). I have tested the `client.Search.SearchIssues` feature, which also provides a "null - `Repository`".

Based on the discussion in #1243 I thought this

[2017-06-19 11:47] ryangribble commented on #1616
Hi @suchja

The discussion in #1243 actually mentions the following:

So it seems the upstream API response only includes the `Repository` information sometimes, and not when it is "already known" - eg when querying a single or multiple issues from a specified repository.

Looking at the tests added in PR #1292 (the "fix" for #1243) it seems the only expected responses that do include `Repository`

[2017-06-19 14:43] suchja commented on #1616
I see. I couldn't find any documentation about this. In case I can be of any help (meaning I would help to create some more documentation or fix existing) please point me to the proper process.

[2017-06-19 21:34] ryangribble commented on #1616
Hmm so typically we don't so document or note all of the cases where certain fields are or aren't included in API responses, but I can see in this case it would be helpful to do so.

So in terms of documentation there is [this page]( https://github.com/octokit/octokit.net/blob/master/docs/issues .md) but I don't feel like it would be that discoverable there...

Perhaps the best way to note that th

[2017-06-20 00:54] aqwert opened #1617 "Dotnet core in AWS Lambda raises exception"
**Issue:**
I took the code from dotnetcore, built and packaged as alpha so that I could use within my dotnet core project. This works fine as a stanad alone app but fails with the following if used within a serverless AWS [Lambda environment and ASPNet](https://github.com/aws/aws-lambda-dotnet/tree/master/Libraries/src/Amazon.Lambda.AspNetCoreServer).

[code]

The code to format the UserAgent chec

[2017-06-20 06:42] ryangribble commented on #1617
Hey @aqwert

I'd be happy to use the approach they took in the StackExchange one you linked - catch the exception if thrown, and maybe just set the platform/architecture values to "unknown" in that case...

It would be great if you wanted to fire a PR in to do this!

[2017-06-20 20:46] aqwert commented on #1617
thanks, I will see what I can do but it won't be for a while... off on holiday for a couple of weeks from tomorrow.

[2017-06-20 21:17] nolanblew opened #1618 "Pull Requests do not have a Review"
It seems that we are not able to access the "state" of a pull request review comment. Docs are here: https://developer.github.com/v3/pulls/reviews/

Would be good if we can get an enum for this.

Edit:

It looks like Reviews is a completely separate endpoint that doesn't seem to be supported yet. Can we add support for that endpoint?

[2017-06-25 09:45] ryangribble commented on #1618
Yeah, currently we have PullRequestReviewRequests and PullRequestReviewComments implemented, but not the actual PullRequestReview's themselves.

Ill mark the issue as "up for grabs", is it something you'd like to work on?

[2017-06-26 11:07] ctolkien opened #1621 "NewRepositoryWebHook ToRequest does not transmit all information"
Offending line:
https://github.com/octokit/octokit.net/blob/5ee4d6404628e43e5251eb68c85c31878b7d5b78/Octokit/Models/Request/NewRepositoryWebHook.cs#L124

As it's tossing away the existing instance and returning a new one, any of the other properties on the base `NewRepositoryHook` type that might have been set - like for instance, the `events` you'd like to receive are not persisted and never go o

[2017-06-26 12:13] ryangribble commented on #1621
Isn't `Config` already `public` in the base `NewRepositoryHook` class?

Perhaps we just need to add a `ctor` on `NewRepositoryHook` that takes all the properties this class has (`Name`, `Config`, `Events`, `Active`) and use that from the `NewRepositoryWebHook.ToRequest()` ?

[2017-06-26 13:00] ryangribble commented on #800
@jamesqo just looking at this one... are you referring to the fact that `GetAllContents(string owner, string name, string path)` is enforcing `path` to not be null or empty?

If that's the case can't you just call `GetAllContents(string owner, string name)` overload instead?

[2017-06-26 22:25] ctolkien commented on #1621
Is there an issue with making the `Config` `protected set` ? That would allow this descendent class to make changes to the config without needing to create a new instance.

[2017-06-27 03:02] ryangribble commented on #1621
Not specifically,  but a quick look indicated that the properties of NewRepositoryWebHook are actually put into the Config dictionary so it could get messy if that underlying field can be directly changed as well?

[2017-06-27 03:35] ctolkien commented on #1621
@ryangribble  - I'll put together a PR, can review from there.

[2017-06-27 04:10] ctolkien commented on #1621
@ryangribble  - care to review https://github.com/octokit/octokit.net/pull/1623 ?

[2017-06-29 16:00] nolanblew commented on #1618
I'm out till July 10th, so if someone wants to take it before then be my guest!

[2017-06-30 04:25] eriawan commented on #953
@shiftkey

Are we going to have a specific daily LKG as well?

[2017-06-30 12:25] shiftkey commented on #953
@eriawan I'm not sure what "daily LKG" stands for

[2017-06-30 18:21] eriawan commented on #953
I mean a daily build but it can be considered as build that meets the passing unit tests and integration tests (if any), hence it's called Last Known Good build.

[2017-06-30 21:14] ryangribble commented on #953
I do want to get master merges automatically releasing pre release to nuget (but they are currently available on the appveyor feed so if people really want to use them they can).

In terms of running nightly integration tests, that's a cool idea but we actually have so many integration tests they can't be easily run in one go due to github API rate limits... There are also some tests that seem sen

[2017-07-07 16:47] Sarmad93 commented on #1618
Hi @nolanblew  are u still out/busy...i would like to work on this one what do u say?

[2017-07-08 10:37] PoLaKoSz opened #1624 "Repository/GetAllForUser({login}).SubscribersCount bug"
**Hello guys!**

I ran this problem today but maybe I did something wrong. I'm a beginner programmer so please be patient with me :)

This is how I tested it:
[code]
The same problem occur with
* installed OctoKit (**0.24.0**) from NuGet Package Manager
* freshly builded **master** branch

Have a nice day and sorry for my bad English :)

[2017-07-08 20:13] ktundwal commented on #1615
I am running into same issue. How did you pass in the file name to `client.Repository.Content.GetAllContents`?

I tried following with no luck
[code]

[2017-07-09 16:43] PoLaKoSz commented on #1624
Oh, I see [GitHub API v3: /Users/Octokit/Repos/](https://api.github.com/users/octokit/repos).
[code]
In fact:
![capture](https://user-images.githubusercontent.com/1327533/27995873-447caca0-64d6-11e7-9c6c-c3b3bcb28969.PNG)

Thanks anyway.

[2017-07-09 16:43] #1624 closed

[2017-07-11 12:52] ghost opened #1625 "Any way to retrieve file content of specific commit"
I need a content of specific commit.
Like this command work:
git show sha:filepath
This command gives all content of the file for specific commit.
Is there any way to do this task?

[2017-07-11 13:43] ryangribble commented on #1625
Hi @patelhrp7

How about [this overload](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IRepositoryContentsClient.cs#L66) on RepositoryContentsClient?

[2017-07-11 17:11] nolanblew commented on #1618
@Sarmad93 Yeah I'll take it on in my free time!

[2017-07-12 05:05] patelhrp7 commented on #1625
@ryangribble Thank you so much.Its work

[2017-07-12 05:54] patelhrp7 commented on #1625
I want to do that scenario from local cloned repository, Is there any way to that?

[2017-07-12 10:58] dvdstelt opened #1626 "add documentation example about creating an issue and adding assignees"
When creating a new issue and setting the `Assignee` property, I'm told the property is obsolete and I should use the `Assignees` property. The latter can't be set? Thank goodness for reference types! ;-)

This doesn't work. I get an obsolete warning and also get an error saying `You cannot pass both 'assignee' and 'assignees'. Only one may be provided.`
[code]

But this does work:
[code]

[2017-07-12 11:09] ryangribble commented on #1626
Using the Add and Remove methods is the intended behaviour, similar to adding repositories to search criteria or labels to issues.   Yyou can see some implementations in the integration tests here https://github.com/octokit/octokit.net/blob/master/Octokit.Tests.Integration/Clients/IssuesClientTests.cs

[2017-07-12 11:10] dvdstelt commented on #1626
Possible, but at the very least update doco?! :)

[2017-07-12 11:11] dvdstelt commented on #1626
I'm okay to close this then, btw.

[2017-07-12 11:13] ryangribble commented on #1626
Actually there are `AddAssignee`,  `RemoveAssignee`  and `ClearAssignee` methods in `IssueUpdate` class too

For sure, did you you find incorrect reference somewhere? Would you be able to send a PR to correct?

[2017-07-12 11:15] ryangribble commented on #1625
Octokit.net is built you interface with github.com (programming github enterprise) API, it doesn't operate on local repos. You could look at libgit2 if you want to do local repo stuff

[2017-07-12 18:32] nolanblew commented on #1618
@Sarmad93 Sorry I misread your question - yes go ahead and take it!

[2017-07-12 20:26] Korporal opened #1627 "How to execute various Git commands"
Does OCtokit allow me to write an app that can execute arbitrary commands against some repo?

For example I've cobbled together some basic code that gets all our repos and for each of these gets all forks of them.

Now I want to run the equivalent of:

But have no idea how to accomplish this kind of thing.

Alternatively for my purposes, is there a way to see if some commit (i.e the latest commit

[2017-07-12 22:58] khellang commented on #1627
Octokit is only concerned about the GitHub API, which coincidentally exposes some primitive git metadata, but probably not at the level you're after. Sounds like you might want to use something like libgit2sharp for this. Possibly in combination with Octokit.

[2017-07-13 07:48] Sarmad93 commented on #1618
😄  i will open a pull request in coming weekend

[2017-07-13 09:22] ryangribble commented on #1627
Thanks @khellang I'm going to close this issue out

[2017-07-13 09:22] #1627 closed

[2017-07-22 03:09] #1621 closed

[2017-07-22 22:18] #1472 closed

[2017-07-22 22:20] shaggygi commented on #1472
@ryangribble thanks for working on this.  Do you know when this will be added to nuget package?

[2017-07-22 23:00] ryangribble commented on #1472
Putting together a new release is next on my list!

In the meantime now this is merged to master, it will be in the nuget packages on our appveyor feed here: https://ci.appveyor.com/nuget/octokit-net

[2017-07-23 00:18] shaggygi commented on #1472
@ryangribble thank you

[2017-07-23 08:14] alfhenrik commented on #1513
I'd like to put my face on this one

[2017-07-23 08:15] alfhenrik commented on #1514
And while I'm in the area, I'd like to put my face on this one too

[2017-07-23 23:04] ryangribble commented on #1101
This was implemented in #1410 but I will raise a new issue to cover this other comment:

[2017-07-23 23:04] #1101 closed

[2017-07-23 23:07] ryangribble opened #1632 "Specifying permissions when creating/editing Teams should be deprecated"
Related to the [Organisation/Team permission changes from 2015](https://developer.github.com/changes/2015-06-24-api-enhancements-for-working-with-organization-permissions/#preview-period)

This indicated that the `permission` parameter when creating and editing Teams is deprecated. So we should rework our `NewTeam` and `UpdateTeam` request model classes to mark that field, and any `ctor`'s that ta

[2017-07-25 10:51] Norbo11 commented on #1400
Is there any progress on getting some of these fields added? I'm currently having to work around the non-existent "before" field in PushEventPayload, for example.

[2017-07-25 12:03] ryangribble commented on #1400
@Norbo11 no progress per se, this wasn't a list of things to implement as many of them aren't desired/required (due to being API url fields or previously deprecated fields etc).

It's great you've found one that should be added!  would you consider sending a PR to include it?

Thanks

[2017-07-25 12:17] Norbo11 commented on #1400
Sure, I can do that at some point this week. Also, I was wondering why, when accessing the Events API, the "deleted" field is not included in PushEvent payloads. I'm not talking about Octokit in particular, I mean the actual Events API payload, which I assumed would return the same payload as the event delivered through i.e. a web hook?

[2017-07-25 12:30] ryangribble commented on #1400
I'm not sure what the actual reason is for that upstream API behaviour/design but I do see multiple references in the API docs saying that the push event is specifically different payload between the webhook and the events API

https://developer.github.com/webhooks/#payloads
https://developer.github.com/v3/activity/events/types/#pushevent

I guess that confirms its expected behaviour but if you wa

[2017-07-25 13:01] Norbo11 commented on #1400
Okay, thanks a lot, I'll see what I can find.

[2017-07-25 23:50] davidkwoods opened #1634 "Support for .NET Standard broke .NET 4.5"
While updating to the new csproj format, it looks like some DefineConstants were dropped from .NET 4.5 builds.  One of these, SIMPLE_JSON_READONLY_COLLECTIONS, broke deserialization of nested arrays in at least some cases.  The CompareResult object, for example, defines its Commits and Files properties as IReadOnlyList<T>, but on .NET 4.5 this Type is excluded from the set of Types considered list

[2017-07-26 00:14] ryangribble commented on #1634
Thanks for advising, can you confirm which nuget package version you're using?

Also if you could add a failing test via a PR that would be awesome and help confirm a fix

CC @mderriey

[2017-07-27 13:48] Norbo11 opened #1635 "DeleteEventPayload missing?"
Hey, I can't find a DeleteEventPayload anywhere, which means I'm unable to inspect such events using the Events API. Would it be possible to get it added? Also, do you know how I can work around this in the meantime?

[2017-07-27 15:42] Norbo11 opened #1636 "Allow user to initialize or pass in an ETag value for Events client"
Consider this scenario:

I want to be able to query the Events API for the events which happened while my web service was down, so that I can replay them. However, I want to do this efficiently, and only query for events in a given repo if new ones have been added. Before my service shuts down, it could save the last ETag returned by the Events API endpoint. When it comes back up, it could read th

[2017-07-28 05:43] ryangribble commented on #1635
I need to review how that code works but it would be great if you could send a PR to implement the missing payload class!

in terms of a workaround you could obviously call the github API yourself or use the lower level octokit Connection Get method, but really the easiest way would be to implement the payload class and then use the nuget package from our appveyor feed, until the next official rel

[2017-07-29 04:22] ryangribble commented on #1636
Yeah this would definitely be a cool feature to add!  According to [the docs](https://developer.github.com/v3/#conditional-requests) "most API functions" will support either an ETag or LastModifiedBy header which can be specified and will cause a 304 response if no new content was present since the specified ETag/timestamp.

The trick is, how to implement it gracefully!

We currently expose the ET

[2017-08-01 19:09] Korporal opened #1641 "Check for existence of a commit"
Is there a (simple) way to use Octokit to check whether a commit with a (truncated) commit ID exists in a repo?

I can get a Repository object but can't understand how to get that to search for a commit (on any branch).

Is this possible?

[2017-08-01 19:41] Korporal opened #1642 "Expected behavior on a Get for a commit that does not exist."
I can't see what to expect when one attempts to get a non existent commit (e.g. using RepositoriesClient.Commit.Get(long, string)).

It seems from some crude debugging that the task hangs, never returns...

[2017-08-01 19:45] Korporal commented on #1641
OK I found a way, NP.

[2017-08-01 19:45] #1641 closed

[2017-08-01 20:12] ryangribble commented on #1641
Hi @Korporal, glad you sorted it out yourself... did you want to post a code snippet of what you ended up with, so someone with the same question can see your solution?

[2017-08-01 20:13] Korporal commented on #1641
@ryangribble - Hi, I would but having confusing problems, see ticket 1642.

[2017-08-01 20:16] Korporal commented on #1642
Here's more detail

The code below is simply experimental

`        public void OnNext(Repository value)
        {
            var c = client.Commit.Get(id, commit+"777").Result;
        }
`

without the "777" appended it works, I get a real commit object back and its valid. When I append the "777" to force the reference to be a non-existent reference, it simply hangs, the .Result never materializ

[2017-08-01 20:23] shiftkey commented on #1642
@Korporal I don't trust `.Result` in general because there's better ways to work with tasks these days, and this code works for me:

[code]

[2017-08-01 20:27] Korporal commented on #1642
@shiftkey - Hi, thanks that's very helpful and works (although I actually get an AggregateExcedption but the inner exception is indeed NotFoundException.

[2017-08-01 20:30] shiftkey commented on #1642
@Korporal I'm not sure which version of the .NET Framework you're running on (this was with 4.5.2) but I think that's the root cause. Anyway, I'm glad you were able to handle the exception!

[2017-08-01 20:30] #1642 closed

[2017-08-01 20:32] ryangribble commented on #1642
Yeah I was about to say the same thing, my repro gets the expected 404 (NotFoundException).  Using `.Result` is not great and depending on what your hosting app was it can cause infinite hangs.  Although that might mean we have a `.ConfigureAwait(false);` missing somewhere...

[2017-08-01 22:55] Korporal opened #1643 "Github confusing behavior (confirmed by Github staff)"
I'm puzzled (and I've just reached out to Github) because I created a local commit, then I pushed it to my fork (only).

Then I interrogate Github (the organization that owns the original repo from which I forked) and query it for the commit and I get "true". If I create a URL in the browser that "pretends" the commit is in the base repo it works, its shows me the commit but gives no hint that the

[2017-08-01 23:02] shiftkey commented on #1643
@Korporal please provide a sample of the code you're using - the API is different to the website, so maybe there's some things that can be clarified when we're talking about the same code.

[2017-08-02 06:18] M-Zuber opened #1644 "Imitation is flattery?"
I want to create a generic template for building api wrappers such as this one, based off of Octokit.net
What do I need to do from a legal perspective to be properly legal?
@shiftkey ?

[2017-08-02 11:07] shiftkey commented on #1644
I Am Not A Lawyer, but I'd mostly say:

 - respect the license associated with the code
 - to avoid confusion with the Octokit group of libraries, a name change would be :gem:
 - attribution is always nice (but not required)

[2017-08-02 11:20] M-Zuber commented on #1644
Sounds good,
Was planning on doing all 3, just wanted to see if I missed anything

[2017-08-02 11:20] #1644 closed

[2017-08-02 14:09] Korporal commented on #1643
@shiftkey - I'll try to get around to this later today. But Github confirmed that being able to see a commit that's only on a fork using a URL that targets the upstream is expected behaviour - at the browser/URL level anyway.

I am forming the opinion that forks are nothing more than "virtual views" of a repo, for the forks made by John and Mary, all existing branches get cloned as (for example) M

[2017-08-02 14:14] Korporal commented on #1643
@shiftkey - Here, I just forked the Octokit repo and then manually added a simple commit to my "master" branch, however using this URL:

https://github.com/octokit/octokit.net/commit/550c9d405c24c162d43d20b1363b3c5b5fea30af

It appears that it's "in" the base repo, the one from which I forked !

[2017-08-02 16:56] shiftkey commented on #1643
I don't think so. I think this behaviour came about because it was hard to find a commit within a network of repositories without knowing which fork had it - the exact opposite of what you'd expect.

What I'd do is compare two branches, like this:

https://github.com/octokit/octokit.net/compare/master...Korporal:master

This maps to the API as https://api.github.com/repos/octokit/octokit.net/compa

[2017-08-03 00:52] mderriey commented on #1634
I tracked this back to https://github.com/octokit/octokit.net/commit/ac49d2ad09fd41677aec32c3b842d64488770124 where conditional compilation symbols were apparently not brought over correctly from `.xproj` to `.csproj`.

It should be an easy fix, but I think it's also a great opportunity to maybe have a look at running tests against both targets, `net45` and `netstandard1.1`.

I'm happy to have a s

[2017-08-03 02:12] ryangribble commented on #1635
I poked a bit more into this and have proposed a workaround that will allow any unsupported event types to be accessed as Json...  please provide input on PR #1645

[2017-08-03 02:14] ryangribble commented on #1634
Thanks @mderriey for taking a look, I hadn't got to it yet!

Agree that integration tests in both frameworks is going to be painful!

This sounds like a reasonable idea - add some more unit tests around deserializing JSON responses

[2017-08-03 02:31] ryangribble opened #1646 "Implement EventPayload models for the event types supported by GitHub API"
GitHub API has currently [37 event payloads](https://developer.github.com/v3/activity/events/types/) that the Activity API can return, and only 8 of these are implemented in Octokit.net!

To support these as first class objects, Octokit needs a response model class added [here](https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/ActivityPayloads) for each one, and this [magi

[2017-08-03 02:33] ryangribble commented on #1635
I've raised #1646 to cover the fact that there are various missing event payloads, so I'll close this issue.  If you feel like implementing the `DeleteEvent` please send a PR over!  There is some guidance in #1646 about how to implement a new payload

[2017-08-03 02:33] #1635 closed

[2017-08-03 02:43] ryangribble commented on #1617
Just circling back on this one, is this still something you would be interested in contributing @aqwert  ?

[2017-08-03 02:52] ryangribble commented on #1251
I've been digging into the Events/Activity area recently and found that #1490 fixed the problem that this issue was tracking, so closing it out

[2017-08-03 02:52] #1251 closed

[2017-08-03 14:03] Korporal commented on #1643
@shiftkey - Hi, well I'll consider what you suggested. But in my case I don't care about branches as such. I want to reliably know if the commit is anywhere within the main (which I call "principal") repo or in a fork of that repo. The behavior is counter-intuitive I think and it would be neat of Github would think about this and perhaps add a new API endpoint or option.

[2017-08-03 16:04] nolanblew commented on #1618
@Sarmad93 Any progress updates with the branch?

[2017-08-03 18:18] Sarmad93 commented on #1618
Quite busy with work in weekdays..will try my best to manage some time this weekend and start working on it.

[2017-08-04 01:29] hartra344 commented on #1618
Sorry I noticed this hadn't had any traction in almost a month and started working on it yesterday for my own uses. I started a PR, only really need to finish writing integration tests

[2017-08-04 07:15] Sarmad93 commented on #1618
@hartra344  👍

[2017-08-07 00:21] #1634 closed

[2017-08-07 05:22] aqwert commented on #1617
I will look at this tomorrow. Sorry for the delay

[2017-08-07 08:51] ryangribble commented on #1643
Since this isn't specifically an octokit issue I'd suggest you make sure your feedback is sent to github support (you could also ask them if there is a way you can tell if a commit is in the main repo or a fork via the API... It's not clear if you already did that or not :grinning:)

[2017-08-07 08:51] #1643 closed

[2017-08-07 08:53] ryangribble commented on #1617
No need to apologise :grinning:

[2017-08-09 19:42] immeraufdemhund commented on #872
Just ran into this sort of in production. Was trying to access enterprise repository to auto log a issue. Kept trying to create an issue using my auth token  and I was getting error 404. After much trial and error found out I had to use the new `Credentials(string, string)` overload when creating a client.

[2017-08-09 20:06] ryangribble commented on #872
or grant the correct scope to your auth token?

[2017-08-09 21:46] immeraufdemhund commented on #872
We created a test repo for testing and created a auth token with every possible option checked. Testing

[code]

yes i really used `SomeMadeUpName`  :) I laughed that it worked.

[2017-08-10 02:28] ryangribble commented on #872
I can reproduce what you are seeing where the GitHub API does honour the request when the token is provided as the password, no matter what username is specified

However I CAN'T reproduce your first case (using the token as it is normally intended to be used, via the OAUTH type constructor and authenticator in octokit).

This is a personal access token right?  And in addition to the token scopes,

[2017-08-11 20:00] l1salvatore opened #1651 "The client doesn't support for files raw content"
I didn't found any object that refers to all files of the repository. Could you please tell me if it is correct ?

Thanks in advance!

Lucas

[2017-08-12 01:27] shiftkey commented on #1651
Are you looking for the [Content](https://developer.github.com/v3/repos/contents/) API, that lets you read directories or files in a repository?

[code]

This should give you a list of folders and files at the root of the repository.

[2017-08-13 11:26] ryangribble commented on #1533
Poking around in this area thanks to @alfhenrik #1639  #1640 revealed we also have to implement

[Remove organization membership](https://developer.github.com/v3/orgs/members/#remove-organization-membership) as `client.Organization.DeleteMembership()`

[2017-08-13 16:43] Hollyw0od commented on #1646
I can hop on this one.

[2017-08-14 06:52] #1513 closed

[2017-08-14 12:35] shaggygi opened #1652 "Create New Issue with Assigned Project(s)"
How do you assign a project to a new issue?  I notice there are Labels, Milestone, etc... but no Projects.

Is there another method to use in the new Project APIs with preview package?  Thx

[2017-08-14 20:16] ryangribble commented on #1652
Project support ha been merged to master but isn't in an official build yet. If you grab the nuget package from our appveyor fed it should be there.

What you want to do is create a project card for an issue - you specify the issue's id (globally unique id, not the repo issue number) as `ContentId` and `Issue` as `ContentType`.  I think you also need to specify the columnId the card will go into (

[2017-08-15 21:30] shaggygi commented on #1652
@ryangribble as usual, that did the trick.  thanks for your help 😄

[2017-08-15 21:30] #1652 closed

[2017-08-16 10:50] #1618 closed

[2017-09-02 04:07] ryangribble commented on #1617
Hey @aqwert we were doing some work in this area in #1660 are you able to test whether that fixes the issue for you?  You can get the nuget packages for that PR from the appveyor feed

[2017-09-03 01:14] ryangribble opened #1661 "Add missing pagination support to Reactions Clients"
Refer #1659

## Implement Pagination on the following clients

[ICommitCommentReactionsClient](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/ICommitCommentReactionsClient.cs) and [IObservableCommitCommentReactionsClient](https://github.com/octokit/octokit.net/blob/master/Octokit.Reactive/Clients/IObservableCommitCommentReactionsClient.cs)
- `GetAll(string owner, string name, i

[2017-09-03 01:16] ryangribble opened #1662 "Add missing pagination support to Migrations Clients"
Refer #1659

## Implement Pagination on the following clients

[IMigrationsClient](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IMigrationsClient.cs) and [IObservableMigrationsClient](https://github.com/octokit/octokit.net/blob/master/Octokit.Reactive/Clients/IObservableMigrationsClient.cs)
- `GetAll(string org)`

## Checklist

- [ ] Remove convention test exclusion

- [ ] Ad

[2017-09-03 01:17] ryangribble opened #1663 "Add missing pagination support to Miscellaneous Clients"
Refer #1659

## Implement Pagination on the following clients

[IMiscellaneousClient](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IMiscellaneousClient.cs) and [IObservableMiscellaneousClient](https://github.com/octokit/octokit.net/blob/master/Octokit.Reactive/Clients/IObservableMiscellaneousClient.cs)
- `GetAllLicenses()`

## Checklist

- [ ] Remove convention test exclusion

[2017-09-03 01:20] ryangribble opened #1664 "Add missing pagination support to References Clients"
Refer #1659

## Implement Pagination on the following clients

[IReferencesClient](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IReferencesClient.cs) and [IObservableReferencesClient](https://github.com/octokit/octokit.net/blob/master/Octokit.Reactive/Clients/IObservableReferencesClient.cs)
- `GetAll(string owner, string name)`
- `GetAll(long repositoryId)`
- `GetAllForSubNam

[2017-09-03 01:21] ryangribble opened #1665 "Add missing pagination support to Repository Invitations Clients"
Refer #1659

## Implement Pagination on the following clients

[IRepositoryInvitationsClient](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IRepositoryInvitationsClient.cs) and [IObservableRepositoryInvitationsClient](https://github.com/octokit/octokit.net/blob/master/Octokit.Reactive/Clients/IObservableRepositoryInvitationsClient.cs)
- `GetAllForCurrent()`
- `GetAllForReposit

[2017-09-03 01:50] #1617 closed

[2017-09-05 21:35] sxg611 opened #1666 "No mapping in between IssueComment and Issue"
Hi, I am trying to pull all of the issue comments for a given repository then trying to map them to their given issues. Right now, if I use:

var repoComments = await GitHubClient.Issue.Comment.GetAllForRepository(Owner, Name);

I get a list of IssueComments ordered by commentId, but they don't have any attribute mapping them to their parent issue. The only reference to the issue they belong to is

[2017-09-05 22:47] mderriey opened #1667 "Share state between integration tests where possible"
@ryangribble mentioned that it would be nice if we could share state between some integration tests where possible.

The benefits would be:

 - Faster tests as we could only set up things once for several tests instead of for each tests
 - Less chance of hitting the [API rate limits](https://developer.github.com/v3/#rate-limiting) when running tests

One area he flagged as a good candidate for thi

[2017-09-05 22:50] shiftkey commented on #1666
Sadly this is a limit of the payload that's returned from [the API itself](https://developer.github.com/v3/issues/comments/#list-comments-on-an-issue).

This is the entire payload we get:

[code]

[2017-09-05 22:50] #1666 closed

[2017-09-08 08:50] sepharg opened #1671 "Search Code should allow filtering by organization / repository"
Currently only the User filter is allowed
But in github's documentation it's possible to search by Organization or Repository (https://help.github.com/articles/searching-code/#search-within-a-users-or-organizations-repositories)

The SearchCodeRequest should include extra filters based on those fields to provide this functionality

[2017-09-09 04:26] mderriey opened #1673 "Missing XML documentation files"
@ryangribble noticed that the new NuGet packages are missing the XML documentation files, and as a result there's no IntelliSense anymore.

It'd be great to have them again as a lot of effort is put into them to make it easier for people to consume the libraries.

[2017-09-09 21:33] ryangribble opened #1675 "Implement Team Privacy from Organization Permissions Enhancements changes"
As per [this blog post](https://developer.github.com/changes/2015-06-24-api-enhancements-for-working-with-organization-permissions/#team-privacy), part of the Organization Permissions Enhancements were to add privacy attribute to teams.  This has not been implemented in Octokit yet, and it also looks like some other fields (such as Description or Maintainers) are missing from the `NewTeam` request

[2017-09-09 21:37] ryangribble opened #1676 "Ensure Membership related changes from Organization Permissions Enhancements are implemented"
As per [this old blog post](https://developer.github.com/changes/2015-06-24-api-enhancements-for-working-with-organization-permissions/#team-maintainers) there were various changes made to Organization Team Membership related to the concept of Team Maintainers.

These changes have not yet been implemented in Octokit

Extract from the blog post:
- The Add team membership API accepts a `role` parame

[2017-09-11 04:00] #1675 closed

[2017-09-11 04:27] #1673 closed

[2017-09-11 12:26] ryangribble opened #1677 "Search repository fork qualifier isnt working"
Need to investigate why attempting to search for a forked repository is not finding the expected result, when specifying `request.Fork = ForkQualifier.IncludeForks`

[2017-09-11 12:28] ryangribble opened #1678 "Unable to mock BranchProtection calls due to missing ctor on `EnforceAdmins` response class"
While writing tests for an API that uses Octokit I was unable to mock out the BranchProtection responses, as `EnforceAdmins` has no `ctor` that allows the response object to be created with the desired fields.

[2017-09-11 13:26] #1671 closed

[2017-09-12 03:15] #1678 closed

[2017-09-13 11:13] #1677 closed

[2017-09-13 12:39] ryangribble opened #1681 "Implement Nested Teams preview API changes"
As per this [recent blog post](https://developer.github.com/changes/2017-08-30-preview-nested-teams/) there is now support for Nested Teams.

[Documentation](https://developer.github.com/v3/orgs/teams/#teams)

The following changes are needed to octokit.net to support this:

- `Team` response object will have a `Parent` field
- `NewTeam` and `UpdateTeam` request messages will have a `ParentTeamId`

[2017-09-18 22:57] ryangribble opened #1683 "Deserialization crash with duplicate dictionary key in Events api"
Not sure if there is too much we can do about this but I thought I would raise it, as I sporadically run into this error.

This is targetting GitHub Enterprise 2.8.7 using the latest  (0.26) Octokit.net

The following line of code
[code]

Sometimes throws the following exception inside Octokit, but when re-running against the same repo/issue it does not occur again, thus it is proving hard to trac

[2017-09-23 18:55] vishrutshah opened #1684 "[Question] Retrieve GitHub PR diff using application/vnd.github.v3.diff to find line position in diff"
Hi There,

I was looking into the GitHub APIs to retrieve the PR diff but not sure which calls I am supposed to use. Basically, I am trying to auto generate line pointer into the PR diff.

Basically, I know the PR URL like https://github.com/Azure/azure-rest-api-specs/pull/1737/files with the files and lines number but I want to generate URL like https://github.com/Azure/azure-rest-api-specs/pull/

[2017-09-24 12:43] ryangribble commented on #1684
Im not sure where the `4e2918d5f8cd4a4461eca1d6da37eda1` comes from sorry!  There appears to be a different value for each file in the pull requestr.  Perhaps its a blob or tree SHA or something else you might be able to get at, via the [git data](https://developer.github.com/v3/git/) api?

[2017-09-24 22:04] shiftkey commented on #1684
@ryangribble @vishrutshah unless it's something that's available and documented via the https://developer.github.com/ site, it's not something that should be in Octokit.net.

[2017-09-24 22:04] #1684 closed

[2017-09-25 13:21] kingofzeal opened #1685 "Unable to get review requests"
I'm attempting to get a list of reviews for a given pull request, but for some reason the library never seems to return a value, even though I can see the request return correct data via Fiddler.

I've browsed the integration tests around this endpoint, and have even gone so far as to make the same call with identical arguments, and still can't get the library to return a value.

Just to ensure I'

[2017-09-25 13:32] M-Zuber commented on #1685
I threw this code into [LinqPad](http://www.linqpad.net/Download.aspx) and it runs fine
[code]

What happens if you remove your custom `IHttpClient` entirely instead of just calling the default one from within the custom one?

[2017-09-25 14:50] kingofzeal commented on #1685
I changed to use the default client, effectively doing:
[code]
And it is still hanging.

Spinning up a new Console Application, this doesn't seem to occur.

I reviewed and refactored my project to be a little easier to follow - I was doing some heavy linq, including an `AsParallel()` call, and after removing that and refactoring to use a single thread for the heavy lifting everything seems to work

[2017-09-25 14:52] M-Zuber commented on #1685
👍 Keep us updated so we can try and help

[2017-09-25 20:56] kingofzeal commented on #1685
After refactoring I can't seem to replicate the issue.

I have a feeling it was related to how I was making the requests (via long complex awaited linq statement, which has nested awaited linq statements that I probably wasn't handling properly). I've since changed it to be a little more sensible, and everything works as expected.

Thanks for the help!

[2017-09-25 20:56] #1685 closed

[2017-09-26 03:58] M-Zuber commented on #1685
Where you able to work around the issue of things taking too long?

[2017-09-26 09:59] kingofzeal commented on #1685
Well, I was able to re-implement the way I was trying to speed things up (using `.AsParallel()` on virtually every collection), but it's still taking some time - mostly because there are so many requests (one for the user, plus two per repo they have access to (branch + PR list) and one per open PR (for reviews)).

It would be nice if I could batch requests to the API, or if more information came

[2017-09-26 10:19] ryangribble commented on #1685
In terms of the original problem raised in the issue it sounds like you were getting into crazy async/await territory and getting a deadlock situation... we "should" have all of our awaits properly configured with `.ConfigureAwait(false)` as per #1248 but it's possible to have missed some.  I'll flick through the particular calls and double check.

In terms of your comment about needing to make so

[2017-09-26 11:37] #1676 closed

[2017-10-04 06:21] #1681 closed

[2017-10-05 21:52] ryangribble opened #1686 "Integration tests that rely on collaborators are failing"
GitHub changes have made it such that adding a collaborator is not effective until the collaborator accets the invitation.

There are number of integration tests that are now failing due to this... the following clients (and their observable counterparts) are affected:

`RepositoryCollaboratorClient`
`OrganizationOutsideCollaboratorsClient`
`PullRequestReviewRequestsClient`

We have a newer `[Dual

[2017-10-09 02:46] thedillonb opened #1688 "Unable to Set Root Path in GetAllContentsByRef That Doesn't Revert To The Default Ref"
`Repository.GetAllContentsByRef` has a problem where it's `reference` parameter is guarded by a Empty-Null check but it calls `ApiUtils.RepositoryContent` which contains the following formatter:

`"repos/{0}/{1}/contents/{2}?ref={3}".FormatUri(owner, name, path, reference);`

To return the root's contents I'd have to pass an empty string here because if I pass something like "/" as `path` then the

[2017-10-09 13:45] thedillonb commented on #1688
As @ryangribble pointed out, this is unnecessary if you use the overloads of `GetAllContentsByRef` which drop the path and default to the root dir.

[2017-10-09 13:45] #1688 closed

[2017-10-10 05:19] ryangribble commented on #1683
Looking into this a bit more I think it's because my calling application is running various tasks in parallel - it must be hitting a timing issue with the `Dictionary<Type, Dictionary<object, object>> _cachedEnums` from `GitHubSerializerStrategy` of which we have a static instance in `SimpleJsonSerializer`!  `static readonly GitHubSerializerStrategy _serializationStrategy = new GitHubSerializerStr

[2017-10-10 21:37] pmiossec commented on #963
Is this bug be fixed?
I can't find it in the release not or in the issues or PR linked.
Seems not :(
Could it be fixed by at least rising the timeout?

[2017-10-11 11:11] ryangribble commented on #963
Hi @pmiossec

Given its still open I don't believe it would be fixed.

You mentioned in git-tfs project that you built a custom version of octokit with this fixed... If you'd like to send a PR with the fix I'll work with you to get it merged 👍

[2017-10-12 22:56] sxg611 opened #1690 "Is there any way to get repository insights/pulse via the GitHub Rest API v3?"
I want to get statistics for the number of issues opened/closed for a repository during a specified period of time. I can view this information in GitHub by clicking the insights tab.

For example: https://github.com/nodejs/node/pulse

Can I pull any of this information via the GitHub Rest API v3/Octokit.net? I was looking through the documentation but couldn't find any information. Thanks in adva

[2017-10-12 23:21] ryangribble commented on #1690
I also can't find much in the REST API spec for this info.  The repo statistics are probably the closest thing?

https://developer.github.com/v3/repos/statistics/

[2017-10-12 23:27] ryangribble commented on #1690
I think most of the data for the other tabs (community, traffic,forks etc) is available in the API, but some of the sections like PULSE or NETWORK do not appear to be exposed directly in the API

https://developer.github.com/v3/repos/community/
https://developer.github.com/v3/repos/traffic/
https://developer.github.com/v3/repos/forks/

[2017-10-12 23:34] shiftkey commented on #1690
Also, keep in mind that any new features in the GitHub API are not going to be backported to v3.

I've been chatting with the other Octokit teams a bit about what this means for Octokit.net, and need to grab some time with @ryangribble, @mderriey and whoever else is interested to sketch this out further.

[2017-10-12 23:58] sxg611 commented on #1690
Ok, seems like the information that is exposed doesn't fit what I need. Thanks for your help

[2017-10-12 23:59] #1690 closed

[2017-10-19 14:22] BaconSoap commented on #1400
We were looking at using the `distinct` field on commits specifically (to cut down on processing). There's a bit of weirdness there in that it's on the webhook commit response, but not on the GET /commit response, and as best I can tell OctoKit uses the same model for both. Would that be a nullable bool (seems easier to add from a 'I could make a PR for this' standpoint)? Or would it need to be sp

[2017-10-21 14:12] BaconSoap commented on #1400
I compared what I get from a saved webhook (`push` event vs from the api) and added the results/diff in [a gist](https://gist.github.com/BaconSoap/44191120f287729129005c29d85fb9a4).

Key points:

- webhook uses `Id`, commit uses `Sha`
- webhook has lists of files affected, api does not (and requires generating a diff)
- webhook his a `distinct` field, commit doesn't (which makes sense given `disti

[2017-10-21 20:23] M-Zuber commented on #1400
Maybe we should consider adding an attribute to properties that contain mappings of potential names for the deserializer.
For example,
[code]
Although this will only work if the type is the same

[2017-10-29 00:51] #963 closed

[2017-11-02 19:40] it19862 opened #1700 "Error "One or more projects in the solution were not correct are loaded. ""
**Used**
Visual Studio 2015

**Open the file**
c:\UsersXadmin\Documents\Visual Studio 2015\Projects\prm\github\octokit.net\octokit.net_Projects_prm\Octokit.sln

I'm getting the message.
"One or more projects in the solution were not correct
are loaded. "
For more information, see "Output"

The **"Output"** window contains:
"**C:\Users\admin\Documents\Visual Studio 2015\Projects\prm\github\octokit.

[2017-11-02 22:43] ryangribble commented on #1700
Hi @it19862

We have upgraded to .NET Core project system so you will need Visual Studio 2017 to open the solution.  Alternatively you can use VSCode, or our CAKE build scripts, as mentioned in the [CONTRIBUTING](https://github.com/octokit/octokit.net/blob/master/CONTRIBUTING.md#running-builds-cross-platform) guide

I do notice we still have a mention of Visual Studio 2015 on that page - sorry!  W

[2017-11-02 22:43] #1700 closed

[2017-11-03 06:42] it19862 commented on #1700
If to open in VS2017 I receive "an output"

C: \ Users \ admin \ Documents \ Visual Studio 2015 \ Projects \ prm \ github \ octokit.net \ octokit.net_Projects_prm \ Octokit.Tests.Conventions \ Octokit.Tests.Conventions.csproj: error: imported project "C: \ Program Files (x86) \ Microsoft Visual Studio \ 2017 \ Community \ MSBuild \ Sdks \ Microsoft.NET.Sdk \ Sdk \ Sdk.props "was not found. Verify

[2017-11-03 20:19] it19862 opened #1701 "Search repository. How to extract README.md."
I'm trying to make a code(**C#**) that looks for repositories in which README contains the necessary words.

[code]

It turned out to be done only to search in the description.
![111](https://user-images.githubusercontent.com/18245828/32394083-009d5818-c0ed-11e7-8356-4ac261ee476a.jpg)

**Questions.**
How to make the code look in the text README?
How do I make the code extract the README text into

[2017-11-03 20:33] shiftkey commented on #1701
@it19862 as the README isn't part of the returned search results, you'll need to make a follow-up query to read the [`README`](https://developer.github.com/v3/repos/contents/#get-the-readme) for a given repository.

I've tried to tweak your sample to illustrate this - hope it helps!

[code]

[2017-11-03 20:33] #1701 closed

[2017-11-04 01:22] kzu opened #1702 "OverflowException when deserializing commit statuses"
I have a (private) repository where GitHub reports statuses with
ids like 4299360515, which fail to deserialize as it doesn't fit
on the int.

There is nothing (I could find) on the GitHub API docs that say
that this status id is limited to an int-sized value.

Stacktrace:

System.OverflowException: Value was either too large or too small for an Int32. at System.Convert.ToInt32(Int64 value) at Sys

[2017-11-04 09:18] it19862 opened #1704 "How do I make the repository search run within the topic?"
The code to search for "github.com" repositories:

[code]

There is a theme https://github.com/topics/chrome-extensions

Question
How to make the code look inside: https://github.com/topics/chrome-extensions

[2017-11-04 10:16] ryangribble commented on #1704
Are you saying you want to access the "topics" for a given repo?

[2017-11-04 10:24] it19862 opened #1705 "How repository search works by criteria: Readme, Description, Name?"
I tried several search options
Search phrase - api for github;
The number of search results is determined - result.TotalCount

Search result table

p_n | search type | Number of search results.     Try one | Number of search results     Trying two | Number of search results.     Trying three
-- | -- | -- | -- | --
1 | search on github.com | 2 733 | 2 733 | 2 734
  |   |   |   |  
2 | In = new[] {

[2017-11-04 10:42] it19862 commented on #1704
@ryangribble
I'm sorry, I still do not understand the structure of "github.com".

How to understand the place github.com/topics/chrome-extensions

"Chrome extension" is the theme in which the repositories are located?
or
"Chrome extension" - a repository in which there are nested repositories?

"Chrome extension" contains 95 pieces of repositories.

Question
How do I search for the words I need in

[2017-11-04 21:25] it19862 opened #1706 "Error "One or more projects in the solution were not correct are loaded. ""
**Used**
Visual Studio#  **2017**

Open the file
c:\UsersXadmin\Documents\Visual Studio 2015\Projects\prm\github\octokit.net\octokit.net_Projects_prm\Octokit.sln

I'm getting the message.
"One or more projects in the solution were not correct
are loaded. "
For more information, see "Output":
C: \ Users \ admin \ Documents \ Visual Studio 2015 \ Projects \ prm \ github \ octokit.net \ octokit.net_P

[2017-11-05 05:06] ryangribble commented on #1705
The API documentation for Repository search is here: https://developer.github.com/v3/search/#search-repositories

Answer to your questions:

1. Option 2

2. I believe the search keywords are "AND" logic by default.
`api github` is api AND github
`"api github"` is "api github" as a phrase

3. Github.com search by default searches Name AND Description.  https://help.github.com/articles/searching-rep

[2017-11-05 05:06] #1705 closed

[2017-11-05 05:07] ryangribble commented on #1706
Im not sure what the problem is, but the projects definitely work in VS2017 for other developers/contributors of this project, and myself on several different machines.

From your error message it sounds like you somehow don't have the .NET Core SDK installed

[2017-11-05 05:16] ryangribble commented on #1704
Hi @it19862

"Chrome extension" is a TOPIC.

A Repository can have as many TOPICs as the owner wants.

BUT a TOPIC does not own a repository... it is like a tag or label on a repository, that can group repositories together that have similar topics.  Does that make sense?

Here is some information:
https://github.com/blog/2309-introducing-topics
https://help.github.com/articles/about-topics/

Yes

[2017-11-05 05:20] ryangribble opened #1707 "Add support for Repository Topics"
https://github.com/blog/2309-introducing-topics
https://help.github.com/articles/about-topics/

Response Class Support
- Add `Topics` field to `Repository` response class
- Specify new [preview header](https://developer.github.com/v3/previews/#repository-topics) on all calls that return `Repository` responses

New API Calls
- [List all Topics](https://developer.github.com/v3/repos/#list-all-topics

[2017-11-05 05:20] ryangribble commented on #1704
I've raised #1707 to cover implementing this support in Octokit

[2017-11-05 05:20] #1704 closed

[2017-11-05 05:21] #1706 closed

[2017-11-05 05:21] #1667 closed

[2017-11-06 10:47] #1702 closed

[2017-11-06 18:47] joewstroman opened #1710 "Mergeable always null in Pull Request"
I'm calling `PullRequest.GetAllForRepository()` and I'm trying to check if the PR passed all the CI checks and can be merged (assuming CI checks are taken into account). But I call `hasValue()` since mergeable is Nullable type, and it always returns false for any of the pull requests. Also printing mergeable shows `<null>`. The rest of the data comes back as expected.

Is this a bug or am I using

[2017-11-06 20:36] ryangribble commented on #1710
If you load a single PullRequest with `Get` operation, is the field populated then?

Some response fields are only provided on a single record request and not on a `GetAll` request.

[2017-11-06 20:56] joewstroman commented on #1710
Using Get actually provides more fields, but now all the fields say true for Mergeable, even for PR's that say CI check has failed and says "Merging is blocked"

[2017-11-07 00:11] shiftkey commented on #1710
The `Mergeable` field is compute-intensive, so it's only exposed on `Get` - see the details [here](https://developer.github.com/v3/pulls/#get-a-single-pull-request).

I think we have an old issue about differentiating `GetAll` from `Get` to make this clearer.

Also note that `Mergeable` is purely for whether the branch can be merged into the base branch. Things like [Commit Statuses](https://devel

[2017-11-07 10:41] sepharg opened #1711 "Throttle Search calls to bypass 30 requests / min github limit"
Github's search API has a custom limit of [30 requests per minute](https://developer.github.com/v3/search/#rate-limit).
This makes it very hard to use when making several consequent requests. It'd be great it the Search functionality in octokit would throttle the requests automatically instead of immediately throwing a RateLimitExceeded exception.
Doesn't necessarily need to be the default behavio

[2017-11-07 12:07] ryangribble commented on #1711
Hi @sepharg, we generally shy away from implementing higher order logic like making composite/multiple API calls on behalf of the consumer, or building in retry/throttling type behaviour in the library itself, because there are too many potential use cases to implement in a way that would suit everyone.

The rate limit and abuse exception classes should include details on  when it's safe to try ag

[2017-11-07 16:12] joewstroman commented on #1710
So `Mergeable` only signifies if there are merge conflicts?

[2017-11-07 21:22] ryangribble commented on #1710
Yes.

As @shiftkey outlined, if you want to check the commit status values you can do that with other API calls

[2017-11-07 21:44] sepharg commented on #1711
I see @ryangribble, it´s a fair point.
The only bad thing is that I doubt we´ll be able to include details when it´s safe to try again because the github api itself doesn´t provide enough information, it just returns a 403 and a generic message.

[2017-11-07 21:49] shiftkey commented on #1711
[Rate limiting headers](https://developer.github.com/v3/#rate-limiting) are sent on every response from the API. And this is [available from Octokit](https://github.com/octokit/octokit.net/blob/8877eea1cbae447030f15a0b5c50dba7037283a2/docs/getting-started.md#too-much-of-a-good-thing-dealing-with-api-rate-limits) too.

[2017-11-10 06:12] adriangodong opened #1712 "netcoreapp1.0 support"
Octokit currently targets netstandard1.1 but did not specify a specific metapackage, so it defaults to NETStandard.Library 1.6.1. This metapackage is compatible only with netcoreapp1.1.

I'm trying to use this package in AWS Lambda, which only supports netcoreapp1.0.

The fix is simple, add `<NetStandardImplicitPackageVersion>1.6.0</NetStandardImplicitPackageVersion>` element to the package projec

[2017-11-10 07:06] ryangribble commented on #1712
Yes I ran into this myself and have a local build using that implicit package reference to get around it

We don't actually target netcoreapp 1.1 intentionally, it's just that the newer build tools automatically use 1.6.1 netstandard library meta package (which aws lambda build tools detect and think you are netcoreapp 1.1)

I was hoping lambda would support 2.0 already

[2017-11-10 07:26] adriangodong commented on #1712
AWS policy is to support LTS version only, and 2.0 is current. 1.1 moved to LTS when 2.0 is out back in August, so I'm asking AWS as well for their timeline/commitment to add support for 1.1.

[2017-11-10 08:15] ryangribble commented on #1712
From what I saw the pretty much indicated they wouldn't be likely to support 1.1 eventhough it's now LTS 😝

I'll push up a PR for the local change I was using for my [octokit lambda demo](https://github.com/ryangribble/Octokit.Lambda.Demo)

[2017-11-11 04:07] ryangribble commented on #1683
Interestingly it looks like [this unit test run](https://ci.appveyor.com/project/github-windows/octokit-net/build/0.29.0-PullRequest.1713+2.build.2389) just ran into this issue

[2017-11-13 11:41] ryangribble opened #1717 "Support alternative payload for adding a PullRequest Comment"
As per [the API documentation](https://developer.github.com/v3/pulls/comments/#alternative-input) it is possible to add a PR Comment "in reply to" an existing comment, by using an alternative payload

[code]

In octokit, we would implement this by creating a new request class (eg `PullRequestReviewCommentReply`) and adding new overloads to the regular/observable clients:

`Task<PullRequestReviewCo

[2017-11-13 11:48] #1710 closed

[2017-11-13 11:49] #1711 closed

[2017-11-15 10:16] #1712 closed

[2017-11-15 10:27] ryangribble opened #1718 "Implement "Repository Transfer" functionality"
As per [this recent blog post](https://developer.github.com/changes/2017-11-09-repository-transfer-api-preview/) there is now the ability to transfer ownership of a repository via the API (in preview mode)

Documentation: https://developer.github.com/v3/repos/#transfer-a-repository

- This should be implemented as a `Transfer` method on the `IRepositoriesClient` and `IObservableRepositoriesClient`

[2017-11-15 10:41] ryangribble opened #1719 "Implement "Archiving Repositories" functionality"
As per [this recent blog post](https://developer.github.com/changes/2017-11-08-archiving-repositories/) there is new API functionality to archive repositories.

This touches on several areas of the API

- Add `Archived` field to `PullRequest` response model
- Add `Archived` field to the request model `UpdateRepository` used to edit a repository (and note that un-archiving a repo can not be done vi

[2017-12-01 04:05] suvratjain1995 commented on #1718
@ryangribble  Hey ..I would like to work on this feature.

[2017-12-01 11:11] #1664 closed

[2017-12-03 13:02] #1665 closed

[2017-12-07 15:23] grokys opened #1724 "OauthClient.GetGitHubLoginUrl returns incorrect URL for Enterprise instances."
`OauthClient.GetGitHubLoginUrl` with an enterprise instance URL of `https://example.com` should return e.g. `https://example.com/login/oauth/authorize?client_id=secret`, and indeed that is what the [unit tests](https://github.com/octokit/octokit.net/blob/master/Octokit.Tests/Clients/OauthClientTests.cs#L25-L28) are testing.

In real usage, however, `connection.BaseAddress` will return a URL like `

[2017-12-07 20:07] ryangribble commented on #1717
This is already implemented as `CrrateReply` 😮

[2017-12-07 20:07] #1717 closed

[2017-12-08 22:31] pizycki opened #1725 "SHA not supplied while creating new file"
I'm trying to create file with Octokit.NET inside my repository

[code]

but receiving the following error

[code]

I checked with Fiddler the request sent to API and this is how it looks like
[code]

I checked this with [API Documentation](https://developer.github.com/v3/repos/contents/#create-a-file) and what is happening, according to docu, is ok (yet odd). Looks like API awaits for SHA paramet

[2017-12-09 00:45] shiftkey commented on #1725
@pizycki I think this might be related to the branch name - it looks like you're creating it from the current time, and if that doesn't exist the repository wouldn't know where to create the new commit from. What if you used a fixed branch name to confirm that the `PUT` is working as expected?

[2017-12-09 08:23] pizycki commented on #1725
I create branch with that name just before attempting to create new file. You can check my program right here https://github.com/pizycki/DevoWeek/blob/octokit/DevoWeek/Program.fs#L39

[2017-12-09 08:36] #1725 closed

[2017-12-10 06:24] shiftkey commented on #1725
@pizycki I'm glad you were able to get to the bottom of it!

[2017-12-18 13:57] hisuwh commented on #825
I've just had the same problem as @AlfredoMS
Is their a new issue for this or should I open a new one?

[2017-12-19 09:49] ryangribble commented on #825
In the earlier case it seemed to be an upstream API issue where a date time string was being sent as an int64 (unix epoch time) then it fixed itself (ie the upstream API problem was fixed).

I think it'd be best if you raise a new issue for what you're facing, please include the json payload and code sample !

[2017-12-19 11:59] hisuwh commented on #825
What I found was a merged pull request didn't parse correctly but open ones did

[2017-12-19 14:24] ryangribble commented on #825
If you can raise a new issue including a code snippet and the json response we can have a look at what's going on there

[2017-12-26 23:00] adriangodong opened #1727 "Extend authentication to support authenticating as installation"
Docs: https://developer.github.com/apps/building-github-apps/authentication-options-for-github-apps/#authenticating-as-an-installation

I can't find any issue, docs, or code related to this and I'm not sure if it is something that Octokit should do. From my initial research, it seems that the output of the flow is a valid "auth token" and can be used in place of PAT so the existing authentication

[2017-12-27 11:32] ryangribble commented on #1727
Hey @adriangodong, we haven't implemented any of the github apps stuff yet so definitely keen to see what you come up with

[2017-12-27 16:50] adriangodong commented on #1727
Awesome! I'm blocked on signing the JWT in .NET Standard, should be smooth sailing once that's out of the way. 🤞

[2017-12-27 17:45] Xwilarg opened #1728 "Get the files modified in a commit ?"
Hi,

I don't know if it's the right place, but I'm trying to get informations about the files changed in a commit.
I have a code who look like that:
[code]
But c.Files is always null (even if the commit name is correct, so there should be some files that are changed).
Thanks in advance :).

[2017-12-27 21:33] ryangribble commented on #1728
Hi @Xwilarg

The github API returns sparser results when getting "all" objects, compared to when getting a single object.

If you load a single commit, the `Files` member should be present then

eg
`clientGitHub.Repository.Commit.Get(r.Id, c.Sha)`

Obviously this is inefficient to do this for many commits so ideally you can have some way to filter down on the commits you need to load first

[2017-12-28 00:39] Xwilarg commented on #1728
I'll try that, thanks.
My goal was to count how many changes each user did in one project, so I have to iterate through each files and commits..

[2017-12-28 01:29] ryangribble commented on #1728
Ouch, I'm not sure it's a good idea to try and do all that raw processing yourself

What about the repository statistics endpoints, maybe the contributor breakdown there would give you something useful?

https://developer.github.com/v3/repos/statistics/#get-contributors-list-with-additions-deletions-and-commit-counts

[2017-12-28 03:20] shiftkey commented on #1728
Seconding using the repository statistics endpoints - this is supported in Octokit.net, and it will do the heavy lifting for you...

[2017-12-28 07:04] grapehunter opened #1729 "OauthClient.CreateAccessToken calls incorrect URL for Enterprise instances"
Another issue about enterprise address refer to #1724
[AS-IS]
`https://enterprise.url/api/v3/login/oauth/access_token`
[SHOULD-BE]
`https://enterprise.url/login/oauth/access_token`

By the way,please take serveral minutes to check all address of enterprise, it's a horrible disaster

[2017-12-29 13:35] ryangribble commented on #1729
Hi @grapehunter I've updated PR #1726 to fix the `CreateAccessToken` url, does that look good to you?

Do you have any other examples? I use octokit against our GHE instance and haven't found any incorrect url's with the methods I'm calling...

[2018-01-01 10:59] itaibh commented on #825
I see the same problem here. Seems "created_at" and "pushed_at" are in unix epoch representation, while "updated_at" is in ISO representation.

Also, from the timing it seems the problem had returned only recently (about two weeks ago).

Is there anything I can do to ignore or correctly parse those fields?

[2018-01-01 11:11] itaibh commented on #825
Another thing - I see it sometimes happens and sometimes not. Perhaps it depends on the state of the current PR.

[2018-01-04 03:36] #1729 closed

[2018-01-04 21:02] #1724 closed

[2018-01-04 21:08] ryangribble commented on #1646
Just noting that `StatusEvent` will be implemented in #1732

[2018-01-08 20:05] mikeparker opened #1734 "PullRequest.GetAllForRepository doesnt have MergedBy / Comments count"
There seems to be some missing data using GetAllForRepository. I'm writing a slack integration through a .NET core HTTP microservice and I want to summarise all of yesterdays activity, including what pull requests were opened and merged. I have a list of repositories and for each one i do:
[code]
But iterating over the pull requests returned, MergedBy is always null, Comments is always 0, Commits

[2018-01-08 21:08] ryangribble commented on #1734
The github API returns sparser results for "GetAll" type queries, so you might need to load each PR individually to have all fields fully populated.

Once you have the list from your search query, try loading each one with `PullRequest.Get()` and check if the fields have the data you want?

If you check out my [Octokit.ReleaseNotes](https://github.com/ryangribble/Octokit.ReleaseNotes) project ther

[2018-01-10 05:48] davidobrien1985 opened #1736 "Create first branch"
Hello,

trying to write a process that gets triggered via webhook whenever someone creates a repo via the web UI.

This process needs to then configure things like protected branch, reviewers, etc.
Problem is, if a user creates a repo without initialising it via the UI, then I need to create `master` branch.
For the life of me I can't figure out how to create that first branch, because creating a

[2018-01-10 10:46] ryangribble commented on #1736
Hmmm our examples in integration tests often create new branches (create a git blob, then a tree, then a  then a commit, then a branch)

https://github.com/octokit/octokit.net/blob/5e892325218600499a9943b4ff4ebd190e5a82ad/Octokit.Tests.Integration/Clients/PullRequestReviewRequestsClientTests.cs#L260

In those cases the repo already is initialised so the commit is created with a parent commit of th

[2018-01-10 18:49] mikeparker commented on #1734
Great, i'll check it out. Thanks for the detailed response. I think it'd be great if there was a way of specifying a fuller return data structure, or even a batch 'fully populate' command, but I'm sure I can work around it with the code you've pasted. Thanks again!

[2018-01-10 21:48] mirsaeedi opened #1737 "Get Rate Limit By Calling it's API"
Currently, we need to call GetLastApiInfo() to get the status of our usage. This API uses the information from the last request it has sent. The problem with this approach is that in some cases we need to fetch this data from Github and the information which we have from the previous call is stale and not sufficient. What's the reasoning behind your implementation? If my argument is valid, can I s

[2018-01-11 11:44] ryangribble commented on #1737
Hi @mirsaeedi the reasoning is simply that the remaining API rate limit is returned in the response headers of all calls, so we may as well provide a mechanism to access that information :)

It would be awesome if you wanted to send a PR to implement the actual [Rate Limit API](https://developer.github.com/v3/rate_limit/) though, then users can choose the method that is more appropriate for them :

[2018-01-11 11:51] ryangribble commented on #1734
We try to keep Octokit as an API wrapper that reflects the upstream GitHub API structure and calls, so since the upstream API doesn't have a mechanism to flag that you want "fully populated" responses in "Get All" type requests (presumably for performance reasons), it's not really something that would be implemented in Octokit either.

Note, the successor to the v3 REST API is the [v4 GraphQL API]

[2018-01-11 11:51] #1734 closed

[2018-01-12 07:00] mirsaeedi opened #1740 "GetAllForRepository and Rate Limit challenges"
Suppose I'm going to get all of the review comments from a project. However, because of the high amount of comments, this operation needs more than 5000 requests per hour. Can I use GetAllForRepository method in this kind of situations to get all of the comments? It seems I can't because this method will halt in case of  reaching the 5000/hour limit. So I think in some top hot repositories the Get

[2018-01-12 12:49] shiftkey commented on #1740
@mirsaeedi I'd recommend `GetAllForRepository` but also:

 - using the pagination API so you get more results per page:
 - using a local cache for past review comments and only querying for values since the most recent stored entry

[code]

[2018-01-12 13:08] mikeparker commented on #1734
Ok great, it looks like GraphQL is the way to go in the future. thanks again

[2018-01-12 14:38] mirsaeedi commented on #1740
@shiftkey Thanks for your prompt reply. In some repositories, because of a large amount of data, even using pagination with big page sizes won't solve the above problem. besides that, I'm working on a research that I need to fetch all of the review related information from top repositories to analyze them afterward, so practically the second solution is not suitable for my scenario.

[2018-01-12 14:57] shiftkey commented on #1740
@mirsaeedi I would still recommend investing in a backing store (like a database) so that you can easily store the PR comments and work with them locally, so you can research as many repositories as desired while working within the API limits.

The 5000 requests/hr limit is a server-side restriction of the GitHub API, and the Octokit client is not able to circumvent this.

[2018-01-12 17:08] mirsaeedi commented on #1740
@shiftkey, Of course, I'm using a backing store to save data. However, storing is a different concern from fetching data from servers. The problem is that practically GetAllForRepository is useless in scenarios where you need more than 5000 requests to fetch all of the data.
A mitigation to this could be a change in GetAllForRepository to wait for a sufficient amount of time, in case of reaching t

[2018-01-12 17:28] shiftkey commented on #1740
I'll defer to @ryangribble on this from an earlier thread: https://github.com/octokit/octokit.net/issues/1711#issuecomment-342463086

[The rate limiting API is available in Octokit.net, so that callers can handle this themselves](https://github.com/octokit/octokit.net/blob/8877eea1cbae447030f15a0b5c50dba7037283a2/docs/getting-started.md#too-much-of-a-good-thing-dealing-with-api-rate-limits).

[2018-01-12 17:28] #1740 closed

[2018-01-13 06:04] mirsaeedi commented on #1740
@shiftkey The problem with current API is that when I call GetAllForRepository then I have no way to control its behavior by myself. Because when GetAllForRepository is running I don't have any access to GetLastApiInfo() method via events or callbacks. I should wait till I catch the Rate Limit Exceeded exception and act accordingly.

I'm really sorry to bother, your API is really awesome and I jus

[2018-01-13 10:39] ryangribble commented on #1740
The `GetAllXXX()` methods will all have an override that takes an `ApiOptions` parameter, that allows you to specify the `StartPage` (amongst other pagination settings).  When you don't pass an `ApiOptions` to the call, octokit automatically retrieves all pages for you, which sounds like where you are going to run into trouble on large repositories.

But you can easily control this yourself by wri

[2018-01-16 15:46] grokys opened #1741 "Add GraphQL Node IDs to Models"
The [`jean-grey` preview](https://developer.github.com/changes/2017-12-19-graphql-node-id/) adds `node_id` fields which expose GraphQL IDs through the REST API. This greatly improves the interop story between REST and GraphQL and is something we will shortly be needing over at [`github/VisualStudio`](https://github.com/github/VisualStudio).

Is this something you'd be interesting in adding? I'd be

[2018-01-18 09:59] ryangribble commented on #1741
Yep definitely keen to add the `node_id` fields and would be great to get a PR!

Due to the large number of response objects (and even larger number of method calls) that will include this field (and now need to include the `jean-grey` preview header) there is going to be an unfortunate amount of code churn (every Http Get/Post etc will have to specify the accepts header) PLUS all the unit tests h

[2018-01-18 10:01] ryangribble commented on #1741
Tagging @gr2m for thoughts on accept header abuse too 😁

[2018-01-18 21:26] gr2m commented on #1741
My current stance on the preview headers is to be very transparent about it and not to set any preview headers by default. I would make it simple to set them though as end users, including setting multiple headers as they can be combined, so that they are sent with any following request by default

[2018-01-18 21:36] kytrinyx commented on #1741
/cc @tarebyte @bkeepers

[2018-01-19 09:43] #1586 closed

[2018-01-19 20:52] bkeepers commented on #1741
I agree with @gr2m's stance. However, it'd be nice to give end-users a way of turning this on when instantiating the client. For example, Do any of the clients support something like this?

[code]

[2018-01-20 22:26] mirsaeedi commented on #1737
Actually, I found that [Rate Limit API](https://developer.github.com/v3/rate_limit/) has been implemented before. I will update the documentation.

`gitHubeclient.Miscellaneous.GetRateLimits();`

[2018-01-21 09:18] ShalokShalom opened #1743 ".NET Core"
What is the status about NET Core?

[2018-01-21 10:43] ryangribble commented on #1743
Fully supported 😁

[2018-01-21 10:43] #1743 closed

[2018-01-22 21:38] ryangribble commented on #1737
Fixed by #1742

[2018-01-22 21:38] #1737 closed

[2018-01-23 13:22] itaibh opened #1745 "Build on Linux"
I'm trying to build this project on Ubuntu 16.04.
I installed Visual Studio Code with all relevant extensions, .Net Core and PowerShell.
I try building it, and this is what I get:

[code]

I tried debugging it, but I'm new to this .Net Core thing, especially on Linux. Is this a problem with my configuration or is this a bug that need to be resolved?

[2018-01-23 21:43] daveaglick commented on #1683
I am also seeing this on other endpoints like repositories and issues. Also running queries in parallel via a `Task.WhenAll()` call.

[2018-01-23 23:07] itaibh commented on #1745
Turns out I didn't have the correct version of .Net Core installed (I only installed version 2.x, while the project requires version 1.x). Also, I had to remove net45 and net452 from the `<TargetFrameworks>` tag. Thing is, I can't commit such a change. Any reason why the Linux tools doesn't just ignore any missing framework?

[2018-01-23 23:41] shiftkey commented on #1745
@itaibh we have the `build.sh` scripts at the root of the repository that's [used on Travis](https://travis-ci.org/octokit/octokit.net/jobs/331743376#L1918) and seems to be targeting .NET Core:

[code]

Does that give you the same error if you're on .NET Core `1.x` without having to change the `.csproj` files?

[2018-01-24 05:41] ryangribble commented on #1745
I believe the build actually does work even for `net45` target framework on Linux in TravisCI, because the TravisCI instance is setup with Mono framework

[2018-01-24 07:00] ryangribble commented on #1745
If you don't want to put Mono on your instance, you can edit VSCode's build task configuration (located in `.vscode/tasks.json` file) and add additional commandline arguments to the `dotnet build` command, to specify `--framework netstandard1.1`

eg:
[code]

although that is for just one csproj.  you cant do this at the sln level because libraries target `netstandard1.1` while test projects target

[2018-01-24 07:03] ryangribble commented on #1683
Yep it doesn't matter which endpoints as it's related to the internals of the deserializer class.  The workaround at the moment is to use separate instances of `GitHubClient` for each thread.  The proper fix is to implement thread safe dictionaries which I hope to get to when I have a chance (but PR's are very much welcome as well! 😀 )

[2018-01-24 18:27] Korporal opened #1746 "Compare status of a fork branch with its origin branch"
Hi,

Is there a straightforward way to compare a fork branch with the same named branch in the origin repo?

I'm developing a tool and one of the things I'd like to show is branches on user's forks that contain _additional_ commits over those in the same named branch in the origin repo,

One use for this info is to police team work so we can tell at a glance that some developer on a team has appar

[2018-01-24 19:18] ryangribble commented on #1746
Hey @Korporal

I do believe you are in luck 😄

You can use the [Compare Commits](https://developer.github.com/v3/repos/commits/#compare-two-commits) call using branch names, and going across forks (see the note there about using USERNAME:branch` format for the fork branch)  and the response includes `AheadBy` and `BehindBy` summary info :+1:

Something like this will hopefully work!
`client.Reposi

[2018-01-24 20:14] Korporal commented on #1746
@ryangribble - This is EXACTLY what I wanted and works like a dream!!

Now (of course) I have another question. If I want to know if the tip of some branch (a commit) is definitely present (merged into) some other like "master", is that easy too?

[2018-01-24 21:02] ryangribble commented on #1746
I'm thinking if you compared "master" to that "commit sha" and it HAD already been merged, then the comparison result would indicate `(BehindBy >= 0 && AheadBy == 0)`. However if you are talking about cherry picking commits or squash merges etc I don't think this would work

[2018-01-24 21:07] Korporal commented on #1746
@ryangribble - You're right and I do simply want to know if all of the branches commits are on master.

Thx

[2018-01-24 21:08] ryangribble commented on #1746
Glad it's working for you 👍

[2018-01-24 21:08] #1746 closed

[2018-01-24 21:50] daveaglick commented on #1683
I'm game for a PR. My instinct is to use the `ConcurrentDictionary` class to handle this. I also think the cache will need to use thread-safe dictionaries as it's values since those sub-dictionaries are also potentially accessed concurrently.

Let me know if you think I should be using `ReflectionUtils.ThreadSafeDictionary` instead. It looks like it's optimized for computing new values for a speci

[2018-01-24 22:50] daveaglick opened #1747 "Build tooling mismatch"
I _think_ there might be a mismatch between the version of the SDK the build script pulls down and the target. I get the following when trying to build:

[code]

And in the `.dotnet` folder I do see `sdk\1.0.1` with `shared\Microsoft.NETCore.App\1.0.4` and not 1.1.1.

[2018-01-25 00:02] ryangribble commented on #1747
What is your current dotnet DSK installed in the path?

`dotnet --version`

I just tested on a windows machine that has `2.1.2` sdk reported by the above command.  When running the octokit build script it downloads the 1.0.1 runtime into the local `.dotnet` directory and everything proceeds to work fine.  In order to support the `netcoreapp1.0` for AWS Lambda, we did have to use an `ImplicitMetaPa

[2018-01-25 00:07] ryangribble commented on #1747
Also in my case, after the download of the 1.0.1 framework ps1 file and it executing, the `.dotnet\Shared\Microsoft.NETCore.App\` contains both `1.0.4` and `1.1.1` folders (it sounds like yours only included `1.0.4` for some reason?)

[2018-01-25 00:15] daveaglick commented on #1747
Interesting - yeah, mine only contained `1.0.4` under the netcoreapp folder. Given that you got both, I wonder if having different global versions changes the local install. Or maybe my work firewall is getting in the way of one or more bits (it’s pretty aggressive).

I think I’ve got the latest SDK, but could be behind a minor release or two. I’ll check next time I’m in front of my workstation an

[2018-01-25 00:31] ryangribble commented on #1747
It's funny because I think technically any later sdk could build the projects but in order to execute the test projects (netcoreapp1.0) you need the specific runtime.

Plus the fact we are using cake frosting as a build script also means you need a runtime for that (and also I just noticed we are targeting netcoreapp1.1 for the cake build project)

Even the fact the build.ps1 wrapper downloads the

[2018-01-25 19:09] daveaglick commented on #1747
`dotnet --version` reports I've got 2.1.4 so I wonder if this may be some kind of regression, though it's not clear to me how the local install of the SDK would impact the bootstrapping process since it downloads it's own SDK.

I'll keep digging. It wasn't a big deal for me personally since I just opened VS and built/tested from there, but now it's a mystery why it's not working and I want/need to

[2018-01-25 19:22] daveaglick commented on #1747
Turns out it's working fine now that I'm out of the office. I see both the `1.1.1` and the `1.0.4` folders under `,dotnet/shared/Microsoft.NETCore.App` now. I'll attribute this to the aggressive SSL inspection my corporate firewall does - must have blocked one or another of the bootstrapped downloads.

[2018-01-25 19:22] #1747 closed

[2018-01-25 21:24] Korporal opened #1749 "Determine list of folders "changed" between one branch and another."
If I have two branches (in some Octokit app) and we know these branches are out of step, is there a way to generate a list of distinct folder names which are involved in all of the difference?

I could easily generate this from the list of files I guess, since their full path will be present.

So better question: is there way to get the list of files involved between these two commits?

Thx

[2018-01-25 22:20] shiftkey commented on #1749
You probably want the [Compare Commits](https://developer.github.com/v3/repos/commits/#compare-two-commits) API:

`var compare = await client.Repository.Commit.Compare(owner, repo, "master", "branch")`

That will list out the whole file list, and it has some limits which are mentioned in the docs, but that should do the trick.

[2018-01-26 21:56] Korporal commented on #1749
@shiftkey - Hi,
Im seeing compare results that have non-zero for AheadBy and BehindBy etc - yet the collection "Commits" is always empty, as is "Files", is this expected?

[2018-01-29 21:25] WeiseCreations opened #1750 "[Suggestion] GitHubClient.cs - clarify productInformation field in constructor"
Hello,

Going through the [GitHubClient.cs file](https://github.com/octokit/octokit.net/blob/c9b2c1260bc87b7782d4fd9645d43a8885203923/Octokit/GitHubClient.cs) I noticed the constructor takes a `ProductHeaderValue` named `productInformation` with the XML documentation comments [(XMLDOC tags)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/xml-documentation-comments) for thi

[2018-01-29 21:34] ryangribble commented on #1750
Sure, feel free to send a PR to clarify this field. You could also include a link to the official docs in a `Remarks` tag as well, similar to what we do on method calls

[2018-01-30 00:23] WeiseCreations commented on #1750
Working on it now, thanks

[2018-01-30 18:50] hgleaves-ncuadmin opened #1752 "Determining ahead by and behind by files seperately"
When I do a comparison between two branches we get a list of files. However these files are lumped together in the sense that we don't know which files constitute the BehindBy and which the AheadBy.

We could get these as separate lists if instead of comparing branch tips we compare branch tip with the common ancestor of the two branches.

Is it possible to get the common ancestor?

[2018-01-31 12:03] #1750 closed

[2018-01-31 12:06] #1683 closed

[2018-01-31 12:55] Korporal commented on #1752
@ryangribble Hi, imagine two branches that initially point at some common commit "root" then one one branch I add a file X1.txt and commit while on the other branch I add a file X2.txt and commit.

Now the compare between these two branches will show AheadBy = 1 and BehindBy = 1.

The files list will be X1.txt and X2.txt - this is current behavior.

However the file X1.txt appears ONLY on the firs

[2018-01-31 13:14] ryangribble commented on #1752
In your example I'd expect x1.txt to have status `Added` and x2.txt to have status `Removed`

So I think you could still get this info from the files list (status field) of the compare result, rather than needing to resort together common ancestors and so on?

[2018-01-31 13:36] ryangribble commented on #1752
Actually I think I'm probably wrong on that, on my phone so can't verify right now

[2018-01-31 13:58] Korporal commented on #1752
@ryangribble - Hi,

The goal here (which is really what this is about) is to answer the following question:

**What files/folders would be changed in branch X if we were to merge branch Y into it.**

Nothing in branch X can influence the answer to this question. Branch X may contain several changes to some file, but if that file is not touched by branch Y then that file will not be impacted by a m

[2018-02-01 17:05] Andrew-Hanlon opened #1753 "Query commits by branch"
I have a question similar to [issue #1293](https://github.com/octokit/octokit.net/issues/1293) regarding the commit history for a file.

What I am unable to reconcile is how to query commits for a specific branch. It appears that the `CommitRequest` does not have a filter on the branch, and `Repository.Commit.GetAll` only queries the default branch.

Is there a alternative methodology to query com

[2018-02-01 18:47] ryangribble commented on #1753
Hi @Andrew-Hanlon

You can specify the branch name or any commit sha to start listing commits from, using the `CommitRequest`request model via [this overload]( https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IRepositoryCommitsClient.cs#L87) method

[2018-02-01 20:17] Andrew-Hanlon commented on #1753
Amazing, thank you @ryangribble - works like a charm. I hadn't realized the `Sha`  parameter in the `CommitRequest` could accept the branch name. Much appreciated!

[2018-02-01 20:17] #1753 closed

[2018-02-01 20:39] ryangribble commented on #1753
Yeah we try to reflect the [upstream github API](https://developer.github.com/v3/repos/commits/#list-commits-on-a-repository) as much as possible, and that's definitely an oddly named parameter (probably historical reasons). In general github API seem to support a branch,  tag or commit sha in most of the places that want a commit so it's always worth trying

We also do try to bubble up these type

[2018-02-06 16:17] asapferg opened #1754 "Email "visibility" Field Missing"
[code]
![dbg](https://user-images.githubusercontent.com/8890471/35870212-16786fba-0b2f-11e8-940a-1473e3ebf0a0.JPG)
![curl](https://user-images.githubusercontent.com/8890471/35870213-18555334-0b2f-11e8-9c27-20190ab6209d.JPG)

[2018-02-06 21:51] ryangribble commented on #1754
Hi @asapferg
thanks for highlighting this, would you consider contributing a PR to fix this?

It's very easy to add a field in octokit, just add the member to the response model with the right name `Visibility` and it will be populated.

[2018-02-07 22:15] hgleaves-ncuadmin opened #1755 "How to get the commit date of a commit"
I'm looking a branch's Commit property but cannot see any trace a date/time for the creation of the commit, is this available some other way?

I actually have a set of branches and want to enumerate them in order of most recently updated  first.

[2018-02-07 22:24] shiftkey commented on #1755
@hgleaves-ncuadmin can you post up a snippet of the code you're using?

[2018-02-07 22:43] hgleaves-ncuadmin commented on #1755
@shiftkey - Hi

Here's a small part of it:

`            var principal_branches = client.Repository.Branch.GetAll(repo.Id).Result;
`
I'd like to enumerate that sequence in date order.

Thx

[2018-02-07 23:06] shiftkey commented on #1755
@hgleaves-ncuadmin the Branches API only includes the SHA of the commit associated with each branch, but this can be used to get the full commit information:

[code]

[2018-02-08 16:27] hgleaves-ncuadmin commented on #1755
@shiftkey - Much appreciated!

[2018-02-08 19:36] hgleaves-ncuadmin opened #1756 "The request was aborted: Could not create SSL/TLS secure channel."
I'm running a simple .Net console app that I'm using to evaluate some logic that uses Octokit.Net.

It has been fine since I first wrote it a week ago, until a few hours ago when I began to get AggregateExceptions thrown during the call to

`var repo = client.Repository.Get("myorg","myrepo).Result;`

The exception has an inner exception message:

`An error occurred while sending the request. --->

[2018-02-08 21:18] ryangribble commented on #1756
Uh oh... I presume it is probably related to this

https://developer.github.com/changes/2018-02-01-weak-crypto-removal-notice/

According to that the SSL deprecation was in place for one hour just now, and will be permanently disabled on the 22nd

Assuming you are just using the standard octokit client (with its built-in http provider) it looks like we may need to do something here ASAP

Can you p

[2018-02-08 21:31] asapferg commented on #1754
Sure thing, I'll give it a shot.

[2018-02-08 22:59] #1755 closed

[2018-02-09 16:37] Korporal commented on #1756
@ryangribble - Hi.

It did spontaneously resume around an hour or so later, I was going to mention this here but now that I see your remark I wanted to add more detail for you.

Smartgit was impacted (but oddly a coworker had no issue, perhaps his Smartgit is setup differently).

The experiment app I was working on has this Nuget package defintion:

[code]
It is a .Net console app created in Visua

[2018-02-09 17:05] hgleaves-ncuadmin commented on #1756
@ryangribble - I'm unfamiliar with the TLS stuff, did Octokit fail for me yesterday because it has to be changed or is it a firewall change? a SSL certificate change?

[2018-02-09 18:34] ptoomey3 commented on #1756
I'm not familiar with the details of this project. But, given it is Windows oriented, might it make use of the [git credential manager for windows](https://github.com/Microsoft/Git-Credential-Manager-for-Windows) (whether directly or indirectly)? If so, that could be the source of the issue. As noted in the [blog post](https://githubengineering.com/crypto-removal-notice/), one must run [version 1.

[2018-02-09 18:44] Korporal commented on #1756
@ptoomey3 @ryangribble - Hi,

I've never even heard of this Git credentials manager! So far as I'm aware I do not have this installed.

Maybe this is something used by MS tools (e.g. Visual Studio) that need to manage access to Git?

[2018-02-09 19:07] ptoomey3 commented on #1756
Yes, it is used by a fair number of Windows tools to manage credentials to git. So, I wouldn't be surprised if it was in use. But, I'll wait for @ryangribble to weigh in with a more informed assessment of the internals of Oktokit.

[2018-02-09 19:30] Haacked commented on #1756
The Git Credential Manager does not come into play here. Octokit.net is a library for making https calls to the GitHub API.

The fact that those calls failed during the 1 hour window where [GitHub shut down support for TLS 1 and 1.1](https://developer.github.com/changes/2018-02-01-weak-crypto-removal-notice/) tells me this is an issue with making the https calls.

@Korporal @hgleaves-ncuadmin I su

[2018-02-09 20:38] Korporal commented on #1756
@Haacked - Hi,

Is it the case that an app which simply performs this during its startup:

`ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;`

Will thereafter automatically uses TLS 1.2 whenever it makes outbound SSL connection requests?

Thx

[2018-02-09 20:50] ryangribble commented on #1756
That's correct @Korporal, as @Haacked says, octokit uses the built in http client in .NET Framework, and any apps on earlier than framework 4.6 don't have TLS1.2 available by default (but it can be enabled with that snippet above).

Eventhough it only affects apps targeting earlier framework, since we do support those frameworks and github API connections won't work without this after the 22nd, we

[2018-02-09 21:27] Korporal commented on #1756
Many thanks @ryangribble this is much appreciated!

[2018-02-12 21:55] Korporal opened #1761 "Question - Can I ascertain if a PR (commit compare?) would or would not have conflicts?"
Is there any way to do a compare to see if conflicts _would_ arise _if_ one were to create a pull request?

[2018-02-13 13:27] ryangribble commented on #1761
I cant seem to see anything telling in the API responses for comparing commits... and I'm not aware of anything else that could have this info, sorry 🤔

@shiftkey anything i've missed?

[2018-02-13 14:30] #1756 closed

[2018-02-13 14:50] Korporal commented on #1761
@ryangribble @shiftkey Hi,

I got this reply from Github:

Hi Korporal,

Thanks for reaching out. That's an interesting question -- I think there are two ways to do that currently:

1) create a pull request and then fetch the pull request via the API: https://developer.github.com/v3/pulls/#get-a-single-pull-request. The "mergeable" field will tell you if the pull request can be merged without conf

[2018-02-13 16:00] mylodeon opened #1762 "Can I serialize out the results of GetAllForRepository?"
GetAllForRepository takes a few minutes to run on our repository.

Is there a way I can serialize the results out to something that I can deserialize back in to something I can query using Linq? (Without building a wrapper around all of Octokit).

I tried a BinaryFormatter, but the Octokit.Issue isn't marked as Serializable.

[2018-02-14 01:27] shiftkey commented on #1761
@ryangribble @Korporal yeah, those are the only two tricks I know about.

Yes

[code]

[2018-02-14 02:08] shiftkey commented on #1419
@ryangribble we can close this out, right?

[2018-02-14 02:21] ryangribble commented on #1419
indeed!

[2018-02-14 02:21] #1419 closed

[2018-02-14 02:39] shiftkey commented on #1762
I thought I'd be able to leverage our JSON deserializer to convert the list of issues to a string, like this:

[code]

However it blows up on the second line with this error:

[code]

I also tested this with JSON.NET to confirm it wasn't our deserializer to blame, but it has the same error.

Our [`SimpleJsonSerializer`](https://github.com/octokit/octokit.net/blob/5ee4d6404628e43e5251eb68c85c31878b

[2018-02-14 08:29] ryangribble commented on #1762
Yeah we only serialise request models, not response models

The particular error you ran into is with a stringenum wrapper with an empty /unspecified value, which actually happens to be something I ran into with #1760 and am working on fixing

There could well be other round trip serialise/deserialise problems after that one is fixed though

[2018-02-14 08:37] ryangribble commented on #1762
@mylodeon I'm interested in doing something about your stated problem (some way to save/load our response objects) but in the meantime there potentially could be other options for you to explore to

For example which GetAllForRepository call is this (issues, PR's, commits, etc)? If you don't actually need ALL of them you can use pagination to query data in more manageable chunks, or use search Api

[2018-02-14 08:39] ryangribble commented on #1762
Final thought... Because we try to have immutable response classes all the parameters have protected setters and the only way to create them is via a constructor... so I wouldn't think normal desetializers like newtonsoft would be able to instantiate our objects (unless it handles classes where only the constructor can be used)? So I'm thinking using our own serializer/deserializer is probably the

[2018-02-14 16:24] mylodeon commented on #1762
@ryangribble Thanks! I'm using this for issues. For now I am doing SearchIssues to work around it. But it does mean I can't use LINQ to form the majority of my filtering and processing - I have to format my reports effectively into a Github-compatible requests. It's fine for "pre-designed" reports, but not great for REPL-style quick queries.

DTOs with Automapper is like... hard work :). j/k. I ca

[2018-02-15 10:20] ryangribble commented on #1761
I'll close this out, given you've posted the response from github support

[2018-02-15 10:20] #1761 closed

[2018-02-15 10:23] ryangribble commented on #1752
@Korporal perhaps reaching out to GitHub support is the best approach on this one too.  If you do, could you post the response?

[2018-02-15 10:34] ryangribble commented on #1741
Just to loop back on this one, there are some fundamental differences between octokit.net being a c# based "object oriented" implementation, vs octokit/js being more dynamic that come into play here.  On the javascript side, you can give users control over preview headers if you want, and simply return them back the dynamic json responses without strong typing (assuming even if you wanted to provi

[2018-02-15 10:37] ryangribble commented on #1749
so is the answer here that in the comparison sense, it doesn report on the commit/file level of the BEHIND changes?  Just like if you have a PR that is behind master, github.com doesnt show you the changes your PR "doesn't" have in it's branches, only "what would change in the base branch if you merge this PR".  Could you diff in the other direction (B->A rather than A->B) if you want to get the r

[2018-02-15 10:44] ryangribble opened #1763 "Implement PullRequest MergeableState field"
This is currently an undocumented field (likely to be added to docs in the future) but provides very useful information about whether a PR can be merged or not, and what the reasons preventing merge actually are.

This field should be implemented as a new `Enum` class, using our standard `Parameter()` property to map to the api string values.  In the `PullRequest` class it will be wrapped by our `

[2018-02-18 03:17] #1763 closed

[2018-02-18 03:56] #1754 closed

[2018-02-20 15:58] Korporal opened #1766 "[Question] - Webhook support capabilities"
I just wanted to get some idea whether Octokit.Net provides any programmatic support for creating and reacting to webhooks.

I'm trying to identify the key tasks needed for me to create a hosted service (for example something like Slack) which is sensitive to changes at Github on behalf of an organization.

Thx

[2018-02-20 19:19] Korporal commented on #1749
@ryangribble - Yes, "diffing" in reverse is an interesting suggestion, I'll certainly play with that and try to update this issue with what I find.

[2018-02-20 20:02] ryangribble commented on #1766
Nothing specific at the moment. Webhook payloads are generally aligned with the activity event response classes but in terms of actually receiving a webhook, extractibg the event type from the http header and then deserialising the payload - octokit doesn't do that sort of thing.

It also doesn't belong in the core library IMO however I think it would be appropriate to  have a wrapper/extension nu

[2018-02-20 21:35] Korporal commented on #1766
@ryangribble - Thanks, I'll probably write some kind of support stuff and perhaps share it here if I think its decent!

[2018-02-22 20:24] Kaneraz opened #1768 "Add PreviousFileName property for PullRequestFile"
When a file is renamed the github api returns a previous_filename property on [pull request files](https://developer.github.com/v3/pulls/#list-pull-requests-files). Could we add the property to PullRequestFile similar to how it's returned on [GithubCommitFile](https://github.com/octokit/octokit.net/blob/c9b2c1260bc87b7782d4fd9645d43a8885203923/Octokit/Models/Response/GitHubCommitFile.cs#L87)?

[2018-02-22 20:41] Cyberboss opened #1769 "Add MaintainerCanModify for PullRequest"

[2018-02-23 01:04] shiftkey commented on #1769
@Cyberboss if you'd like to contribute this, the file you need to change is [here](https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/PullRequest.cs) and I think all you need to do is add a new property:

[code]

And then add an additional parameter to the second constructor:

[code]

[2018-02-23 20:47] #1768 closed

[2018-02-25 13:41] Korporal opened #1772 "GitHub App - Testing, Debugging"
Hi,

Are there any general guidelines that can shed light on how someone can develop a new GitHub App using Octokit then direct Github to a local test machine where the developer is working?

Any info much appreciated.

UPDATE!

Please ignore issue/question - I found "ngrok" and it seems to be what I need.

[2018-02-25 22:38] Korporal opened #1773 "GitHub Apps and Endpoint availability"
I stumbled upon [some posts](https://platform.github.community/t/request-support-for-additional-endpoints-for-integrations/426/5) recently at GitHub's [Platform Forum](https://platform.github.community/c/integrations).

I've reached out to GitHub here [in my own post](https://platform.github.community/t/github-apps-and-api-v3-endpoints/5100/1) but wanted to ask for information here too since you g

[2018-02-25 22:46] #1772 closed

[2018-02-26 15:56] Dorky106 opened #1774 "client.Repository.Release.GetAll("", "")"
So I'm following the documentation on the website on do to get releases.
However this is where I'm at.
[code]

Only issue is

So I can't progress any further.  If this has been changed can someone please tell me how to go about continuing.

[2018-02-26 15:58] M-Zuber commented on #1774
`client.Repository.Release.GetAll` is an asynchronous function so you will need to `await` it first, making your sample look like
[code]

[2018-02-26 17:36] Dorky106 commented on #1774
Okay, but being stuck on the await to complete for 10+ minutes kinda kills the point of using this library for me.
As no one is going to want to wait 10+ minutes for something to finish a simple task.

[2018-02-26 20:03] Korporal commented on #1774
@Dorky106 - For an initial test kind of thing you can do (as I have when playing around) use:

`var releases = client.Repository.Release.GetAll("Dorky106", "BetterTrees").Result;`

That will synchronously (as they refer to it) wait inside the 'Result' property and your code will behave more intuitively but it will still take the same time. There's no asynchronous code then and it's a bit easier to

[2018-02-26 20:27] shiftkey commented on #1774
@Dorky106 the default behaviour of `GetAll` is to follow pagination hints and fetch **all** records related to an API. If you're on a repository with thousands of releases, this might explain why the request is taking so long to complete.

If you only want to get a subset of these releases, there is an overload that takes an `ApiOptions` object which lets you control how much data you want:

[code

[2018-02-26 20:52] Dorky106 commented on #1774
I was testing on a repo with 3 releases, and even getlatest was taking ten minutes.
Already gave up and just made a readonly token to use and removed the need for github info. (As this was really all I tried using this lib for was to make sign-ins needed instead of a token)

[2018-02-26 21:30] ryangribble commented on #1774
So this is a windows forms app?   It's definitely not right that a call should take 10 minutes. If you are able to post more of your code we could try running it on another system.

You could also just simplify your example and test your above code in a console application, to see if it has the same problem

[2018-02-28 01:57] egee-irl opened #1775 "Using access token as a member of an organization does not correctly authenticate"
The documentation is grossly unclear in the distinction between an OAuth token for a OAuth *Application* and a Personal Access Token. However based on everything I've read, I have concluded that using a Personal Access Token does not authenticate correctly for members of an organization.

Use Case:

My GitHub account is associated with an organization for each every repository is private. With the

[2018-02-28 03:14] shiftkey commented on #1775
@egee-irl the Octokit libraries don't really care about the _source_ of the token, as it will always send `Authorization: Token {token}` when making requests. But the source of a token is important for organizations.

Personal access tokens:

 - are created by the user, and are restricted to the scopes the user assigns when creating them.
 - can access organization data unless the organization has

[2018-02-28 13:45] Korporal commented on #1774
@shiftkey @ryangribble - Hi,

I was curious about how I'd implement an alternative "GetAll" into Octokit, I can see it's defined deep down as a member of the `IApiConnection `class. What I was curious about is implementing an alternative that returns` IEnumerable<T>` and under the hood uses pagination to get pages "on demand", this is a pattern I've used before with other REST services.

In that p

[2018-02-28 22:46] shiftkey commented on #1774
@Korporal the first issue that I can see is that most of the `GetAll` APIs return `Task<IReadonlyList<T>>` which is a more concrete abstraction than `IEnumerable<T>`, so I'm not sure how a drop-in replacement would work when that signature needs to change. But don't be afraid to experiment with a different implementation if you think this might help for better lazy-loading scenarios.