[2015-08-02 00:49] shiftkey commented on #853
@AmadeusW interesting exception - can you tell me whether you're running this from a console application or within an ASP.NET app?

[2015-08-02 00:53] AmadeusW commented on #853
I was running it from Visual Studio extension in VS 2015 (RTM).

To get my request to work, I started a new process from within the extension, which was a console app. It worked there.

Would using an appdomain help in this case?

[2015-08-02 00:57] shiftkey commented on #853
Interesting.

@shana have you seen this before? any tips?

[2015-08-02 13:04] kdolan commented on #854
I just made a public repo for what I am trying to do. Basically an auto updater that downloads a zip file and then extracts it. In the repo I used the Nuget package but I've also used the project source with the same result.

https://github.com/kdolan/AutoUpdater

[2015-08-02 21:30] shiftkey commented on #854
@kdolan thanks, I'll check it out

[2015-08-03 08:00] Nasicus opened #858 "Trying to "GetAll" commits"
Hi - I'm really not sure if this is the right place, but I don't know where else to ask such a question, so  feel free to point me to another place and to close this issue if this is indeed not the right place.

I have the following situation:

My goal is to get all commits from a repository.

I started by installing the NuGet package `Octokit`, however I couldn't find a direct way to get all comm

[2015-08-03 08:09] khellang commented on #858
@Nasicus You should be fine using the regular `Octokit` package as well, the `Octokit.Reactive` package just wraps the former with `IObservable<T>` overloads.

The problem is that you're awaiting an `IObservable<GitHubCommit>`, which will return the *last* result. See [Rx and Await: Some Notes](http://log.paulbetts.org/rx-and-await-some-notes/).

If you really want to use the reactive API, you sho

[2015-08-03 08:36] Nasicus commented on #858
@khellang Thanks for this fast and good answer!

Looks like I'm a complete idiot - I have no idea how I could miss that the `GetAll` method is also available within the `Octokit` project and not only in `Octokit.Reactive`.... (I was so sure it isn't...)

Didn't know that part about Rx and Await  - so at least I learned something new there.

Anyway thanks again.

[2015-08-03 08:36] #858 closed

[2015-08-04 18:04] whoisj opened #859 "Client Interactive Token Acquisition"
Is there a way to perform client-side interactive token acquisition?

For example, is there a way from within an app to acquire a personal access token scoped to say pull request viewing from the command line or from a Windows Form application?

I'm not seeing an obvious way to do so.

Any help here would be much appreciated. Thanks!

[2015-08-05 00:00] shiftkey commented on #859
@haacked did a demo of this for an ASP.NET app https://github.com/Haacked/octokit-oauth-demo

I've not looked at doing this for a client-side flow, but the current advice is described [here](https://developer.github.com/v3/oauth/#non-web-application-flow).

[2015-08-05 14:09] kdolan commented on #854
@shiftkey After some more trouble shooting this appears to be an issue with the API/request. The error above is from the API not from this codebase. I verified this using postman. It would appear then that maybe the BrowserDownloadUrl is what needs to be used, however, whenever I try to download the file using postman I get a 404 (because it is a private repo) and token authentication does not app

[2015-08-05 15:37] whoisj commented on #859
Thanks - looks like a manual setup then and not something Octokit handles. Is that a correct assessment?

[2015-08-05 22:44] shiftkey commented on #854
I'm pretty sure that `/:user/:repo/releases/:id` needs to be called with `Accept: application/json` as this is returning the payload of release assets:

https://developer.github.com/v3/repos/releases/#get-a-single-release

Correct

Okay, this definitely sounds interesting. Do you see the `Authorization` header being set when you use the `BrowserDownloadUrl` value?

[2015-08-06 15:14] kdolan commented on #854
[code]

This code is working for me; I was targeting the wrong API Endpoint. However, the actual writing of the zip file to disk does not seem to always work. The release for AutoUpdater just has a small text file in it and this code works fine, however, when I try other repos with larger Release Zips then the Zip file written is corrupt/incomplete.

[2015-08-07 00:00] #811 closed

[2015-08-07 00:12] Haacked commented on #859
I think @shiftkey misunderstood the question. If I understand correctly, you want to __create__ a personal access token with a specific scope using Octokit.

That is possible using the [authorizations API](https://developer.github.com/v3/oauth_authorizations/).

In Octokit, you'd do something like this:

[code]

That creates an authorization with the scope that...

The list of scopes is located he

[2015-08-07 00:16] Haacked commented on #859
Ah, I misunderstood too! So the code I showed creates an Application Authorization. It's an OAuth token that authorizes an application to perform actions. You can see these listed here: https://github.com/settings/applications

If you require a Personal Access Token (listed here https://github.com/settings/tokens) then you'll need to go through the [Web Flow](https://developer.github.com/v3/oauth/

[2015-08-07 00:33] Haacked commented on #853
Try calling `ConfigureAwait(false)` like this:

`var user = await github.User.Get("half-ogre").ConfigureAwait(false);`

[2015-08-07 00:36] Haacked commented on #836
Interesting. Could you post a Fiddler trace?

[2015-08-07 00:43] Haacked commented on #833
Hmm, as I think about it more, help me understand why you'd want this? After all, the information in the token request is going to be sent as part of the HTTP request. So if you're trying to hide it from the caller, they can just use Fiddler to see the information.

[2015-08-07 00:46] Haacked commented on #827
@shiftkey Hmm, should we simply omit "since=" if the value is MinValue?

[2015-08-07 00:48] whoisj commented on #859
@Haacked honestly, I'm looking to do this with client-side automation so these would be in a command-line or powershell environment. I'd have access to interactive sessions however, so I suppose WPF would be acceptable. I think the biggest hurdle will be 2fa.

Right now I'm looking at hitting http://api.github.com/v3/authorization, catching a failure, look at the header for 2fa failure codes, and

[2015-08-07 01:16] shiftkey commented on #827
@haacked possibly, but I think that just hides the problem for scenarios where the range is actually invalid...

[2015-08-07 01:41] yufeih opened #861 "Consider making RepositoryContent.EncodedContent public"
Please consider making `RepositoryContent.EncodedContent` public or provide an alternative to get the raw bytes of a file, this is useful when working with binary files.

[2015-08-07 08:32] AmadeusW commented on #853
I've created a unit test that executes the same Octokit code as the Visual Studio extension.

All of `var user = await github.User.Get("half-ogre");`, `var user = github.User.Get("half-ogre").Result;`  and `var user = await github.User.Get("half-ogre").ConfigureAwait(false);` work from a unit test context, but neither works from the Visual Studio extension.

I will port this to VS2013 and test it

[2015-08-07 09:05] AmadeusW commented on #853
Visual Studio 2013 is also frozen. For the last few days I can't reproduce the exception - code just hangs.

[2015-08-07 14:50] eliah-hecht-zocdoc commented on #836
Here's the request as captured by Fiddler:
[code]

And the response:
[code]

[2015-08-07 16:21] Haacked commented on #836
And just to clarify, if you make this request to a different repository that does have commits, it returns just fine with no error?

[2015-08-07 16:27] Haacked commented on #853
Hmm, it's unclear to me why this would not work in VS2013 but work in your unit test context. Have you run a Fiddler trace to make sure the request is going out?

[2015-08-07 16:54] Haacked commented on #859
Oh, in that case why would you need to create an access token? After all, you have a chicken and egg problem here. Your script, in order to create a token, would need some credentials to have the authorization to create the token.

So instead of giving your script a username and password, manually create an authorization token once, and give that to your script.

Perhaps I'm missing something.

Ye

[2015-08-07 17:40] Haacked commented on #836
Ok, I have a repro myself and I'm working on a fix.

[2015-08-08 18:04] RandomlyKnighted opened #863 "Reading an assets raw file?"
In each release that I make for one of my projects I add the release notes as an asset. I noticed in the API that there is a download link for each asset. However, while I could use that if necessary I'd like to be able to read the raw file so that I can display the information on the project website. Is there a way to that I can do this with Octokit?

[2015-08-10 12:26] shana commented on #853
I just ran your sample code from the onclick handler of a ToolWindow:

[code]

It worked fine, showing a messagebox with "Invoked '75'".

Your stacktrace suggests the calling thread is aborted just as the request is being built, which means it's not a timeout on the http side, but the environment aborting the thread. It might be that the way you call your CreateGist method is causing the thread to

[2015-08-10 16:44] Haacked commented on #863
On `IGitHubClient` there's a `Connection` property. You can use that for making arbitrary requests. If the content is HTML, you can call `GetHtml`. If the content is binary, you might want to use `System.Net.HttpClient` directly as Octokit isn't designed for requesting arbitrary binary files.

[2015-08-10 16:44] #863 closed

[2015-08-11 16:21] smbogan opened #865 "Repository.GetAllForCurrent() returns null for parent and source"
When calling client.Repository.GetAllForCurrent() each returned repository's source and parent is null.  Calling client.Repository.Get("username", "reponame") works fine.

[2015-08-11 16:25] smbogan commented on #865
Nevermind, I missed in the API documentation that it is not returned.

[2015-08-11 16:25] #865 closed

[2015-08-17 17:56] AmadeusW commented on #853
Thank you all for help!
@Haacked fiddler has shown that the request has completed and GitHub returned a response.
This helped me detect a [deadlock I created by misunderstanding of the async pattern](http://blog.ciber.no/2014/05/19/using-task-configureawaitfalse-to-prevent-deadlocks-in-async-code/).
The exception I posted at the beginning of the thread didn't seem to come to play and just confused

[2015-08-17 17:56] #853 closed

[2015-08-17 20:28] gep13 commented on #823
I have just ran into this same problem.  Using Visual Studio 2015.  Was able to install the package successfully from the Package Manager Console, but not through the Manage Nuget Packages UI.

[2015-08-19 00:17] shiftkey commented on #823
I guess I need to raise this upstream if it's still around. Thanks for the extra details all.

[2015-08-19 06:46] gep13 commented on #823
Sorry about all the notifications about my commit comment.  I didn't realise that they would show up here :smile_cat:

[2015-08-23 13:02] lucamorelli opened #866 "use Issue.GetAllForRepository to find issues with labels"
I'm using Octokit.net to filter issues in a repository using the **Issue.GetAllForRepository(owner,name,request)**.
In the request I set the property **Since** to set the time filter and the Property _Labels_ to filter for a set of labels: I would like to find all the issues that have at least one of these labels, but from the results I think that are selected only the issues have all these labels

[2015-08-23 13:08] lucamorelli opened #867 "Merged is always false in Pull Request list"
I'm reading the list of the Pull Request list of a repository looking for all the merge, but I noticed the property **Merged** is always false, although the pull request in the site is merged and also in the request object the property **MergedAt** is not null.
Another thing: How can I find the final commit generated at the end of the merge?

[2015-08-24 04:40] shiftkey commented on #866
Currently this is a limitation of how the upstream API works, so we're stuck at "find issues tagged with all labels" or "request per label".

I'm not sure how clever we should be on the client about this to hide away this limit, but I'm open to suggestions.

[2015-08-24 05:00] lucamorelli commented on #866
I supposed was an API problem. I don't think is very necessary to implement this inside the library, the mail point is that in this scenario I have do multiple calls to the server, implement this at API level could be a way to optimize the calls.

[2015-08-24 05:01] shiftkey commented on #867
I think this is a serialization issue - there's no `merged` field sent by the server, so it should be marked as obsolete in favour of using `MergedAt`. See an earlier discussion on this (at least I think it's the right thing I was ranting about) https://github.com/octokit/octokit.net/issues/502

The `MergeCommitSha` property should be set when the pull request has been merged, but a quick scan of

[2015-08-24 05:03] shiftkey commented on #866
@lucamorelli fair point. However it'd change the behaviour of the API, which existing consumers might be reliant upon.

[2015-08-24 06:25] M-Zuber opened #868 "Octokit.Extended"
Lately there have been a number of issues/request/discussions that basically ended with:

How feasible would it be to have another nuget package with the name `Octokit.Extended` or something similar that shares the namespace and allows consumers that want to opt-in to extras to do so seamlessly?

[2015-08-24 07:24] shiftkey commented on #868
This idea intrigues me, but I'd like to settle on a vision for the package before starting down the path of writing code:

 - what problem is this trying to solve?
 - what belongs here rather than in the core packages? are there common things that consumers are implementing?
 - is there another way to satisfy this problem, without introducing a new package?
   - documented examples
   - interactiv

[2015-08-24 07:34] M-Zuber commented on #868
This would allow users to have optimized / official? code to use that doesn't necessarily match the `api`
I can not answer for what others are implementing (but that is the beauty of `Issues` that we can find out :smile: ),
but for myself I am working on a whole set of extensions that connects the different calls into a more OO structure as opposed to matching the `api`, plus some more ideas that

[2015-08-24 08:07] shiftkey commented on #868
@M-Zuber all good, happy to leave this open and see what sort of interest it garners...

[2015-08-24 20:45] lucamorelli opened #869 "How can I find the changed files in a commit?"
As in the subject, I'm looking for a way to detect which are the documents are changed in a commit. I tried expanding the tree, but I obtain I think all the files of the repository.
Looks like the library doesn't expose the files section

[2015-08-24 22:33] shiftkey commented on #869
Looks like `CommitsClient.Get` should return the `files` element from the server, however the typed `Commit` response doesn't have the property.

[2015-08-25 08:01] needlina opened #870 "ASCII device control character issue"
Hi. how are you?
i really appreciate to you guys
i dont know if you remember me or not,, about "Merge in GitHub API"
thanks to your help and advice, i could finish my project successfully. thank you so much.
i have one question about github. so i'm sending you this :))
now i'm in system improving. i'm using the github API with some code,
the code contains non-displayed ascii character, you know..

[2015-08-25 21:04] lucamorelli commented on #869
do you have any suggestion on how can I solve this problem?

[2015-08-26 00:09] shiftkey commented on #869
@lucamorelli I think this new property needs to be added to `Commit` -  see https://github.com/octokit/octokit.net/pull/696 for a similar scenario

[2015-08-26 12:04] RandomlyKnighted commented on #863
I used the GetHtml method to pull the HTMl file from GitHub like so.

[code]

I then created a separate function in order to pull the string out of the Task.

[code]

However, when I loaded the string on to the webpage all that displayed was ```Octokit.Internal.ApiResponse`1[System.String];``` What am I missing? Am I forgetting to do something in order to get that HTML string?

[2015-08-26 12:06] lucamorelli commented on #869
thanks for the info, in the end I seen that comparing commit I can obtain the informations I need. May be nice to have this info directly in the commit, just to avoid another server call, but at the moment using compare is fine for me.

[2015-08-26 21:09] Haacked commented on #863
The default implementation of `ToString` for most objects is to return the type name. So what you're seeing is the type name of the response object which is [`ApiResponse<string>`](https://github.com/octokit/octokit.net/blob/master/Octokit/Http/ApiResponse.cs).

That type has a `Body` property. You need to look at that.

So in `DownloadReleaseNotes` change that last line with the `return` statemen

[2015-08-26 22:05] RandomlyKnighted commented on #863
It's returning a json string for the file. I thought getHTML would return the HTML of the actual file uploaded?

[2015-08-27 01:49] shiftkey commented on #869
I'll leave this open as an opportunity for someone to add it in.

[2015-08-27 11:39] Red-Folder opened #872 "Integration Tests - anything using GetBadCredentials will fail if using auth token"
A number of integration tests use the Helper.GetBadCredentialsClient()

This function uses the existing credentials to create an invalid credentials (using the current login).

However if you are testing with an auth token, then the current credentials will not have the login (just the auth token).

To fix - just needs a bit of tidy up in the helper.

[2015-08-27 11:41] Red-Folder commented on #872
Also noted that this breaks other Integration tests:

CreateHook in RespositoriesHooksFeature

Basically anything that will be using Helper.Credentials.Login

[2015-08-28 10:54] Red-Folder commented on #872
Arggggg ... keep hitting:

Octokit.ForbiddenException : You have triggered an abuse detection mechanism and have been temporarily blocked from content creation. Please retry your request again later.

Related to: https://developer.github.com/v3/#abuse-rate-limits

May need to introduce a sleep into the integration tests somewhere to void hitting

[2015-08-28 11:05] Red-Folder commented on #872
Ok ... mental note to self - if using Personal Access Token for integration testing - make sure if has the relevant Scopes (was missing delete_repo)

[2015-08-28 12:04] Red-Folder commented on #872
Following integration tests seems to fail if using OAuth, but not username/ password:

* PullRequestsClientTests.CanSortPullRequests

Following integration tests fail regardless of credentials:

* RepositoryDeployKeysClientTests.CanRetrieveAllDeployKeys - Validation Failed
* ObservableRespositoryDeployKeysClientTests.CanRetrieveAllDeployKeys - Observable version of the above
* Octokit.Tests.Integr

[2015-08-28 15:15] Red-Folder opened #873 "Integration Tests - Deploy Key fragilitiy"
The following tests use hardcoded SSH-RSA keys - this leads to fragility if a prior test run fails leaving the keys in place.  If the keys are already in use for the user (even in different repo) you will get back Validation Fails:
- RepostoryDeployKeysClientTests.CanRetrieveAllDeployKeys
- ObservableRespositoryDeployKeysClientTests.CanRetrieveAllDeployKeys

Potential solution would be to generate

[2015-08-28 15:16] Red-Folder commented on #872
Ok, the 2 x DeployKeys failes where due to test fragility - I've logged those as a separate issues #873

[2015-08-28 16:06] Red-Folder opened #874 "Patch on redirected repo fails"
This is being picked up by the integration test: Octokit.Tests.Integration.RedirectTests.CanCreateIssueOnRedirectedRepository

The test runs until it tries to update the issue.

From stepping through:

* The patch to the original repo is sent and a redirect is received (as expected)
* The new request (against the new repo) is created and submitted.  This then sits on "var response = await base.Sen

[2015-08-28 16:07] Red-Folder commented on #872
Separated out the CanCreateIssueOnRedirectedRepository as a separate issue #874

I think this is actually a bug in the core redirect code, rather than the Integration tests

[2015-08-28 19:03] Red-Folder commented on #874
Seems to be something odd ...

If I run from VS, it seems to time out on the send of the new request (following the redirect).

Yet, I run Fiddler, and it all works.  Disable Fiddler Traffic Capture and it times out.  Re-enable and it works.

[2015-08-28 19:40] Red-Folder commented on #874
@shiftkey Any thoughts on this?  Do you see the same problem?

[2015-08-28 21:46] AlfredoMS commented on #825
Hey, I just hit this issue but the workaround provided earlier isn't working for me.

I'm using this:
[code]
But I'm seeing an exception:
**System.InvalidCastException** occurred
  HResult=-2147467262
  Message=**Invalid cast from 'System.Int64' to 'System.DateTimeOffset'.**
  Source=mscorlib
  StackTrace:
       at System.Convert.DefaultToType(IConvertible value, Type targetType, IFormatProvider

[2015-08-30 09:21] shiftkey commented on #874
@Red-Folder digging my way out from under a heap of psychic debt at the moment, so i'm not quite sure when I'll get to investigating this. But thanks for reporting it!

[2015-08-30 15:48] Eilon opened #875 "Doc comments on Issue.Url and Issue.HtmlUrl are wrong/missing"
This one is wrong (it says milestone instead of issue): https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/Issue.cs#L34-L37

And this one is missing: https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/Issue.cs#L39

[2015-08-30 16:06] RandomlyKnighted commented on #863
@Haacked did I misunderstand the use of the getHTML method?

[2015-08-31 00:36] shiftkey commented on #863
@RandomlyKnighted `GetHTML` is just a shortcut to set the `Accepts` headers when making a request. The server is free to ignore this or just give us something else, and that's what's happening here.

The problem is with this section:

[code]

`asset.Url` points to the JSON payload for the file - here's an example from the docs https://developer.github.com/v3/repos/releases/#get-a-single-release-as

[2015-08-31 00:56] RandomlyKnighted commented on #863
@shiftkey so just to be clear ```asset.BrowserDownloadUrl``` will get me the URL of the file itself so that i can download it and just read the file directly from the disk?

[2015-08-31 00:59] shiftkey commented on #863
@RandomlyKnighted correct

[2015-08-31 06:47] shiftkey commented on #872
That's a great point. Nice spot!

There's a way to [check what scopes you have defined](https://developer.github.com/v3/oauth/#scopes), but I've not spent much time with this. We could investigate scripting this out to verify it.

[2015-08-31 08:33] shiftkey commented on #825
@AlfredoMS do you have a specific test that I can run locally to see if I can spot which field isn't being mapped correctly?

[2015-08-31 12:47] lucamorelli opened #877 "wiki API"
Hi, just asking for a confirmation, but looks like there are no apis to interact with wikis in the github api. Isn't it?

[2015-08-31 23:10] AlfredoMS commented on #825
@shiftkey, So I made a simple console app that consumes the json I posted an then tries to parse it:
[code]
I found the exception by being thrown in this line https://github.com/octokit/octokit.net/blob/e6e7c3d393160fabe4cc48dd6c410db2a19b7e72/Octokit/SimpleJson.cs#L1397

This happens when trying to parse "created_at" and "pushed_at" inside "repository".
Apparently it expects it to be a string to

[2015-09-01 04:30] shiftkey commented on #877
Correct :cry:

[2015-09-01 04:30] #877 closed

[2015-09-03 07:35] AlfredoMS commented on #825
Update: without doing anything I started getting payloads with the right date format, so this is working.

[2015-09-03 09:41] shiftkey commented on #825
![](https://media.giphy.com/media/Gvnh1m87wk2ek/giphy.gif)

@AlfredoMS let me know if you see it come back

[2015-09-03 09:41] #825 closed

[2015-09-06 18:50] mikeparker opened #879 "Creating pull request throws "no commits between".."
I've been investigating this error for 3+ hours now and I can't see any bugs in my code. (famous last words! :))

                // Authenticate
            var gitHubClient = new GitHubClient(new ProductHeaderValue("mikeparker-testapp"));
            var authToken = new Credentials(personalAccessToken); // ask user to enter this from ui
            gitHubClient.Credentials = authToken;

[2015-09-06 19:02] mikeparker opened #880 "Please clarify docs on head vs base ref in NewPullRequest"
NewPullRequest:

[code]

This should make it clear that Base and Head accept different formats of strings. It should also make it clear that this only accepts strings of the forms:

username:branch

and not

username:repo/branch

The GitHub API returns a most unhelpful error message if you get this wrong!

[2015-09-06 19:03] mikeparker commented on #879
Finally figured this out. You must not insert the repository name into the Head string... I've opened a separate issue to clarify the docs to prevent anyone else struggling for hours with the same thing.

[2015-09-06 19:03] #879 closed

[2015-09-06 19:32] khellang commented on #880
In addition, Octokit should validate the format and throw if it's invalid.

[2015-09-06 22:36] mikeparker commented on #875
If the related PR is merged can this issue be closed? @Eilon

[2015-09-07 01:22] shiftkey commented on #879
Correct. The only time you need to specify more than the branch name for the `Head` is when you're creating a pull request against another repository (fork -> upstream is the most common scenario).

[2015-09-07 01:34] shiftkey commented on #880
Thinking out loud here, the scenario we had in #879 was that this was an invalid ref `mikeparker:prcreator-testing/branch-to-merge`. Refs can be namespaced, e.g: `shiftkey/my-cool-feature` - and as edge-case as it might be, `prcreator-testing/branch-to-merge` could also be a valid ref. Without hitting the API, we can't verify it.

Perhaps a better error message here (it's pretty easy to test this

[2015-09-07 01:34] shiftkey commented on #875
:shipit:

[2015-09-07 01:34] #875 closed

[2015-09-07 09:40] mikeparker commented on #880
I think at minimum emphasising the format of the base and head refs in the docs is good enough. In particular, the base ref doesn't include the username, but the head ref does (I havent checked what happens if you specify the username in the base ref too, maybe it works?)

Am I right in saying that the GitHub API could return a more helpful error message here, if the branch doesn't exist, because

[2015-09-08 00:44] naveensrinivasan opened #882 "How to get the Repo from the Issue Object?"
I would like to the get the Repo the issue belongs to get  the comments. How do I get Repo the issue belongs to?

Here is an example of my code which gets all the Issue for the user
[code]
For each of these issues I want the comments on them.

Thanks

[2015-09-08 00:48] shiftkey commented on #882
Unfortunately the [raw JSON](https://developer.github.com/v3/issues/#list-issues) doesn't contain anything related to the repository. I'd recommend parsing the `HtmlUrl` property on the issue (you *could* look at everything before `/issues` in the URL).

There's a `comments_url` property on the raw JSON which we're not surfacing. We should do that.

[2015-09-08 00:54] shiftkey opened #883 "Issue response should return CommentsUrl"
https://developer.github.com/v3/issues/#list-issues

[code]

See #882 for related discussion.

[2015-09-08 00:54] shiftkey commented on #882
Opened https://github.com/octokit/octokit.net/issues/883 to address the missing property

[2015-09-08 02:17] naveensrinivasan commented on #882
Thanks!

[2015-09-08 02:17] #882 closed

[2015-09-08 17:50] naveensrinivasan commented on #883
Can I take this one?

[2015-09-08 21:26] Haacked commented on #883
@naveensrinivasan go for it!

[2015-09-08 21:27] Haacked commented on #883
I assigned myself so nobody takes it. But go ahead and work on it @naveensrinivasan

[2015-09-09 18:09] M-Zuber commented on #883
This is awesome. Let's me throw out ~200 loc and tests!

[2015-09-09 18:32] naveensrinivasan opened #885 "Issue response should return EventsUrl"
https://developer.github.com/v3/issues/#list-issues

[code]
The Issue response should return the Event's URL. This is similar to #883

[2015-09-09 20:26] M-Zuber commented on #868
After #883 and #885 this may not be as needed, but it could still be nice to have properties with the actual objects and not just an url location.

[2015-09-10 01:49] naveensrinivasan opened #886 "Unable to compile Octokit-Monotouch in Xamarin Studio in mac"
I was trying to compile Octokit-XamarinStudio in mac and I ran into this issue.

[code]
And when I looked at the repo these files were missing.

Thanks

[2015-09-10 01:54] naveensrinivasan commented on #886
I was able to remove the references to those files and I was able to compile the project.

[2015-09-10 02:34] #836 closed

[2015-09-10 05:34] shiftkey commented on #883
Fixed in #884

[2015-09-10 05:34] #883 closed

[2015-09-10 07:05] #886 closed

[2015-09-11 20:12] naveensrinivasan opened #891 "Setting up CI for the Xamarin projects"
By default the appveyor  builds don't run the xamarin projects build. These two recent PR https://github.com/octokit/octokit.net/pull/888 https://github.com/octokit/octokit.net/pull/889 could have been avoided if we had xamarin as part of the CI.  AppVeyor does have Xamarin msbuilds http://www.appveyor.com/docs/lang/xamarin.

The requirement to run xamarin builds is license which IMO can be  reque

[2015-09-11 22:01] Haacked commented on #891
Interesting. Want to help us do all that?

[2015-09-12 01:28] naveensrinivasan commented on #891
Yes, I can do PR for this.

[2015-09-14 09:33] adamralph opened #893 "Retrieving contributors for an empty repo throws an ANE"
In this case the response of the body is `null` and the call to https://github.com/octokit/octokit.net/blob/c6c332f5de4038be275d7e99649b8eb6ec668cf2/Octokit/Http/ApiConnection.cs#L467-L469 and then https://github.com/octokit/octokit.net/blob/c6c332f5de4038be275d7e99649b8eb6ec668cf2/Octokit/Http/ReadOnlyPagedCollection.cs#L13-L14 passes that `null` into the `ReadOnlyCollection` constructor.

[2015-09-14 16:18] Haacked commented on #893
Doh! Seems like low hanging fruit. Interested in sending a PR?

[2015-09-15 08:35] forki opened #894 "Upload to Github releases stopped working"
We use "Github releases" in many projects and we use Octokit to upload stuff to the releases page. This stopped working last week.

![image](https://cloud.githubusercontent.com/assets/57396/9871632/3a0b5ce0-5b95-11e5-8ca6-62fa0c012df5.png)

I'm seeing OctoKit.ApiExceptions.

I created a repro sampe at https://github.com/forki/TestUpload.

* Fork the project (maybe to a private space)
* Replace you

[2015-09-15 21:07] naveensrinivasan commented on #802
Have ran into this. Don't know how to bypass this.

[2015-09-15 21:09] M-Zuber commented on #802
I never found a solution better then to ignore it. When it is a sign of a real problem, it will show up in the ci

[2015-09-15 22:13] naveensrinivasan commented on #894
The reason for the failure is because the release api has an optional argument called `label` along with `name` which is required
https://developer.github.com/v3/repos/releases/#upload-a-release-asset

The releaseclient code `UploadAsset` method https://github.com/octokit/octokit.net/blob/9198f80e5d1880344040d5652645000b151cc071/Octokit/Clients/ReleasesClient.cs#L161 invokes the `ExpandUriTemplate

[2015-09-16 00:09] Haacked commented on #894
Great bug report @forki and great bug explanation @naveensrinivasan!

Are either of you interested in providing a PR to fix it?

[2015-09-16 00:13] naveensrinivasan commented on #894
I can take this one.

[2015-09-16 00:17] Haacked commented on #894
Excellent!

[2015-09-16 06:29] forki commented on #894
So it's indeed a changed API and can be fixed in Octokit? Awesome. Can't
wait to "paket update nuget Octokit".
On Sep 16, 2015 2:17 AM, "Phil Haack" <notifications@github.com> wrote:

[2015-09-16 17:32] Eonasdan opened #896 "Locked and Locking Issues"
Unless I missed it, there doesn't seem to be a way to filter out locked issue nor does there seem to be a way to lock an issue.

Actually, I can't find anything in the API the suggests I can do this.

Please let me know if I over looked something.

[2015-09-16 18:06] Haacked commented on #896
Hmm, I don't see it either. Perhaps @pengwynn would know.

[2015-09-16 18:46] Eonasdan commented on #896
slightly related https://github.com/twbs/no-carrier/issues/3

[2015-09-16 19:39] naveensrinivasan commented on #893
I will send a PR on this.

[2015-09-16 20:01] Haacked commented on #893
I think @adamralph was already planning to.

[2015-09-16 20:07] naveensrinivasan commented on #893
Sure. Thanks!

[2015-09-17 09:49] alfhenrik commented on #869
I can take this one, ease my way back into Octokit again :laughing:

[2015-09-17 18:00] #893 closed

[2015-09-17 22:56] haacked opened #899 "Polish up the NuGet Package Publishing or Deployment Story"
Our guidelines for publishing packages are outdated. Also, when you try and do it manually, we run into [this bug](https://github.com/ctaggart/SourceLink/issues/58) which tells you to clone Octokit.net like so: `git clone https://github.com/octokit/octokit.net.git -c core.autocrlf=input`.

We should figure out an approach that is more automated and actually works. :smile:

[2015-09-18 10:51] alfhenrik commented on #869
OK, so it seems that the `CommitsClient.Get` function isn't returning any `Files` property in the response and according to the [API docs](https://developer.github.com/v3/git/commits/#get-a-commit) it isn't expected to be returned.

So, perhaps you're looking for the `RepositoryCommitsClient.Get` as this returns all files changed in a commit of the specified SHA, and this is also specified in the

[2015-09-18 13:46] alfhenrik commented on #874
I can confirm I'm seeing the same thing as @Red-Folder, running the test in VS fails with a timeout. Start Fiddler, then run the test in VS and the test passes. I'll see if I can dig a bit deeper and figure out what is going on.

[2015-09-19 23:21] haacked opened #904 "Investigate and fix the `StopsMakingNewRequestsWhenTakeIsFulfilled` test"
The test [StopsMakingNewRequestsWhenTakeIsFulfilled](https://github.com/octokit/octokit.net/blob/e6e7c3d393160fabe4cc48dd6c410db2a19b7e72/Octokit.Tests/Reactive/ObservableRepositoriesClientTests.cs#L93-L158) fails consistently now. We need to figure out why and fix the code or the test.

[2015-09-20 21:02] #885 closed

[2015-09-20 21:55] #779 closed

[2015-09-21 00:35] willsb commented on #655
What's the current status of this one? Are any bits of [this closed PR](https://github.com/octokit/octokit.net/pull/680) relevant? May I start working on it?

[2015-09-21 14:53] naveensrinivasan commented on #894
This one should be closed.

[2015-09-21 15:12] naveensrinivasan commented on #861
I guess this could be security reason so that you don't extract a malware.

https://github.com/octokit/octokit.net/blob/e6e7c3d393160fabe4cc48dd6c410db2a19b7e72/Octokit/Models/Response/RepositoryContent.cs#L34-48

@Haacked

[2015-09-21 17:47] #894 closed

[2015-09-21 22:06] naveensrinivasan opened #905 "Deploying new releases - Eating your own dog food"
The octokit deployments of new releases are based on this document https://github.com/octokit/octokit.net/blob/master/DEPLOYMENT.md which  does not use octokit to deploy to github.

Why can't this be more automated like [Paket's](https://github.com/fsprojects/Paket/) `ReleaseGitHub` and `PublishNuGet`? https://github.com/fsprojects/Paket/blob/master/build.fsx .Paket uses octokit to release to gith

[2015-09-21 22:14] naveensrinivasan commented on #891
Here is the response from Xamarin. The author of the project would have to apply for the license.

@Haacked Could you apply for this? https://resources.xamarin.com/open-source-contributor.html

[2015-09-22 00:16] Haacked commented on #891
Done! I'll let you know when I get it approved.

[2015-09-22 00:18] Haacked commented on #905
We just haven't gotten around to it. But if you want to set that up, I'd be eternally grateful.

[2015-09-22 00:21] Haacked commented on #861
I'm ok with either making it public or maybe adding a method to read it as a binary stream/array.

[2015-09-22 00:26] Haacked commented on #655
Nobody's working on this currently. Feel free.

[2015-09-22 00:31] naveensrinivasan commented on #905
I will take this one! Thanks

[2015-09-22 01:08] yufeih commented on #861
Thanks, you guys rocks.

[2015-09-22 01:08] #861 closed

[2015-09-23 02:29] Eilon commented on #837
@wdhodges what exactly are you looking for? Ultimately Octokit is mostly a bunch of async API calls - you could bind the results to a GridView or whatever you want.

[2015-09-23 02:30] Eilon commented on #832
@shiftkey I'm using Octokit in a DNX app on .NET Framework 4.5 just fine. Are you trying to use it on .NET Core (dnxcore)?

[2015-09-23 02:46] Eilon opened #910 "Assignee is missing from PullRequest class"
This type: https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/PullRequest.cs

The [GitHub API response for PRs](https://developer.github.com/v3/pulls/#response) returns `user` (who submitted the PR) and `assignee` (who the PR is assigned to).

Seems like it just involves adding an `Assignee` property and ctor param to the `PullRequest` class?

[2015-09-23 02:49] Eilon commented on #910
If that's all it takes I can send a PR.

[2015-09-23 02:49] Eilon commented on #910
@Haacked because reasons.

[2015-09-23 03:55] alfhenrik commented on #910
Yes, it should just be as easy as adding that property to the class and a ctor parameter.

[2015-09-23 04:59] Haacked commented on #910
@eilon do eeet!

[2015-09-23 05:01] Haacked commented on #832
I haven't tried this yet, but we'd like to make sure it works on this platform. Any tips?

[2015-09-23 05:45] alfhenrik commented on #832
I've just tried to get my little vNext app running on dnxcore50 (on OSX) and there's a couple of kinks with the HttpClient support on *nix systems at the moment [dotnet/corefx#2155](https://github.com/dotnet/corefx/issues/2155), now I haven't tried it on a Windows machine so can't say if it'll work or not there, but it seems that it should...might have some time next week to test it out if no one

[2015-09-23 05:48] Eilon commented on #832
Yeah I'm using `dnx451` only right now. For `dnxcore50` it's a matter of compiling against that target framework and making all the tests run. We're (Microsoft) working on that guidance right now, but there are a few bits and pieces that aren't quite in place to make it a super smooth story across the board.

[2015-09-23 06:09] Eilon commented on #910
Yessir!

[2015-09-23 23:08] naveensrinivasan opened #911 "Unable to use it in Xamarin.Mac"
When referencing octokit nuget package v.0.16 in the Xamarin Mac project which is a unified [api](https://developer.xamarin.com/guides/cross-platform/macios/unified/) it fails to compile.

[code]

[2015-09-23 23:12] naveensrinivasan commented on #911
This could be something which could help in solving this.

https://github.com/akavache/Akavache/commit/e7ac5d1eea22cb2685bf93542eff8aea6f9c5d90

[2015-09-25 00:47] Haacked commented on #891
@naveensrinivasan ok, I have the subscription, but not sure what I need to do next.

[2015-09-25 01:17] naveensrinivasan commented on #891
Did you get the license for yourself ? If you have the email can you forward it I could apply for the

and then use that specific license to supply in build server

[2015-09-27 19:45] naveensrinivasan commented on #505
@Haacked  I wanted to check if this something that we want to do now.

IMHO having samples would greatly improve people using this for their needs. I think linqpad is a great tool for doing that without much of ceremony. I use it very often to try out new API's.

Based on this I forked  @shiftkey https://github.com/naveensrinivasan/octokit-linqpad-samples and updated with some more samples.

I upd

[2015-09-27 21:43] Haacked opened #913 "MergePullRequest Message property should be CommitMessage"
At least according to the docs here: https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button

I'll fix this.

[2015-09-27 23:11] Haacked opened #914 "Add helper class for creating web hooks"
The [`NewRepositoryHook`](https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Request/NewRepositoryHook.cs) class is used to create new repository hooks. This class takes in a dictionary of config values.

According to the [documentation for creating repository hooks](https://developer.github.com/v3/repos/hooks/#create-a-hook), if you want to create web hooks, there's some required a

[2015-09-28 00:24] Haacked commented on #505
Should this go in the main Octokit package or perhaps a special samples package? For example, we may want to create Octokit.Linqpad and Octokit.Reactive.Linqpad.

[2015-09-28 00:27] #913 closed

[2015-09-28 01:01] naveensrinivasan commented on #505
I agree it could more of like `Octokit.Samples` where we could use one of the options as Linqpad and we could use the same samples for XS/VS project sample.

[2015-09-28 02:11] alfhenrik commented on #505
:+1: for it to be it's own package

[2015-09-28 08:39] alfhenrik commented on #914
I'll take this one :)

[2015-09-28 16:55] Haacked commented on #779
@shiftkey that's not exactly correct.

If you look at https://developer.github.com/v3/repos/commits/#get-a-single-commit you'll see the payload looks more like (bunch of stuff cut out):

[code]

So note that `GitHubCommit` has `Author` and `Committer` properties. But it also has an inner `Commit` property that also has an `Author` and `Committer`.

`GitHubCommit` represents a commit database recor

[2015-09-28 19:01] jasonrudolph commented on #779
If the author doesn't map to a GitHub account, then the top-level `author` attribute has a `null` value. The same goes for the committer. Example:

[code]

[code]

[2015-09-28 19:22] Haacked commented on #779
@jasonrudolph That's kind of what I hoped would happen. :smile: Makes it easier for us connoisseurs of statically typed languages.

[2015-09-28 22:40] M-Zuber commented on #505
I would also prefer to have a separate package

[2015-09-29 17:53] willsb commented on #833
May I? Should I?

[2015-09-29 17:56] Haacked commented on #833
I feel like this provides a false sense of security. Convince me otherwise. :smile:

[2015-09-29 17:56] #833 closed

[2015-09-29 18:04] willsb commented on #833
I just wanted something to work on while I travel :disappointed:

[2015-09-29 18:36] khellang commented on #833
Also, `SecureString` is being removed/internalized with .NET Core. https://github.com/dotnet/apireviews/tree/master/2015-07-14-securestring

[2015-09-30 20:46] haacked opened #920 "Use interfaces for response models"
So you're going to laugh because the idea of using interfaces was proposed before but I rejected it because the response models were simple value types with no behavior and it seemed overkill.

Well, I've had a 180 and let me tell you the story of my woe.

The other day I decided to shave the yak of documenting _all the code_ and in doing so, I found a lot of discrepancies with the response models

[2015-10-02 03:01] willsb commented on #423
Will `new InvalidGitignoreTemplateException("gitignore_template is an unknown gitignore template.");` suffice?

[2015-10-02 06:08] Haacked commented on #423
Yeah. But obviously use the returned message and not that literal string. :stuck_out_tongue:

[2015-10-03 02:23] pengwynn commented on #920
Are you talking nullable or present? Is there more or less pain for a field to be present and null vs absent altogether?

Either way, the :imp: might be in the details, but I think interfaces could be a pragmatic approach.

[2015-10-03 02:30] Haacked commented on #920
They're more or less equivalent in our case.

The situation I'm thinking about is there are cases where the concrete type might have an int property that can be missing or null, in which case it needs to be a `Nullable<int>` property. But there may be other API endpoints where that same property cannot be null and I'd like to have the property be an `int` that cannot be null. I might run into prob

[2015-10-03 02:36] khellang commented on #920
Explicit implementations might be your friend here :smile:

[2015-10-03 19:11] shiftkey commented on #899
![agree](https://cloud.githubusercontent.com/assets/359239/10264661/17a49d2e-6a13-11e5-9e78-c754e076027a.gif)

xref https://github.com/octokit/octokit.net/issues/756

[2015-10-03 19:12] shiftkey commented on #899
I don't mind putting together a proper packaging script ([these conventions](http://githubengineering.com/scripts-to-rule-them-all/) seem nice) - it'll just need some checks before to ensure everything is setup correctly.

[2015-10-03 19:56] shiftkey commented on #505
The general guidance from the [Linqpad site](https://www.linqpad.net/nugetsamples.aspx) is to contain them in the main package:

I gather this means the user will have them automagically after installing (rather than digging around for a second package).

Also, I'm not sure what that last step means.

[2015-10-03 20:58] naveensrinivasan commented on #505
Here is a sample  [Octokit.samples.0.0.1.nupkg]  (https://www.dropbox.com/s/pgsrtcijjs5pp2d/Octokit.samples.0.0.1.nupkg?dl=0) which would automatically show up in the linqpad samples.

Should it be original nuget package or should be a separate nuget package?

[2015-10-04 05:15] alfhenrik commented on #505
From the nuget.org [docs](https://docs.nuget.org/create/nuspec-reference)

**tags**
_A space-delimited list of tags and keywords that describe the package. This information is used to help make sure users can find the package using searches in the Add Package Reference dialog box or filtering in the Package Manager Console window._

[2015-10-04 05:18] alfhenrik commented on #505
And after thinking about this a bit more, I'd like to revise my vote for it to be in it's own package...as if I'm interested in the LINQPad samples, I'm obviously wanting to do something with octokit and then I'd have to install both the samples package AND the actual package...

[2015-10-04 16:54] Haacked commented on #505
I think the issues for me is I have no idea how many people use LINQPad. I don't use it so this feature doesn't really matter much to me. Will there be other tools that want their own proprietary formats in our packages?

If a lot of you DO use LINQPad, I will relent and go with it because I don't feel too strongly about it.

[2015-10-04 16:57] Haacked commented on #505
could someone post what an example might look like? Perhaps if we could link to the examples in the README and make sure they're human readable as well as LINQPad readable, I'd be more favorable. That way they're useful to folks who don't have LINQPad installed.

Also, I'm concerned about the maintenance cost of these samples over time. If they're not compiled and run as part of our CI, then they'

[2015-10-04 17:15] distantcam commented on #505
`.linq` files have a little bit of XML header, and then the actual code. They are very human readable.

For example https://github.com/naveensrinivasan/octokit-linqpad-samples/blob/master/1-introducing-octokit.linq

LinqPad can run scripts on the command line (https://www.linqpad.net/lprun.aspx) and output them. Then you could use approval tests on the output.

And if I have any sway over it, I'd

[2015-10-04 17:22] Haacked commented on #505
So I'm :+1: for adding these to the main package if we:

- [ ] Write useful samples that we can link to in the README and can be read nicely online.
- [ ] Make sure our CI validates the samples somehow.

[2015-10-04 17:28] naveensrinivasan commented on #505
The linqpad has compilation options for compile check.  https://www.linqpad.net/lprun.aspx

I was planning to use that feature in the CI build to make sure the commits don't break the samples.

[2015-10-04 19:50] Haacked commented on #505
:+1:

[2015-10-05 10:22] aaron-comyn opened #925 "Created/updated binary files are not recognized as binary data"
Unless I'm missing something obvious: it seems that binary files uploaded through CreateFile/UpdateFile methods in Octokit.net cannot be flagged as binary data and are interpreted server-side as text.

Judging from other Octokit libraries there *may* be an encoding option not being passed through the API when creating and updating new files (isBase64 or isBinary, [more info](https://github.com/phi

[2015-10-05 14:06] shiftkey commented on #779
@Haacked this issue was so long ago that I suspect you're right (I probably didn't make it clear).

:thumbsup: to the work in #916

[2015-10-05 23:59] naveensrinivasan commented on #505
Implemented this in https://github.com/octokit/octokit.net/pull/921

[2015-10-06 13:49] naveensrinivasan opened #926 "Add a Gitter chat"
I would help us to have conversations in gitter https://gitter.im/.

[2015-10-06 16:44] Haacked commented on #926
:+1:

[2015-10-06 20:12] #732 closed

[2015-10-07 09:16] alfhenrik commented on #926
:+1:

[2015-10-07 11:43] khellang commented on #926
Y NO SLACK?

[2015-10-07 12:08] M-Zuber commented on #926
I actually kinda want both. They can serve different kinds of discussions

[2015-10-07 12:23] shiftkey commented on #926
I'm kinda indifferent on which we choose (I neglect both really equally, so I don't really have a horse in the race) but I think sticking to one would be better.

Are there specific features from either platform you're really attached to?

[2015-10-07 12:24] khellang commented on #926
Phone, phone, phone -> Slack :wink: Also, Gitter is kinda buggy :cry:

[2015-10-07 12:27] khellang commented on #926
The only thing that suck with Slack is the invition model, but we recently set up slackin for Nancy and it works like a charm.

Just spin up https://github.com/rauchg/slackin and give it an API key.

[2015-10-07 12:31] shiftkey commented on #926
Yep, I don't mind doing that to take away that invitation pain...

[2015-10-07 12:45] alfhenrik commented on #926
Out of the two, I like Slack better, but I'm :cool: with either.

[2015-10-07 14:08] M-Zuber commented on #926
I enjoy Slack so don't mind Slack only. Gitter on the phone is a bit of a pain, but it's still better the Github itself :wink:
The main selling point of gitter for me is the integration. If Slack has something similar then I'll withdraw my gitter vote.

[2015-10-07 14:10] khellang commented on #926
@M-Zuber What kind of integration are you looking for?

[2015-10-07 14:22] alfhenrik commented on #904
I'm unable to replicate this error locally, even running the same commands that AppVeyor runs (i.e. the git commands to get the code) yields a successful unit test run :cry: Could it perhaps be something environmental to AppVeyor...

[2015-10-07 14:28] naveensrinivasan commented on #904
Even I couldn't replicate it locally.

[2015-10-07 14:43] alfhenrik commented on #904
I'm installing VS2013 on my Server 2012 R2 dev machine and will test it on there as well

[2015-10-07 18:47] elbaloo commented on #389
Still wanted?

[2015-10-07 19:57] #389 closed

[2015-10-07 22:23] alfhenrik commented on #904
Everything works fine on my 2012R2 dev machine as well...so I'm quite stump as to why it would be failing on AppVeyor...

[2015-10-08 02:28] M-Zuber commented on #926
Now that my computer started listening to me again ( I swear to God some days it behaves worse then a two year old), I was able to check the Slack integration with Github and it looks nice.
The main difference is in Gitter the information is displayed in a dedicated side bar, while Slack treats each event as just another message.

tl;dr I've been converted to Slack

[2015-10-08 09:25] adamralph opened #930 "Q: Can Octokit be made to work with an SSH agent?"
I.e. so that it just talks to my local SSH agent somehow and uses it's security gubbins to connect to the API?

Does this even make sense? As you can tell I'm a real expert on security.

[2015-10-08 09:28] shiftkey commented on #930
Not really. As all the API calls for Octokit are done over HTTP/S we're kinda restricted to using the `Authorization` header.

[2015-10-08 09:33] adamralph commented on #930
I see. I think that's the kind of answer I was expecting.

How about the HTTP credentials helper thingies? I don't use them myself (I'm an SSH man) but I don't suppose there's anything built into Octokit for talking to them? Or some other .NET wrapper somewhere you're aware of?

[2015-10-08 09:49] shiftkey commented on #930
These store the username/password/token somewhere on the local machine. Those would be usable in Octokit if you extract it, but this is often tied to the Git installation (Octokit doesn't depend on git.exe)

Afraid not, because they're two very different ways to authenticate:

 - SSH is session-based (connect to remote machine) versus HTTP's request/response model
 - with public-key infrastructure

[2015-10-08 10:11] adamralph commented on #930
I actually meant for talking to the HTTP credential helpers. I realise that SSH is something completely different to HTTP/HTTPS (and in that regard I'm not really sure why I asked the initial question).

I will indeed use a Personal Access Token because I'm using 2FA anyway.

Yeah, an app authorisation would be the right way to do this for an app I'm planning to distribute but this just a spiked c

[2015-10-08 10:11] #930 closed

[2015-10-08 21:54] RonnChyran opened #932 "Creating a cross-repository pull request returns "NotFoundException""
I'm trying to create a pull request using Octokit.net like so.

[code]

And I get the following exception
[code]
However, the pull request works if I'm working on my fork
[code]
I can't get it to work at all to create the PR on the upstream repository. I'm trying to create the PR on https://github.com/SnowflakePowered-Packages/snowball-packages, but it's not working.

[2015-10-09 16:25] Haacked commented on #932
Could you use Fiddler2 to post the request and response you get? Be sure to remove the line of the request header that contains your authorization token. It's the line that starts with "Authorization:".

[2015-10-09 21:25] chenjiaming93 commented on #839
Added Merged Qualifier.Received Code Analysis Warning "Excessive Cyclomatic Complexity".
Then added   [System.Diagnostics.CodeAnalysis.SuppressMessage("Microsoft.Maintainability", "CA1502:AvoidExcessiveComplexity")] to ignore that warning.

[2015-10-10 01:08] RonnChyran commented on #932
Sure, here is the request

[code]

And here is the response

[code]
Source code for what I'm trying to do is [here](https://github.com/RonnChyran/snowflake/blob/4baaacd0b223965c59a2299aada8005862a2d9f7/Snowflake.Packaging/Publishing/PublishActions.cs#L116)

[2015-10-10 06:01] elbaloo commented on #932
Could it be that StandardAjaxv0.1.2-df225a37-acb9-4e02-acc6-a517a88956d2 is
private? If so, does the token have that scope?

--
vrce
On Oct 9, 2015 8:08 PM, "Ronny Chan" <notifications@github.com> wrote:

[2015-10-10 06:43] elbaloo commented on #932
Disregard my previous comment. That's a branch not a repo and scopes are in the request anyway... It's late, I'm going to bed xD

[2015-10-10 16:40] pengwynn commented on #896
@Haacked: Locking isn't currently available via the API. I've referenced this issue on the internal feature request for that one.

[2015-10-10 16:43] chenjiaming93 commented on #867
See https://developer.github.com/v3/pulls/#get-a-single-pull-request
"The merge_commit_sha attribute holds the SHA of the test merge commit; however, this attribute is deprecated and is scheduled for removal in the next version of the API. The Boolean mergeable attribute will remain to indicate whether the pull request can be automatically merged."
I think we need to set Merged to MergedAt.HasValu

[2015-10-10 18:13] Haacked commented on #867
I commented on the PR.

[2015-10-10 19:50] chenjiaming93 commented on #925
Cannot find a parameter in Created/Updated API that can clarify the type of the file.

[2015-10-10 21:40] chenjiaming93 opened #938 "Implement RenderArbitraryMarkdown method"
I checked IMiscellaneousClient.cs, it seems that currently we only have the method that renders raw markdown. Shall we implement the method to render arbitrary markdown?
https://developer.github.com/v3/markdown/#render-an-arbitrary-markdown-document

[2015-10-11 01:03] Haacked commented on #938
If someone wants to submit a PR for it, we'd accept it. :smile:

[2015-10-11 19:51] RonnChyran commented on #932
Anyone have an idea of what's going on?

[2015-10-11 20:22] Haacked commented on #932
@pengwynn do you have any ideas on this?

[2015-10-12 07:55] shiftkey commented on #926
Hearing news like [this](https://github.com/reactiflux/volunteers/issues/17#issuecomment-147300333) concerns me a bit:

I know we wouldn't be at that scale for a while, but it's in the back of my mind.

cc @pengwynn

[2015-10-12 08:08] alfhenrik commented on #926
That's a bit unfortunate...I like Slack a lot, but if that's their stance, then perhaps Gitter would be a better alternative...

[2015-10-12 09:44] shiftkey commented on #932
I can see this branch on the repo, so I don't believe it's that.

Thanks for the repro, and sorry for the delay. I'll have a look at recreating the issue on my end.

[2015-10-12 10:11] aaron-comyn commented on #925
The Github API documentation makes no reference to any kind of binary parameter on CreateFile or UpdateFile, but it looks like they accept an 'encoding' parameter.  Octokit.net seems to be using the default of UTF-8 even for base64 text - supposedly the same issue can be resolved in Octokit.js by properly set the encoding to 'base64'.

[Same issue](https://github.com/philschatz/octokit.js/issues/6

[2015-10-12 10:15] shiftkey commented on #932
So I took the same parameters from above and ran the same steps from the repro:

[code]

And the PR was created successfully - https://github.com/SnowflakePowered-Packages/snowball-packages/pull/2:

[code]

So what I believe might be happening here is that the is published, but the delay between that occurring and creating the PR is too short (so the PR isn't created because it can't "find" the br

[2015-10-12 12:32] naveensrinivasan commented on #925
When the API dose not  officially support it then why build a hack around it?

[2015-10-12 12:46] naveensrinivasan commented on #849
DocPlagiarizer has a bug on mono also which make's hard to compile on non-windows platform.  The repo hasn't been updated since Feb 2014 https://github.com/pmacn/DocPlagiarizer. Do we fork this and fix it or do you want to move away form this?

[2015-10-12 12:56] aaron-comyn commented on #925
The API does not list the "encoding" parameter in its Repository Content docs, but it returns an encoding, accepts an encoding, uses a specific 'base64' encoding parameter elsewhere for binary operations and therefore requires a binary encoding for consistency with the rest of the API...

All other file operations seem to work as expected with binary files except CreateFile and UpdateFile.

As a m

[2015-10-12 13:01] shiftkey commented on #849
Yeah, I'm not surprised it's largely unchanged from then. Given it's value is in extracting docs from interfaces, we could switch it off to help support the x-plat experience.

Given it was built ontop of earlier builds of Roslyn, I'd like to see if we can port it over to the now-RTM analyzers that are in the box. I've not had a look at how this would work outside of VS2015, so any knowledge or wa

[2015-10-12 17:19] pengwynn commented on #932
@RonnChyran @Haacked: Looks like this one is blocked by [third-party application restrictions][doc].

[doc]: https://help.github.com/articles/about-third-party-application-restrictions/

[2015-10-12 17:24] RonnChyran commented on #932
@pengwynn I've disabled the restrictions on the target repository and it seems to [working now.](https://github.com/SnowflakePowered-Packages/snowball-packages/pull/3)

Thanks for all the help, may I suggest adding a note about that to the API docs?

[2015-10-12 17:24] #932 closed

[2015-10-13 00:48] pengwynn commented on #932
Thanks for suggesting, @RonnChyran. I've added that scenario to [the troubleshooting guide][guide].

[guide]: https://developer.github.com/v3/troubleshooting/#why-am-i-getting-a-404-error-on-a-repository-that-exists

[2015-10-13 06:57] alfhenrik opened #941 "Unit tests that interact with issues on a repository are failing as issues are disabled"
Example: `IssuesEventsClientTests.CanListEventInfoForAnIssue` throws `Octokit.ApiException : Issues are disabled for this repo`

[2015-10-13 07:26] alfhenrik commented on #941
This guy https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Request/NewRepository.cs#L43 should be `bool?` as it's an optional parameter...

[2015-10-13 07:30] shiftkey commented on #941
@alfhenrik yeah, that should be a `bool?`.

I'll leave it up to you, but if I spot it during my next test run I'll address it then.

[2015-10-13 08:27] #941 closed

[2015-10-14 19:32] naveensrinivasan commented on #854
I figure out the reason for this It is because  `content-type` is `application/octet-stream` on the response and the code does not handle that.  It handles `image`,`zip`,`x-gzip`.

https://github.com/octokit/octokit.net/blob/1266ac0f3a366f033061d0c1cc0785bc3c9f5bd3/Octokit/Http/HttpClientAdapter.cs#L80

Because it is binary type and we read as string in the `else` block that is what is causing the

[2015-10-15 10:36] shiftkey commented on #854
@naveensrinivasan

That'd be great!

[2015-10-15 18:18] naveensrinivasan commented on #854
:+1:

[2015-10-18 21:09] naveensrinivasan commented on #832
With the latest release of beta8 I was able to get the Octokit working on the `dnxcore50`.

I had to make changes to the nuspec to include the `System.Net.Http` instead of `Microsoft.Net.Http` for coreclr because coreclr does not have `Microsoft.Net.Http`. Here are the changes https://github.com/octokit/octokit.net/commit/0f23ff9f4a12990453ad72836885030a98dd81c3.

And here is sample of Octokit tha

[2015-10-19 04:47] chenjiaming93 commented on #904
it only appears on AppVeyor... Even though I am committing the same content, I cannot duplicate it

[2015-10-19 09:24] shiftkey commented on #832
@naveensrinivasan :sparkles::sparkles::sparkles::sparkles::sparkles: thanks for looking into this and getting it working.

[2015-10-19 10:32] naveensrinivasan commented on #832
When are planning to support dnxcore? Could we have a beta branch?

[2015-10-19 11:02] shiftkey commented on #832
@naveensrinivasan there's some VS2015 changes I need to handle (obsoleting Win8.0 support in particular) - I'd like to tackle this after I've got that in place and addressed some of the outstanding build/deployment issues.

[2015-10-19 11:42] naveensrinivasan commented on #832
Thanks! Is there a VS2015 branch that I could clone?

[2015-10-19 13:08] forki opened #944 "Can't deploy Paket.exe to GitHub anymore"
![image](https://cloud.githubusercontent.com/assets/57396/10578545/18f0e324-7673-11e5-868f-3dd3e2d12216.png)

I'm getting validation exceptions when I try to publish to github. Did the github API change again?
Manual upload works.

[2015-10-19 14:02] shiftkey commented on #944
Ugh, we really should have the response payload in that error message so it's easier to follow.

Can you put Fiddler in between and see what the response payload looks like?

I'm not aware of anything recent with the Releases API changing, but I can bug them if we spot something weird.

[2015-10-19 14:04] forki commented on #944
Ok. I tried again. Now it works again. But earlier today I had 5 failed deploys from 2 machines. Maybe something was flaky.

[2015-10-19 14:04] #944 closed

[2015-10-19 14:33] naveensrinivasan commented on #944
I was trying to deploy Paket to forked repo and I got this. I agree I would prefer Response payload.

[code]

[2015-10-19 14:49] shiftkey opened #945 "when exception raised, ToString should contain response payload"
This will help for debugging scenarios where an intermittent error occurs.

Originally raised in #944

[2015-10-20 16:20] naveensrinivasan commented on #945
This is what we get in the Response Payload Body.

[code]

Would this alone help?

[2015-10-20 19:16] M-Zuber commented on #926
https://sameroom.io/blog/connecting-a-channel-in-slack-to-a-room-in-gitter/
https://sameroom.io/pricing
I am not sure how the pricing would work, but maybe there is a similar free option.

[2015-10-21 16:35] naveensrinivasan opened #946 "Editor config"
Why not have http://editorconfig.org/ maintain consistent coding styles. I noticed OSS projects have started embracing it. Any thoughts?

[2015-10-21 17:47] shiftkey commented on #946
I think I had problems with the VS extension for this when I last looked at it, but I'm not opposed to taking in something if others would like it.

I'm also leaning towards using a code formatter ala golang (see #807) to automate this.

[2015-10-21 22:06] naveensrinivasan commented on #946
Code formatter :+1:

[2015-10-21 22:06] #946 closed

[2015-10-28 11:33] hahmed commented on #463
@Haacked @shiftkey why not go with the jekyll option, I do not mind getting the experiment rolling?

That way we can be consistent with our ruby brethren.

https://github.com/octokit/octokit.rb/tree/gh-pages

Anyhow if you do decide to go down that route, would you mind creating the gh-pages branch and nuking it for me, so I can start from there?

Better than me creating a PR that contains deletio

[2015-10-28 20:45] Haacked commented on #463
I'm down for that. @shiftkey? If you agree, I'll create the branch.

[2015-10-28 21:06] shiftkey commented on #463
Not sure why I didn't raise this sooner, but I like how ReadTheDocs does this. Here's ReactiveUI's as an example: http://reactiveui.readthedocs.org/en/latest/ - and the relevant PR - https://github.com/reactiveui/ReactiveUI/pull/771

This is slightly different from the `gh-pages` approach for a couple of reasons:

 - it's markdown'd already - we've got some docs as a starting point
 - docs are alo

[2015-10-28 21:44] M-Zuber commented on #463
I would like to second the notion of not using gh-pages. There is a project I contribute to,  and updating the docs are a pain in ...  ...

In other news,  there is  a little nifty tool I saw recently : http://classeur.io/.  I wonder if that can be hooked up which might make it easier /simpler to write the docs, which in turn ups the chance of them getting written.

[2015-10-28 22:48] hahmed commented on #463
@shiftkey readthedocs is cool too :+1: aspnet vnext is using that. The default styles look really good.

Would we care too much about having documentation for different versions for octokit.net? Seems like an overkill for this library.

[2015-10-28 22:49] shiftkey commented on #463
It's something you get "for free" if you're tagging releases (like we are) - so I don't see it as much work for us.  But yeah, it's a minor bonus.

[2015-10-28 22:52] hahmed commented on #463
Ok, we will need to create an account for readthedocs and import the markdown files into it I think.

Shall I let you handle the account creation so admin rights are on your end - assuming that's how it works? (Never used it before but more than willing to help out on this).

[2015-10-28 22:54] shiftkey commented on #463
@hahmed yeah, I should have some time to set up the basics tonight.

Ideally it should just keep redeploying off of webhook activity for a certain branch.

[2015-10-28 22:58] shiftkey commented on #463
Due to the `.` in the project name :cry: the URL it gave me is http://octokitnet.readthedocs.org/en/latest/.

Gonna set up the other bits now and open a brief PR to get things going.

[2015-10-28 23:19] shiftkey commented on #463
@hahmed I've opened up #948 to track this work. There's a whole bunch of details here about the mkdocs format (which we're using here): http://mkdocs.readthedocs.org/en/stable/

Happy to discuss things in PRs targeting the `documentation` branch, and we can just iterate on stuff quickly while we get a feel for what this might look like.

[2015-10-28 23:50] Haacked commented on #463
:thumbsup: to whatever @shiftkey says here. :smile:

[2015-10-29 06:27] #854 closed

[2015-10-30 22:32] naveensrinivasan opened #953 "Add AppVeyor builds to its NuGet feed"
How about adding Nuget Feeds for the AppVeyor builds similar to this  https://github.com/nunit/nunit/pull/932?

This would make

[2015-10-30 22:35] shiftkey commented on #953
Making pre-release builds of `master` available is something I'd like to do, but there's various other infrastructure needs that I need to address first (VS2015, scriptable releases, x-plat).

I'll leave this open to remind me.

[2015-10-30 22:41] naveensrinivasan commented on #953
Do you want to do it just for `master`?

[2015-10-30 22:42] shiftkey commented on #953
I think so - once we've merged a PR, it's an indicator that `master` should be in a usable state.

[2015-11-03 19:14] ostruk commented on #800
:+1:

"/" only works if you're retrieving master branch. If you're retrieving some other branch it defaults to master branch, because the generated url is actually invalid: "contents//?ref=branch-name". Remove the check for empty string when specifying path.

[2015-11-03 19:36] naveensrinivasan commented on #800
You could get all the contents of the branch using the overload `client.Repository.Content.GetAllContents`  which takes the `reference` as the last parameter.

I am able to get all the contents of the branch and master including the sub-directories. Here is a sample.

[code]

[2015-11-03 19:53] ostruk commented on #800
I have 7 files on my master branch, and 6 on my custom branch ("ostruk-branch" does not have "added.js").

When I call

`var all = await client.Repository.Content.GetAllContents("UW-demo", "multiJs", "/", "ostruk-branch");`

I get 7 files, same as if I called without "ostruk-branch". When I inspect the code, I can see it attempts to make a call to

https://api.github.com/repos/UW-demo/multiJs/cont

[2015-11-03 19:57] ostruk opened #958 "Creating file on a specific branch."
In the [github api](https://developer.github.com/v3/repos/contents/#create-a-file) I can see that I should be able to create files on non-master branches by specifying an optional "branch" parameter.

Is there a way to do this in octokit.net?

Thanks!

[2015-11-03 19:58] naveensrinivasan commented on #800
@ostruk  Yes you are right. It is a bug.

[2015-11-03 20:06] #839 closed

[2015-11-03 20:06] #910 closed

[2015-11-03 20:06] #938 closed

[2015-11-03 21:36] shiftkey commented on #832
@naveensrinivasan the VS2015 support is here https://github.com/octokit/octokit.net/pull/956 going to let it sit for a couple of days before closing. I might have a chance to play around with DNX support in the meantime, but feel free to target that branch if you've got stuff to share!

[2015-11-03 21:39] Eilon commented on #910
Sweet, I didn't even have to write any code :smile:

[2015-11-03 22:26] chenjiaming93 commented on #958
I'm gonna do that if possible.

[2015-11-03 22:29] naveensrinivasan commented on #832
@shiftkey Cool! will do that. Thanks!

[2015-11-04 01:57] naveensrinivasan commented on #832
@shiftkey  When are planning to move to C# 6.0?

[2015-11-04 08:41] shiftkey commented on #832
@naveensrinivasan it's not something I'm looking into - I'd like to ensure that contributors are happy with the VS2015 migration before I look at new language features...

[2015-11-04 17:07] #817 closed

[2015-11-04 17:16] #423 closed

[2015-11-11 16:22] #914 closed

[2015-11-14 00:17] A-Programmer opened #962 "How to use this package in ASP.NET Web forms?"
Hello.
I want to use this package in ASP.NET Web forms with old membership system, i just need to get a true or false answer form github that the username and password is correct or not, then i will register that user with that username and password.

[2015-11-14 07:41] alfhenrik commented on #962
Hello,

You could do the following:
[code]
The call to `client.User.Current();` will fail if the credentials are wrong.

Hope that helps!

[2015-11-14 08:30] A-Programmer commented on #962
So where should i use ClientId and SecretId ?
And do you think its true to get Users username and password?
Is there any way to use this package to Authenticate user with GitHub login page?

[2015-11-14 09:12] A-Programmer commented on #962
And one more question, can i use this structure for Google and Facebook?

[2015-11-14 10:29] alfhenrik commented on #962
To use the GitHub login page to authenticate your users you should follow the OAuth web flow described here https://developer.github.com/v3/oauth/#web-application-flow
________________________________
From: Kamran<mailto:notifications@github.com>
Sent: ‎14/‎11/‎2015 18:30
To: octokit/octokit.net<mailto:octokit.net@noreply.github.com>
Cc: Henrik Andersson<mailto:henrik.a.andersson@outlook.com>
Subj

[2015-11-14 18:30] shiftkey commented on #962
@Haacked wrote a sample a while ago about using Octokit to do the OAuth dance (it's in an MVC app, but the concepts are the same). The [blog post](http://haacked.com/archive/2014/04/24/octokit-oauth/) and [sample code](https://github.com/Haacked/octokit-oauth-demo) should help you wire everything up.

As an aside, I'd strongly recommend against storing the user's credentials directly. OAuth was de

[2015-11-16 16:38] Eonasdan commented on #896
![image](https://cloud.githubusercontent.com/assets/1006516/11187944/8b8b6820-8c56-11e5-8993-e091464aaad3.png)

[2015-11-17 10:54] eiriktsarpalis opened #963 "Uploading release assets in parallel results in TaskCanceledException"
I'm maintaining a project which requires a large number of files to be uploaded with each release. Roughly 30 files of 8MB each. My current build script uploads the files in sequence, which can take an annoying amount of time. I've been investigating whether I could use octokit to upload assets in parallel, but this has resulted in the upload tasks returning random TaskCanceledExceptions. Reproduc

[2015-11-19 11:56] ChristianTrolleMikkelsen opened #964 "Mergeable have 3 states according to GH API but octokit only have true/false"
https://developer.github.com/v3/pulls/#get-a-single-pull-request

It is important to handle all 3 mergeable states as they are officially supported.
To return false when the state actually is "we are computating the state, please try again later" is limiting and wrong.

[2015-11-19 11:58] #964 closed

[2015-11-19 11:58] ChristianTrolleMikkelsen commented on #964
Sorry i misread the api.

[2015-11-19 11:58] ChristianTrolleMikkelsen commented on #964
in octokit

[2015-11-19 21:35] shiftkey commented on #106
Not heading down the generated path - https://github.com/octokit/octokit.net/pull/948 is moving along nicely.

[2015-11-19 21:35] #106 closed

[2015-11-21 02:51] naveensrinivasan commented on #963
The reason for the `TaskCanceledExceptions` is because the  default [HttpClient] (https://msdn.microsoft.com/en-us/library/system.net.httpwebrequest.timeout(v=vs.100).aspx) `Timeout` is 100 seconds.

I tried changing in the sample from `Nullable<TimeSpan>()`  to `new TimeSpan(0, 10, 0)` to see if that would fix. But the [HttpClientAdapter] (https://github.com/octokit/octokit.net/blob/f0111aa72239d

[2015-11-26 22:33] dail8859 opened #966 "Get latest release?"
I currently don't see anything to *cleanly* get the [latest release](https://developer.github.com/v3/repos/releases/#get-the-latest-release)...unless I've just been overlooking something obvious, which is possible.

[2015-11-30 17:48] Haacked commented on #781
I like the `ClientOptions` route. It reminds me of the the `ProcessStartInfo` approach. In fact, maybe we could call it `ClientInfo` or something like that.

I do think we should retain the simpler `.ctors` with the most common options.

[2015-11-30 19:42] chenjiaming93 commented on #966
im gonna check this.

[2015-12-01 04:30] ferventcoder commented on #926
Slack also caps search history... If it weren't for that, slack would be nice.

[2015-12-01 04:30] ferventcoder commented on #926
I tend to grab urls from gitter discussions to use in issues and emails.

[2015-12-01 04:53] M-Zuber commented on #926
There is also a new player in town: http://www.ryver.com/
I have played with it a bit and it is quite nice actually

[2015-12-01 04:58] ferventcoder opened #967 "Gists with Unicode Cause Serialization Issues"
I was/am working with Robert S from support. He suggested we write up an issue for you although I am not sure it is an issue in Octokit. I've captured some output request/responses from what Octokit sends to Github with Fiddler: https://gist.github.com/ferventcoder/83fa0e5b93202537aa25

The JSON validates in a JSON-lint validator. ~~In fact the same request will later pass without issue.~~ (I shou

[2015-12-01 05:02] ferventcoder commented on #967
I just realized I didn't share the error output:

[code]

[2015-12-01 05:04] shiftkey commented on #967
@ferventcoder thanks for the details. Having a look now into whether it's serialization-related.

[2015-12-01 05:11] shiftkey commented on #967
@ferventcoder seems to be related to serialization on our end. Which account is associated with making the API requests?

[2015-12-01 05:12] ferventcoder commented on #967
I should mention that upgrading to 0.16.0 didn't resolve the issue.

Here's one that just failed:
[code]

Response:
[code]

[2015-12-01 05:13] ferventcoder commented on #967
@shiftkey It's [choco-bot](https://github.com/choco-bot)

[2015-12-01 05:15] ferventcoder commented on #967
@shiftkey when you say "our end" - do you mean octokit or the github endpoint?

[2015-12-01 05:15] shiftkey commented on #967
GitHub

[2015-12-01 05:16] shiftkey commented on #967
But whether the fix is there or something in Octokit is something I need to confirm. How long ago was the first known incident of this?

[2015-12-01 05:17] ferventcoder commented on #967
About since I've been running this thing...So at least a week or more.

[2015-12-01 05:22] ferventcoder commented on #967
First error email was `Sat, Nov 21, 2015 at 9:58 AM CST`

[2015-12-01 05:22] M-Zuber commented on #926
Re capping the search history, I just saw this:http://techcrunch.com/2015/11/30/slackarchive-gives-you-public-chat-archive-for-free/
@ferventcoder

[2015-12-01 05:24] ferventcoder commented on #967
So it looks like the same packages' gists will end up throwing the error (so the earlier statement was incorrect).

[2015-12-01 05:27] ferventcoder commented on #926
Looks interesting, but not built in so it presents a point of failure. Plus you can't see the entire conversation surrounding it, only messages that you search for. Not exactly apples and apples. :)

[2015-12-01 05:30] M-Zuber commented on #926
True. Just thought it interesting.
I anyways strongly recommend gitter.
Ryvver is nice for teams, but I don't see any integration points right now

[2015-12-01 05:32] ferventcoder commented on #926
I saw ryver a few weeks ago. I agree that it looks interesting. We'll see how they do given how nice slack is.

[2015-12-01 05:35] M-Zuber commented on #926
I think no integrations will make it rough. But in my interactions with them,  they have proven very open to suggestions and make changes quickly

[2015-12-01 06:02] M-Zuber commented on #926
Ryvver has zapier and OData for integrations. Not super exciting

[2015-12-01 09:03] khellang commented on #926
There's also https://rocket.chat/ :wink:

[2015-12-02 01:31] chenjiaming93 opened #968 "a doc to list api coverage?"
recently I am reading through GitHub API references and trying to report unimplemented or incomplete APIs. Do we have a document to list API coverage in Octokit.net?

[2015-12-02 01:33] shiftkey commented on #968
Literally just discussing this headache with @haacked. Contemplating scraping the website to get this list.

[2015-12-02 13:56] dail8859 opened #969 "Create a new authorization"
I'm needing to [create a new authorization](https://developer.github.com/v3/oauth_authorizations/#create-a-new-authorization) using basic authentication (without using the web flow) to create a token. I am not wanting to provide a client id and secret (read: can't provide). The closest thing I could find was [AuthorizationsClient.Create()](https://github.com/octokit/octokit.net/blob/master/Octokit

[2015-12-02 18:43] Haacked commented on #969
I don't believe there's any way to do that. Why can't you provide the client id and secret?

[2015-12-02 21:00] shiftkey commented on #969
Authorizations need an application id and secret, so that the user knows the context of why the token was created, and can revoke them at a later date.

[2015-12-02 22:23] dail8859 commented on #969
With everything I've read the id and secret need to be kept (not surprisingly) secret, but that's not possible if the code is open source.

Reading the API docs and using curl it's quite easy to create a new authorization without an id or secret, and I was just wanting to be able to do that from the library.

[2015-12-02 22:33] shiftkey commented on #969
Totally agree, but there's many ways to do this - for example, we use environment variables we manage the credentials for the integration test suite:

https://github.com/octokit/octokit.net/blob/master/Octokit.Tests.Integration/Helper.cs

[2015-12-02 23:04] ferventcoder commented on #967
@shiftkey any news here?

[2015-12-02 23:18] naveensrinivasan commented on #967
@ferventcoder  Do you have a code sample to recreate this?

[2015-12-02 23:50] dail8859 commented on #969
So...then anyone wanting to develop the code would have to create their own id and secret just to build it?

[2015-12-02 23:55] shiftkey commented on #969
@dail8859 correct

[2015-12-02 23:57] dail8859 commented on #969
Hmm OK. Sounds like a pain. Thanks for the info though.

[2015-12-03 00:18] naveensrinivasan commented on #967
I was able to create a gist using contents https://gist.github.com/ferventcoder/83fa0e5b93202537aa25#file-zbad-json and here is the gist that was created https://gist.github.com/naveensrinivasan/9952f4284509d0b43e94

and here is the code I used to create the gist https://gist.github.com/naveensrinivasan/09cb24b661178fe72b9f

[2015-12-03 01:45] ferventcoder commented on #967
@naveensrinivasan scroll up. Ignore the zbad.json. Those were from when I first started trying to decipher the issue and thought content-length might have something to do with it.

[2015-12-03 01:48] ferventcoder commented on #967
I will produce a failing code sample for octokit tonight.

[2015-12-03 11:14] shiftkey commented on #967
@ferventcoder I wasn't able to recreate it using the serialization logic we use, and I was laid up today with a crook back. On my list for tomorrow, any extra help reproducing it would be :sparkles::heart:

[2015-12-03 17:09] ferventcoder commented on #967
sure thing. Give me about 20 minutes or so

[2015-12-03 20:03] ferventcoder commented on #967
Okay, well that took a little longer - https://github.com/chocolatey/package-verifier/blob/344ba7ebf0dbbc7b4b99146f4b63d7589868ba89/src/chocolatey.package.verifier.tests.integration/infastructure.app/services/GistServiceSpecs.cs#L41-L83

Here are the files:
https://github.com/chocolatey/package-verifier/tree/344ba7ebf0dbbc7b4b99146f4b63d7589868ba89/src/chocolatey.package.verifier.tests.integration

[2015-12-03 20:05] ferventcoder commented on #967
Fails every time.

[2015-12-03 20:12] ferventcoder commented on #967
I'm collecting some more of these. Let me know if you need more than one failing one to determine the issue.

[2015-12-03 20:52] naveensrinivasan commented on #967
No, I am able to reproduce it from your files. From the quick look it looks like an issue with the JsonSerializer on the octokit.net client.

[2015-12-03 21:02] ferventcoder commented on #967
@naveensrinivasan awesome! I can test out a fix whenever you have one available. :)

[2015-12-03 21:46] naveensrinivasan commented on #967
It is this that is causing the issue
[code]
which is in line 733 in install.txt

I converted the string to char and corresponding int values. You could see the "0" which isn't getting converted to valid json in the json serializer. That is the bug.

[code]

I took the same content and tried to convert to json.net and I looks like it handles these characters
[code]

[2015-12-03 22:28] ferventcoder commented on #967
Small correction - line 735 - https://github.com/chocolatey/package-verifier/blob/344ba7ebf0dbbc7b4b99146f4b63d7589868ba89/src/chocolatey.package.verifier.tests.integration/context/gist/Install.txt#L735

[2015-12-03 22:30] ferventcoder commented on #967
@naveensrinivasan It's always encoding. Great job finding that!

[2015-12-03 22:31] ferventcoder commented on #967
Also, got to love installer output! :/

[2015-12-03 22:33] ferventcoder commented on #967
NSSM stdout there causing that ball of fun. I imagine that with some others that don't depend on NSSM, it's likely some other stdout encoding format fun :/

[2015-12-03 22:37] ferventcoder commented on #967
This package is also failing, while another version of it is passing - https://chocolatey.org/packages/MongoDb30/3.0.2.1

[2015-12-03 23:22] shiftkey commented on #967
@ferventcoder @naveensrinivasan apologies for not getting back to this yesterday. Thanks for troubleshooting! :metal:

[2015-12-03 23:49] naveensrinivasan commented on #967
Thanks. I will submit a PR for this.

[2015-12-04 15:20] ferventcoder commented on #967
@naveensrinivasan sweet! Thanks! I imagine this would cover all unicode then?

[2015-12-04 15:54] naveensrinivasan commented on #967
@ferventcoder  Yes, it should. I am hoping to get it done by the weekend.

[2015-12-04 16:43] dail8859 commented on #969
Not sure why I closed this, would still like to see the aforementioned API implemented eventually :)

[2015-12-04 16:49] Haacked commented on #969
Unfortunately, this is not the repository to log that request. I think an API that doesn't require those things and doesn't use the Web Flow would have major security concerns. You could email support@github.com to make such a request and provide more context on what goals you're trying to accomplish.

[2015-12-04 17:01] dail8859 commented on #969
Just to clarify, I'm not requesting any changes to the web API, only for the library to support that API call to create a personal access token.

It's how the (previously supported) Github android app did it.

[2015-12-04 17:04] Haacked commented on #969
Hmm, I'm confused. Do you want the library to support the web flow? If the web API doesn't have an endpoint for us to create an authorization token without the client secret, how would we implement that in the client library.

[2015-12-04 17:20] dail8859 commented on #969
I apologize, it is very possible I'm just using some wrong terminology, so here's an example.

Referencing [this](https://developer.github.com/v3/oauth_authorizations/#create-a-new-authorization) document, and using curl, you can see I can create a new personal access token.

![test](https://cloud.githubusercontent.com/assets/3694843/11596125/42d9b3b4-9a81-11e5-859a-c53ac6000352.png)

[2015-12-04 17:34] Haacked commented on #969
Ah! Got it. Want to submit a pull request implementing that change? I think we just need to add an overload to [`AuthorizationsClient`](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/AuthorizationsClient.cs).

[2015-12-04 17:37] dail8859 commented on #969
I'll have to pass :)

[2015-12-04 20:43] naveensrinivasan commented on #926
@shiftkey / @Haacked  Could we create one of these options?

[2015-12-04 22:47] naveensrinivasan opened #971 "Port DocPlagiarizer to Roslyn Analyzer so we can keep it around"
The DocPlagiarizer https://github.com/pmacn/DocPlagiarizer hasn't been maintained in the last 2 years.

DocPlagiarizer fails to compile in XamarinStudio https://github.com/pmacn/DocPlagiarizer/issues/3 .

Do we still need to have dependency on this?

[2015-12-04 22:49] shiftkey commented on #971
Nope. I'd like to port these rules over to Roslyn analyzers and code fixes so they Just Work Wherever™.

I'd be fine with disabling those when running outside of VS, or just :fire: it as things are relatively stable right now - it was a great help in the early days as the codebase was being built up.

[2015-12-04 22:53] naveensrinivasan commented on #971
OK Cool!  I like to use XS on mac to code and this is a bottle neck.

[2015-12-05 14:34] ferventcoder commented on #967
@naveensrinivasan Awesome! I look forward to it. Very timely for me. :)

[2015-12-05 15:50] naveensrinivasan commented on #967
@ferventcoder I have the code fixed in this branch. https://github.com/naveensrinivasan/octokit.net/tree/json-serialization

https://github.com/naveensrinivasan/octokit.net/commit/fafa5365d106ba74c38ddca6a970c15a80302fb5

I don't have test's checked in. I was able to upload the files you had issue with this fix. https://gist.github.com/naveensrinivasan/57cadd2e7df0e2a42066.

[2015-12-05 16:45] ferventcoder commented on #967
I'll see if I can take a look at this later today. :+1:

[2015-12-05 16:47] ferventcoder commented on #967
Just a couple changes since last release so far - https://github.com/octokit/octokit.net/compare/57b1e6cdb03fa1e98acc53142d3feeb28b90f6e5...master

[2015-12-05 22:25] ferventcoder commented on #967
Everytime I turn around I need to install another .net framework version. Is 4.6 a known thing for building this for 4.5?

[2015-12-06 01:31] naveensrinivasan commented on #967
@ferventcoder I have submitted a PR. I will try and make a change to the build in a PR which will include this fix and provide a nuget package in appveyor so that you could test without going through the hazzle of building it.

[2015-12-06 02:08] naveensrinivasan commented on #967
@ferventcoder  Here is a nuget package with latest fix https://ci.appveyor.com/nuget/octokit-net-naveen You don't need to build it locally :smile:

[2015-12-06 04:39] ferventcoder commented on #967
Initial findings are mixed. I watched a package that is known to fail and it failed. Another one passed just fine.

[2015-12-06 04:40] ferventcoder commented on #967
I turned back on recording gists and will get you the output of those.

[2015-12-06 04:45] ferventcoder commented on #967
This one finally passed though! https://gist.github.com/choco-bot/a2f154acf5b57bae0d7a

[2015-12-06 05:05] ferventcoder commented on #967
@naveensrinivasan here are some more failing items https://github.com/chocolatey/package-verifier/tree/master/src/chocolatey.package.verifier.tests.integration/context/failinggists

[2015-12-06 06:30] ferventcoder commented on #967
To be clear the command I used to grab the package was  `nuget install octokit -source https://ci.appveyor.com/nuget/octokit-net-naveen/ -pre` and it pulled down `0.17.0`. Let me know if that is not correct (I also don't see where the nuget package was published in https://ci.appveyor.com/project/Haacked15676/octokit-net/build/1.0.1474 tho).

[2015-12-07 01:46] naveensrinivasan commented on #967
@ferventcoder  Figured out what was the reason. The nuget package you are using is correct. It was overwritten by my other commits.

The issue was ,I was commiting other changes based on the master that didn't have this change and nuget package was generated on the appevyor on commits to the branch.

I have re-ran the build on the same commit which had my fix for Json serialization on the appveyor

[2015-12-07 03:33] ferventcoder commented on #967
https://gitter.im/chocolatey/chocolatey.org?at=5664f3305057376520dbe2f8 - looking great so far!

[2015-12-07 13:17] eiriktsarpalis commented on #963
Do you have any updates on this fix? Thanks.

[2015-12-07 18:30] ferventcoder commented on #967
Still have not had an error related to unicode.

[2015-12-07 18:32] Haacked commented on #926
I vote for Gitter simply because github/VisualStudio is already there and I want to avoid a million different chat systems. :stuck_out_tongue:

[2015-12-07 18:32] naveensrinivasan commented on #967
:+1:

[2015-12-07 23:55] shiftkey commented on #963
@eiriktsarpalis we already have an override for the timeout when uploading a release asset. Apologies for not mentioning it earlier:

[code]

Can you confirm this addresses the issue?

[2015-12-07 23:59] naveensrinivasan commented on #963
@shiftkey If I am not wrong the timeout is only for that request which is cancellation token. But http would time out all the request when it reaches 100 seconds https://msdn.microsoft.com/en-us/library/system.net.httpwebrequest.timeout(v=vs.100).aspx . @eiriktsarpalis  is using the same http client with multiple simultaneous concurrent requests.

[2015-12-08 00:20] shiftkey commented on #963
I must confess that it's been a while since this was last raised https://github.com/octokit/octokit.net/issues/567 - and given how people seem to be care when this gets in the way I'm going to look at whether it's possible to just remove this limitation. How does that feel @eiriktsarpalis @naveensrinivasan?

I'll follow up in #965 about the global change for timeout, because there's other tangenti

[2015-12-08 01:04] shiftkey commented on #781
@Haacked

You want to port the existing `ctors` on `GitHubClient` over to this `ClientInfo` class?

[2015-12-08 01:09] shiftkey commented on #781
Seeing how we're all roughly on the same page here, I'm going to open up a new issue to track the roadmap and break down the work better.

[2015-12-08 01:09] #781 closed

[2015-12-08 01:10] Haacked commented on #781
Not necessarily. I just mean I want to retain some of the existing `ctors` along with new ones that accept `ClientInfo`

[2015-12-08 01:11] shiftkey commented on #781
@Haacked okay, I'll keep that in mind

[2015-12-08 01:20] Haacked commented on #926
https://gitter.im/octokit/octokit.net

DONE!

[2015-12-08 01:20] #926 closed

[2015-12-08 02:14] naveensrinivasan opened #983 "Update Linqpad examples reference to local dll instead of nuget repo"
The linqpad references are pointing to nuget packages. It should be pointing to local dll to avoid build failures on release. https://github.com/octokit/octokit.net/releases/tag/v0.17.0

[code]

[2015-12-08 02:16] shiftkey opened #984 "[META] Use HttpClient Everywhere"
One of my favourite bits of Octokit is how we take away all the hassles of configuring the HTTP stack, and for the most part it works. But every now and again, people hit up upon limitations with our setup - and you have to re-implement `HttpClientAdapter` to get to these features, and navigate a lot of the Octokit plumbing which isn't great.
## The Goals

Two main things come to mind:
- I want to

[2015-12-08 07:46] shiftkey commented on #983
Had a look at this and found it to be a larger yak than previously anticipated. Problems to address:

 - `lprun` doesn't have an easy way to install certain packages - it's probably using `%APPDATA%\NuGet\NuGet.Config`
 - `nuget.exe` has a way to manage these sources from the CLI so we could script it, but perhaps we're not allowed to do this on AppVeyor. I gather this will be the same thing for T

[2015-12-08 23:51] naveensrinivasan commented on #983
I am going to fix the specific example to get it working and open another issue to address this for every check-in.

[2015-12-09 00:16] shiftkey commented on #983
@naveensrinivasan :thumbsup:

[2015-12-09 00:30] shiftkey commented on #968
Nevermind, looks like @naveensrinivasan might have already cracked this:

https://twitter.com/snaveen/status/674384982803136513

![](https://pbs.twimg.com/media/CVvlkXxVAAEmtT3.png)

[2015-12-09 00:31] naveensrinivasan commented on #968
https://gist.github.com/naveensrinivasan/58fa8eb57e61535f10db

[2015-12-09 00:32] shiftkey commented on #968
@naveensrinivasan this is so good! I'm kinda buried in work-related stuff this week but I'll try and make time to look into this...

[2015-12-09 00:34] naveensrinivasan commented on #968
Cool :+1:

[2015-12-10 08:28] chenjiaming93 commented on #968
awesome

[2015-12-10 09:38] alfhenrik commented on #969
I can take this if no one else has started it

[2015-12-10 12:11] #945 closed

[2015-12-10 22:05] Haacked commented on #984
A few comments.

[code]

One concern about this I forgot to bring up is that `http` here tends to be used as a singleton in many cases. And for the most part, that's fine. But `ClientInfo` is mutable here. Are we copying the values when we create the HTTP client?

Otherwise, we could run into subtle race conditions and concurrency issues if people change the values of the `ClientInfo` instance aft

[2015-12-10 22:21] Haacked commented on #984
Another comment, I think we need to enumerate a list of the type of settings people want globally vs per request to make sure this effort is worth doing as-is.

For example, as discussed in #985, `Timeout` to me seems like a per-request setting, though I'm OK with exposing a global `DefaultTimeout` property.

Another issue with the `ClientInfo` is by using properties to initialize it, we don't let

[2015-12-10 23:01] shiftkey commented on #984
@haacked

Captured these as tasks over in #985

I went down this path initially, but some tests we have have formats which I couldn't map to `ProductHeaderValue` correctly - likely due to using a version or comments. Thanks for opening #991 to dig into this.

[2015-12-11 01:21] haacked opened #993 "Update the Deployment documentation"
Now that we're moving to AppVeyor, we should try and get NuGet package deployment from AppVeyor working when we tag a `release` branch and then update this doc: https://github.com/octokit/octokit.net/blob/master/DEPLOYMENT.md

[2015-12-11 01:35] shiftkey commented on #993
I had some luck with this on an old project - this is the current AppVeyor config we're using to deploy to GitHub Releases and Chocolatey:

[2015-12-11 07:18] Haacked commented on #993
Does that deploy NuGet packages on every merge to master? I'd like to avoid that. I was trying to set it up so it would only deploy from a branch named "`release`" when we tag that release.

[2015-12-11 08:06] shiftkey commented on #993
Oh yes, I was totally lazy and made it deploy whenever `master` is updated.

How I created that file was roughly like this:
 - get the configuration setup right in the admin portal
 - generate the right `appveyor.yml` config file through the portal (sensitive values get encrypted)
 - add that to source control

[2015-12-11 08:07] #969 closed

[2015-12-11 08:58] alfhenrik commented on #993
According to [this](http://www.appveyor.com/docs/branches#conditional-build-configuration) you can specify conditional build configurations depending on branches

[2015-12-11 17:06] Haacked commented on #993
@alfhenrik Yeah. Further down on that page, you can also Build on Tags (GitHub only). I set that up in our appveyor, but it didn't seem to work. However, it's possible I did something wrong.

[2015-12-11 23:26] alfhenrik commented on #993
:cold_sweat: that took a lot more effort than I expected, but I finally got it working by adding the below to `appveyor.yml`

[code]

[2015-12-11 23:50] shiftkey commented on #993
This is something I'll be looking at next week. Thanks @alfhenrik for that extra info.

[2015-12-12 00:05] alfhenrik commented on #993
![](http://www.reactiongifs.com/wp-content/uploads/2013/05/kramer-yeah.gif)

:rocket: :fireworks: :tada: :confetti_ball:

The below works a treat
[code]

[2015-12-14 00:36] shiftkey commented on #874
Bumping this and opening it up for investigating, because I've seen it while testing #989

[2015-12-14 00:38] shiftkey opened #1000 "Review CanCreateAndGetAuthorizationWithoutFingerPrint test"
This was originally written while transitioning to an environment where we may need to support fingerprint-less authorizations. That's now required, so perhaps we can :fire: this test.

TODO:

 - do we have another test around creating authorizations that means this is not necessary?
 - is there something special to this test that we need to keep around?

[2015-12-14 00:43] shiftkey opened #1001 "Review CannotBeMergedDueNotInMergeableState test"
When this test was first written, it was designed to be in a state which would raise an exception if the consumer tried to merge it. That's now not the case.

TODO:

 - tweak the commits on the branch to see that it is back in an unmergeable state
 - verify the test now fails with the appropriate exception

[2015-12-14 00:44] shiftkey opened #1002 "Review TheDeleteMethod.DeletesRepository test"
For some reason, this test is unable to delete the repository immediately after creating it (it gets a 404).

TODO:

 - is there some period of time we need to wait before we can delete the repository?
 - let's get this test passing again

[2015-12-14 00:46] shiftkey opened #1003 "Review CanRetrieveAllDeployKeys test"
There seems to be a rule here in the vein of "you can't use that SSH key for deployment, it's already been added" - given the rule is based on a static public key from `ssh-keygen`, create a new key in the test might be a bit challenging to do - open to suggestions about how to tackle this.

Also relates to #533 because there are other muted tests in here.

[2015-12-14 09:00] Red-Folder commented on #874
@shiftkey Sorry - I didn't get much further in my investigation than noted above.

I seem to remember that I felt it was something to do with a connection being held open and it causing blocking (maybe some reference not being released correctly) - but it is likely to be something quite low level if the problem "disappears" when Fiddler is involved.

I have no scientific proof for my theory ;)

I'

[2015-12-14 10:30] shiftkey commented on #874
@Red-Folder it's all good. I wish I had a better answer for you about what might be happening but I've got many Windmills™ to Tilt At™* at the moment...

\* [citation](https://en.wikipedia.org/wiki/Tilting_at_windmills)

[2015-12-14 10:34] M-Zuber commented on #1002
I would like to try this one.

[2015-12-14 10:44] shiftkey commented on #1002
@M-Zuber let me know what you find out!

[2015-12-14 11:16] M-Zuber commented on #1002
Lets start with Works On My Machine™...

[2015-12-14 12:47] M-Zuber commented on #1000
looking into this

[2015-12-14 13:07] M-Zuber commented on #1000
What I have so far on this:
The `CanCreateAndGetAuthorizationByFingerprint` test does almost the exact same thing. *(some asserts maybe can be added based on the test w/o fingerprint)*

If the behavior is that `NewAuthorization` needs a fingerprint, then there is more involved then just removing the old test.
The model has to be also updated.

Will wait here on feedback before opening PR

[2015-12-14 14:15] khalidabuhakmeh opened #1008 "Add Author To Release Response"
Author is data returned from the `releases` endpoint, which is not accessible from OctoKit.Net.

[code]

[2015-12-15 09:16] distantcam opened #1010 "Octokit.NotFoundException : Not Found"
Yes thanks for that. Don't tell me what you didn't find.

[2015-12-15 21:02] Red-Folder commented on #874
Ok, update on progress.  I'm using an old version of the code (not pulled for about 3 months) ... but can recreate the problem for the Octokit.Tests.Integration.RedirectTests.CanCreateIssueOnRedirectedRepository test.

As originally, if I run the test from VS, it hangs/ times out.  Yes if I run with Fiddler, then I have no problem.

So I've run with Wireshark ... I've included a summary below (goo

[2015-12-15 21:08] shiftkey commented on #1010
This feels like our generic 404 exception (which the API typically returns when a repository doesn't exist) - do you have a snippet that I can use to explore this further?

[2015-12-16 01:09] shiftkey opened #1011 "Review StopsMakingNewRequestsWhenTakeIsFulfilled test"
This seems to trigger for a lot of contributors and builds - most recently #995.

Example failures:

 - https://ci.appveyor.com/project/github-windows/octokit-net/build/0.17.39
 - https://travis-ci.org/octokit/octokit.net/builds/97097413

Let's see if we can understand:

 - why this is occurring
 - whether we can make the test more robust
 - if there's an alternative way to test this (integration

[2015-12-16 02:09] distantcam commented on #1010
Yep, so after some digging I found the specific error was when trying to add a label to a repo with credentials that didn't have write access to that repo.

I can email you a script if that'll help.

[2015-12-16 02:24] shiftkey commented on #1010
@distantcam that'd be great. I can then generalize it and turn this issue into something we can improve more broadly...

[2015-12-16 18:24] #1008 closed

[2015-12-16 19:05] Haacked commented on #1010
So is the issue you want a specific exception?

A lot of our API endpoints return 404 to avoid information disclosure. So we can't tell you that it's an access denied necessarily. We could give an exception specific to the action such as `RepoLabelFailedException`. But I'm not sure that's all that valuable. You kind of know what you were doing, right?

[2015-12-16 19:09] Haacked commented on #1003
Why is that? My brain had a core dump and I don't retain any context at all about this code path. :stuck_out_tongue:

[2015-12-16 23:23] shiftkey commented on #1003
@haacked we'd need a way to emulate this sort of operation:

[code]

[2015-12-17 01:27] distantcam commented on #1010
Just a more specific message. `Not Found: 404 trying to retrieve resource https://api.github.com/...[specific endpoint]` would be useful.

![Dog at keyboard with caption "I don't know what I'm doing"](http://ghk.h-cdn.co/assets/cm/15/11/640x480/54ffe5266025c-dog1.jpg)

[2015-12-17 08:13] alfhenrik commented on #1011
Isn't this a duplicate of #904?

[2015-12-17 08:38] shiftkey commented on #1011
@alfhenrik yes - oops!

[2015-12-17 08:38] #1011 closed

[2015-12-17 17:12] Haacked commented on #1010
Kids these days. Always asking for useful relevant information in exception messages. IN MY DAY WE GOT "Unexpected error occurred" AND WE WERE GRATEFUL AN EXCEPTION EVEN OCCURRED!

:stuck_out_tongue:

[2015-12-17 23:48] shiftkey commented on #983
A thought based on re-reading [the docs](https://www.linqpad.net/lprun.aspx) just now:

For the purposes of CI, could we reference local packages (and the just-compiled assemblies) - rather than fighting with all the conventions of NuGet packaging?

It could work like this:

 - take the file from version control and read it into memory:

[code]

 - replace the XML element with a new payload refere

[2015-12-18 00:27] #1001 closed

[2015-12-18 00:51] shiftkey opened #1015 "Move INotificationsClient under IActivitiesClient"
Currently it's a top-level client:

[code]

But the [API documentation](https://developer.github.com/v3/activity/notifications/) has it located under `Activities`:

<img width="363" alt="screen shot 2015-12-18 at 11 17 10 am" src="https://cloud.githubusercontent.com/assets/359239/11886357/38144112-a579-11e5-93a7-0e10bb7c944e.png">

We should do the same - but mark the top-level property as `[Obsol

[2015-12-18 00:58] shiftkey opened #1016 "Activity -> Events - unclear usage"
The [API docs](https://developer.github.com/v3/activity/events/) have these two events which seem similar, but aren't really:

[code]

I can't see that the first resource has been implemented anywhere. The second resource has been implemented as `EventsClient.GetAllForRepository()`.

What I'd like to see done:
- implement the first endpoint as `EventsClient.GetAllForRepository`
- rename the second

[2015-12-18 06:12] shiftkey commented on #971
Now that #995 has been merged (removing this dependency) I'd like to see if we can bring it over as an analyzer - DocPlagiarizer was built using old versions of the Roslyn API, so I'm sure there's some way to port it.

[2015-12-18 06:17] Haacked commented on #1015
:+1:

[2015-12-18 06:18] M-Zuber commented on #1015
I'd like to try and take this

[2015-12-18 17:08] Haacked commented on #1016
:+1:

[2015-12-19 07:40] gabrielweyer commented on #1016
I'll take a stab at this.

[2015-12-20 04:04] M-Zuber commented on #1002
So of appveyor we have spoken.
Of the rest of this issue we have not

[2015-12-20 04:05] M-Zuber commented on #1000
:wave:

[2015-12-20 04:06] M-Zuber commented on #1002
@shiftkey @tting you as I remembered to not rely on other notifications

[2015-12-20 04:06] M-Zuber commented on #1000
@shiftkey @tting you as I remembered to not rely on other notifications

[2015-12-21 18:11] RobPethick commented on #615
@shiftkey looks like you've done some work updating CONTRIBUTING.md and adding the powershell script so I have just added a comment in the helper?

[2015-12-21 21:41] shiftkey commented on #615
@RobPethick yes, that'd be great - let's close this out!

[2015-12-22 22:40] #615 closed

[2015-12-22 23:35] shiftkey commented on #850
We did this in #956

[2015-12-22 23:35] #850 closed

[2015-12-22 23:36] shiftkey commented on #830
We did this in #956

[2015-12-22 23:36] #830 closed

[2015-12-22 23:37] shiftkey commented on #847
I have no idea what this task was for, but we need to port the DocPlagiarizer code over to a Roslyn analyzer or something. I'll open that in #849

[2015-12-22 23:37] #847 closed

[2015-12-22 23:38] shiftkey commented on #849
We're tracking #971 to bring this functionality back, so I'm closing this out as #995 removed this.

[2015-12-22 23:38] #849 closed

[2015-12-22 23:44] shiftkey commented on #832
Let's put the C# 6 discussions aside for now, but I'm keen to see us get DNX builds out now we're on VS2015. If someone is keen (or more familiar) with porting existing projects to the new platform I'm happy to jam with them on this.

You can see my previous attempt in #960 - it's close, but PCL support continues to torment me (as well as CI).

[2015-12-22 23:47] shiftkey commented on #435
Dropping this from the VS2015 milestone - we're still waiting on upstream support for DNX Core from Rx.NET

[2015-12-23 00:52] shiftkey commented on #1015
Fixed in #1019

[2015-12-23 00:52] #1015 closed

[2015-12-23 00:56] shiftkey opened #1021 "Implement Enterprise - Admin Stats client"
New in GitHub Enterprise 2.4

https://developer.github.com/v3/enterprise/admin_stats/

[code]

We don't currently have an `Enterprise` base client, but we can stub that out as part of a first PR.

[2015-12-23 00:57] shiftkey opened #1022 "Implement Enterprise - LDAP client"
New in GitHub Enterprise 2.4

https://developer.github.com/v3/enterprise/ldap/

[code]

[2015-12-23 00:58] shiftkey opened #1023 "Implement Enterprise - License client"
New in GitHub Enterprise 2.4

https://developer.github.com/v3/enterprise/license/

[code]

[2015-12-23 01:00] shiftkey opened #1024 "Implement Enterprise - Management Console client"
New in GitHub Enterprise 2.4

https://developer.github.com/v3/enterprise/management_console/

[code]

This has some additional security notes, for whoever ends up implementing this:

[2015-12-23 01:01] shiftkey opened #1025 "Implement Enterprise - Orgs client"
New in Enterprise 2.4

https://developer.github.com/v3/enterprise/orgs/

[code]

[2015-12-23 01:01] shiftkey opened #1026 "Implement Enterprise - Search Indexing client"
New in Enterprise 2.4

https://developer.github.com/v3/enterprise/search_indexing/

[code]

[2015-12-23 01:45] shiftkey opened #1028 "Implement Organization Webhooks client"
https://developer.github.com/v3/orgs/hooks/

Should be able to reuse a bunch of stuff from the repository hooks code

[2015-12-23 01:48] shiftkey opened #1029 "Implement Migration - Migrations client"
https://developer.github.com/v3/orgs/migrations/

I'm not 100% sure what this is all about, but it's in preview mode so it's not that urgent

[Update]
This API was moved out to a new location in a documentation update on.around the 19 February 2016
https://developer.github.com/v3/migration/migrations/

[2015-12-23 02:02] shiftkey opened #1030 "Implement User Administration client"
Specific to GitHub Enterprise

https://developer.github.com/v3/users/administration/

[code]

[2015-12-23 02:09] shiftkey opened #1031 "IRepositoriesClient.RepositoryComments -> IRepositoriesClient.Comment"
The repository prefix is redundant:

[code]

Mark the current property as obsolete, and introduce a new property named `Comment` (note the lack of pluralization):

[code]

[2015-12-23 02:15] shiftkey opened #1032 "IGitHubClient.Release -> IRepositoriesClient.Release"
This is currently defined as a top-level property, but is documented under `/repos/releases` in the API:

https://developer.github.com/v3/repos/releases/

[code]

We should mark the top-level property as obsolete and move this under `IRepositoriesClient`:

[code]

[2015-12-23 02:18] shiftkey opened #1033 "Implement Repository Pages client"
This should be a property off of `IRepositoriesClient`:

https://developer.github.com/v3/repos/pages/

[code]

[2015-12-23 02:24] shiftkey opened #1034 "IRepositoriesClient.CommitStatus -> IRepositoriesClient.Status"
A naming thing: https://developer.github.com/v3/repos/statuses/

[code]

We should mark this property as obsolete and introduce a new property, named `Status`:

[code]

[2015-12-23 02:33] shiftkey opened #1035 "IRepositoriesClient.Commits -> IRepositoriesClient.Commit"
This is a pluralized interface that we shouldn't really have:

https://developer.github.com/v3/repos/commits/

[code]

We should mark this property as obsolete and introduce a new property which is singular:

[code]

[2015-12-23 02:36] shiftkey opened #1036 "IRepositoriesClient.RepoCollaborators -> IRepositoriesClient.Collaborator"
The prefix is unnecessary, and is a pluralized property that we shouldn't really have:

https://developer.github.com/v3/repos/collaborators/

[code]

We should mark this property as obsolete and introduce a new property which is singular:

[code]

[2015-12-23 02:54] shiftkey opened #1037 "IGitHubClient.GitDatabase -> IGitHubClient.Git"
We should align this API with the documentation:

https://developer.github.com/v3/git/

[code]

We should mark this property as obsolete and introduce a new property which is abbreviated:

[code]

[2015-12-23 02:58] shiftkey commented on #1037
Or should we name this `GitData` to match with the section header?

[2015-12-23 09:05] khellang commented on #832
I can take a stab at this. Been porting quite a few projects lately. I probably won't have time until the new year arrives, though.

[2015-12-23 09:08] khellang commented on #832
What does this mean? Do you still want to target a PCL profile?

[2015-12-23 11:48] M-Zuber commented on #1037
Has this been an issue before (conflict of endpoint name in API and section header?)
If there is no precedence, my feeling is to stick with the actual api

[2015-12-23 11:51] M-Zuber commented on #1036
I'll take this

[2015-12-23 12:42] shiftkey commented on #832
@khellang as part of this change I wanted to replace the existing csproj files that Octokit is currently building (it's nice that MSBuild now tells me via errors).

However the one that I can never get right is `Profile259`. I've had various other people show me how they got it to work for their projects but it's never really mapped to how we've configured things with Octokit - I'm probably missin

[2015-12-23 12:42] shiftkey commented on #1037
No, just me thinking out loud.

[2015-12-23 14:37] khellang commented on #832
What do you mean by "get right"?

I think we should just ditch

 - Octokit-Mono.csproj
 - Octokit-MonoAndroid.csproj
 - Octokit-Monotouch.csproj
 - Octokit-Portable.csproj
 - Octokit-netcore45.csproj
 - Octokit.csproj

And aim for a single project.json with `dotnet5.1`, which is roughly the same as Profile259 (it has the same targets). That should also be Future-Proof™, until `netstandard1.0` take

[2015-12-23 14:38] khellang commented on #832
Like this; https://github.com/khellang/serilog/commit/15eaf8c9b97617d8a840d88d0c6db10146064849

[2015-12-23 14:39] ryangribble commented on #1029
FYI :

https://help.github.com/enterprise/2.4/admin/guides/migrations/about-migrations/

[2015-12-23 15:25] naveensrinivasan commented on #832
:+1:

[2015-12-23 16:08] M-Zuber commented on #1035
:tanabata_tree:

[2015-12-23 16:20] RobPethick commented on #1034
I'd like to work on this one

[2015-12-23 16:26] M-Zuber commented on #1034
Have fun, you might want to look #1042 for inspiration :grinning:

[2015-12-23 16:35] RobPethick commented on #1032
I'll work on this one

[2015-12-23 16:53] M-Zuber commented on #1031
I'll do this

[2015-12-23 20:44] M-Zuber commented on #1033
I would like to try this. Seems like the simplest option to hang on as a gateway into more hardcore stuff

[2015-12-23 21:35] shiftkey commented on #1029
@ryangribble :metal: thanks!

[2015-12-23 22:51] shiftkey commented on #832
Basically, I'd love a framework inside `project.json` for `".NETPortable,Version=v4.5,Profile=Profile259"` to Just Work.

Fair, but one of the reasons I was bashing my head against having all the currently supported platforms inside a `project.json` file is that it'll then generate the correct NuGet package - and I'd like to drop the hand-crafted work that we do there.

I've also not thought about

[2015-12-23 23:46] shiftkey opened #1045 "add some tests for Repository.Collaborator"
Reported here: https://github.com/octokit/octokit.net/pull/1040#issuecomment-166945235

It'd be nice to get some integration tests in here - mostly to verify that we're able to retrieve and deserialize details about the collaborators - as a regression test.

[2015-12-23 23:46] #1036 closed

[2015-12-23 23:49] #1031 closed

[2015-12-24 00:28] wdhodges opened #1046 "Tutorial on creating an issue?"
So I'm trying to use the Octokit.net API in my WPF application but for some reason I can't fully understand how to use the API. I've seen the documentation on creating an issue but I can't figure out how to get it to send, or even authenticate my account to create the issue. Does anyone know of a good tutorial to show this?

[2015-12-24 00:50] naveensrinivasan commented on #1046
https://github.com/octokit/octokit.net/tree/master/samples/linqpad-samples

https://github.com/octokit/octokit.net/tree/master/docs

These would probably help in getting started.

[2015-12-24 01:38] shiftkey commented on #1046
@wdhodges @naveensrinivasan the published version of the Getting Started guide is probably worth looking at:

http://octokitnet.readthedocs.org/en/documentation/getting-started/

There's also a section about Issues

http://octokitnet.readthedocs.org/en/documentation/issues/

If there's things that you don't find clear, let us know and we can refine them

[2015-12-24 02:37] naveensrinivasan commented on #1046
@shiftkey  Do we want to add the above link to `README.md`?

[2015-12-24 02:49] shiftkey commented on #1046
@naveensrinivasan it'll appear when the `documentation` branch has been merged: https://github.com/octokit/octokit.net/tree/documentation#documentation

[2015-12-24 03:36] ryangribble commented on #1021
I'll take this

[2015-12-24 04:42] wdhodges commented on #1046
Thank you guys for your speed replies!

[2015-12-24 06:00] shiftkey commented on #983
Bumping this as the API changes we're doing here won't be caught by the `lprun` changes...

[2015-12-24 11:12] naveensrinivasan commented on #983
@shiftkey  Will look into this next week.

[2015-12-24 11:14] M-Zuber commented on #1045
I'll take this.
(only right as it's my fault it is here :stuck_out_tongue:)

[2015-12-24 16:44] RobPethick commented on #1037
I'll take this. And implement as Git as I think matching the API is best.

[2015-12-24 16:48] M-Zuber commented on #1037
Glad someone agrees with me ;)

[2015-12-27 15:06] M-Zuber commented on #1045
okay, so this seems to be quite complicated (and possibly the reason tests were not written previously)
You can not get collaborator data if you do not have push access to the repository.
@shiftkey what do you say?

[2015-12-27 21:24] shiftkey commented on #1045
@M-Zuber you might be right - from the docs:

I suspect `pull` wouldn't give you much data, but I haven't looked into it.

To test this out, you could use a newly-created repository and add/remove collaborators from there before tearing it down...

[2015-12-27 21:36] M-Zuber commented on #1045
Well I guess I am going to sacrifice my user to lots of notifications :) (or make yet another one :)
Hope to get to this soon

[2015-12-29 23:17] twcclegg opened #1052 "Create blob containing double quotes fails"
Trying to create a blob that contains double quotes (") fails:
[code]
This returns a sha but when trying to make a tree based on this blob I get error that that sha is not a valid blob.

[2015-12-31 18:53] JakesCode opened #1053 "At a loss for pushing the issue using Create()"
Don't know if this is the place to ask, but I couldn't find anywhere else to ask a question directly relating to octokit.

I'm developing this app where there's an option to report any issues with it. I've managed to create the Issue using the documentation provided with this:

    Form6 issuesBox = new Form6();
    issuesBox.ShowDialog();
    var createIssue = new NewIssue(issuesBox.issueName);

[2015-12-31 19:39] M-Zuber commented on #1053
Try:
`client.Issue.Create`
On mobile so can't be that much more helpful. Apologies

[2015-12-31 20:02] JakesCode commented on #1053
Thanks, this fixed it.

[2016-01-01 02:13] shiftkey commented on #1053
Reopening this to get it addressed in the documentation

[2016-01-01 02:15] JakesCode commented on #1053
I was just confused as to where "_issuesClient" came from, as I suspect others will/would be - maybe clarifying that would help others.

[2016-01-01 02:51] shiftkey commented on #1053
@JakesCode could you link to where in the docs you found this `_issuesClient`? I think I know the place, but if someone else wants to dive in and fix it first it'd be greatly appreciated...

[2016-01-01 02:55] JakesCode commented on #1053
@shiftkey Done and done.
https://github.com/octokit/octokit.net/pull/1054

[2016-01-01 20:25] JakesCode opened #1056 "I've written something for the Labels docs."
Here it is:
https://github.com/octokit/octokit.net/pull/1055
If anyone with write access thinks it's good enough, obviously go ahead.

[2016-01-01 22:48] shiftkey commented on #1056
@JakesCode looks good - in the future just go straight to the PR, no need to open an issue

[2016-01-01 22:48] #1056 closed

[2016-01-03 21:01] #1035 closed

[2016-01-05 08:04] ghuntley commented on #899
![](https://cloud.githubusercontent.com/assets/359239/10264661/17a49d2e-6a13-11e5-9e78-c754e076027a.gif)

Indeed, I was in the middle of stealing your fsharp `build.fsx|build.cmd|build.sh` for ReactiveUI and ran into the same SourceLink error.

`script/*` seems like a good convention, will check out what you have done up in #924 for inspiration.

[2016-01-05 11:48] wvdvegt commented on #877
Any plans to support this (for example Open Live Writer integration)

[2016-01-05 20:30] daveaglick commented on #874
I'm seeing this too, including the odd behavior that it works when Fiddler is open. I thought I was going crazy. It's happening for me on calls to `GitHubClient.Issue.GetAllForRepository()` - anytime the repo has been redirected, the call hangs and then eventually times out.

[2016-01-10 19:23] daveaglick opened #1059 "Support for star creation timestamps"
[The API docs explain](https://developer.github.com/v3/activity/starring/#list-stargazers) that by passing a special `Accept` header (`Accept: application/vnd.github.v3.star+json`) you can have the stargazers list return star creation timestamps (same for getting the repositories starred by a user). This is useful if you're trying to see star behavior over time (I.e., to create a graph or sparklin

[2016-01-12 01:18] Haacked commented on #1059
:thumbsup:

[2016-01-12 03:30] shiftkey commented on #1059
No objections here  - and thanks for logging it as it's not something I thought about when doing the API audit!

[2016-01-12 05:50] #1045 closed

[2016-01-15 17:52] elbaloo commented on #1037
This can be closed.

[2016-01-15 17:57] Haacked commented on #1037
Thanks!

[2016-01-15 17:57] #1037 closed

[2016-01-20 13:43] M-Zuber opened #1062 "How do I test the things"
When writing unit tests, you have to write something like the following:
[code]

Without the null on the last line the test will fail on an `Ensure` check that the uri is null, but it is not clear why it is needed or what it does.

I am mostly confident that the problem is not really with `octokit` but where can i go to better understand the tools being used?

[2016-01-21 01:54] Haacked commented on #1062
Hi @M-Zuber, we're using [NSubstitute](http://nsubstitute.github.io/).

But I'm confused by what you wrote. Are you saying that if you pass something other than null you get a test failure? Or if you omit that last argument?

Also, `connection.Get` returns a `Task` so you need to set up that return value.

[2016-01-21 02:28] shiftkey commented on #1062
@M-Zuber

So NSubstitute takes a different tact to other mocking frameworks by making the proxy object transparent (no `Mock<T>` anywhere), and using extension methods on the object to verify behaviour. This is the purpose of the `.Received()` extension method, but it's a bit obscure because it still returns your `IApiConnection`.

So from the value returned from `.Receieved()` you then declare th

[2016-01-21 04:31] M-Zuber commented on #1062
If I omit the last argument.

I was just following most other tests, where all that is being checked is the fact the correct url was touched.

It is being invoked and therefore failing as it sees the URI as null.

This sounds exactly right to me, a simple repro is too take the test [here](https://github.com/octokit/octokit.net/blob/master/Octokit.Tests/Clients/RepositoryHooksClientTest.cs#L44) and

[2016-01-25 03:54] shiftkey commented on #1062
Well, this is interesting:

<img width="565" alt="screen shot 2016-01-25 at 2 22 00 pm" src="https://cloud.githubusercontent.com/assets/359239/12542123/1ac1cc1a-c36f-11e5-8eea-7f5d448b471a.png">

By dropping the `null` it now uses an extension method - which explains why you're seeing real code run at that point. However it doesn't quite fully explain why the `uri` is null, but I'm sure they're re

[2016-01-25 04:05] shiftkey commented on #1062
So we have a few of these [extension methods](https://github.com/octokit/octokit.net/blob/master/Octokit/Helpers/ApiExtensions.cs) but I'm not sure whether we should:

a) move them back into `IApiConnection` as they aren't really complicated and will clean up the tests
b) properly investigate why the mock object created isn't handling the received `Uri` correctly - perhaps it's never worked...

Fa

[2016-01-25 04:44] shiftkey commented on #1062
Opened #1063 to address this specific problem. Feedback/suggestions welcome.

[2016-01-25 04:52] #1059 closed

[2016-01-26 09:59] #1033 closed

[2016-01-26 19:12] shiftkey opened #1065 "New Parameters on "List Your Repositories""
As per the [API documentation](https://developer.github.com/v3/repos/#list-your-repositories) the [RepositoryRequest class](https://github.com/octokit/octokit.net/blob/b9eeed3a8a9411cfe8ae79e2271c4ca9906e723f/Octokit/Models/Request/RepositoryRequest.cs) is missing some options.
The options missing are `visibility` and `affiliation`.

[Read this to get setup for contributing](https://github.com/oct

[2016-01-26 19:24] #1062 closed

[2016-01-26 19:26] M-Zuber commented on #1065
Would you want these done as Enums or strings?

[2016-01-26 19:27] shiftkey commented on #1065
I'd prefer enums

[2016-01-26 19:29] M-Zuber commented on #1065
How do you feel about me trying to write this up so it is first-timer friendly?
Otherwise I would like to take it

[2016-01-26 19:30] shiftkey commented on #1065
I can expand on this - but I'm not sure we have a good example of "multiple enums" elsewhere in the codebase to point to...

[2016-01-26 19:33] M-Zuber commented on #1065
Don't to the work yet, give me till tomorrow and I'll try and post what I mean.

[2016-01-26 19:35] shiftkey commented on #1065
:thumbsup:

[2016-01-27 00:23] lbrader opened #1066 "example of clone a repository"
Simple example of cloning a repository to my local box.

I have been going through the linq samples & integration test.

Note, I have successfully worked in adding issues to a repository.  And working with repository on github, but I'm struggling in understanding how you do a simple clone in octokit.

thanks

[2016-01-27 00:26] shiftkey commented on #1066
Unfortunately Octokit is limited by what is available through the GitHub API - there are some Git operations there's no equivalent to "clone" available.

I'd recommend looking at [libgit2sharp](https://github.com/libgit2/libgit2sharp) which is a C# library for working with local repositories. Here's what the clone operation looks like in code:

[code]

Or if you need to authenticate:

[code]

Ther

[2016-01-27 00:27] #1066 closed

[2016-01-27 01:18] lbrader commented on #1066
Thanks Brendan, quite helpful redirect.  I have public cloning operation working with libgit2sharp.

I do like Octokit and was quite successful in working directly on GITHUB.    But realized after working trying to branch, fork that I couldn’t get a local copy.

So am I wrong in thinking the rule of thumb is:

-        Use Octokit for manipulating GITHUB directly

-        Use libgit2sharp for man

[2016-01-27 02:08] shiftkey commented on #1066
@lbrader that's a pretty accurate way to think about it

[2016-01-27 05:45] #463 closed

[2016-01-27 06:24] M-Zuber commented on #1065
[I made a gist](https://gist.github.com/M-Zuber/6c49f6ad1a77980cfec5). Will add some comments there.

[2016-01-29 16:56] onatbas opened #1069 "ReleaseAssetUpload Timeout doesn't work"
Hi.

I'm trying to increase the timeout of my ReleaseAssetUpload object like this:

[code]

Afaik this means one and a half hours of timeout. Hoewever this doesn't work and my connection is disconnected after a couple of minutes, resulting in:

[code]

Any idea?

[2016-01-29 17:28] hahmed opened #1070 "Check if user is a collaborator on repo throws an exception"
I am trying to check if a user is a collaborator on a repo.

https://developer.github.com/v3/repos/collaborators/#get

The code I am running is below:

[code]
Assume that I am getting the current user and the context of the code is:

https://github.com/hahmed/Sprint/blob/master/Sprint/Controllers/HomeController.cs#L58

I should get back false - as **hahmed** is not a collaborator on the Octokit.ne

[2016-01-29 17:42] Haacked commented on #1070
I think that exception message tells you everything you need to know:

So unless you have push access to the repository (octokit/octokit.net), you can't view repository collaborators. Try changing the call to a repository that you have access to (such as one of your own) and see if the call succeeds.

[2016-01-29 19:39] naveensrinivasan commented on #1069
This is an issue https://github.com/octokit/octokit.net/issues/963 . Here is a workaround https://github.com/fsharp/FAKE/pull/1048

[2016-01-30 00:02] ryangribble commented on #1023
Im working on this one at the moment

[2016-01-30 00:02] ryangribble commented on #1025
You can assign this one to me too

[2016-01-30 07:34] onatbas commented on #1069
Thank you @naveensrinivasan for pointing me in the right direction. I just needed a quick commandline tool so what I did is that I just added a timeout to the default Http client in the HttpClientAdapter here. I know It's ugly (I had to turn off Code Analysis for that !) but it works for me.

https://github.com/octokit/octokit.net/blob/master/Octokit/Http/HttpClientAdapter.cs

Thanks.

[2016-01-31 03:35] Eilon opened #1071 "PullRequest missing Milestone property"
Related: https://github.com/octokit/octokit.net/issues/910

[2016-01-31 10:30] shiftkey commented on #1071
Likely an oversight. You can probably reuse the `Milestone` model we use for an issue if someone wants to add this in.

[2016-01-31 11:33] shiftkey commented on #1053
This was merged into `master` late last week!

http://octokitnet.readthedocs.org/en/latest/issues/

[2016-01-31 11:33] #1053 closed

[2016-01-31 20:36] Eilon commented on #1071
Yeah working on a PR :smile: Had to update some VS stuff to try to get everything to compile (I didn't have the WP8.1 SDK or something).

[2016-01-31 21:10] M-Zuber opened #1074 "Pulling out JSON parser"
The premise for this question is as follows:
I am working on a project template for visual studio that will make it easier to create API wrappers ala octoki.net
As I was getting familiar with the project and code structure used, I noticed that the JSON parsing is done by a few small classes internal to octokit.
I am mainly refering to [this file](https://github.com/octokit/octokit.net/blob/master/

[2016-01-31 22:15] shiftkey commented on #1074
It's tied to SimpleJson, which we use as an internal dependency. We've submitted some patches upstream to `SimpleJson.cs`, but `SimpleJsonSerializer` is the hooks for us to control how to serialize and deserialize objects in the context of Octokit.

For me, I guess it comes down to whether you're happy with how you're using the current Octokit APIs, or whether there's a different way (or abstracti

[2016-01-31 22:33] shiftkey commented on #1071
Seems plausible

[2016-01-31 22:58] shiftkey opened #1076 "tracking TravisCI build issues"
Currently I'm just turning the TravisCI builds on and off again through the portal when something goes awry. That's not great.

Opening this to track these failures better so I don't need to do this as often.

[2016-01-31 23:41] Eilon commented on #1071
PR sent out: #1075

[2016-02-01 05:58] M-Zuber commented on #1074
Thank you for responding. Apologies if I was not clear enough.
I'm asking about the serializer **not** in the context of octokit.net.
For example there is [this api](http://beta.pokeapi.co/docsv2/) which has no wrappers. I would like to create one modeled after the octokit way.
Since there are multiple such apis, a project template with the folder structure setup would be nice.
In order to make it

[2016-02-01 06:58] shiftkey commented on #1074
@M-Zuber it's all good, happy to talk further about it

I don't think it'd be much work - I'm pretty sure someone has repurposed this codebase (or been inspired by it) to apply it to a different sort of API. I forget the product, it came through via Twitter.

The serializer rules are kind of tweaked to what the GitHub API expects - but it's nothing special.

Here's a bit of a brain dump of some of

[2016-02-01 08:06] M-Zuber commented on #1074
It may very well have been me :grinning:, as I have been sitting on this for a long time

Thank you very much for the information. I'm going to start the exploration. Hopefully it won't take too long to get something out into the open

[2016-02-01 08:43] shiftkey commented on #1074
Nah, it wasn't you - I'm pretty sure it was for the [Confluence API](https://docs.atlassian.com/confluence/REST/latest/) but I think they were speaking more generally in terms of the Octokit architecture

[2016-02-01 09:24] M-Zuber commented on #1074
¯\_(ツ)_/¯
They have nice docs btw :wink:

[2016-02-01 10:10] M-Zuber commented on #1028
I'd like to take this

[2016-02-01 11:08] #1021 closed

[2016-02-01 11:23] ryangribble commented on #1032
Just going through open issues and noticed this one was fixed in #1058 and should be closed

[2016-02-01 11:48] shiftkey commented on #1032
Whoops! The auto-closing of PRs didn't catch this one. Done!

[2016-02-01 11:48] #1032 closed

[2016-02-01 13:39] ryangribble commented on #1022
I'll take this one next

[2016-02-01 13:54] ryangribble commented on #1026
Im going to take this one  too

Question: Given the various options that are passed in to this API call as "target" parameter, what would be the preferred approach?  I was thinking of creating individual methods for the various options...  I haven't found a similar API elsewhere yet, though Im not familiar with the entire API.

[code]
So my proposal would be to create functions similar to:

[code]

[2016-02-01 14:07] ryangribble commented on #1026
Or another approach would be to have a single method with overrides for owner, or owner+repo, and an enum to specify the scoping

[code]

:question:

[2016-02-01 14:25] hahmed commented on #1070
Thanks

Looks like I will have to use the code below to check if the current user is a collaborator.

[code]

[2016-02-01 14:25] #1070 closed

[2016-02-01 17:23] #1071 closed

[2016-02-01 22:26] shiftkey commented on #1076
Timeout? https://gist.github.com/shiftkey/777ce24a06cb1f4c60ca

[2016-02-01 22:34] shiftkey commented on #1076
"Got a SIGSEGV while executing native code." https://gist.github.com/shiftkey/ab637423fd610e1dc0ce

[2016-02-01 23:31] asizikov commented on #1034
@shiftkey Am I right: this issue was already fixed by #1043

[2016-02-01 23:36] shiftkey commented on #1034
@asizikov yes - another one that missed the "auto-close on PR" boat! Thanks for reminding me!

[2016-02-01 23:36] #1034 closed

[2016-02-01 23:58] shiftkey commented on #1026
@ryangribble the first snippet could be distilled down to this:

[code]

But the second could also work. Happy to go with whatever feels natural once you're writing the plumbing inside the client.

[2016-02-02 00:21] shiftkey opened #1078 "unable to revoke all authentications from the API"
[code]

The important bit is:

Going to mark the API as obsolete and document it in this release - the documentation now doesn't mention this at all.

[2016-02-02 02:42] shiftkey commented on #1030
Fixed in #1068

[2016-02-02 02:42] #1030 closed

[2016-02-02 06:07] shiftkey commented on #983
I wanted to be sure our stuff was working fine before shipping this latest release, so I ended up writing the code I needed for the above steps into an integration test:

https://github.com/octokit/octokit.net/blob/b4476f173944c93a9500949a467c4bd91a474639/Octokit.Tests.Integration/SelfTests.cs

I've muted the previous `ValidateLINQPadSamples` with a note if someone wants to get involved with porti

[2016-02-02 07:46] #1078 closed

[2016-02-02 08:00] shiftkey opened #1081 "Port LinqpadSnippetsCompileCorrectly test to F# code"
Initially we had the ability to test the LINQPad samples would compile from build scripts.

Unfortunately we realised the scripts would download and test against the NuGet package for the latest public release, rather than the local assemblies for the latest source code. So we couldn't test the scripts worked against the latest assemblies. See #987 for an example where we were caught out.

As part

[2016-02-02 08:01] shiftkey commented on #983
As this issue has changed a lot since first reporting, I've opened a fresh issue #1081 with the remaining work to close this out.

[2016-02-02 08:01] #983 closed

[2016-02-02 22:09] hahmed opened #1082 "SearchIssuesRequest with State = ItemState.All"
https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/SearchClient.cs#L52

Searching issues via the search api does not look like it is working when setting the state parameter to `ItemState.All`, this only seems to work for `ItemState.Open` or `ItemState.Closed`.

e.g. `https://github.com/search?q=state%3Aall+repo%3Arails%2Frails&type=Issues`

Does not yield any results. I have tried

[2016-02-02 22:14] hahmed commented on #1082
I added a working example in my sample repo:

https://github.com/hahmed/Sprint/blob/master/Sprint/Controllers/HomeController.cs#L118

[2016-02-02 22:16] shiftkey commented on #1082
@hahmed can we capture this as a failing integration test in the repo?

[2016-02-02 22:17] ryangribble commented on #1026
So I implemented most of this last night, your distilled version felt pretty natural @shiftkey

The only "fun" thing so far is that the "single" queue actions (like owner and repo) endpoints return a single "message" response element like
[code]

Whilst the other "QueueAll" type endpoints return an array of messages, like

[code]

It looks like the json parser does handle deserializing the single

[2016-02-02 22:24] hahmed commented on #1082
@shiftkey yep sure.

So I just need to write a failing test for:

https://github.com/octokit/octokit.net/blob/master/Octokit.Tests.Integration/Clients/SearchClientTests.cs

For example the below would be a valid failing integration test?

[code]

[2016-02-02 22:29] shiftkey commented on #1082
@hahmed that seems good enough for me - and if you could mark the test as `[Fact (Skip="see https://github.com/octokit/octokit.net/issues/1082 for investigating this failing test")` this will help link back to this discussion

[2016-02-02 22:40] hahmed commented on #1082
@shiftkey done.

https://github.com/octokit/octokit.net/pull/1083

[2016-02-02 23:27] shiftkey commented on #1026
![](https://cloud.githubusercontent.com/assets/359239/12767919/392f43be-ca5c-11e5-8149-bf4f9e4ef5a5.gif)

Ideally, I'd like to deal with the latter - are you able to isolate this in a test to the deserializer step? (i.e. just use the JSON and try to deserialize to the list)

[2016-02-02 23:34] shiftkey commented on #967
I think we should have closed this out a while ago @ferventcoder let me know if you see it again.

[2016-02-02 23:34] #967 closed

[2016-02-02 23:41] shiftkey commented on #1046
As #948 has been merged and the README now has a Documentation section

https://github.com/octokit/octokit.net#documentation

I'm going to close this out.

[2016-02-02 23:41] #1046 closed

[2016-02-02 23:43] shiftkey commented on #911
@naveensrinivasan is this still occurring for you after we setup CI for the Mono builds?

[2016-02-02 23:47] shiftkey opened #1084 "PullRequest should return Locked property"
We did this in #1039 but there's also a `Locked` property in the JSON for a `PullRequest` that we can return.

[2016-02-02 23:48] shiftkey commented on #896
As this is related to the GitHub product itself, rather than the API clients, I'm going to close it out.

For reference, the API is now returning `locked` properties for issues in Octokit (but not Pull Requests, so https://github.com/octokit/octokit.net/issues/1084 is that task). When the other stuff becomes available, we'll expose it in Octokit.

[2016-02-02 23:52] shiftkey commented on #867
The `MergedAt` change is now available in v0.18. I think we're good here.

I've got a side project which depends on whether a pull request is mergeable (rather than past-tense merged), so once I've updated that I'll come back to this to see if there's any extra work to do here.

[2016-02-02 23:52] #867 closed

[2016-02-02 23:58] shiftkey commented on #375
We're doing an API audit in #1038 and have marked a few things as obsolete in the most recent release.

I think we settled on singular for the naming convention, but we'll use that to keep things up to date (and later enforce this via convention/integration tests)

[2016-02-02 23:58] #375 closed

[2016-02-03 00:11] shiftkey commented on #869
This works for me on the latest Octokit release (v0.18):

[code]

Closing this out as I'm not sure what else we need to do here.

[2016-02-03 00:11] #869 closed

[2016-02-03 00:15] shiftkey commented on #968
Closing this out in favour of #1038 - will spin more work out from that.

[2016-02-03 00:15] #968 closed

[2016-02-03 00:19] shiftkey commented on #502
Found myself looking at `Mergeable` again for a side-project - turns out the list of pull requests doesn't return the field, and it's now computed on-the-fly:

Will test against the latest release and see what else needs to be done. Closing out as "alot of time has passed".

[2016-02-03 00:19] #502 closed

[2016-02-03 00:21] shiftkey commented on #373
Looks like #976 was merged to finally address this. It's available in v0.18. Moving on.

[2016-02-03 00:21] #373 closed

[2016-02-03 00:29] shiftkey commented on #958
This work is still outstanding.

For reference, here's the documentation: https://developer.github.com/v3/repos/contents/#create-a-file

I think extending `CreateFileRequest` to provide this new parameter is the best way to go about it.

I'd also have a look at `UpdateFileRequest` (and the docs https://developer.github.com/v3/repos/contents/#update-a-file) as the changes should be similar for both

[2016-02-03 00:32] shiftkey opened #1086 "integration tests for GetLatestRelease"
The work implementing this change has been done in #975, however it'd be nice to capture some regression tests to ensure this is working as expected.

Nothing fancy - given the latest release could be a moving target I'm happy to ensure that we're getting a deserialized result back from the endpoint...

[2016-02-03 00:47] shiftkey commented on #966
This will go out in the next release (v0.19?)

[2016-02-03 00:47] #966 closed

[2016-02-03 02:24] ferventcoder commented on #967
Everything is good! We've run the verifier now almost 12,000 gists!
https://gist.github.com/choco-bot/

On Tuesday, February 2, 2016, Brendan Forster <notifications@github.com>
wrote:

--

Rob
"Be passionate in all you do"

http://codebetter.com/robreynolds
http://ferventcoder.com
https://twitter.com/ferventcoder

[2016-02-03 05:16] ryangribble commented on #1026
:+1: ok will take a look tonight

[2016-02-03 11:37] ryangribble commented on #1026
Yep a failing test like this shows the problem.

[code]

Ill either fix it, or raise an issue and Ignore the test (noting the issue number).  Just want to finish off implementing this SearchIndexing api first

[2016-02-03 12:50] ryangribble commented on #1026
So the responsible line is https://github.com/octokit/octokit.net/blob/master/Octokit/Http/SimpleJsonSerializer.cs#L93
```stringValue = stringValue.Replace("-", "");```

Looking at when it was added on PR #727 https://github.com/janovesk/octokit.net/commit/46e572131f7175b3a85a6a86d62b139c49d22111 ...
It looks to me like the problem of handling underscores in enum values should be taken care of by

[2016-02-03 18:36] M-Zuber opened #1088 "Purpose of NewRepositoryWebHook class"
[This class](https://github.com/octokit/octokit.net/blob/master/Octokit%2FModels%2FRequest%2FNewRepositoryWebHook.cs) does not seem to be used anywhere in the actual code.

Is there implementation missing somewhere? Or am I missing something?

cc'ing @alfhenrik as it seems that he was the contributor of that code.

[2016-02-03 20:22] M-Zuber commented on #958
The property already exists [here](https://github.com/octokit/octokit.net/blob/master/Octokit%2FModels%2FRequest%2FCreateFileRequest.cs#L32)
Do you want a PR to add it to the constructor?

[2016-02-03 21:22] shiftkey commented on #1026
@ryangribble excellent find! I'll look over that PR to see if I can understand why we might have done that.

I can also look over the integration tests as part of this review, to sanity check things...

[2016-02-03 21:23] shiftkey commented on #958
@M-Zuber I think a new `ctor` taking the branch name is good enough here

[2016-02-03 21:25] shiftkey commented on #958
@M-Zuber also, thanks for noticing the base class before it was too late :grin:

[2016-02-03 21:27] M-Zuber commented on #958
:grinning:
I'll send a PR in the morning.

I assume in addition?
Every class in the inheritance chain should get such an overload added?

[2016-02-03 22:24] ryangribble commented on #1026
Yep, I removed the line and all current unit and integration tests passed, including the ones for property values with underscores added back in that PR, so it's a good sign.

Of course if we don't have test coverage for every scenario we may miss something, but the best way to handle that IMO is to add tests if/when something breaks. Judging by the existing tests it looks like there's been a good

[2016-02-04 00:07] #1084 closed

[2016-02-04 00:10] Haacked commented on #1088
That's a helper class for when you're implementing a server side web hook target. For example, on gtihub.com you can configure a repository to request a URL every time a new repository is created.

Well, now you need to implement that endpoint. If you happen to be using ASP.NET MVC for example, you could add an action method that accepts this class (and use the JSON model binder) and receive the p

[2016-02-04 00:46] #822 closed

[2016-02-04 01:27] shiftkey commented on #1026
I'd like to address that in isolation, so a separate PR would be :sparkles:

[2016-02-04 07:04] M-Zuber commented on #1028
Per #1088, is a similar server side model wanted for OrganizationWebHooks?

[2016-02-04 07:05] #1086 closed

[2016-02-04 10:30] M-Zuber opened #1092 ".\build FixProjects quirk"
Somehow I ended up with the situation that the Mono\* projects had files, but the default did not.
Running the script does not fix it.

This may be a freak problem so not worth fixing.

[2016-02-04 10:47] M-Zuber commented on #1065
pinging @shiftkey

[2016-02-04 21:36] shiftkey commented on #1065
@M-Zuber those notes seem fine - want me to pull them into the issue description?

[2016-02-05 04:47] M-Zuber commented on #1065
+1.
Im thinking then we should delete the rest of the comment thread so there is less noise?

[2016-02-05 04:52] shiftkey commented on #1065
@M-Zuber done

[2016-02-05 06:23] M-Zuber commented on #1092
So here is the story:
I did a `git pull` on a computer that I had not done so for a while.
For some reason it updated all the `.csproj` files correctly - except for the default.
Weirder is that once I included the files manually - git told me that there were changes in the .csproj - namely lines not in the right place.

So it knew the files existed and where supposed to be included but VS did not.

[2016-02-05 12:41] ryangribble commented on #1026
Done (#1094) and also completed this Search Indexing API (#1095)

[2016-02-05 16:56] Sarmad93 commented on #1065
I will try to implement this.

[2016-02-07 22:46] M-Zuber commented on #1065
I realized that tests where not mentioned in this issue.
@shiftkey do you think they should be added as a requirement to the existing PR, or a separate issue opened up?

[2016-02-08 09:19] M-Zuber opened #1098 "Creating a branch"
Currently (and this is per the API) there is no comfortable way to create a branch.
You have to do something like the following:
[code]

Is there room to consider creating a wrapper for this?

If so, is there also a way to cut down on the calls? Or would it just be for the users convenience?

[2016-02-08 22:31] Haacked commented on #1098
Yes! Probably should be an extension method. That would be a good way to indicate that this is a wrapper and not a 1-1 mapping with an API call.

Not that I know of. It would be a nice convenience method.

[2016-02-08 23:47] shiftkey commented on #1065
@M-Zuber let's see what we can do in the PR. If that doesn't progress, we can extract a task from that like we've done in the past.

[2016-02-09 01:55] ryangribble commented on #1092
So just a note on this topic, what ive found is FixProjects will add files from Octokit into all the other projects.  But if you then decide you want to remove that file, the FixProjects command doesnt REMOVE files from the sub projects.  It would be nice for FixProjects to remove files :grinning:

[2016-02-09 02:24] Haacked commented on #1092
@ryangribble That would be nice. So basically if the file isn't on disk, remove it? I'd love that.

[2016-02-09 02:24] Haacked commented on #1092
Which reminds me, I started a project called ProjectCop that could handle this. Someday I'll ship it.

[2016-02-09 07:31] M-Zuber commented on #1098
Is there a file for such extensions?
If not where do I put it?

[2016-02-09 19:05] snadon opened #1101 "Add user as a collaborator with permission parameter"
Should we be able to set permissions when adding a collaborator to a repository?

The GitHub API supports it:
https://developer.github.com/v3/repos/collaborators/#add-user-as-a-collaborator

But Octokit.Net does not:
https://github.com/octokit/octokit.net/blob/master/Octokit%2FClients%2FIRepoCollaboratorsClient.cs#L44

[2016-02-09 21:13] Haacked commented on #1101
Yeah, that looks like an oversight on our part. It think we should add an overload that accepts an enum with the available permission options.

[2016-02-09 21:13] Haacked commented on #1101
Want to submit a PR?

[2016-02-09 21:16] M-Zuber commented on #1101
And here I was talking bad about you.
![image](https://cloud.githubusercontent.com/assets/4746537/12930800/15d71fc8-cf83-11e5-8110-19b580e11c1f.png)
Please accept my apologies :smile:

[2016-02-09 21:30] Haacked commented on #1098
In the `Octokit` project we have a `Helpers` directory. You'll notice we have extension classes in there. For example, in this case, perhaps call it a `ReferenceClientExtensions` or `ReferenceExtensions` or something like that.

[2016-02-09 22:29] Haacked commented on #1101
LOLOLOL! No apologies necessary. You're usually correct. I happen to be taking a break to try and respond to all the OSS projects I maintain so the timing was lucky.

[2016-02-10 04:23] ryangribble commented on #1101
Just a question on this out of interest...

Are you saying @Haacked that this body parameter should actually be explicitly in the overloaded function, or should it be what appears to be the "usual" Octokit way where a Request object is passed in?

Just trying to get a feel for the octokit.net conventions, most I had come across seem to use the request object approach, so was surprised to see you m

[2016-02-10 05:39] Haacked commented on #1101
@ryangribble you're exactly right, it should be a request object. I was being lazy with my words. :smile:

[2016-02-10 05:58] Haacked commented on #594
I assume you mean that the app developer who is using Octokit just needs to set that code, right? What are the implications of doing that?

[2016-02-10 07:58] ryangribble commented on #1101
Sweet, my understanding remains intact 😁

[2016-02-10 12:34] michael-kokorin opened #1102 "Get commit SHA from branch is wrong"
If I use the following code:
[code]

and branchId is different from master then I always get sources from master branch.
This behavior started from version 0.16 and till now. Version 0.15 gets correct result

[2016-02-10 13:04] ryangribble commented on #1102
Looks like that function inadvertently passes ```String.Empty``` rather than the ```reference``` parameter into the API call

https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/RepositoryContentsClient.cs#L241

In the meantime you should be able to use the overload that takes an additional ```TimeSpan``` argument (pass in 60 minutes if you want the same behaviour as the overload yo

[2016-02-10 22:11] M-Zuber commented on #1098
Where do I put the tests?
The `Helpers` folder in the integration tests projects seems to be for helpers for the tests, so do i just add a test to the file for the `IReferencesClient`?

[2016-02-10 22:45] shiftkey commented on #1102
@ryangribble nice spot - yep, that's a bug

[2016-02-10 22:59] shiftkey commented on #1098
@M-Zuber good point. I'm fine with putting them in there for now (we've done the same thing in `Octokit.Tests` but it also has some test classes which confuses things further). Let's keep going down that path and add a new test class for the extensions in `Helpers` for now, we'll clean it up later...

[2016-02-10 23:03] M-Zuber commented on #1098
@shiftkey [this code](https://github.com/octokit/octokit.net/blob/master/Octokit%2FModels%2FRequest%2FNewReference.cs#L49) could be useful in other places as well.
Can I /Should I move it into the extension class, create a helper class, or duplicate it?

[2016-02-10 23:15] shiftkey commented on #1098
@M-Zuber did you mean to link to `GetReference`? If so, yes, I think that's useful to extract somewhere if you'd like to reuse it...

[2016-02-10 23:19] M-Zuber commented on #1098
:+1:

[2016-02-11 02:45] shiftkey commented on #1102
Added the `easy-fix` label as I think this is good for someone new to contribute. I'd also like to see a unit test for this to verify that we're passing through the right value.

[2016-02-11 02:53] #1023 closed

[2016-02-11 02:53] #1025 closed

[2016-02-11 03:16] shiftkey opened #1104 "configure-integration-tests tries to remove a value right after I set it"
This flow around optional values seems counter-intuitive:

**[value] found as the configured application Secret
Want to change this? Press Y, otherwise we'll move on:** y
**Change the application Secret to use for the integration tests:** [new-value]
**Want to remove this optional value, press Y:**
[code]

[2016-02-11 03:20] #958 closed

[2016-02-11 23:26] #1026 closed

[2016-02-12 03:44] Haacked commented on #896
Guess what?! There's [a way to [lock issues via the API now](https://developer.github.com/changes/2016-02-11-issue-locking-api/)! It's in preview mode, but if someone wants to tackle it, that would be great!

[2016-02-12 04:21] shiftkey commented on #896
The relevant docs:

 - https://developer.github.com/v3/issues/#lock-an-issue
 - https://developer.github.com/v3/issues/#unlock-an-issue

[2016-02-12 05:21] cvrebert commented on #896
Finally! :smile:

[2016-02-12 07:26] ryangribble opened #1105 "Performance of Repositories.GetAllTags()"
Just ran into an interesting situation today where we can reproducibly flatline our Enterprise server CPU by calling the GetAllTags() method on a repository that has around 7000 tags.  After about 20 minutes we had to kill the command as it was affecting internal users.
`var tags = await this._gitHubClient.Repository.GetAllTags(owner, repo);`

We found that when we re-implemented it using the Refe

[2016-02-13 06:58] shiftkey commented on #1105
@ryangribble what version of GitHub Enterprise are you running?

[2016-02-13 07:04] shiftkey commented on #1105
@ryangribble I'm also not sure of a real-world example with that sheer number of tags, so I could test it on my end to understand the behaviour better. Asking around.

[2016-02-13 14:45] ryangribble opened #1106 "UserKeysClient only implements 2 of the 5 calls for this API"
[```IUserKeysClient```](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IUserKeysClient.cs) currently only implements 2 of the 5 "public keys" methods on the ```users/keys``` GitHub API endpoint

https://developer.github.com/v3/users/keys/

### Currently implemented:
List public keys for a user
```   GET /users/:username/keys```

List public keys for the authenticated user
```GE

[2016-02-14 02:44] shiftkey commented on #1105
Just ran a simple test against https://github.com/fsprojects/Paket to illustrate some of the pain that's occurring here (note that Paket only has 1185 tags):

<img width="1145" src="https://cloud.githubusercontent.com/assets/359239/13031354/019115f0-d320-11e5-997c-e5b2e94c374c.png">

Or statistically:

[code]

Look at that cascading, it's so beautiful...

Switching over to `this._gitHubClient.Git.

[2016-02-14 02:56] shiftkey commented on #1106
I knew this code lived somewhere (ignore the second TODO comment):

[code]

So yes, the methods on `ISshKeysClient` should be added to `IUserKeysClient` - and `IGitHubClient.SshKey` should be marked as obsolete for removal as it doesn't align with the API.

[2016-02-14 10:05] shiftkey opened #1107 "Regression: /user/repos search cannot mix type and visibility/affiliation"
There's two integration tests which are failing currently after merging #1096:

 - RepositoriesClientTests+TheGetAllForCurrentMethod.CanChangeSortDirection
 - RepositoriesClientTests+TheGetAllForCurrentMethod.CanSortResults

These both return an error:

[code]

And if you look at the URLs that we send:

[code]

We just need to be smarter with the defaults so that they're not overlapping.

[2016-02-14 20:46] shiftkey opened #1109 "implement IEqualityComparer on request and response models"
I wanted to write a simple test to compare two sets of results from the Observable-based API:

[code]

However, as these models did not implement `IEqualityComparer` they were always returning true, even when I had a bug in the pagination code.

Generally speaking, I think having this in the library is A Good Thing, even if it's a bit of work to apply it to all the models in the codebase.

Also, a

[2016-02-15 04:06] ryangribble commented on #1109
Just to clarify, I didnt have a current "real world" use case, it was more I was in the same situation as you... when writing unit/integration tests for octokit.net API implementation, it would have been useful to just check that the passed response object was "equal" to the one I expected, rather than having to check various sub properties of the object

eg
https://github.com/octokit/octokit.net/

[2016-02-15 23:36] mathieukempe opened #1111 "Trying to get content fail"
Using
https://developer.github.com/v3/repos/contents/

This used to work with 0.10.0

<pre>
var api = new ApiConnection(new Connection(new ProductHeaderValue("something"), new InMemoryCredentialStore(new Credentials(_token))));

 string url = string.Format("https://api.github.com/repos/{0}/{1}/contents/{2}?ref={3}", owner, repo, path, branch);

 var blob = api.Get<Octokit.Blob>(new Uri(url)).Resul

[2016-02-16 00:02] shiftkey commented on #1111
@mathieukempe not sure whether this is an outstanding issue, but here's how I'd do this without using `ApiConnection` directly (this is using 0.18.0):

[code]

[2016-02-16 00:55] mathieukempe commented on #1111
@shiftkey thanks for the example of code
The issue seems to be when I call the code in the controller asp.net mvc 5

[code]
The call to GetAllContents hang
The same code in a console app work.

[2016-02-16 01:00] shiftkey commented on #1111
@mathieukempe to be honest, I'm not sure how this might be deadlocking.

We have the `ConfigureAwait` setup [inside GetAll](https://github.com/octokit/octokit.net/blob/master/Octokit/Http/ApiConnection.cs#L147-L148) so perhaps making this method `async/await` might change the behaviour (rather than blocking using `.Result`).

[2016-02-16 11:26] ryangribble commented on #1003
Hey so as part of working on fixing #1106 I came across this skipped test.

At work we use [Chillkat.net](https://www.nuget.org/packages/chilkat-x64) ([x64](https://www.nuget.org/packages/chilkat-x64) [x86](https://www.nuget.org/packages/chilkat-win32/)) when we need to generate SSH keys in c# code...

Im not sure if nuget packages work on linux/OSX builds, but then it seems like the Integration T

[2016-02-16 12:16] ryangribble commented on #1106
Ah right, we even use that ```SshKeyClient``` at the moment but I was tunnel visioning on the ```User.Keys``` side of things and didnt think that they are the same thing!

i'm in the process of doing this now, all the methods are transferred but I have some questions about the obsolescence stuff

I've marked ```IGitHubClient.SshKey``` obsolete but that doesn't actually flag several use cases...  S

[2016-02-16 23:42] shiftkey commented on #1106
:thumbsup: to obsoleting the methods rather than the types - that's going to put it in front of impacted users much more clearly

[2016-02-16 23:44] shiftkey commented on #1106
And :thumbsup: to obsoleting `SshKey` - the API documentation refers to "public keys" so let's follow that convention...

[2016-02-16 23:49] shiftkey commented on #1106
Let's port those extension methods over to `PublicKey` and mark the `SshKey` variants as obsolete

[2016-02-17 01:34] Haacked commented on #1003
Sounds good to me. @shiftkey?

[2016-02-17 01:38] Haacked commented on #1109
`IEqualityComparer` makes sense to me. `IComparable` is more for sorting items. Doesn't seem like a thing you'd do with response objects.

[2016-02-17 03:46] shiftkey commented on #1003
@Haacked @ryangribble definitely worth exploring - I stumbled upon it a while ago but got sad at the fact it wasn't OSS. I also have some reservations about the [licensing](http://www.chilkatsoft.com/licensingExplained.asp) of the components (having been bitten by this in the past) but let's see what comes up.

[2016-02-17 04:02] Haacked commented on #1003
Ah, that could be problematic.

[2016-02-17 08:03] ryangribble commented on #1003
I'll try to find what license pertains to their freeware libraries, like the SSH one I'm referring to
http://www.chilkatsoft.com/sshkey-features.asp

[2016-02-17 12:26] schlamar commented on #594
Yes that would be probably the correct way (or update the app.config, see link below).

This should have no bad implications at all. Please note that this does only NTLM/Kerberos style authentication and never Basic/Digest, so your credentials are never exposed to a rogue proxy.

I'm not sure why this isn't enabled per default in .Net. See here for additionally comments: https://visualstudio.userv

[2016-02-17 13:44] ryangribble commented on #1106
Further investigation showed that these extension methods arent even used by any tests other than the unit tests FOR the extension methods themselves (ie ```ModelExtensionTests.cs```)

Perhaps the 3 extension methods and ```PublicKeyInfo``` class dont even need to be created at all?

Unless there was some intention that this helper method was exposed to octokit consumers to do stuff with.  It's pr

[2016-02-18 01:37] Haacked commented on #1106
We use these extension methods in GitHub Desktop. I'd like to keep them, but :+1: to renaming it from `ModelExtensions` to something more specific. I think the intent was we'd have more extension methods for working with models, but so far, we don't. :smile:

[2016-02-18 03:52] ryangribble commented on #1106
So given that ```SshKeyInfo``` isnt a response class but just a helper class, what would say if we created the ```PublicKeyInfo``` class to replace it, and in it's constructor it took a ```PublicKey``` item eg ```var keyInfo = new PublicKeyInfo(key)``` and/or had static ```PublicKeyInfo.FromPublicKey(PublicKey key)``` or do you really want it to be an extension method on ```PublicKey``` itself?

[2016-02-18 17:55] #1098 closed

[2016-02-18 23:09] Haacked commented on #1106
I think the benefit of the extension methods is it made the helper class more discoverable. As you pointed out, the helper class is _not_ a response class so most users of Octokit.net won't know it exists.

However, I don't feel too strongly either way, so whatever you feel is the best design here.

[2016-02-19 22:02] shiftkey commented on #1102
Fixed by #1113

[2016-02-19 22:02] #1102 closed

[2016-02-22 09:57] #1022 closed

[2016-02-23 22:32] shiftkey opened #1114 "improve streaming behaviour of Observable endpoints"
Consider the following snippet:

[code]

As of Octokit 0.18 this is the resulting output (ticks are in milliseconds):

[code]

It's 131 results all up, and note the chunked intervals when receiving a value.

What's interesting here is that the time between starting the request and receiving the first value is **3891ms**, and then the time between the first value and the last value is **3359ms**. T

[2016-02-23 23:18] Haacked commented on #1114
So the behavior you see is exactly what I'd expect because the API doesn't stream the response to us. What happens is we request page 1, when we get the response, we stream them to the subscriber and make request 2. When that request returns, we stream page 2 and make the request for page 3.

Notice that each timed chunk is 30 results. That's exactly the default page size.

[2016-02-23 23:50] shiftkey commented on #1114
@Haacked thanks for the extra update. It didn't quite match up with what I was seeing from the network traffic (the delay looked like the cumulative time spent fetching those requests), so here's me embedding some extra tracing against `master`:

<img width="508" alt="screen shot 2016-02-24 at 10 48 32 am" src="https://cloud.githubusercontent.com/assets/359239/13270744/348a0c98-dae4-11e5-92f5-34eb

[2016-02-24 00:21] Haacked commented on #1114
If that were the case, we'd see a really long delay followed by _every_ item being printed with nearly the same timestamp. Instead, we're seeing timestamps chunked in groups of 30.

[2016-02-24 00:32] shiftkey commented on #1114
Just tested #760 and this behaviour remains the same. Closing it out as PEBKAC.

[2016-02-24 00:32] #1114 closed

[2016-03-01 03:08] #1106 closed

[2016-03-02 10:46] shiftkey opened #1115 "[META] Questions about .NET Core Support"
This is a tracking issue for questions related to https://github.com/octokit/octokit.net/issues/832.

.NET Core is currently under development (and the next milestone RC2 has a bunch of changes which will likely impact the tooling side of things) so there might be some extra things to consider here.

[2016-03-02 10:50] shiftkey opened #1116 "[META] Questions about HTTP Extensibility in Octokit"
This is a tracking issue for questions related to the proposal in #984.

You can see an initial proposal for how this might be achieved in #985, but you might have other ideas.

[2016-03-02 10:53] M-Zuber commented on #1115
Do we really want to go through the port now?
Wait a week or two and see if they come up with a a date and based on that decide if we will wait for RC2 to start porting?
If we are starting now I would say the first thing to figure out is nuget package creation.
Say pick two random profiles from the list we want to support and see what it takes to get the build to produce the packages correctly

[2016-03-02 10:57] shana commented on #1116
#### GSoC Students

Make sure you read https://github.com/github/mentorships/issues/101 and http://write.flossmanuals.net/gsocstudentguide/what-is-google-summer-of-code/ and understand how the program works, how proposals are submitted, and all the milestones involved.

[2016-03-02 11:08] shana commented on #1115
@M-Zuber Just fyi, the GSoC student proposal application period starts March 14 and ends March 29, and the official coding period for the program doesn't start before May 29. "Now" is quite a ways away for GSoC :smile:

[2016-03-02 11:09] shana commented on #1115
#### GSoC Students

Make sure you read https://github.com/github/mentorships/issues/100 and http://write.flossmanuals.net/gsocstudentguide/what-is-google-summer-of-code/ and understand how the program works, how proposals are submitted, and all the milestones involved.

[2016-03-02 11:49] M-Zuber commented on #1115
I missed that connection :grinning:

[2016-03-03 07:12] devkhan commented on #1052
Can you post the stack trace?

[2016-03-04 18:52] twcclegg commented on #1052
[code]

[2016-03-04 19:06] devkhan commented on #1052
This doesn't show the exact exception, can you post the complete stack trace including the exception that is thrown?

[2016-03-04 19:36] twcclegg commented on #1052
It is throwing out of the first if in HandleErrors in Connection.cs https://github.com/octokit/octokit.net/blob/master/Octokit/Http/Connection.cs#L578

response:
[code]
exceptionFunc:
[code]

[2016-03-05 17:54] devkhan commented on #1052
Just a guess, can you try explicitly specifying the encoding, e.g. ```"utf-8"``` of the ```NewBlob``` ?

[2016-03-05 19:50] twcclegg commented on #1052
Adding ``Encoding = EncodingType.Utf8`` to the NewBlob did not cause any change in behavior.

[2016-03-06 05:26] devkhan commented on #1052
Well, I'm not sure on this, but the GitHub API is responding with a 422 Unprocessable Entity Status, Octokit is just throwing exception because of the 422, therefore, it must be a problem with the GitHub API.

Maybe someone inside GitHub can help, @shiftkey ?

[2016-03-06 09:01] Anubhav10 commented on #1104
I have fixed the issue. For an optional value it gives the option to change or remove the value, for a necessary value it doesn't give an option. this is how it looks like now.
![powershell](https://cloud.githubusercontent.com/assets/12119273/13553229/f966064a-e3a7-11e5-9984-c1fce612d8a8.png)

Please tell me if its what you wanted, and I'll send a pull request.

the files at the top has a TODO-" #

[2016-03-06 09:23] shiftkey commented on #1104
@Anubhav10 that sounds like it's on the right track - I'd love to review the work you've done here...

[2016-03-06 11:35] shiftkey commented on #1052
This is the interesting bit:

I could put together a test to reproduce this issue (for example, [something like this](https://github.com/octokit/octokit.net/blob/master/Octokit.Tests.Integration/Clients/TreeClientTests.cs#L23-L46)) but I'd love to see a sample from @twcclegg about how he is creating the tree - the blob contents might not be the root cause here....

[2016-03-06 13:39] devkhan commented on #1052
Also, the error message says:

Can you try manually making a request to respective API-endpoint to check whether the given blob actually exists or not?

And, @shiftkey how about changing [this test](https://github.com/octokit/octokit.net/blob/master/Octokit.Tests.Integration/Clients/TreeClientTests.cs#L58) instead to include an escaped ```"``` (it will test the exact scenario)?

[2016-03-06 17:58] devkhan opened #1119 "Question: What is the use of the IJsonSerializer parameter in Connection.cs"
I was going through the code, trying to understand the library, and encountered upon the `ctor`s of `Octokit.Connection` class and I'm unable to find any real usage of [this parameter](https://github.com/octokit/octokit.net/blob/master/Octokit%2FHttp%2FConnection.cs#L117), except just ensuring its not null.

As I'm new to Octokit, can anybody tell me what's the use of it?

[2016-03-06 18:10] M-Zuber commented on #1119
My best guess is that it was meant to be passed on [here](https://github.com/octokit/octokit.net/blob/master/Octokit%2FHttp%2FConnection.cs#L136)
[That class](https://github.com/octokit/octokit.net/blob/master/Octokit%2FHttp%2FJsonHttpPipeline.cs) controls how serialization happens, but provides a ctor that sets a default implementation, so it seems not passing it on was overlooked.

[2016-03-06 18:21] devkhan commented on #1119
So, it should be passed on?
Should I open a PR?

[2016-03-06 19:14] M-Zuber commented on #1119
I would think so.
A PR is probably a good way to get feedback.
Worst case scenario you change the PR to remove the parameter from the ctor

[2016-03-06 22:01] shiftkey commented on #1052
This test works for me

[code]

You can see the created tree here: https://api.github.com/repos/shiftkey-tester/public-repo-20160306095953730/git/trees/710653b5331f19af77762c86d5adafda81a4b052

[2016-03-06 23:25] shiftkey commented on #1119
@devkhan we have a large suite of tests which will help catch any unexpected behaviour, so please investigate and see if this can be cleaned up.

[2016-03-06 23:55] Zoltu opened #1120 "Add support for interacting with repositories by id."
All of the commands that work with `https://api.github.com/repos/:owner/:repo/` also work with `https://api.github.com/repositories/:id/`.  If one desires to build an application that is resilient to change (e.g., repositories changing names, changing owners, owners changing name, etc.) then the application should be built against the `repositories` API rather than the `repos` API.  Unfortunately,

[2016-03-07 00:47] shiftkey commented on #1120
Some initial thoughts:

 - the `/repositories/:id/` is not included in the response payload for a repository, e.g. https://api.github.com/repos/octokit/octokit.net or https://api.github.com/repositories/7528679
 - the only place I can find a mention of this is in the [search results API](https://developer.github.com/v3/search/#search-repositories)
 - I can see `octokit.rb` has support for passing

[2016-03-07 01:04] Zoltu commented on #1120
Unfortunately, I am pretty sure that repository redirects can be subverted by new repositories and new users.  If I create `Zoltu/Foo`, then rename it to `Zoltu/Bar`, I can then create a new `Zoltu/Foo`.  If someone tries to go to `Zoltu/Foo` before I created the new `Zoltu/Foo` they will correctly be redirected. If they try to navigate to `Zoltu/Foo` after I create the new repository though they

[2016-03-07 01:19] shiftkey commented on #1120
@Zoltu thanks for the extra information - and yes, there are certainly ways to subvert the process.

I had a chat with one of the API team just now and he told me that we intend to support `/repositories/:id` (even if it isn't documented) in the long term. I think I'm going to spin this out into a GSoC task for someone who is interested in contributing - unless someone else wants to claim it...

[2016-03-07 05:10] devkhan commented on #1052
So, it means the problem might be in the way @twcclegg is calling the API?

[2016-03-07 05:12] shiftkey commented on #1052
@devkhan possibly - I'd love a sample to see how @twcclegg's usage differs from mine...

[2016-03-07 05:32] twcclegg commented on #1052
I will look tomorrow into simplifying my usage and provide a test that reproduces the issue. Thanks.

[2016-03-07 06:02] rahutchinson opened #1121 "this thing doesn't work"

[2016-03-07 06:04] rahutchinson opened #1122 "this thing doesn't work"

[2016-03-07 06:05] rahutchinson opened #1123 "this thing doesn't work"

[2016-03-07 06:05] rahutchinson opened #1124 "this thing doesn't work"

[2016-03-07 06:06] rahutchinson opened #1125 "this thing doesn't work"

[2016-03-07 06:06] rahutchinson opened #1126 "this thing doesn't work"

[2016-03-07 06:08] rahutchinson opened #1127 "this thing doesn't work"

[2016-03-07 06:08] rahutchinson opened #1128 "this thing doesn't work"

[2016-03-07 06:08] rahutchinson opened #1129 "this thing doesn't work"

[2016-03-07 06:08] #1122 closed

[2016-03-07 06:08] #1123 closed

[2016-03-07 06:08] #1124 closed

[2016-03-07 06:08] #1125 closed

[2016-03-07 06:08] #1126 closed

[2016-03-07 06:08] #1127 closed

[2016-03-07 06:08] #1128 closed

[2016-03-07 06:08] #1129 closed

[2016-03-07 06:11] shiftkey commented on #1121
I'd love to hear a bit more about what you're trying to do. Please have a read of [this section](https://github.com/octokit/octokit.net/blob/master/README.md#problems) of our README and open a new issue with some more details...

[2016-03-07 06:11] #1121 closed

[2016-03-07 06:13] rahutchinson commented on #1128
Sorry about this...

[2016-03-07 06:21] AlexP11223 commented on #1107
What do you mean by "be smarter with the defaults"?
Do we need to add something like Default/NotSpecified (with null value) to Visibility and Affiliation enums?

[2016-03-07 06:23] shiftkey opened #1130 "update issue sample to not use octokit repository"
https://github.com/octokit/octokit.net/blob/master/docs/issues.md#create

The placeholders in the code snippet should be something like `"owner"` and `"name"` to indicate that they should be changed (or fail to complete successfully).

cc @rahutchinson who brought this to my attention

[2016-03-07 08:50] shiftkey commented on #1130
Fixed by #1131

[2016-03-07 08:50] #1130 closed

[2016-03-07 08:51] rahutchinson commented on #1130
:+1:

[2016-03-07 09:01] prayankmathur commented on #1115
Hello developers

I am Prayank Mathur, currently pursuing my final yr in Computer Science & Engineering from Indian School of Mines, Dhanbad.

I have had previous experience working in the C#  .NET framework where i developed an automation tool for Microsoft IDC during my summer internship last year. The main aim was to create an automation tool that can automate the testing of the daily builds of

[2016-03-07 09:26] shiftkey commented on #1115
@prayankmathur we have a few outstanding tasks marked [easy-fix](https://github.com/octokit/octokit.net/issues?q=is%3Aissue+is%3Aopen+label%3Aeasy-fix) - please check them out!

[2016-03-07 10:08] shiftkey commented on #1120
I've opened this up as a potential GSoC activity over in https://github.com/github/mentorships/issues/112

[2016-03-07 18:29] twcclegg commented on #1052
In trying to reduce my code to the minimum I unintentionally somehow changed something such that the test started passing. Closing this issue. Thanks again.

[2016-03-07 18:29] #1052 closed

[2016-03-07 19:02] devkhan commented on #1119
@shiftkey @M-Zuber Please, take a look at the mentioned PR @ #1133.

[2016-03-07 19:02] #1119 closed

[2016-03-07 22:30] shiftkey commented on #1115
Someone asked me in another channel to summarize .NET Core in relation to the .NET Framework. Here's a quick brain dump:

 - .NET Core is a subset of the .NET Framework which runs on Windows, Linux,
   OSX and other operating systems
 - The [CoreCLR](https://github.com/dotnet/coreclr/) (the runtime for .NET Core)
   is an open source repository
 - Core libraries for .NET Core is distributed via Nu

[2016-03-08 00:28] #1104 closed

[2016-03-08 01:24] heshuimu commented on #1120
Hi @shiftkey,
So I stumbled into this while browsing through the GSoC idea list, and yes I am interested in working on this. I have done C# programming for the past few years (in Unity3D, to be specific).
I am fairly new to this project, though. Are there any ways, may I ask, that I could catch up with the project other than reading through the repo?
Thanks! I really appreciate it!

[2016-03-08 02:11] shiftkey commented on #1120
@heshuimu have a look at our documentation - http://octokitnet.readthedocs.org/ - it's not 100% covered, but will give you an idea of the basics. Also, the open pull requests for the repository will give you an idea of what's in flight and how we work...

[2016-03-08 02:24] heshuimu commented on #1120
@shiftkey Thank you sir! I appreciate it!

[2016-03-08 08:47] aleksandr-samila opened #1134 "Filter by milestone raises Octokit.ApiValidationException"
*Octokit versions:* ***'0.12.0'***,  ***'0.18.0'***

There is a problem with filtering by milestones in ***GetAllForRepository*** method

There is such piece of code:
[code]

Everything works fine until ***milestone*** parameter is set.

***A.*** For such values as: *OpenMilestone* and *Backlog* on the last line we have an exception:
[code]

***B.*** Filtering by such milestones: *1.0.0* and *1.0.

[2016-03-08 09:20] shiftkey commented on #1134
I had a quick look at this and here's a test that reproduces the issue:

[code]

The solution however is a bit more complicated. Checkout out the [API docs](https://developer.github.com/v3/issues/#list-issues-for-a-repository):

 - `milestone` - `integer` or `string`

![](https://media.giphy.com/media/mWMML2LQBsj8k/giphy.gif)

[2016-03-08 10:34] aleksandr-samila commented on #1134
@shiftkey Thank you, seems I misunderstand their docs.

added extra logic to get milestone number
[code]

Now it works.

[2016-03-08 10:34] #1134 closed

[2016-03-08 10:45] Anubhav10 commented on #1002
@shiftkey this test is passing in VS Tests. Also the repo is being created and deleted. Please give some more details about the problem.

[2016-03-08 12:13] devkhan commented on #1002
Its passing for me also. Should we un-skip it?

[2016-03-08 15:32] l17719 commented on #1120
Hello.
While i was browsing the ideas list for GSoC i came across your project and i'm interested in working with this project. I've done some work in C# in the past years, some of it as a junior developer for some small to mid companies and also some internships in order to get my bearings on what's to come when i'm finished with my degree. That asides, i'm fairly new to the project as well and i

[2016-03-08 20:49] shiftkey commented on #1002
@Anubhav10 @devkhan if someone wants to submit the PR to unskip it I can verify and close this out.

[2016-03-08 22:45] shiftkey commented on #911
@naveensrinivasan please reopen if this is still occurring

[2016-03-08 22:45] #911 closed

[2016-03-10 00:31] shiftkey commented on #1107
Fixed in #1132

[2016-03-10 00:31] #1107 closed

[2016-03-10 02:21] shiftkey opened #1136 "IUserKeysClient.GetAll -> GetAllForCurrent()"
https://developer.github.com/v3/users/keys/#list-your-public-keys

This is currently marked as obsolete on `ISshKeysClient.GetAllForCurrent()` but has not been ported over. Should be easy to port for both the `ISshKeysClient` and `IObservableSshKeysClient`.

[2016-03-10 02:31] shiftkey opened #1137 "[META] updating the repository labels"
It's been a while since I looked at the labels and there's a few changes I'd like to make:

 - `easy-fix` -> `up-for-grabs` - I think this reflects the intent better for where new contributors can get started. We could also introduce a `easy` label to differentiate big tasks from not-so-big tasks
 - `fix` - I want to label PRs with this label to indicate where a PR addresses a bug
 - `feature` - t

[2016-03-10 03:47] ryangribble commented on #1136
Is it not the same as this call?

https://github.com/octokit/octokit.net/blob/9e9de4ba74434f18f3ad0a8644ff1ee3f6cc9000/Octokit/Clients/UserKeysClient.cs#L28

[2016-03-10 03:54] shiftkey commented on #1136
@ryangribble ah, so there's a convention we use here to indicate when a method depends on the current user - we call the method `GetAllForCurrent()` and don't pass in any parameters...

[2016-03-10 03:55] ryangribble commented on #1137
:+1:

Another suggestion that can make the release notes generation more automatable is that you can add a comment to an issue or PR that will define what the release note item should say.

For example, an Issue might say "Error is thrown when XYZ happens" but you want the release notes to say something else, so you make a comment

The release notes generation process now just needs to see if a PR

[2016-03-10 04:02] ryangribble commented on #1136
ok cool, so this task can be simplified to simply renaming ```GetAll()``` to ```GetAllForCurrent()``` on
- ```UserKeysClient```/```IUserKeysClient```
- ```ObservableUserKeysClient```/```IObservableUserKeysClient```
- And the unit and/or integration tests for the above

[2016-03-10 04:06] shiftkey commented on #1137
@ryangribble this sounds like a grand idea! I've got the code lying around which I used to create the starting point for this release, but let's try out including the summary for the next release.

[2016-03-10 04:09] shiftkey commented on #1136
@ryangribble looks good to me - I've updated the title to reflect the work necessary

[2016-03-10 04:59] M-Zuber commented on #1136
I'd like to take this one. Will do it now.

[2016-03-10 06:01] devkhan commented on #1116
Okay, I have read the mentioned issues, I understand about how things have been proceeded so far and agree with all of the points made by @shiftkey and @Haacked. I also get the type of abstractions has been planned. And after almost a week of reading docs, timing out tests, digging through the code, and following related issues transitively(there were too many), I had some thoughts about this part

[2016-03-10 07:47] prayankmathur commented on #1082
@shiftkey  To do the above I removed "All" from the ItemState enum.

And regarding the failing integration tests, by simply removing the query for ItemState.All .
https://github.com/prayankmathur/octokit.net/blob/master/Octokit.Tests.Integration/Clients/SearchClientTests.cs#L94

Also from the IssueClientTests.cs  https://github.com/prayankmathur/octokit.net/blob/master/Octokit.Tests.Integration/Cl

[2016-03-10 07:49] M-Zuber commented on #1082
@prayankmathur How then would someone search for **all** issues?

[2016-03-10 07:52] prayankmathur commented on #1082
@M-Zuber
"All" isn't supported by the github API.
It is only a filter.
To search for it you need not have to mention any ItemState.

[2016-03-10 07:53] M-Zuber commented on #1082
Sounds great.
Open a Pull Request?

[2016-03-10 08:36] ryangribble commented on #1082
Have to be a bit careful here because ```ItemState``` enumeration is used in many places (Milestones, Events, Pull Requests, Issues, and more) and sometimes ```all``` is a vaild option and sometimes not?

Eg ```SearchIssueRequest``` (only ```open``` and ```closed``` are allowed) vs ```IssueRequest``` (where ```open``` ```closed``` and ```all```) are allowed

https://developer.github.com/v3/search/

[2016-03-10 08:49] prayankmathur commented on #1082
@ryangribble  @M-Zuber @shiftkey
What should be done here ?

[2016-03-10 09:07] M-Zuber commented on #1082
@ryangribble Thank you for pointing that out.

@prayankmathur My suggestion would be to

- Create a new enum `ExpandedItemState` (or the like, @ryangribble  might have a better name)
- Find all the places the `ItemState` enumeration is used, and check the corresponding [api docs](https://developer.github.com/v3/)
  - Where `All` is a valid option, use the new enum.

[2016-03-10 09:08] prayankmathur commented on #1082
@M-Zuber
Will get to it.

[2016-03-10 09:09] shiftkey commented on #1082
Also, we should be marking things as `[Obsolete]` before removing them. Because we're nice like that.

[2016-03-10 09:12] shiftkey commented on #1082
I like where this is heading. If it were me, I'd probably introduce a new enum in the search API instead of sharing the `ItemState` enum as it doesn't support `All`.

This feels like we're going to need to introduce a breaking change here as part of the new enum. But that's fine. Just a heads up.

[2016-03-10 09:14] prayankmathur commented on #1082
@shiftkey
I will look into as to where all the changes are to made and then get back here.

[2016-03-10 09:23] M-Zuber commented on #1082
So the opposite of what I suggested, which does make more sense as it is much less of a change :)

[2016-03-10 09:49] Anubhav10 commented on #1000
I was going through the API documentation, 'Get-or-create an authorization for a specific app' and 'Get-or-create an authorization for a specific app and fingerprint' are both supported. Why do you want to :fire: this test?
link to documentation- https://developer.github.com/v3/oauth_authorizations/

[2016-03-10 10:07] hahmed commented on #1082
Or alternatively on the line: https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Request/SearchIssuesRequest.cs#L248

We can simply change the code from:
[code]
to
[code]
or something along those lines... just a far simpler change IMHO. Maybe add a link to the api/issue to explain if needs be.

[2016-03-10 11:40] prayankmathur commented on #1082
@hahmed  that won't do much good because then we need to check if "All" state exists for that particular parameter or not and there are a lot of parameters.

[2016-03-10 13:03] devkhan commented on #1115
@shiftkey What parts of the project we will be needing to re-write to make this .NET Core compatible? I mean, how much code is there which is .NET Framework specific and not available in .NET Core or is never going to be?

[2016-03-10 13:48] ryangribble commented on #1082
yeah, its preferable to not show an option (ie an ```All``` entry in Enum) to a user when it doesn't actually exist in the GitHub API like that.  I'd make a new enum called ```SearchItemState``` or ```ItemStateSimple``` or something like that, and use that on the Search functions (and anywhere else that might be limited to only open/closed).  I'd also update the XmlDoc comments on the ```ItemState

[2016-03-10 13:59] hahmed commented on #1082
@ryangribble State.All *does* exist e.g.

https://github.com/search?p=3&q=repo%3Arails%2Frails&ref=searchresults&type=Issues&utf8=%E2%9C%93

The result above returns both *open** and * closed** issues. Hence my suggestion - remove the param from being added on the condition ````State != ItemState.All```` Regardless of which way this is implemented - the search issues needs to give back:

1. open i

[2016-03-10 16:48] Anubhav10 commented on #1028
I would like to work on this

[2016-03-10 17:27] M-Zuber commented on #1028
From my side of things: Go right ahead. I never got started.

Good luck!

[2016-03-10 17:30] devkhan commented on #1010
I dug through the code and found out that errors are handled in `Connection.HandleErrors()`, which just throws the an `ApiException` if the status code > 400. I can extend it to show a message based on the end-point.

Also, a possible solution is that we provide `HandleError()` with some info about what was requested so that it can throw a more informative message with the exception. Should I do i

[2016-03-10 17:38] devkhan commented on #1024
@ryangribble I would also like to work on this, can I help?

[2016-03-10 19:11] prayankmathur commented on #1082
@ryangribble  @shiftkey @hahmed
I have created the new enum by the name ItemStateFilter
And read the docs and made changes everywhere as said by @M-Zuber
Also made the corresponding changes in the unit as well as integration tests.
The build was successful [link]{https://ci.appveyor.com/project/prayankmathur/octokit-net/build/1.0.6}
My forked repository is [here](https://github.com/prayankmathur/o

[2016-03-10 20:08] devkhan commented on #1002
This should be :closed_lock_with_key: .

[2016-03-10 21:03] M-Zuber commented on #1082
Could you please open a PR?

If you are not sure how that works, may I suggest watching [this video](https://egghead.io/lessons/javascript-how-to-create-a-pull-request-on-github?series=how-to-contribute-to-an-open-source-project-on-github)? (the whole series actually is quite nice)

[2016-03-10 21:22] shiftkey commented on #1115
@devkhan currently we juggle different csproj files for each target. I think a bulk of the work will be in porting those over to a unified project.json file - this will then allow us to add the new targets for the various [.NET Platform Standards](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md) available around .NET Core and verify that these can b

[2016-03-10 21:30] Haacked commented on #1137
:+1: to all of this.

[2016-03-10 21:40] shiftkey commented on #1000
@Anubhav10 you're right, [creating an authorization without a fingerprint](https://developer.github.com/v3/oauth_authorizations/#get-or-create-an-authorization-for-a-specific-app) is still supported, so perhaps we need to keep this test around.

@M-Zuber apologies for missing those messages from back in December. What did you find when you were looking into those tests? And do you think we need to

[2016-03-10 21:48] ryangribble commented on #1024
Do you have access to a GitHub Enterprise environment (this is on premise version of github) ?

[2016-03-10 21:49] ryangribble commented on #1002
Resolved by #1135

[2016-03-10 21:49] #1002 closed

[2016-03-10 21:50] devkhan commented on #1024
I guess not. :cry:

[2016-03-10 21:53] shiftkey commented on #1115
One package (with multiple targets inside) is generated from a project.json file - hence the unification stuff. But this also raises headaches as we have been building the package from hand before.

They should stay around - the platforms are mentioned in the .NET Platform Standards document linked to above, but I've not explored this in practice.

Kind of. `dotnet` was the name intended for to re

[2016-03-10 21:58] shiftkey commented on #1120
@dampir that all sounds reasonable

[2016-03-10 22:03] devkhan commented on #1115
@shiftkey Thanks for clearing that out. :+1: One question though, from [here](http://dotnet.readthedocs.org/en/latest/concepts/class-libraries.html#net-core-class-libraries), .NET Core (netstandard) class libs are already supported on some of these platforms, e.g. net45, net46, win8, etc. So, will they also be continued or merged into one?

[2016-03-10 22:06] shiftkey commented on #1115
@devkhan I'd like to keep the existing platforms around for now - there may be some platform-specific features that aren't present in the `netstandard` equivalent. I'm involved with another project which is undergoing that process, so I definitely believe it's acheivable.

[2016-03-10 22:11] ryangribble commented on #1010
The ```ApiException``` class already has properties on it that provide the message, status code, array of errors etc.

eg from [ApiExceptionTests.cs](https://github.com/octokit/octokit.net/blob/master/Octokit.Tests/Exceptions/ApiExceptionTests.cs#L47)
[code]

[2016-03-10 22:14] ryangribble commented on #1024
Yeah if you have a look at the API docs linked above, there are some specific APIs that only the on premises "GitHub Enterprise" supports.  We use GHE at my work so I've been working on fleshing out the support for these.  Happy for anyone to help of course, but obviously there are a few barriers to entry - namely that you have a GitHub Enterprise license!

[2016-03-10 22:15] ryangribble commented on #1029
Similar to #1024 you need to be on GitHub Enterprise to do this one :wink:

[2016-03-10 22:17] ryangribble commented on #1120
:+1:

[2016-03-10 22:20] devkhan commented on #1029
@ryangribble Can I still help writing models, requests, tests, etc.?

I know I won't be able to to do integration tests, but still. I'll submit them to your fork.

[2016-03-10 22:30] shiftkey commented on #1010
@ryangribble @devkhan maybe we should verify that a 404 exception also has these details - I recall a PR where we were submitting some more information (the raw JSON payload) so let's see what we're getting currently before we close this out...

[2016-03-10 22:36] shiftkey commented on #1010
@devkhan nah, I don't think it's that complex - try accessing a repository that doesn't exist, for example

[2016-03-10 22:50] ryangribble commented on #1137
Yep Ill do it (over the weekend) :grinning:

[2016-03-10 22:53] ryangribble commented on #1029
Sure, feel free to create all the models classes interfaces and so on and let me know your branch etc.

I wasnt planning on doing this one for a while anyway, as im not really across what these migrations are about (migrating code from one github to another involving zips and files etc i think!) and dont really have a use for them at the moment...  Once I've done the #1024 this issue will be the l

[2016-03-10 22:53] shiftkey commented on #1137
@ryangribble all good, I've plenty to keep me busy anyway :wink:

[2016-03-10 23:02] prayankmathur commented on #1082
@M-Zuber
just opened the PR .

[2016-03-10 23:57] Anubhav10 commented on #1000
This is what I found. I was about to open a PR when I spotted the without fingerprint in the documentation. The code for CanCreateAndGetAuthorizationWithoutFingerprint and CanCreateAndGetAuthorizationByFingerprint is almost the same. In without fingerprint when creating authorization, it checked for tokenlasteight and hashedtoken values too. But it doesn't do so in  with fingerprint. By reading th

[2016-03-11 06:09] M-Zuber commented on #1000
@shiftkey  I'll have to get back to you after the weekend. I do not remember exactly what I found.

Most probably pretty much the same as @Anubhav10, but ill dig it out again.

[2016-03-11 06:12] M-Zuber commented on #1137
Added a reaction (kudos BTW - awesome work!!).

I really like @ryangribble's proposal. Wonder if we want to incorporate some other tools though - ala https://github.com/GitTools/GitReleaseNotes

[2016-03-11 06:16] shiftkey commented on #1137
@M-Zuber I'm leaning towards something simple because of two reasons:

1) I built the basic flow out as Octokit API calls in about 5mins
2) This feels like a nice use case for Octokit

[2016-03-11 07:05] shiftkey commented on #1137
I also removed `enhancement` (any issues tagged with this are now tagged with `feature`) and removed `api-cleanup` - there was one issue and that's now tagged as `up-for-grabs`

[2016-03-11 07:12] shiftkey commented on #1137
A bit more cleanup - `post-v1` has been removed (I'll bring in a `v1` tag as we get close to API completion) and I've added `meta` to indicate open discussions rather than issues.