[2020-01-19 22:40] panthersdude2001 commented on #2061
And it works! Thank you!
Closing

[2020-01-19 22:40] #2061 closed

[2020-01-19 22:47] shiftkey commented on #2059
SSH authentication is not supported in Octokit because we are limited by what the GitHub API supports for authentication. The only supported methods are Basic Authentication (discouraged for security reasons, and some APIs will reject basic authentication), and Tokens (either Personal Access Token or OAuth apps).

If you're wanting to make API calls on behalf of a user, I'd recommend creating an O

[2020-01-19 22:47] #2059 closed

[2020-01-19 22:50] shiftkey commented on #2053
Sadly this is not supported by the GitHub API, so we can't address this in Octokit.

[2020-01-19 22:50] #2053 closed

[2020-01-19 22:50] shiftkey commented on #2044
@zHaytam go for it!

[2020-01-19 22:59] shiftkey commented on #2056
@kceiw this sounds like we should be either encoding here

https://github.com/octokit/octokit.net/blob/e9409e0cb5759566c9f13779b8f9431c8230df8f/Octokit/Models/Request/SearchRepositoriesRequest.cs#L164-L167

Or more likely inside `DateRange` itself:

https://github.com/octokit/octokit.net/blob/fd6bca910cce936d84af7fb264b516bff3904c57/Octokit/Models/Request/SearchRepositoriesRequest.cs#L294-L300

Ma

[2020-01-27 19:07] shiftkey opened #2069 "investigate why sourcelink test fails for Windows action job"
Example run: https://github.com/octokit/octokit.net/runs/411397758?check_suite_focus=true

Relevant output:

[code]

[2020-01-27 23:08] HEAVAYU commented on #1922
Hello world

[2020-01-30 01:18] JeffreyPalmer opened #2078 "Support for the newly announced Actions API?"
A kind soul at GitHub pointed me at this blog post announcing the launch of the Actions API beta: https://developer.github.com/changes/2020-01-28-actions-api/. This is super exciting, and I was wondering how this project would go about adding support for this API. I can see the general implementation patterns in the code for various other endpoints, and I would be happy to help with this effort. T

[2020-01-30 02:12] shiftkey commented on #2078
Not that I'm aware of.

We're on .NET Core these days and I've been able to to work with the solution in VSCode on Linux (I'll drop to the command line mostly to run tests) but there's a bunch of patterns and conventions with how things are organized that means it should be easy to follow/borrow/steal from existing components in the library.

I'm more than happy to help with reviewing.

[2020-01-30 19:36] JeffreyPalmer commented on #2078
I'll take a pass at it and see how it goes. Thanks!

[2020-02-05 02:32] JeffreyPalmer commented on #2078
Okay I have a first pass at the entire API. I am *definitely* going to need a lot of feedback, both because I am an F# programmer and this is my first *real* C# development, and also because I don't really know the preferred idioms for this project (although I have copied a ton!).

I'm going to try to clean things up a little and submit a WIP PR to provide an opportunity for directional feedback.

[2020-02-07 14:17] shiftkey commented on #2069
This isn't a Windows-specific issue, and I've isolated it to a combination of .NET Core 3.1 and Sourcelink not working together.

Repo: https://github.com/shiftkey/dotnetcore-sourcelink-test-bug/
Writeup and discussion: https://github.com/shiftkey/dotnetcore-sourcelink-test-bug/issues/1

Closing this out for now because it's not worth also tracking here.

[2020-02-07 14:17] #2069 closed

[2020-02-09 15:39] #2044 closed

[2020-02-09 15:42] shiftkey commented on #2041
Closing this out as it's not currently available as a preview API.

If this does make an appearance on https://developer.github.com/v3/previews/ then we can revisit it.

[2020-02-09 15:43] shiftkey commented on #2031
Closing this out as I believe this has been fixed in #2060 and is now available on NuGet.

[2020-02-09 15:43] #2031 closed

[2020-02-09 16:44] #2047 closed

[2020-02-10 02:04] shiftkey commented on #1979
@mijacobs it turns out that #2060 doesn't fix this, but #2092 will

[2020-02-10 02:11] #1979 closed

[2020-02-10 02:13] #2056 closed

[2020-02-10 02:18] shiftkey opened #2093 "publish and tag pre-release packages to GPR"
I'm looking to get to a future where all the project activity is driven from GitHub events, and one of the last dependencies on AppVeyor I'd like to sever is the pre-release package feed.

Instead I'd like to switch over to using GitHub Package Registry:

 - whenever a commit lands on `master`, package and publish to GPR
 - when a package is published to GPR, ensure the tag is also available on Gi

[2020-02-10 10:56] shiftkey opened #2095 "investigate whether linqpad samples can be run on non-windows builds"
We're currently using `lprun` from Linqpad v5 to test our samples, but v6 mentions that it works for .NET Core. Can we leverage that?

[2020-02-13 14:00] liiri opened #2097 "Configure Octokit to trust remote certificate"
Hi,

I've installed Github Enterprise on a VM and am accessing it via IP with ssl under self signed certificate. I do not plan to assign a domain or a custom certificate.

How can I query the server using Octokit?

[code]

My code:

[code]

[2020-02-13 14:03] shiftkey commented on #2097
@liiri this is something outside of Octokit itself, but you need to configure your app to trust a self-signed certificate when it encounters it by adding this code: https://stackoverflow.com/a/526730/1363815

[code]

This is not recommended for production usage, but should help with your testing.

[2020-02-13 14:05] liiri commented on #2097
Most client apis support such configuration on their level. Also many organizations use untrusted certificatesbin their production. You should consider supporting this configuration.

[2020-02-13 14:07] shiftkey commented on #2097
Certificate verification is not controlled by Octokit, and I don't see the value of duplicating APIs that exist in the .NET Framework and introducing potential confusion when they are both used.

[2020-02-13 14:07] #2097 closed

[2020-02-13 14:11] liiri commented on #2097
I'll just add that trusting a single certificate is very different approach than trusting all.

[2020-02-14 15:18] lethall opened #2098 "Search.SearchRepo excludes private repos in GHE"
We have written an application using Octokit.net which permits the user to select a repo/branch/directory to execute test specifications found in that location. We authenticate as a GitHub App which is installed with read-only permissions to metadata and contents, plus read/write to issues.

This works perfectly for public repos and *temporarily* for private repos.  The duration of visibility of p

[2020-02-14 15:41] shiftkey commented on #2098
@lethall thanks for the report. I can't spot anything obvious about how to fix this with Octokit so I have some initial questions to help isolate where the problem lies.

This makes me wonder if there's a bug in GHES about GitHub Apps and repository visibility, but the fact that it works initially and then stops working is fascinating. Your version `2.19.6` is only from last month, so I don't thin

[2020-02-14 16:07] lethall commented on #2098
Thanks for your quick reply @shiftkey .  Given that the GitHub app works as expected initially, it will take some time to build experimental code using a personal access token and collect the results after a reasonable amount of time (>20 hr) has lapsed.  We will build such an experiment and report back after we know.

[2020-02-14 22:25] lethall commented on #2098
Seems a personal access token configured for repo read doesn't list private repos.  [Here's the simplified code example I created to experiment with this suggestion](https://github.com/lethall/SearchRepoExp)

Note that the "GitHub_app" branch of that repo is a stripped down version of what our production app is doing.

[2020-02-15 14:09] shiftkey commented on #2098
I don't understand what "repo read" means here. I should have been clearer with what scopes the token needed - have you set the `repo` scope based on [these docs](https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/#available-scopes)?

<img width="682" src="https://user-images.githubusercontent.com/359239/74589372-cda39e00-4fd2-11ea-8590-b9f783dfdcbc.png">

[2020-02-16 18:59] lethall commented on #2098
Giving full repo access to a personal token does, indeed, give visibility to my private GHE repo.  I'll check this again in a few hours, then again tomorrow.

Note that our use case is for our users to give our GitHub app read-only access.  It may be against policy to require them to provide a personal access token with full access.

[2020-02-16 21:21] shiftkey commented on #2098
Totally fine - just wanted to confirm this visibility issue is isolated to GitHub Apps.

[2020-02-17 05:44] apobekiaris opened #2099 "Issue Label added datetime"
how to get this information?

![image](https://user-images.githubusercontent.com/159464/74626763-4cc2de80-5159-11ea-9f4a-f9ab8c29fde8.png)

[2020-02-17 12:11] justinyoo opened #2100 "repository_dispatch event is not covered"
Hi, Team.

I'm heavily using GitHub Actions and just found that Octokit.NET doesn't have repository_dispatch event related logic, while rest.js does.

Would you please share your timeline to add this feature?

[2020-02-17 12:36] lethall commented on #2098
Update:  private repos are still included when searching with the personal access token. In most observations, the private repos would have been skipped by now when authenticating as the GitHub app.  I will continue to monitor this as we've not yet reached the maximum failure duration.

[2020-02-17 15:18] lethall commented on #2098
Listings still include private repos after 20 hours.  At this point, I think it is safe to conclude that the problem with private repo visibility is isolated to GitHub apps.

[2020-02-18 13:55] psiservices-rcocks opened #2103 "stop using full types in response where only subset of information is available from API"
I'm using Octokit version 0.4.0 through nuget and when I query pull requests with `GetAllForRepository`, the field `ChangedFiles` and similar other fields all report 0 for all PRs.

Manually querying the API through curl shows the correct number of changed files.

[2020-02-18 14:00] shiftkey commented on #2103
@psiservices-rcocks can you share the relevant JSON you are receiving from curl? Maybe we're not deserializing correctly due to some change from the API response?

[2020-02-18 14:47] psiservices-rcocks commented on #2103
My earlier description was not fully accurate, I was comparing octokit with an api request to the individual PR endpoint.

However, the `/pulls` list endpoint does not list changed files at all.

I'm running the following linqpad script to reproduce this issue:

(With octokit added through nuget and namespaced in the linqpad properties).

[code]

When queried as a batch, the ChangedFiles is zero,

[2020-02-18 14:59] shiftkey commented on #2103
@psiservices-rcocks this is a limitation of how we deserialize responses - we use the same type for `GetAllForRepository` and `Get`, but `GetAllForRepository` doesn't receive the same information as `Get`.

The fix for this would be to use a different response type, but I'd like to figure out how to do this across the entire codebase, rather than spot fixes like this.

[2020-02-18 15:10] psiservices-rcocks commented on #2103
Thank you for the quick response, I now understand the cause and limitation.

[2020-02-18 15:48] lethall commented on #2098
I have contacted my employer's internal GitHub Enterprise administrative team asking them to open an issue with GitHub Enterprise Support.

[2020-02-20 12:53] shiftkey commented on #2100
@justinyoo thanks for your interest!

Currently my bandwidth for addressing changes to the APIs is limited, so I can't commit to a specific timeline, but I'm also happy to make time for reviewing contributions to keep things moving.

Can you refresh my memory on the sample that you would like to work? That'll help me write up what changes need to be made to support this event.

[2020-02-20 16:58] justinyoo commented on #2100
@shiftkey Thanks for your reply!

I forked the repo and am in the middle of adding some logic for this, by changing `IRepositoriesClient`, `RepositoriesClient`, `IApiConnection` and `ApiConnection`. Once I complete my first draft, I'll send a PR for review.

[2020-02-22 23:33] hnrkndrssn commented on #2095
I just downloaded LINQPad6 and it only include Windows binaries by the looks of things... 😢

![image](https://user-images.githubusercontent.com/1035315/75100861-2dc3c100-561f-11ea-8834-332d51e242e3.png)

And it's built against `Microsoft.WindowsDesktop.App`...

[2020-02-22 23:48] hnrkndrssn commented on #2099
Hey @apobekiaris,

You need to interrogate the events for the issue in question looking for `Labeled` events. I've put together a small LINQPad script below:
[code]

I hope that helps!

[2020-02-23 15:31] shiftkey commented on #2095
@hnrkndrssn thanks for digging into that. Gonna close this out in that case.

[2020-02-23 15:31] #2095 closed

[2020-02-23 19:58] jjxtra commented on #1309
Adding stats should be an option on the request, now I have to make a separate request for each commit, putting extra load on your servers and making my process slower... :(

[2020-02-24 12:53] apobekiaris commented on #2099
excellent!

[2020-02-24 12:53] #2099 closed

[2020-02-24 14:08] shiftkey commented on #2098
Excellent, that's the best option right now. I'm afraid there's not much I can do from the client side to resolve this, so I'm going to close this out as an Enterprise-specific issue to bring the issue tracker under control.

Feel free to update us with any additional information if it'll help.

[2020-02-24 14:08] #2098 closed

[2020-02-24 17:37] #1789 closed

[2020-02-25 18:23] shiftkey opened #2112 "improve the story about controlling request timeouts"
Opening this to track making this easier to understand and eliminate confusion about `HttpClient` global and per-`Request` timeouts (the lower of the two is what will be used).

- [ ] share some code samples where timeouts matter
- [ ] ???

Issues in the wild that may be relevant: #2045 #1069 #984

[2020-02-25 18:32] shiftkey commented on #2112
Currently there are three areas where timeouts can be changed:

 - `GitHubClient.SetRequestTimeout` to set the timeout globally

[code]

 - `IRequest.Timeout` is set per-request, and the constructor for `Request` sets a default timeout of 100 seconds.
 - `ReleaseAssetUpload.Timeout` has a nullable `Timespan?` property that can be used to set a higher time.

One of the known issues here is where a

[2020-02-25 20:24] arxange1 commented on #2112
Lets double check the purpose of every timeout field we have:

1) HttpClient.Timeout in the field HttpClientAdapter._http

- Scope: per-request timeout
- In use by: HttpClient internaly
- How can be changed by library user: via SetRequestTimeout() method
- How can be read for diagnostics: not implemented

2) IRequest.Timeout (100 seconds)

- Scope: global timeout
- In use by: HttpClientAdapter.Get

[2020-02-25 20:28] shiftkey commented on #2112
@arxange1 isn't 1) the global timeout and 2) the per-request timeout?

[2020-02-25 20:35] arxange1 commented on #2112
@shiftkey To get a right answer we have to define what the global timeout is. Is pagination included in global scope?

[2020-02-25 20:42] arxange1 commented on #2112
According to docs.microsoft.com both are per-request. The difference is that the first will be applied to all requests and the send one to individual request. But the Octokit passes individual 100s timeout to all requests, so the Timeout property one does not matter, still not less than 100s

[2020-02-25 20:50] shiftkey commented on #2112
I don't quite understand, but I want to focus on what Octokit **should** be doing, rather than what it's currently doing.

I'm considering `HttpClient.Timeout` to be a global setting based on this sentence from [the docs](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.timeout?view=netframework-4.8) (emphasis mine).

We can talk about pagination, but I think it's just a diff

[2020-02-25 21:04] arxange1 commented on #2112
I see, so the picture is that we have no general approach to influence individual per-request timeout which is defined in the field of internal class `Request.Timeout`. There are a few exposed API method overloads which includes "timeout" parameter (like `GetArchive`), but that's all we have for now.

[2020-02-25 21:11] shiftkey commented on #2112
@arxange1 correct - at the time we didn't want to make users really think about that, which is why we provided those specific overloads as well as the global `GitHubClient.SetRequestTimeout`.

[2020-02-25 21:48] arxange1 commented on #2112
Consider this scenario: We handle transient errors using a custom HttpClientHandler. In that case "individual per-request" timeout includes retry attempts. It is  In order to keep a tight control over timeouts we have to distinguish actual per-request timeout and CancellationToken timeout that is passed to HttpClient.SendAsync() which is span across all retries. But the scenario is impossible to i

[2020-02-25 22:24] #1933 closed

[2020-02-25 22:48] #1663 closed

[2020-02-26 00:00] shiftkey commented on #1875
Closing this out as unimportant given how .NET Core is cross-platform and the differences between the OSes is so minor these days. As long as _something_ is submitting code coverage stats I'm good.

[2020-02-26 00:00] #1875 closed

[2020-02-26 00:06] shiftkey commented on #1874
I'm not sure what values are needed here, and things seem to be working fine for now.

If something comes up we can revisit this.

[2020-02-26 00:06] #1874 closed

[2020-03-01 20:27] kentahikaru commented on #2078
Hello,
is it still possible to implement this ? Or is anybody already working on this?
If i understand correctly , it is necessary to implement all of those 6 endpoints ?
https://developer.github.com/changes/2020-01-28-actions-api/

[2020-03-02 21:37] nkolev92 opened #2117 "Support for transferring issues across repositories"
Looking at the APIs and docs https://octokitnet.readthedocs.io/en/latest/issues/#create, I am not sure what the recommended way to do this is.

I know in theory, I can write a tool that closes an issue and then creates a new one in a different repo but it's not an equivalent experience.

[2020-03-02 22:50] shiftkey commented on #2117
Is there a documented API for Issue Transfers? I don't see it mentioned in https://developer.github.com/v3/issues/ or as a preview API https://developer.github.com/v3/previews/ ?

[2020-03-03 01:36] nkolev92 commented on #2117
I haven't been able to find it either.
Which I guess explains why it doesn't exist in the library itself.

[2020-03-03 10:37] bobbytreed opened #2119 "System.OverflowException: Value was either too large or too small for an Int32."
While trying to get all issue events for a large repo. I received the following message. I'm guessing I'll have to page it or something, but this is definitely not very descriptive.

System.AggregateException: One or more errors occurred. ---> System.OverflowException: Value was either too large or too
                         small for an Int32.
                            at System.Convert.ToInt

[2020-03-03 10:39] bobbytreed commented on #2119
dup

[2020-03-03 10:57] bobbytreed opened #2120 "Build.ps1 hostfxr.dll does not support relative app dll paths."
A compatible installed .NET Core SDK for global.json version [3.1.101] from [C:\Users\user\Documents\ockokit.net\global.json] was not found
Install the [3.1.101] .NET Core SDK or update [C:\Users\user\Documents\ockokit.net\global.json] with an installed .NET Core SDK:
dotnet-install: .NET Core SDK version 2.0.3 is already installed.
dotnet-install: Adding to current process PATH: "C:\Users\user\Do

[2020-03-03 10:59] bobbytreed commented on #2120
Installing the .net core 3.1 SDK fixed this, but your code that attempts to install dotnet under octokit won't work without setting DOTNET_ROOT. In PowerShell you probably also need to update $env:DOTNET_ROOT as environment variables are only loaded on new powershell session

[2020-03-03 11:09] bobbytreed commented on #2119
duplicate of #1979 This is now appears to be resolved.  Thanks!!!

[2020-03-03 11:09] #2119 closed

[2020-03-03 11:24] shiftkey commented on #2117
For the moment I'm going to close this out as we're limited by what the GitHub API can suport.

If this does appear as a preview API in the future, we can revisit it then.

[2020-03-03 11:24] #2117 closed

[2020-03-04 09:43] ch1seL opened #2122 "Review request of teams is not supported"
~~**Pull request** entity of GitHub API contains **requested_teams** property with an array of team slugs that will be requested but it missed in **Octokit.PullRequest** entity~~
Also, **Review Requests** entity contains similar **teams** property but **Octokit.IPullRequestReviewRequestsClient** gets the list of requested users only without teams

[2020-03-04 09:46] nrukavkov commented on #2122
+1

[2020-03-04 09:53] EugeneMurS commented on #2122
+

[2020-03-04 10:00] IvanQL commented on #2122
+1

[2020-03-04 10:20] lady-guga commented on #2122
+1

[2020-03-04 10:34] nkirsanov commented on #2122
+1

[2020-03-04 11:13] AlexandraKim commented on #2122
+1

[2020-03-04 11:45] irina-litvinova commented on #2122
+1

[2020-03-04 12:03] beylkhanovdamir commented on #2122
+1

[2020-03-04 12:19] shiftkey commented on #2120
@bobbytreed thanks for the heads up.

I'm not too familiar with how to properly configure PowerShell for working with .NET Core but I'm going to leave this open to remind myself to look at how setup docs and see if we can improve them at all.

[2020-03-04 12:27] shiftkey commented on #1855
For the moment I can live with the duplication of types like this, and I suspect if I can get this code-generation work integrated into the project there will be more cases like this.

I suspect both of these are mapped from the `filename` property in JSON, and a change here to correct this would be a breaking change to clients who use these objects. I'd like to be generating these response types

[2020-03-04 12:28] shiftkey commented on #1855
I've tweaked the description of this issue to indicate where my focus is on the near term.

[2020-03-04 12:34] shiftkey commented on #1774
We didn't hear back from @Dorky106 here about the context for where the sample code is running, and maybe it does just need a Windows Form app to see the issue on our side.

Updated title to focus on the original bug rather than the side discussion about pagination.

[2020-03-04 12:34] shiftkey commented on #1817
We are now targeting .NET Framework 4.6 as a minimum.

[2020-03-04 12:34] #1817 closed

[2020-03-04 12:36] shiftkey commented on #1263
This is mentioned in the docs: https://developer.github.com/v3/repos/pages/

[2020-03-04 12:43] shiftkey commented on #1626
Looks like `NewIssue.Assignee` has been removed, but I'm going to leave this open as this feels like a good chance to include some example code for this scenario somewhere.

[2020-03-04 13:04] shiftkey commented on #1651
Closing this out due to inactivity

[2020-03-04 13:04] #1651 closed

[2020-03-04 13:15] shiftkey commented on #1837
I believe this was related to `RepositoryContentsClient.GetAllContentsByRef` but there weren't any code samples provided to confirm this.

I had a failing test submitted in #1956 that covered this API, so I took that to fix the issue in #2105 which shipped in [`v0.42.0`](https://github.com/octokit/octokit.net/releases/tag/v0.42.0).

I believe this has been resolved but please let me know if you st

[2020-03-04 13:15] #1837 closed

[2020-03-04 20:44] Dorky106 commented on #1774
ya, sorry I stopped getting any notices about this.  Can't even remember what the issue was fully now or what I was doing XD

[2020-03-04 20:47] shiftkey commented on #1774
The repository which reproduced the issue is still present, and we have a sample code handy, so I'm going to mark this as `up-for-grabs` to see if someone can reproduce it.

[2020-03-04 20:57] Dorky106 commented on #1774
alright

[2020-03-05 01:06] shiftkey opened #2125 "investigate PATCH/POST mismatch in IssuesLabelsClient"
Docs: https://developer.github.com/v3/issues/labels/#update-a-label

https://github.com/octokit/octokit.net/blob/49c0ea2373ab175e27925d9288017061767b2fc7/Octokit/Clients/IssuesLabelsClient.cs#L337-L348

https://github.com/octokit/octokit.net/blob/49c0ea2373ab175e27925d9288017061767b2fc7/Octokit/Clients/IssuesLabelsClient.cs#L359-L368

[2020-03-05 01:09] shiftkey opened #2126 "address potential missing method inside ProjectsClient"
Doc: https://developer.github.com/v3/projects/#create-a-repository-project

https://github.com/octokit/octokit.net/blob/49c0ea2373ab175e27925d9288017061767b2fc7/Octokit/Clients/ProjectsClient.cs#L233-L234

[2020-03-05 01:14] shiftkey opened #2127 "cleanup obsolete APIs only available GitHub Enterprise 2.14"
GitHub Enterprise 2.16 is no longer officially supported as of [January 22, 2020](https://help.github.com/en/enterprise/2.16) so I think we can cleanup the code related to these obsolete warnings:

https://github.com/octokit/octokit.net/blob/f96885654f121eaaca8e84feb4a52087e5589f1f/Octokit.Reactive/Clients/IObservableCheckSuitesClient.cs#L154-L155

[2020-03-05 01:35] shiftkey commented on #2122
I think this the APIs as currently implemented are not designed to match the response returned from the GitHub API:

[code]

I'm going to drop the `up-for-grabs` here as there's a bit we need to do here:

 - confirm the current client doesn't deserialize correctly
 - add unit and integration tests for the correct API
 - figure out the right implementation for receiving users and teams
 - figure ou

[2020-03-05 01:38] shiftkey opened #2129 "make the code coverage checks less annoying"
<img width="720" src="https://user-images.githubusercontent.com/359239/75939343-4bcfc380-5e60-11ea-99ea-56ead6d32b7d.png">

 - do we need the `patch` check?
 - can we be smarter with how the `project` check is enforced?

[2020-03-05 13:14] #2127 closed

[2020-03-06 21:27] shiftkey opened #2132 "add support for Commit Search preview"
https://developer.github.com/v3/search/#search-commits

[2020-03-06 21:30] shiftkey opened #2133 "add support for Community Profile preview"
https://developer.github.com/v3/repos/community/

[2020-03-06 21:31] shiftkey opened #2134 "add support for User Blocking preview"
- https://developer.github.com/v3/users/blocking/
 - https://developer.github.com/v3/orgs/blocking/

[2020-03-06 21:33] shiftkey opened #2135 "add support for Codes of Conduct preview"
https://developer.github.com/v3/codes_of_conduct/

[2020-03-06 21:34] shiftkey opened #2136 "preview API for providing a reason when locking an issue"
https://developer.github.com/v3/issues/#lock-an-issue

[2020-03-06 21:36] shiftkey opened #2137 "preview API for requiring signed commits on Branch Protections"
- https://developer.github.com/v3/repos/branches/#get-required-signatures-of-protected-branch
 - https://developer.github.com/v3/repos/branches/#add-required-signatures-of-protected-branch
 - https://developer.github.com/v3/repos/branches/#remove-required-signatures-of-protected-branch

[2020-03-06 21:53] shiftkey opened #2138 "support for GitHub App Manifests"
https://developer.github.com/apps/building-github-apps/creating-github-apps-from-a-manifest/

[2020-03-06 21:58] shiftkey opened #2139 "preview support for Repository creation permissions"
https://developer.github.com/v3/orgs/#edit-an-organization

[2020-03-06 21:59] shiftkey opened #2140 "preview support for Content Attachments"
https://developer.github.com/apps/using-content-attachments/

[2020-03-06 22:04] shiftkey opened #2141 "preview support for Interaction restrictions for repositories and organizations"
- https://developer.github.com/v3/interactions/repos/
 - https://developer.github.com/v3/interactions/orgs/

[2020-03-07 14:07] shiftkey opened #2142 "preview support for enabling and disabling Pages on a repository"
- https://developer.github.com/v3/repos/pages/#enable-a-pages-site
- https://developer.github.com/v3/repos/pages/#disable-a-pages-site

[2020-03-07 14:09] shiftkey opened #2143 "preview support for listing branches or pull requests for a commit"
- https://developer.github.com/v3/repos/commits/#list-branches-for-head-commit
 - https://developer.github.com/v3/repos/commits/#list-pull-requests-associated-with-commit

[2020-03-07 14:12] shiftkey opened #2144 "preview support for uninstall GitHub app"
- https://developer.github.com/v3/apps/#delete-an-installation

[2020-03-07 14:14] shiftkey opened #2145 "preview support for enabling or disabling vulnerability alerts"
- https://developer.github.com/v3/repos/#enable-vulnerability-alerts
 - https://developer.github.com/v3/repos/#disable-vulnerability-alerts

[2020-03-07 14:15] shiftkey opened #2146 "preview support for updating pull request branch"
https://developer.github.com/v3/pulls/#update-a-pull-request-branch

[2020-03-07 14:17] shiftkey opened #2147 "preview support for enabling or disabling automated security fixes"
- https://developer.github.com/v3/repos/#enable-automated-security-fixes
 - https://developer.github.com/v3/repos/#disable-automated-security-fixes

[2020-03-07 14:19] shiftkey opened #2148 "preview support for repository templates"
- https://developer.github.com/v3/repos/#create-a-repository-using-a-template
 - https://developer.github.com/v3/repos/#create-a-repository-for-the-authenticated-user
 - https://developer.github.com/v3/repos/#get-a-repository

This preview flag was not added in #2090 so repositories returned from the API do not have the `is_template` field set.

[2020-03-07 14:39] shiftkey opened #2149 "preview support for repository visibility"
- https://developer.github.com/v3/repos/ (several endpoints)

[2020-03-13 23:13] cliffchapmanrbx commented on #2052
I presume there isn't an update for this? We started getting bit by this in the last few days.

[2020-03-14 01:20] cliffchapmanrbx commented on #2052
I've simply commented out the parent field in the Team object for testing and the null exception went away. I have to stop for now. I suspect it's related to the parent team having (null) for the permission field but wasn't able to confirm yet.

[2020-03-15 14:33] #2122 closed

[2020-03-16 23:23] cliffchapmanrbx commented on #2052
Okay so this definitely seems related to attempting to set a StringEnum to null. Line 1495 in SimpleJson.cs stopped in the debugger is showing that it's deserializes the null value as.. null, and is attempting to use the compiled setter to set the value on line 2074. The compiled setter doesn't handle that case for the StringEnum apparently.

<img width="308" alt="devenv_nJwn0oyrTm" src="https://u

[2020-03-17 02:09] cliffchapmanrbx commented on #2052
As a temporary workaround I've added this to line 193 of SimpleJsonSerializer.cs:

[code]
And this to the Permission.cs enum:
[code]

This feels pretty hacky but I don't really have a better solution at the moment. I'd say it sounds like an API bug on GitHub's end but it doesn't, as lack of permissions to a repository feels alright to be a 'null' value coming from the API.

[2020-03-17 12:43] shiftkey commented on #2052
@cliffchapmanrbx apologies for missing your messages. It might be that we only need to make that change in `Octokit/Models/Response/PermissionLevel.cs` (we shouldn't be using `Permission.cs` as that's for the request itself).

I've opened https://github.com/octokit/octokit.net/pull/2156 which will make a beta package available to help with your testing, as I need to be a member of your organizatio

[2020-03-17 18:09] #2052 closed

[2020-03-17 19:34] shiftkey commented on #2138
This is no longer a preview feature

[2020-03-20 15:43] cotur opened #2159 "Linked pr/issue"
Hi all,

How to get issues that closes by a pr from ```Octokit.PullRequest``` itself?
Or how to get prs that closes issue from ```Octokit.Issue``` itself?

[2020-03-20 16:40] shiftkey commented on #2159
@cotur are you referring to [this announced feature](https://github.blog/2020-02-06-get-more-information-at-a-glance-with-issue-and-pull-request-linking/)?

Unless there is a [documented API](https://developer.github.com/v3/) or a [preview API](https://developer.github.com/v3/previews/) underway then we are unable to supported it in the client API.

[2020-03-20 20:03] cotur commented on #2159
@shiftkey Thanks, I hope that feature comes early. :)

[2020-03-20 20:03] #2159 closed

[2020-03-25 12:24] StefH commented on #1711
Using version 0.40.0 and this code `client.GetLastApiInfo()`

I only get zero's back after the first call?
![image](https://user-images.githubusercontent.com/249938/77535977-d9b93000-6e9b-11ea-9ae7-59a34e452954.png)

[2020-03-25 12:34] shiftkey commented on #1711
@StefH please open a new issue with details about how to reproduce it (version, code sample, whether you're providing a token or credentials or something else) so we can investigate this properly.

[2020-03-26 09:06] fgarcia-cnb commented on #2041
for what its worth, it looks like the REST API correctly shows triage and maintain permissions now (if you use "Accept: application/vnd.github.v3.repository+json" in the header:
[https://developer.github.com/v3/teams/#list-team-repos](url)

and although the documentation only mentions being able to set pull/push/admin as permissions, triage and maintain does indeed work.

[2020-03-26 09:54] StefH opened #2161 "GetLastApiInfo() returns only zero's after a call?"
Using Octokit version `0.32.0` to `0.40.0`, the `GetLastApiInfo()` returns 0 values ?

For an example project : see https://github.com/StefH/OctokitExample/tree/master/src

See also https://github.com/octokit/octokit.net/issues/1711

[2020-03-26 11:23] shiftkey commented on #2041
@fgarcia-cnb that sounds like its close, but I'm going to wait for this to appear as a documented preview API https://developer.github.com/v3/previews/

[2020-03-26 15:57] terrajobst commented on #2041
Seems a bit odd to close, rather than using it as a way to be periodically reminded to check the docs. FWIW, I’ve moved to graph APIs for these queries because they are much faster and expose that data already. But that also means that I’m unlikely to check back on this issue.

[2020-03-28 19:10] shiftkey commented on #2161
@StefH thanks for the report. I've isolated this to how headers are returned when an unauthenticated request is made.

This tests shows how the headers for rate-limiting information differ:

[code]

Note the `Ratelimit` returned from the first command - the lower-case `l` here is why we are unable to parse the numbers from the header.

As a workaround, I recommend setting the `Credentials` propert

[2020-03-28 19:36] StefH commented on #2161
Ok. This seems like a bug in the API from GitHub...

I currently use octokit library in
https://github.com/StefH/GitHubReleaseNotes

This is currently just using the free unauthenticated API.

Is it a good idea to include an authenticated call in an public application which is used by multiple people at the same time?
How is the rate limit calculated? Is this 5000 per system/user or 5000 in total?

[2020-03-28 20:27] shiftkey commented on #2161
Essentially 5000 per user, but [the documentation has more information about the specifics](https://developer.github.com/v3/#rate-limiting).

Yes. 60 requests/hour may not allow much usage before rate-limiting is enforced.

I see you have a documented `--token` parameter for private repositories - if users are seeing themselves get rate-limited then they can add this to get the increased API reque

[2020-04-01 18:01] catmorgan commented on #1972
Hello! I am so sorry I missed your comments, I encountered this bug at my work and I just checked in on this- so happy to see it fixed! Thanks so much :D

[2020-04-05 19:33] leavelbw commented on #2132
Didn't realize that @kentahikaru was working on this.  I just completed this task.

[2020-04-07 21:34] shiftkey commented on #2041
Looks like this one just went live: https://developer.github.com/v3/repos/#get-a-repository (check the JSON response)

[2020-04-08 17:31] markoueis opened #2173 "Is there a way to get a list of all users?"
Github api has GET /users. For some reason I can't find the octokit equivalent? Is this by design?

[2020-04-08 17:45] shiftkey commented on #2173
@markoueis no, it's just under development: #2150

Also, we had an earlier issue for this #1915

[2020-04-08 17:45] #2173 closed

[2020-04-09 21:40] neoncitylights commented on #2135
Hi, I'd be happy in working on adding Code of Conduct support. 😄

[2020-04-23 00:57] raphagibello opened #2179 "No option for checking (and activating) Read Only Data Collection"
Hello,

I'm trying to get some code to check for all repos in my organization for the option "Allow GitHub to perform read-only analysis of this repository" However I could not find in the docs or the go to definitions for that option and failed to find it.

The option is this one: https://help.github.com/en/github/understanding-how-github-uses-and-protects-your-data/opting-into-or-out-of-data-use

[2020-04-23 13:22] shiftkey commented on #2179
@raphagibello I don't believe this is currently available through the GitHub API.

Generally these sorts of features are exposed as a [preview API](https://developer.github.com/v3/previews/) first, so until that is available there's not much we can do from the Octokit side.

[2020-04-23 15:26] andreasohlund opened #2180 "Is there a way to update wildcard branch protection rules?"
I'm working on a script to manage branch protection rules for all our repos and while I can update eg. required status checks for a given branch like

[code]

I can't find a way to do it for our rule for `release-*` branches. Any ideas on how I can solve this?

![image](https://user-images.githubusercontent.com/125028/80117413-73512b80-8587-11ea-876e-f13337499df2.png)

[2020-04-26 15:26] KarolGrzesiak opened #2181 "Subscribers Count not working"
Seems like SubscribersCount from Repository is not working correctly?

[2020-04-26 16:32] shiftkey commented on #2181
@KarolGrzesiak can you provide more information?

 - which repository are you testing?
 - what value did you expect to get?

[2020-04-26 16:49] KarolGrzesiak commented on #2181
I've used RepositoryClient from GitHubClient to get all repositories of a provided user (tested with "jasontaylordev") and every result had subscribers count = 0. And if I'm not mistaken, subscribers count is basically a watchers count? If not, is it possible to get watchers count in Repository object? What I'm trying to accomplish is to get all the data about user repositories within one request

[2020-04-26 17:31] shiftkey commented on #2181
@KarolGrzesiak looking at an example from that user I no longer see `subscribers_count` in the underlying JSON:

[code]

There was some API churn ages ago which lead to this duplication between "subscribers" (which we didn't have an equivalent in the UI) and "watchers" (which was there in the UI), but I suspect it's been cleaned up recently. I think you want `WatchersCount` in C# but I'll leave th

[2020-04-26 17:34] KarolGrzesiak commented on #2181
Yeah, exactly. But apart from marking SubscribersCount as deprecated, is there a chance to get WatchersCount property in the near future?

[2020-04-26 20:43] shiftkey commented on #2181
@KarolGrzesiak I'd take a PR to add the property to [`Octokit/Models/Response/Repository.cs`](https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Response/Repository.cs) in the meantime.

[2020-04-26 22:02] KarolGrzesiak commented on #2181
@shiftkey  Done #2182

[2020-04-29 12:19] csmager commented on #2112
Though I think this is implied, just for clarity (as it surprised me): if you leave this as `null` then the default of 100 seconds is applied.

I think I expected no per-request timeout to be set in this case, and that it would just be ended by the 'global' timeout set on `HttpClient`. As it is, you need to remember to set a larger timeout globally *and* on `ReleaseAssetUpload.Timeout`.

[2020-04-29 18:01] SCLD-BugBot opened #2184 "Assignees for New Issues Not Working"
When attempting to add new assignees to a new issue, they are not present on the created issue. Have tried using both the account's username and actual name with no luck. Code is simply

`newIssue.Assignees.Add("SomeUserName");`

The account doing the adding has privileges to add and remove assigned team members from GitHub directly. Is there some other permission they need to be able to do this?

[2020-04-29 19:09] shiftkey commented on #2184
@SCLD-BugBot can you share a full snippet of what you're trying to achieve?

[2020-04-29 19:11] shiftkey commented on #2184
From [the docs](https://developer.github.com/v3/issues/#create-an-issue):

Same permission is required for assignees. Maybe your account needs that permission?

[2020-05-12 00:20] microhobby opened #2188 "Attempted Use With Blazor wasm return "Property AllowAutoRedirect is not supported.""
I am trying to use the library with Blazor wasm template but this returns the stack:

[code]

I know this must be a limitation of Blazor wasm. But I'm curious if anyone has the same problem and if there is any workaround. Or if we should open an issue in the dotnet project (I really don't know why AllowRedirect is not supported by Blazor wasm)

[2020-05-20 15:03] FelicePollano opened #2190 "Releases returns empty on private repository"
I'm using the following code to retreve releases from a repo:

[code]
but the returned list is empty. Repository id is correct ( It works for other apis ), code works if I pass the repository owner and name for a public repository, does not for mine.

[2020-05-20 15:15] shiftkey commented on #2190
@FelicePollano does the API work as expected if you pass the owner and name for the private repository?

[2020-05-20 15:16] FelicePollano commented on #2190
Unfortunately not, I have to say that the owner is an organization, don't know if it makes any difference

[2020-05-20 15:18] shiftkey commented on #2190
There's this caveat about [this API](https://developer.github.com/v3/repos/releases/#list-releases-for-a-repository) documented on GitHub:

Could that be relevant to what you're seeing?

[2020-05-20 15:19] shiftkey commented on #2190
Also note that tags may be listed in the Releases page for the repository, but they are not necessarily considered a release.

[2020-05-20 15:22] FelicePollano commented on #2190
Well I can see that I have releases in the github page by using the same user, I will try with the tags api instead...

[2020-05-20 15:24] FelicePollano commented on #2190
OPs, a separate tags api apparently does not exist in octokit, am I wrong?

[2020-05-20 15:25] FelicePollano commented on #2190
yes I'm wrong :)

[2020-05-20 15:28] FelicePollano commented on #2190
I can confirm, Tags works, ( and it is a good workaround for me ) for releases, I dont't really know if the problem is the caveat, should not because I can see on the page the releases, but I don't understand really.

[2020-05-20 15:32] shiftkey commented on #2190
For reference:

[code]

I believe this is a historical thing on the website because of this workflow:

 - someone pushes a tag to the repository, and now wants to create the corresponding release
 - they go to the releases tab, and see the new tag alongside the current release
 - they click the tag, fill in the additional details for the release, and publish

It saved having to go somewhere else t

[2020-05-20 15:32] #2190 closed

[2020-05-20 15:47] FelicePollano commented on #2190
Thanks!

[2020-05-21 23:50] ORESoftware commented on #1920
how do I get it from the url?

[code]

when I use the above, I get JSON, but I just want the raw file - how do I get the download_url without using JQ?

[2020-05-22 21:59] shiftkey commented on #2188
@microhobby let's start from there, as I don't have much control over `HttpClientHandler` and how it can be used from Blazor.

The relevant code is here:

https://github.com/octokit/octokit.net/blob/74dc51a6f567395d0c46d97f7270f959d671573e/Octokit/Http/HttpMessageHandlerFactory.cs#L18-L21

[2020-05-24 01:56] Merlin04 opened #2191 "Null SHA for NewTreeItem not allowed when it should be"
On the page https://developer.github.com/v3/git/trees/, it says under the parameter `sha`:

However, when I set this to `null`, like this:

[code]

I get an exception:

[2020-05-27 07:17] xieofxie opened #2192 "how to get if 304 for Activity.GetAllForCurrent()?"
According to the document: https://developer.github.com/v3/activity/notifications/, api will return 304 for not modified. But I didn't find how to get this information.

Could we add it to ApiInfo from GetLastApiInfo()? Or we just expose the raw http request & response.
Thanks

[2020-05-27 11:43] fredg02 commented on #2041
Any plans to add this to the library soon? Or does it still need to appear as a documented preview API first?

[2020-05-27 11:51] shiftkey commented on #2041
@fredg02 I believe this is just an additive change to the response, so I've marked it as `up-for-grabs` if someone wants to take a shot at adding it in.

[2020-05-28 18:53] colbylwilliams opened #2193 "Implement Team Project endpoints"
The following (preview) [teams](https://developer.github.com/v3/teams) endpoints are missing:
- [ ] [List team projects](https://developer.github.com/v3/teams/#list-team-projects)
- [ ] [Review a team project](https://developer.github.com/v3/teams/#review-a-team-project)
- [ ] [Add or update team project](https://developer.github.com/v3/teams/#add-or-update-team-project)
- [ ] [Remove team project

[2020-05-30 06:14] AraHaan commented on #1066
hmm I wonder if libgit2sharp has a way to push changes as well as commit them after adding all changed files ofc?

[2020-06-01 05:17] mitchdenny opened #2195 "CheckRun does not contain requested_action field"
The following documentation on Webhook even payloads documents the ```requested_action``` field:

https://developer.github.com/webhooks/event-payloads/#check_run

However the ```Octokit.CheckRun``` type does not appear to expose this value. Is this just a missing feature (PR accepted?) or is it not there for a reason?

[2020-06-01 13:45] shiftkey commented on #2195
Likely an oversight. I can't think of a reason for excluding it.

[2020-06-02 10:32] mitchdenny commented on #2195
No worries. Submitted a PR to add it in!

[2020-06-03 11:46] cpratap994 opened #2199 "Is there a way to create new organization via Github API"
I was trying to get an API which can be used to create new organizations, i dont see any api info regarding that in below url :
https://developer.github.com/v3/orgs/

please point to me if there is an API available for same?

[2020-06-04 10:11] antichaosdb commented on #2112
I'm getting 100s timeouts on downloading large assets using Connection.Get<Byte[]>
GitHubClient.SetRequestTimeout is set at 600 seconds.  I've tried passing a CancellationToken with a larger timeout too.

[2020-06-05 19:09] HasinduLanka commented on #2188
Exactly same bug here :-(

[2020-06-05 19:42] shiftkey commented on #2188
@HasinduLanka I need more information to understand the problem you're seeing

[2020-06-05 19:48] HasinduLanka commented on #2188
When you try to authenticate Octokit in blazor, which runs on .net standard framework, you get the above error
 This page gives an answer
 https://stackoverflow.com/questions/46400797/httpclienthandler-throwing-platformnotsupportedexception

It seems aws are also getting the same problem
 https://github.com/aws/aws-sdk-net/issues/1307

[2020-06-05 19:56] shiftkey commented on #2199
This is not supported via the GitHub API, likely due to the potential for abuse.

[2020-06-05 19:56] #2199 closed

[2020-06-05 19:59] #2195 closed

[2020-06-05 20:32] shiftkey commented on #2188
The only area I'm aware of where we enable these in the library is here:

https://github.com/octokit/octokit.net/blob/69d118230d89f97e59305108adcac508a60e3566/Octokit/Http/HttpClientAdapter.cs#L30-L53

This is only enabled for `net46`:

https://github.com/octokit/octokit.net/blob/fe6639f270aa20f83a3fa6d47c88315d2c340eef/Octokit/Octokit.csproj#L27-L29

This shouldn't be enabled for .NET Standard as

[2020-06-06 08:35] HasinduLanka commented on #2188
I was playing with this error for few hours.

Things I saw,

- Create .net standard 2.0 project, refer octokit.net nuget and consume it -> WORKS
- Create .net standard 2.1 project (like Blazor wasm), refer octokit.net nuget, consume it with a .net core 3.1 app -> WORKS
- Create .net standard 2.1 project (like Blazor wasm), refer octokit.net nuget, consume it -> ERROR
`Property AllowAutoRedirect is

[2020-06-06 09:25] HasinduLanka commented on #2188
It looks like Blazor Web Assembly doesn't have AllowAutoRedirect property because HttpClientHandler is implemented via JavaScript APIs. Help please!

[2020-06-06 13:01] martinmthomas commented on #2188
@HasinduLanka, I agree with your observation on why `AutoRedirect` does not work in Blazor. Also see [#16955](https://github.com/dotnet/aspnetcore/issues/16955). Though this is marked as closed, you can see that there are still open comments about it. To workaround this, the best way is to remove the `AutoRedirect` property in the `HttpMessageHandlerFactory.cs` file and not setting it to True. For

[2020-06-06 13:11] shiftkey commented on #2188
@martinmthomas from memory this is still kept around due to behaviour around edge cases that have built up over the years:

https://github.com/octokit/octokit.net/blob/b9d1f448d49cbcdcd18208aa445458785581f7bd/Octokit/Http/HttpClientAdapter.cs#L225-L252

The [blame for this file](https://github.com/octokit/octokit.net/blame/b9d1f448d49cbcdcd18208aa445458785581f7bd/Octokit/Http/HttpClientAdapter.cs)

[2020-06-06 17:35] HasinduLanka commented on #2188
### Everyone, thank you very much - Issue is fixed!

Just like @shiftkey said **I removed the line ` AllowAutoRedirect = false `** from HttpMessageHandlerFactory.cs

Then octokit didn't authenticated because, HTTPClient get redirected and doesn't return the correct result back when using **password** authentication.

But just like @martinmthomas said, **this doesn't occur in Personal Token Based A

[2020-06-07 17:11] #2181 closed

[2020-06-07 19:53] shiftkey commented on #1028
Resolved by #1884 and going out as part of the next update

[2020-06-07 19:53] #1028 closed

[2020-06-08 19:10] shiftkey opened #2203 "rename master branch to main"
- [x] push `main` branch
 - [x] update CI scripts
 - [x] update settings
 - [x] re-point open PRs
 - [x] update AppVeyor portal (if necessary)
 - [x] update build configuration
 - [x] remove `master` from repository

[2020-06-09 21:50] shiftkey commented on #2203
Done: https://github.com/octokit/octokit.net/compare/08e7c14ced3a2d609a60095a09d754498d38e1d5...ad5a078a1b0417e49bb20df8e422f7736a903372

[2020-06-09 21:50] #2203 closed

[2020-06-10 21:59] SeanKilleen opened #2205 "Pinning an issue?"
I wasn't sure if Octokit (or indeed, the GitHub API) supports pinning issues.

I couldn't find any reference on how to accomplish a pinned issue via the API or Octokit.

Could someone please confirm whether this is possible? If it's possible but not a part of Octokit, I'd be interested in doing a PR for it.

[2020-06-11 08:57] JimmyLzy opened #2207 "Exception thrown when creating new release with Enterprise github client"
When using this library to create a release, I got  System.FormatException. I have also attached the code and stack trace. Could you please help me to find out how to solve the issue?

`            var releaseData = new NewRelease(tagToRelease) {
                TargetCommitish = mainBranch, Name = tagToRelease, Body = commitMessage,
            };
            await client.Repository.Release.Creat

[2020-06-11 12:04] shiftkey commented on #2207
@JimmyLzy that stack trace doesn't seem to mention Octokit, and it looks like it's related to NLog trying to format a GUID found in some payload. We don't use NLog inside Octokit, so I'm not sure how to reproduce this or what the root cause is.

[2020-06-11 12:23] JimmyLzy commented on #2207
@shiftkey Yeah it was due to our logger which hides real exception.  The exception was actually not found. Does release api need to pass credentials?
Octokit.NotFoundException: Not Found
   at Octokit.Connection.HandleErrors(IResponse response) in /Users/shiftkey/src/octokit.net/Octokit/Http/Connection.cs:line 663
   at Octokit.Connection.RunRequest(IRequest request, CancellationToken cancellation

[2020-06-11 12:27] shiftkey commented on #2207
@JimmyLzy yes, releases need the `client.Credentials` to be set as [the documentation](https://developer.github.com/enterprise/2.21/v3/repos/releases/#create-a-release) indicates:

[2020-06-11 12:30] JimmyLzy commented on #2207
@shiftkey Yeah it is working now. Thx a lot for helping me!

[2020-06-11 12:30] #2207 closed

[2020-06-11 20:51] SeanKilleen opened #2208 "Discrepancy: WatchersCount vs Activity.Watching.GetAllWatchers"
Follow-up to #2182.

Hi @shiftkey @KarolGrzesiak,

Thanks for putting in a PR to return the watchers count on the repository object. I was just on a stream the other day talking about how it could save me a bunch of API calls, and then there it is. :)

I noticed a strange discrepancy and I want to make sure I'm understanding correctly.

Should Repository.WatcherCount be expected to contain the sam

[2020-06-11 20:53] SeanKilleen commented on #2205
Thanks for providing those reference points 👍 Feel free to close or label accordingly.

[2020-06-11 20:56] shiftkey commented on #2205
For the moment I'm going to close this out, but if this does appear as a preview API we can reopen it.

[2020-06-11 20:56] #2205 closed

[2020-06-11 21:02] shiftkey commented on #2208
@SeanKilleen is there a public repository you can share that illustrates the problem? (or was showing the issue?)

The first thing that comes to mind here is caching, with three potential ways to get this number:

 - `watchers_count` on the repository returned via the API could be cached for a period of time because of all the different places in the GitHub API where `repository` is used
 - enumer

[2020-06-11 21:12] SeanKilleen commented on #2208
@shiftkey https://github.com/excellalabs/konmaripo would work (if you provide a key/orgName in settings, and disable the auth). I'll try to get a simpler repro. I've linked the PR at https://github.com/excellalabs/konmaripo/pull/63 as well; the current state of that PR has both data points showing side by side in the details page for a given repository. I'll try to do a PR off of my PR so that you

[2020-06-11 21:18] SeanKilleen commented on #2208
@shiftkey repro branch here: https://github.com/excellalabs/konmaripo/tree/repro-for-octokit-issue-2208

Requires you to input AccessToken and OrganizationName in appSettings or user secrets.

[2020-06-11 21:22] shiftkey commented on #2208
What's wild about your repo is that the field we're supposed to be deprecating is correct when looking at it directly from the API `https://api.github.com/repos/excellalabs/konmaripo`:

[code]

I was under the impression that we were standardizing on one value here, but the [example repo](https://developer.github.com/v3/repos/#get-a-repository) in our docs makes me wonder if they're actually diffe

[2020-06-11 21:24] SeanKilleen commented on #2208
I think you're on to something there. Mostly I'm relieved that it's at least stumped you temporarily too. 😆

[2020-06-11 21:26] SeanKilleen commented on #2208
Ah, to be clear, this repo isn't the one with the incorrect count. It's the one with the project that is utilizing the API. May be worth confirming the repro steps against the branch I linked.

(This is not urgent by the way. I appreciate you jumping on it so quickly but if you need to return to it later I understand.)

[2020-06-12 01:13] SeanKilleen commented on #2208
One other theory I'm going to follow up on but dropping here:

This org is a private org and some people have since moved on. I wonder if it's possible that the watchers list contains people who no longer have access, and so the effective Watcher count is therefore smaller.

[2020-06-12 11:42] shravan-prajapati opened #2211 "403 Access Forbidden"
I am trying to download Zip file from git hub repository.

I always get 403, but postman It is working and  get 302 and Location url for download.

var zipUri = $"https://api.github.com/repos/xyz/{repo}/zipball";
WebClient client = new WebClient();
                client.Headers.Add("Authorization", "bearer *****************************");
                client.Headers.Add("Accept", "*/*");

[2020-06-12 12:07] shiftkey commented on #2211
You need to specify a User-Agent header to interact with the GitHub API: https://developer.github.com/v3/#user-agent-required

[2020-06-12 12:07] #2211 closed

[2020-06-12 17:23] satish1240 opened #2212 "Add support to add topics to org repos"
Currently we have this `octokit.repos.replaceAllTopics` which updates topics on the owner repos.
Is it possible to update topics for org repos as well?

[2020-06-12 17:24] #2212 closed

[2020-06-12 17:25] satish1240 commented on #2212
closed here as i need for rest apis

[2020-06-15 11:17] shravan-prajapati commented on #2211
Hi It is Working with adding User-Agent.

client.Headers.Add("User-Agent", "Awesome-Octocat-App");

Thank you very much.

[2020-06-17 10:36] cilerler opened #2214 "Add support to interact with Organization Repository Labels"
More info can be found [here](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-default-labels-for-repositories-in-your-organization).

https://github.com/organizations/{yourOrganization}/settings/labels

[2020-06-17 11:54] shiftkey commented on #2214
This needs to exist in the GitHub API to be supported in Octokit, but I don't see it documented here:

https://developer.github.com/v3/orgs/

@cilerler please bump this issue when you see the API is available

[2020-06-17 11:54] #2214 closed

[2020-06-23 03:45] audiorganiclucid opened #2216 "Audiorganiclucid"

[2020-06-23 12:46] #2216 closed

[2020-06-23 16:11] adamralph commented on #2180
Any update on this?

[2020-06-27 12:40] matks commented on #1833
Just wanted to say thanks for sharing this snippet, this is exactly what I was searching for 😄

[2020-06-30 17:41] IvanJosipovic commented on #2149
Hi, @shiftkey

I have pushed PR #2217 which implements this functionality. Please let me know if you have any feedback.

Thank you

[2020-07-07 14:41] AngelaMay27 commented on #2188
🙂

[2020-07-07 14:41] AngelaMay27 commented on #2188
🙂

[2020-07-07 15:04] AngelaMay27 commented on #1774
https://github.com/octokit/octokit.net/issues/1774#issue-300292800

[2020-07-07 18:03] suchja opened #2223 "How to verify SearchIssuesResult from ISearchClient.SearchIssues Method?"
For some years now I do have an application running which is searching for issues and comments in my private repositories. Today I realised that some issues are missing in the search results. I could bet that this was not the case 1-2 weeks ago and of course I have not changed anything 😁.

Obviously there are tons of possibilities for errors. Thus I was wondering whether there is any way to test m

[2020-07-09 12:00] plucked opened #2225 "NullReferenceException when getting all suites for a reference"
I am seeing a NullReference exception when calling

`await client.Check.Suite.GetAllForReference(StaticData.Organization, StaticData.Repository, commitRef);`

When one of the suites was written by an app that no longer exists. I verified that using the RestAPI manually.

[2020-07-14 16:57] raffaeler commented on #732
Can someone tell me why I still can't search without a term?
Am I doing something wrong?
*  throws: `new SearchCodeRequest(null, owner, repositoryName)`
* can't specify the owner/repository with the default ctor

Thanks!

[2020-07-22 19:43] akanksha234 opened #2226 "Personal token :must have admin right"
Hi, I am trying to delete a repo created through API with a personal token which has the authority to delete the repo.

Although my user can do this through UI, and my account is the basic/standard account.

Why am I still getting this error?
![image](https://user-images.githubusercontent.com/11677994/88221063-886e5100-cc81-11ea-87b9-b857b78b9c10.png)

[2020-07-22 19:44] akanksha234 commented on #2226
![image](https://user-images.githubusercontent.com/11677994/88221256-d420fa80-cc81-11ea-8e08-dd345a83a247.png)
delete repo is checked.

[2020-07-23 12:31] shiftkey commented on #2226
@akanksha234 please contact GitHub support, as this project is specific to the .NET client for Octokit: https://support.github.com/

[2020-07-23 12:31] #2226 closed

[2020-07-28 04:55] patricknolan opened #2231 "SearchIssuesRequest does not work where search term contains "<""
If I have a GitHub issue where the body is as shown in screenshot below and I search with the SearchIssuesRequest shown in example 1 below I get no results.

![image](https://user-images.githubusercontent.com/21054590/88620810-3e9ec400-d0e2-11ea-9bec-4e7a1943c4ff.png)

**Search example 1**
`SearchIssuesRequest request = new SearchIssuesRequest("<rnh>");`
`request.In = new[] { IssueInQualifier.Body

[2020-07-29 09:27] kirsan31 commented on #1840
Hi guys. I am tring this code:
[code]

to download release binary and it's completely ignoring cancellationToken even when `IsCancellationRequested = true`.

[2020-07-29 17:38] christianrd opened #2232 "How can I create a issue to specific repository with body, labels and title"
I want to implements a bug report form on a website where any user can create issue without the github user.

I have body (Markdown), title and 2 tags (created in existing repository).

I don't know how I can add the body, tags and title.

I think we need to create more examples like this ...

[octokit documentation: create issues](https://octokitnet.readthedocs.io/en/latest/issues/)

[2020-07-29 17:52] christianrd commented on #566
MR. @shiftkey , Can I add 2 labels and how?

[2020-07-30 08:53] qweeah opened #2233 "Cannot get Readme size via octokit.net"
Need to access the `size` of README.md file, only to find that it's not a public property of Readme object.

The property itself is indeed available  in native [Github API](https://docs.github.com/en/rest/reference/repos#get-a-repository-readme). Better to have it in octokit.net.

[2020-07-31 23:50] patricknolan opened #2234 "SearchIssuesRequest doesn't support phrase"
Should the SearchIssuesRequest support the searching of a phrase?

If I have an issue with the phrase "hello world" in the body, the following query does not return the issue

`SearchIssuesRequest request = new SearchIssuesRequest("hello world");
request.In = new[] { IssueInQualifier.Body };
request.Repos.Add("repo name");`

However, the following query does return the issue

`SearchIssuesRequest

[2020-08-04 15:35] rokonec opened #2235 "IssueEventPayload should have property Assignee and Label"
Properties Assignee and Label has been removed by https://github.com/octokit/octokit.net/pull/1039

I am not sure if at that time those property has not been present or used but now both properties are present and webhooks are fired when you add/remove label or assignee.

[2020-08-05 12:29] johan-v-r commented on #2188
Seems very much related to this dotnet/runtime issue: [[wasm] Blazor 303 responses, and fetch vs navigation #39365](https://github.com/dotnet/runtime/issues/39365)

[2020-08-07 18:21] Cyberboss commented on #1400
Deployment.Environment would be useful to have. My use case is the user can rename an enviroment and I want to reflect it in the API.

[2020-08-09 03:29] FireFox2000000 opened #2236 "Unknown Crash Upon Calling "await github.Repository.Release.GetAll(...""
Hi, one of my users is experiencing a crash and I've been able to determine that it's occurring upon trying to get the repository releases for a repo. It only seems to be for this one specific user so far, as I am unable to reproduce the crash directly nor has any other user reported a similar issue. There have been some cases where the user has been able to get past the crash somewhat rarely whic

[2020-08-26 11:59] broccolihighkicks opened #2242 "Best way to download entire repository?"
What is the best way to download the entire repository using minimal API requests?

Ive noticed that `await client.Issue.GetAllForRepository` will return a list of issues, but certain fields are null:
- `i.ClosedBy`
- `i.Repository`
- `i.PullRequest.Id` (this is 0 when there is a pull request).

This [pull request](https://github.com/octokit/octokit.net/pull/1353) added the ClosedBy field when dow

[2020-09-03 19:17] SeanKilleen commented on #1707
Hey! I'd love this functionality in an app I'm building so I'm going to jump in and try to knock it out.

I will use #1721 as a reference.

[2020-09-03 21:00] jepetty opened #2243 "GetAllContentsByRef doesn't properly handle trailing slash"
Hi! We're using Octokit.NET in our service, and we found a bug where it doesn't look like it's properly handling trailing slashes in `GetAllContentsByRef`. The repo, commitId, and tree we use for testing is [vs-threading](https://github.com/microsoft/vs-threading/tree/1e187c0a93afb43f08cc36517b44b653a8934b79/src/IsolatedTestHost).

In our first test call, we call:
[code]
and we get the expected re

[2020-09-09 19:35] broccolihighkicks opened #2248 "Issue active_lock_reason missing"
Hello,

I am trying to get the value of

- `active_lock_reason` JSON
- `activeLockReason` GraphQL

on the issue object.

Ive searched the C# source code but I do not think this property is accessible?

[2020-09-16 08:39] Hoopie opened #2250 "Invalid cast on Deployment.Create"
As per the documentation the `deployment.payload` is intended to accept json.
Octokit.net has `NewDeployment.Payload` as string.

When creating a new deployment with a json serialized string in `Payload` the request is accepted and the deployment is created. However, it fails with an `InvalidCastException` when attempting return the `Deployment` response model.

On closer inspection it appears to

[2020-09-17 10:21] Narian-Naidoo opened #2251 "how would i get all the files names and paths including files from subfolders using the github apis?"
String projectURL ="https://api.github.com/"+ "/repos/"+owner+"/"+reponame+"/contents?ref="+branchname;
the above endpoint returns all files in the root folder only

[2020-09-18 06:45] MindaugasLaganeckas commented on #2100
Our company needs this feature as well.
@justinyoo: can I start working on this feature or do you plan to resume working on it?

[2020-09-18 22:30] justinyoo commented on #2100
@MindaugasLaganeckas Oh, that would be great! I’ve been fully stretched since this conversation. Thanks for your offer!

[2020-09-19 19:29] archanadavid opened #2252 "How do we capture http header response for search api in Octokit.net?"
What’s the best way to retrieve the http header response (status 200 OK) from github search api through Octokit.net?
Through Octokit.net, I am able to retrieve the response object in github search api for issues, code, user & repositories but not it’s header response from octokit.net

    var request = new SearchUsersRequest("dhh");

    var response = await githubClient.Search.SearchUsers(request

[2020-09-25 05:43] tomkerkhove opened #2254 "Support for GitHub Discussions"
Are there plans to provide support for GitHub Discussions? I'd love to use this to automate issue management to steer them to GitHub Discussions by locking issue and automatically creating related GitHub Discussion.

[2020-09-25 08:15] cecelias35 opened #2255 "It does not look like this is possible right now: https://stackoverflow.com/q/59828577/206879"
It does not look like this is possible right now: https://stackoverflow.com/q/59828577/206879

_Originally posted by @gr2m in https://github.com/octokit/core.js/pull/32#issuecomment-576408646_

[2020-09-25 12:16] shiftkey commented on #2254
@tomkerkhove until there's a preview API announced from the team we can't support it in this project

[2020-09-25 12:21] shiftkey commented on #2255
@cecelias35 this project is for the Octokit .net client, not the JavaScript client.

Closing this out as unrelated.

[2020-09-25 12:21] #2255 closed

[2020-09-25 12:29] tomkerkhove commented on #2254
Ha, I thought there was one already - Sorry!

I'll check when it's coming and circle back.

[2020-09-28 12:45] Cyberboss opened #2257 "[META] Version 1.0.0?"
Thanks for all the hard work you guys put into this project. My only concern is the continued use of major version 0.X.Y. I had to recently update an app from around 0.29.0 or so and had to clean up several breaking changes.

Are there any plans/targets to hit before a 1.0.0 version is cut? If not, I'd recommend going forward with it. Given how widely used this library is, just having proper [semv

[2020-10-05 22:02] IvanJosipovic commented on #2257
This client is falling so far behind, I'd like to see a road map or something...

[2020-10-06 12:44] shiftkey commented on #2257
At the moment I have no bandwidth to catch up to what's currently supported as part of the v3 API. I did some analysis of the `octokit/routes` repository months ago to generate stats against the current release , that are hosted at https://octokit-status.shiftkey.dev/. That says we're at 56%, which wasn't unexpected.

I'd love to go back and explore generating the client code so this is no longer

[2020-10-06 16:07] IvanJosipovic commented on #2257
Can you ask internally for additional help to maintain this repo? What about Microsoft?
If GitHub is not willing to allocate resources to keep this project going, you should make it clear and archive this repository.

[2020-10-07 19:36] ShaunEgan opened #2260 "Fetching a pull request diff"
I am super new to C# and, indeed, octokit - so bear with my inexperienced questions:

I've been struggling to figure out where to fetch the complete diff for a pull request. I have found the `.PullRequest.Files` method, but each file isn't the complete patch for that file - it is only the lines that changed.

Is it possible to fetch the complete diff through octokit.net?

If not, I have also tried

[2020-10-08 13:26] #2260 closed

[2020-10-12 11:36] liiri opened #2261 "NullReferenceException at setter for ProjectId of IssueEventProjectCard in issue/timeline request"
To reproduce:

Make the following call

[code]

(same command from curl: `curl https://api.github.com/repos/TeamNewPipe/NewPipe/issues/913/timeline -H "Accept: application/vnd.github.mockingbird-preview+json"`

it will fail with the following stack trace and non-api exception

[code]

When debugging, I found that specifically the code is failing due to trying to set NULL value using the setter `Is

[2020-10-16 15:57] adamralph opened #2262 "unsubscribe from issue"
If I have a reference to an issue, can I use Octokit to unsubscribe from the issue?

[2020-10-19 07:47] mmctest888 opened #2263 "ReferenceExtensions.CreateBranch"
The default reference points to master branch... for new repos should be 'main' as default

[2020-10-19 10:23] adamralph commented on #2262
BTW, I wasn't lazy here. I spent quite some time digging through the API but I just couldn't find it. 🙂

[2020-10-21 18:49] chamons commented on #1762
I tried this today and I ran into the same exact issue (for the same reason, GetAllForRepository is slow).

[2020-10-26 08:47] sgmoore opened #2265 "NullReferenceException on retrieving forks"
The following simple LinqPad script throws a NullException.

[code]

 This seems to occur because one of the forks has null for Owner (which Octokit copes with) and null for Archived which is what triggers this exception.

A simple workaround would be to change

`public bool Archived { get; protected set; }
`

to

`public bool? Archived { get; protected set; }`

in the Repository.cs class (ie  ..\

[2020-10-28 13:27] chap-dr commented on #1610
Holy Smokes, This was a hard google hit to come by, but a lifesaver when found.

Been struggling with bulk removal for a day and a half. I suspect I hit the `.Where(x => x.Type != TreeType.Tree)` snag, but i replaced my entire messy code bit with the example shown here and it works like a charm.

Only thing i had to change was `Type = x.Type` to `Type = x.Type.Value`
as i got a `Cannot convert sou

[2020-10-28 13:28] chap-dr commented on #2191
I'm sure you figured this out already, but just for anyone else finding this issue in search of a solution as to why they are unable to delete things, i found this issue: https://github.com/octokit/octokit.net/issues/1610 which was the fix for my problem at least..

[2020-11-10 17:54] niteshkhannaupstart commented on #1862
what does owner mean here? gitHub.Issue.Update("owner", "repo name", pr.Number, issueUpdate);

What value does it or it should hold?

[2020-11-19 13:02] KonH commented on #1616
Unfortunately, I see null for Repository properties while running such request:
[code]
Obviously, I don't have any repository context here and it is not clear how I can obtain it (except hacks like parsing some URLs in response objects).
Is any workaround exist here?

[2020-11-20 03:58] anphyj opened #2272 "Validation Exception while searching for Repos within an Organization"
Hi,
I am using the Octokit .Net library to search for repos within an Organization. When I have the organization filter, I get the below exception.

{"message":"Validation Failed","errors":[{"message":"The listed users and repositories cannot be searched either because the resources do not exist or you do not have permission to view them.","resource":"Search","field":"q","code":"invalid"}],"docume

[2020-11-23 14:41] github-dcl opened #2273 "LFS Batch API"
Is there support for LFS and the Batch Api at this point? I cannot locate it in the tests.

[2020-11-23 14:50] shiftkey commented on #2273
Unless it is documented in https://docs.github.com/en/rest or an upcoming preview https://docs.github.com/en/free-pro-team@latest/rest/overview/api-previews then we are unable to support it

[2020-11-26 09:45] ranjjose-chaz commented on #2272
@anphyj Can you confirm if the resources exist and you have adequate permission to view (as it suggests in the error message)?

[2020-11-26 09:51] anphyj commented on #2272
@ranjjose-chaz  the repository which I am trying to search exist. It also gets listed when I use the library  to get all the repos for the organization ("client.Repository.GetAllForOrg"). However when I try to search  it gives the error.

[2020-11-28 13:05] valentinbreiz opened #2274 "Get repos from private SSO enabled organization"
Hello,
I'm having an issue while reading repositories from a private organization with single sign-on (SSO) enabled. I have succeed to get my access token using OAUTH2 and I can list my own repos and get private informations for example.

If try to list the repos from this organization (with a github session not connected for this organization through SSO) I have: "Resource protected by organizati

[2020-12-06 11:39] TheBackdoor opened #2275 "Can someone please help me?"
How do i create NewPullRequest()
i dont understand the parameters...

Can you give me a example for this repository: https://github.com/TheBackdoor/CockyGrabber

[2020-12-07 13:07] istisan opened #2277 "Push files from Azure function triggered by blobstorage fails on Exception Reference cannot be updated"
I use the following code on an Azure function to push files on a github repository when a new file is uploaded to a blobstorage, that trigger the function. But it doesn't work if multiple file are uploaded to blobstorage in a short time interval: only one random file is pushed to github and then the function throw an exception; in the log: Description: The process was terminated due to an unhandle

[2020-12-11 03:53] e5393e opened #2278 "#block[Codecov](https://codecov.io/gh/octokit/octokit.net/pull/2276?src=pr&el=h1) Report"
black code to block

[2020-12-11 03:55] e5393e commented on #2278
ok

[2020-12-11 12:58] e5393e commented on #2278
on off github

[2020-12-26 03:51] eatdrinksleepcode commented on #1168
Still there.

After 4.5 years, is there any chance of this bug being fixed? Is it worth implementing in the library anyway? It could still be useful.

[2020-12-26 04:18] eatdrinksleepcode commented on #1533
I believe this was fixed by #2014 (along with #1959) and can therefore be closed (along with the open PR #1553)

[2020-12-26 05:49] eatdrinksleepcode commented on #2041
I started looking at this tonight, and would swear I saw the new values in the docs at https://developer.github.com/v3/repos/#get-a-repository. But after messing with the API for a bit, I couldn't find them in the response. So I went back and checked the docs again...and the values are gone!?

![image](https://user-images.githubusercontent.com/2099560/103146076-d0e6da80-4709-11eb-89ae-8c5c5fed7fa8

[2020-12-26 19:35] Jericho opened #2281 "How to delete a branch?"
What is (are) the octokit.net call(s) necessary to reproduce the behavior of the `Delete Branch` button ?

![image](https://user-images.githubusercontent.com/112710/103157983-f534cc80-4786-11eb-8665-b78fb5331f16.png)

I'm working on a tool that will loop through all the branches in a given repo, check if there's an associated PR, determine if the PR has been merged and if so, delete the branch. Th

[2021-01-05 14:27] MindaugasLaganeckas commented on #2100
Unfortunately, our focus has changed for now. Everyone is welcome to take over.

[2021-01-09 11:42] hoplik opened #2282 "Autogenerated issues not work (Not Found exception)"
I can't overcome the Octokit library (0.48 for Visual Studio 2019) with interaction with the GitHub API. I make a test application, on the form one text field, one button to send the typed text. Returns the error: "Not found". What was not found is unclear. It seems that everything is done on the docks. The application without authorization is made on purpose, because the message can be sent by an

[2021-01-09 18:55] greendalf commented on #2119
hello...i have a similar problem with my unturned server rocket plugin "kits"

OverflowException: Value was either too large or too small for an Int32.
at System.Number.ParseInt32 (System.String s, System.Globalization.NumberStyles style, System.Globalization.NumberFormatInfo info) [0x00057] in <9577ac7a62ef43179789031239ba8798>:0
at System.Int32.Parse (System.String s, System.Globalization.Number

[2021-01-10 16:03] shiftkey commented on #2282
You need to authenticate the client to create issues against the GitHub API, as these need to be associated with a GitHub account.

This is 60 requests per hour.

[2021-01-10 16:03] #2282 closed

[2021-01-11 00:57] mr5z opened #2283 "Cannot create gist."
I'm trying to use this library to manage gist but got stuck at creating a simple gist.

Authentication part is already done.

I'm calling the API as below:

[code]
Using the scopes: `user`, `repo`, `gist`

The returned error message was:

[code]

And bot's enabled permissions:
![image](https://user-images.githubusercontent.com/6318395/104140061-6d87c880-53ea-11eb-8b2a-f9836acf7856.png)

It's proba

[2021-01-19 14:15] mr5z commented on #2283
Update: Tried to enable all possible permission, still getting same result. Completely lost where to go next.

[2021-01-22 17:20] kristianjaeger opened #2286 "Question: how to get latest content from master branch when develop is default?"
Hello,
Question: how to get latest content from master branch when develop is default?  I'm running into the problem where the content for develop is returned even though I'm trying to specify master.  What's a good way to ensure I get content from the master branch?  Thank you in advance.

Kristian

[2021-01-22 17:31] kristianjaeger commented on #2286
Looks like I just figured it out.
`await _githubClient.Repository.Content.GetAllContentsByRef(_owner, _name, _branch)
                        .ConfigureAwait(false)` (where branch is "master")
Cheers.

[2021-01-22 17:31] #2286 closed

[2021-01-22 19:13] shiftkey commented on #2283
GitHub Apps are only allowed to access these resources for a user, and Gists are not supported: https://docs.github.com/en/rest/reference/permissions-required-for-github-apps

Only OAuth apps are allowed to create Gists on behalf of a user, which is mentioned here https://docs.github.com/en/rest/reference/gists#authentication

As this is not something that Octokit can address, I'm going to close t

[2021-01-22 19:13] #2283 closed

[2021-01-23 02:46] mr5z commented on #2283
@shiftkey Thanks for the reply! I missed that info.

[2021-02-01 15:46] LeapsofFaith opened #2287 "Unable to use Repository functions | "RepositoryContentsClient.cs not found""
I'm trying to use octokit to programmatically view the information of the files in my own private repository, however no matter what I've tried the code always comes back with some form of "RepositoriesClient,cs not found" or "RepositoryContentsClient.cs not found". The error started when I reverted to a stashed copy of my files that had a working version of the package being used. The call that r

[2021-02-08 19:07] haacked commented on #2250
I'm running into this too. Definitely looks like a bug. The question is does the GitHub API do anything with the `Payload` property? Or is that just round tripped by the API and ignored by GitHub. If it's ignored by GitHub, maybe the safest change is to change the type of `Payload` to `string` on `Deployment`.

Otherwise it might make sense to change `Payload` on `NewDeployment` to be a dictionary

[2021-02-08 20:56] haacked commented on #2250
Actually, probably needs to be a string since the Payload field can be created by other clients. I know the ruby client just lets you set that as a string. In order to be able to use this client to load deployments created by other clients, we can't assume they put it in a format deserializable to a dictionary.

[2021-02-08 21:26] haacked commented on #2250
Ah, changing it to a string probably won't help. The issue is that the serializer doesn't know that `NewDeployment.Payload` is supposed to be a JSON string. So when it serializes it, it escapes it.

[code]

That's why it can't round trip it. I wonder if there's a way to tell JSON.NET to treat that property as raw JSON and don't encode it.

[2021-02-08 21:30] haacked commented on #2250
Ok, after digging into the code, I forgot that Octokit.net uses a simple serializer that doesn't embed type info. So I think the easy fix is to change `NewDeployment.Payload` to `Dictionary<string, string>`. It's a breaking change, but probably worth it considering that any deployments created prior are kind of broken.

[2021-02-10 05:12] IvanJosipovic opened #2296 "Auto Generation from OpenAPI"
Now that GitHub has an [OpenAPI description](https://github.com/github/rest-api-description). Any thoughts on auto generating this library? This could make it much easier to keep up the with the changes to the API.

[2021-02-12 00:16] KennethEvans opened #2298 "Not getting Parent and Source for Repository"
Repository Parent and Source are consistently null.  I get them using the REST API with the same access token, so it seems to be a problem with Octokit.Net.

[2021-02-13 20:01] #2278 closed

[2021-02-13 20:26] shiftkey commented on #2287
@LeapsofFaith there's not enough information here for me to understand the issue at hand.

Here's what would be great to investigate further:

 - as much details about the error you're seeing
 - a runnable sample project, that indicated what version of .NET you're using

[2021-02-13 20:27] shiftkey commented on #2273
Closing this out as I don't wish to track feature requests in this repository

[2021-02-13 20:27] #2273 closed

[2021-02-14 13:09] adamralph commented on #2281
I'm also trying to do exactly this.

[2021-02-14 13:11] adamralph commented on #2281
FWIW, if I try and do:

[code]

I get:

😕

[2021-02-14 14:40] shiftkey commented on #2281
The Git references client supports removing references, not just branches, so there's some nuances here that I tried to capture in the docs:

https://github.com/octokit/octokit.net/blob/9e2618f6d1af590d1911bf6abeaa9425c5954c69/Octokit/Clients/ReferencesClient.cs#L345-L350

[2021-02-14 14:44] shiftkey commented on #2281
Something like this should do the trick:

[code]

I thought there was a high-level "delete branch" API but I couldn't spot it in the API docs...

[2021-02-14 14:44] #2281 closed

[2021-02-14 15:32] Jericho commented on #2281
I had tried this already but it didn't seem to work:

[code]

I added the `heads/` prefix like in your sample and it now seems to be working as expected. Thanks for the tip.

[2021-02-14 23:57] adamralph commented on #2281
Thanks @shiftkey, that works for me!

[2021-02-21 21:11] #2250 closed

[2021-02-21 22:38] #2149 closed

[2021-02-23 02:19] imwiss commented on #2296
I think this would be a great direction to take. Octokit JS recently started consuming this OpenAPI description and it has improved its completeness and accuracy (through more complete Typescript type definitions).

[2021-02-24 15:57] tomkerkhove commented on #2254
API is in preview: https://github.blog/changelog/2021-02-23-github-discussions-graphql-api-public-beta/

[2021-02-25 14:40] #1707 closed

[2021-02-25 15:21] shiftkey commented on #2296
It's a great idea, and I have a prototype lying around that started dabbling with generating code from this back in early 2020 (as Gregor was diving into the OpenAPI stuff) but I no longer have the bandwidth to take it further.

This is the branch, if you're curious: https://github.com/octokit/octokit.net/compare/brave-new-codegen-world

To play around with the demo, just run this command:

[code]

[2021-02-25 15:34] clairernovotny commented on #2296
I think @bradygaster was looking into REST client generation from OpenAPI?

[2021-02-25 15:47] shiftkey commented on #2277
@istisan it's hard to say what the root cause is without a bit more context but I wonder if your `master` branch has some sort of protection set.

[code]

The `true` parameter on the `ReferenceUpdate` here is to not enforce a "fast-forward" update of the ref, so if the API is rejecting you with a `"Reference cannot be updated"` message it could be that the repository requires changes to that branc

[2021-02-25 18:57] shiftkey commented on #2272
This feels like a known limitation of search from the docs: https://docs.github.com/en/rest/reference/search#access-errors-or-missing-search-results

Not really sure what I can do here, as we're just wrapping the GitHub API. This might be a question better asked over on the GitHub Community forum: https://github.community/c/github-ecosystem/37

[2021-02-25 19:00] shiftkey commented on #2262
I don't recall offhand how to correlate it to an issue, but what you want is the `Delete thread subscription` endpoint: https://docs.github.com/en/rest/reference/activity#delete-a-thread-subscription

[2021-02-25 19:23] shiftkey commented on #2263
As it's not possible to know what the default branch is without making another API call internally, I'm going to mark this method as deprecated. It was probably something we shouldn't have supported in the first place.

[2021-02-25 19:24] #2263 closed

[2021-02-25 19:24] shiftkey commented on #2265
@sgmoore is this still occurring for you? I had a look at the raw JSON and I see all `archived: false` being returned, so I suspect this was just a bug with the actual API that's now been fixed.

Please let me know if you're still seeing this and I can dig into it further.

[2021-02-25 19:24] #2265 closed

[2021-02-25 19:26] shiftkey commented on #2248
It seems like this hasn't been added to the API, both for `Issue` and `PullRequest` responses.

Marking this as `up-for-grabs` in case someone wants to have a go at adding support.

[2021-02-25 19:29] shiftkey commented on #2233
I think this should be resolved by:

 - Adding `Size` as a property on `Octokit/Models/Response/ReadmeResponse.cs`
 - Adding `Size` as a property on `Octokit/Models/Response/Readme.cs` and assigning that from the `response`

Marking this as up-for-grabs as it's an ideal small contribution

[2021-02-25 19:35] shiftkey commented on #2232
[code]

[2021-02-25 19:35] #2232 closed

[2021-02-26 07:54] bradygaster commented on #2296
@clairernovotny I would love that. @dougbu worked on integrating the existing NSwag generator. I'd love to see us build a Refit generator. @dougbu is this complex? I'll review the docs you sent earlier this week on the topic and get some ideas. Appreciate that summary @shiftkey, that's impressive.

[2021-02-26 11:20] sgmoore commented on #2265
No, the exception is no longer being thrown.
Unfortunately I didn't keep a note of which repo caused the problem.

Not sure what the deal is with https://github.com/RLlane2126/VirusTotalUploader, but this isn't causing me a problem.

[2021-02-26 14:18] Aarojas3012a commented on #2277
![Uploading IMG_20210122_073219.jpg…]()

[2021-02-26 14:22] Aarojas3012a opened #2307 "Manuel Aarón Rojas Salinas"
https://user-images.githubusercontent.com/77599600/109311419-6fc3ac00-780b-11eb-9ede-1cf14062bc3a.mp4

Around#1World_Rojas_As_Many{$Monedas_Historia_Colecciones$}%@11/23/1985

[2021-02-26 14:25] Aarojas3012a commented on #2307
Around world I Love Github 😻🤪😎😎 type people

[2021-02-26 15:10] #2307 closed

[2021-02-26 16:00] istisan commented on #2277
@Aarojas3012a  I can't see the image you attached.
@shiftkey so do you think to set the parameter to false? How do I check if there is a sort of protection set on master branch?

[2021-02-26 18:03] dougbu commented on #2296
I summarized what's needed to integrate new a new code generator in https://github.com/dotnet/aspnetcore/issues/30432#issuecomment-785391236

[2021-02-26 22:50] palenshus opened #2308 "Octokit should support Device Flow authentication (in C#)"
Request for support of this flow: https://docs.github.com/en/developers/apps/authorizing-oauth-apps#device-flow

This is a big gap in the authentication functionality in Octokit. Currently we have to create all the REST calls and response objects ourselves which is a ton of boilerplate code that it would be nice to have abstracted away into the library, like it would if we were using the "web appl

[2021-02-26 22:56] shiftkey commented on #2308
@palenshus this flow is new to me, so I'd be open to reviewing contributions that add in this support if you're willing

[2021-03-02 01:33] palenshus commented on #2308
Sweet, I took a stab at it with the above PR. The calling pattern is different than for the web flow, so I wasn't sure exactly how to structure it. I settled on two new APIs, InitiateDeviceFlow, and CreateAccessTokenForDeviceFlow, which takes the response from InitiateDeviceFlow as an argument. Let me know what you think, thanks!

[2021-03-03 08:52] anamwp opened #2311 "How to get total commit count of a repo"
I user as npm package of this repo.
I can not count the total commit of a repo.
Any help appreciate.
Thanks.

[2021-03-04 23:21] Bluscream opened #2312 "How to cache responses"
I would like the lib to keep and use cached versions of requests so the users (and especially devs) don't get ratelimited so often when restarting the app. Is there a way to grab the raw json before it's being deserialized by octokit and a way to tell octokit to use the local json instead?

[2021-03-06 19:27] adamralph commented on #2180
Any update on this?

[2021-03-14 10:02] adamralph opened #2314 "How do I retreive a list of PR's per user?"
I.e. the API equivalent of https://github.com/pulls

[2021-03-30 05:16] Aarojas3012a commented on #2307
![Cargando IMG-20210321-WA0003.jpeg …]()

Around_As_Manyking

[2021-03-30 18:06] DrLeh opened #2317 "Basic authentication not working"
I'm trying to run the following code to read data about private repos in my account, but the following code gives an error:

[code]

I didn't see anything in the [getting started](https://github.com/octokit/octokit.net/blob/main/docs/getting-started.md) mentioning anything more I need for this to work.

I do not have two factor authentication on my account, nor any other setting that I can tell mi

[2021-03-30 18:12] DrLeh commented on #2317
I tried making a direct request via HttpClient and I got an error about it being forbidden because of admin rules, so sounds like it's an org setting forbidding this. Octokit just doesn't report it.

[2021-03-30 18:12] #2317 closed

[2021-03-31 07:24] alexandvvvvv commented on #2317
I am having exactly the same issue

[2021-04-02 12:34] shiftkey commented on #2317
Basic Authentication with username/password using the GitHub API was deprecated back in November 2019:

https://docs.github.com/en/rest/overview/other-authentication-methods#via-username-and-password

Please create and use a Personal Access Token in place of your account password:

https://docs.github.com/en/rest/overview/other-authentication-methods#via-oauth-and-personal-access-tokens

[2021-04-06 00:55] Aarojas3012a opened #2319 "@Aarojas3012a I can't see the image you attached."
@Aarojas3012a  I can't see the image you attached.
@shiftkey so How do I check if there is a sort of protection set on master branch?

_Originally posted by @istisan in https://github.com/octokit/octokit.net/issues/2277#issuecomment-786734792_

[2021-04-06 12:21] #2319 closed

[2021-04-08 02:46] palenshus commented on #2308
@shiftkey , could you take a look? Thanks!

[2021-04-08 13:37] tomkerkhove commented on #2254
Any plans for this?

[2021-04-08 13:54] shiftkey commented on #2254
@tomkerkhove that's the GraphQL version.

This library is for the REST API, and there's a sibling project for the GraphQL API in .NET here: https://github.com/octokit/octokit.graphql.net

Unless this becomes available as a REST endpoint, I can't see this becoming supported.

[2021-04-15 01:53] palenshus opened #2320 "GitHubApps.CreateInstallationToken should allow specifying repositories/repository_ids"
As detailed here https://docs.github.com/en/rest/reference/apps#create-an-installation-access-token-for-an-app you can specify a list of repository_ids (ints), and possibly repositories (strings) that the installation token should have access to. It would be great if this was exposed in the C# API.

[2021-04-16 21:03] jongio commented on #1762
I ran into this today as well - will try SearchIssues as a workaround.

[2021-04-20 08:08] Aarojas3012a commented on #2319
Around#1World_Resureccion<octokit>%^+^

[2021-04-20 14:25] swtanggara commented on #2312
I don't know if it still relevant or not, but you can found it here: https://github.com/nigel-sampson/octokit.caching

[2021-04-22 05:28] littlemisslilycane commented on #2233
I worked with Octokit library in the past and wanted to contribute. This is my first open-source contribution.
I have added the Size fields to the Readme.cs & ReadmeResponse.cs. Modified the test cases to include the new parameter. I tested it locally.
Quick question on adding new fields to a class (and constructor). I added the Size field after the Name field based on the actual API response form

[2021-04-26 09:53] jMarkP opened #2323 "Team model uses wrong Permission enum"
It looks like commit 598c7c31bf0b4cc0eb1f722c555600d3d01b3e84 broke deserialization of permissions on the `Team` model when getting teams with access to a repository (we're on GitHub Enterprise, but AFAICS the Team DTO is the same on GitHub.com).

Curling the [repository list teams endpoint](https://docs.github.com/en/rest/reference/repos#list-repository-teams) on our GitHub Enterprise installatio

[2021-04-26 10:33] jMarkP commented on #2323
This is when calling [RepositoriesClient.GetAllTeams()](https://github.com/octokit/octokit.net/blob/356588288e2d07fb4844911f6e03ef129540b124/Octokit/Clients/RepositoriesClient.cs#L906)

[2021-04-26 10:39] jMarkP commented on #2323
For the time being we're working around this with

[code]

[2021-05-06 20:11] joscol opened #2324 "Can not resolve PullRequestReviewComment"
PullRequestReviewComment does not contain the resolved state of the comment and there is no way to resolve a comment.

[2021-05-10 16:38] mireedmsft commented on #2324
@joscol @shiftkey Per offline discussion this will require adding a REST API to resolve a comment (in addition to the existing GraphQL api) since oktokit.net wraps the REST API only. Current internal guidance is that engineering effort should be spent on GraphQL, so I doubt we'll get to the point where we can do this in Oktokit.net unfortunately.

[2021-05-14 09:15] BlythMeister commented on #2145
Can this also include listing if enabled using https://docs.github.com/en/rest/reference/repos#check-if-vulnerability-alerts-are-enabled-for-a-repository

[2021-05-15 17:58] ANF-Studios opened #2326 "404 when creating a new issue on github"
Hello, there, I am creating a test issue (possibly without an account or any authorization method) using Octokit 0.5.0 on GitHub on my repository. I'm not really sure why I am getting a 404, I searched everywhere including GitHub's own documentation, no luck, could you explain me what I'm doing wrong here:
[code]

This is the exception:
[code]

Thanks in advance.

[2021-05-16 14:58] shiftkey commented on #2326
You need to provide credentials when creating an issue on GitHub: https://octokitnet.readthedocs.io/en/latest/getting-started/#authenticated-access

[2021-05-16 14:58] #2326 closed

[2021-05-16 22:03] ANF-Studios commented on #2326
Credentials? This can cause a security risk for my application, isn't there some way to do that without? Can you guide me, I'm not sure what exactly to do here.

[2021-05-17 11:47] shiftkey commented on #2326
Alternatives I can think of:

 - you host an application that received requests from clients to create issues, and create issues using a credentials that you manage (and that the client never contains)
 - you use OAuth to allow the user to sign into their GitHub account, receive a token and use that to create issues

The latter has a walkthrough with how to integrate it with Octokit.net: https://o

[2021-05-17 12:15] bobbytreed commented on #2018
Good Morning All, Sorry for being absent, but good to see the conversation continued.  I'm getting this same error again today on another benign call.

[code]

Here is the stack trace

   at Octokit.Connection.HandleErrors(IResponse response) in /home/runner/work/octokit.net/octokit.net/Octokit/Http/Connection.cs:line 707
   at Octokit.Connection.<RunRequest>d__60.MoveNext() in /home/runner/work/o

[2021-05-17 12:21] bobbytreed commented on #2018
Even more oddly, it works in all cases when invoked from PowerShell, but not from C#. I tested with .50 in C# and it failed, so I have a PS GitHubClient instance in my profile using the .32 version DLL (don't update it often).  The Git.Reference.Get call works from there to any repo.  I tried downgrading to .32 in C#, but it did not work.

[2021-05-20 11:20] NicolasHiraclides opened #2327 "NewTreeItem doesn't seem to support base64 encoded string"
Hello,

I'm currently using the v0.50 and I'm using it to push multiple files at the same time into a GitHub repository.

The system I made is based on the `NewTree` and `NewTreeItem` classes which allow me to push multiple files using 1 request and is really quick since I don't need to create 1 SHA per blob file

[code]
I'm pushing the newTree using `Client.Git.Tree.Create`.

However, this doesn'

[2021-05-24 06:27] JustinGol commented on #1707
@SeanKilleen, not sure Im missing something but I cant find the new method GetAllTopics on the RepositoryClient. Im using v0.50, double checked and decomplied. I saw in the release the commit for this is included. I can see it in the integration tests too so not sure whats happening. TIA

![image](https://user-images.githubusercontent.com/42610502/119305809-93807c00-bcac-11eb-9418-b8c213301b9e.png

[2021-05-24 10:21] SeanKilleen commented on #1707
@JustinGol please file a new issue, tag me, and include an example of how you're attempting to use it. I'll do what I can to help. Thanks!

[2021-05-24 23:50] JustinGol opened #2328 "GetAllTopics on RepositoryClient is not available in v0.50"
@SeanKilleen, not sure Im missing something but I cant find the new method GetAllTopics on the RepositoryClient. Im using v0.50, double checked and decomplied. I saw in the release the commit for this is included. I can see it in the integration tests too so not sure whats happening. TIA

![image](https://user-images.githubusercontent.com/42610502/119305809-93807c00-bcac-11eb-9418-b8c213301b9e.png

[2021-05-24 23:52] JustinGol commented on #1707
Thanks Sean, its here: https://github.com/octokit/octokit.net/issues/2328. Appreciate your help on this.

[2021-05-25 00:32] SeanKilleen commented on #2328
@JustinGol do you have a code sample that isn't working? Are you using another part of the library with success or is this a new effort? Asking so I can keep that in mind as I look into this. (Not back at a computer yet to check).

[2021-05-25 01:11] SeanKilleen commented on #2328
Well @JustinGol I have good news and bad news. 😆

The good news is, you're not wrong -- it is indeed in the integration tests and was merged in.

The bad news is, you're not seeing it in the wild because it's not yet been released.

* #2246 was merged on Feb 25th.
* However, [the last release, v0.50](https://github.com/octokit/octokit.net/releases/tag/v0.50.0), was pushed out on Feb 21.

I assumed

[2021-05-25 03:16] SeanKilleen commented on #2328
@JustinGol see my comment above and, if you agree, go ahead and close this issue. Thanks!

[2021-05-25 05:13] JustinGol commented on #2328
When I checked the release commits it was there, so not sure how that ended up like that.
![image](https://user-images.githubusercontent.com/42610502/119442694-a60dba80-bd6b-11eb-9499-c6525ec1e84c.png)

![image](https://user-images.githubusercontent.com/42610502/119442623-8b3b4600-bd6b-11eb-80eb-9d6c69b31bc0.png)

[2021-05-25 05:13] #2328 closed

[2021-05-25 05:14] JustinGol commented on #2328
@SeanKilleen  Thanks for looking into this and for the detailed and quick reply.

[2021-05-25 10:36] SeanKilleen commented on #2328
@JustinGol in the view you showed in the screenshot, you were showing all the commits _since_ v0.50.0, because it was comparing against master. I think that's where the confusion came in.

But I'm glad someone else is looking to use the contribution! :)

[2021-05-25 23:42] JustinGol commented on #2328
It would help if I actually read what came after the 8 commits, sorry for wasting your time. I searched the repo as well as I thought v0.50 had the latest master changes too. @SeanKilleen, appreciate your help with this, very keen to use this feature. I have almost 100 repo's I want to use this for and we want to leverage it for a tool in Slack we built for creating a new repo.

[2021-05-31 04:30] flcdrg commented on #2317
@shiftkey Should the docs be updated to remove basic auth examples? https://octokitnet.readthedocs.io/en/latest/getting-started/

[2021-05-31 05:07] flcdrg opened #2329 "Get/Create/Update Environments"
I'd like to see support added for environments - https://docs.github.com/en/rest/reference/repos#environments

[2021-06-08 03:21] Rwing opened #2332 "Should obsolete the login/passsword auth type?"
Fyi

[2021-06-09 09:39] timbussmann opened #2333 "Project.Card.Move fails with ValidationException"
We move project cards to the top of a column using

`await client.Repository.Project.Card.Move(card.Id, new ProjectCardMove(ProjectCardPosition.Bottom, columnId, null));`

which then fails with the following error message:

[code]

I don't fully understand the error message (`The afterCard must be prioritized`) but it seems to relate to `ProjectCardPosition.After` (which we are not using)?

The er

[2021-06-09 22:56] ChadNedzlek opened #2335 "GitHubApp should include slug"
This type https://github.com/octokit/octokit.net/blob/main/Octokit/Models/Response/GitHubApp.cs does not include the "slug" field documented here: https://docs.github.com/en/rest/reference/apps

Unfortunately, the "slug" field appears to be the name that appears with the app interacts with the repository (makes a comment or creates an issue), so we need access to that value for several scenarios.

[2021-06-20 12:02] carlosnavarro938 opened #2336 "Hi, Hoping you are doing fine."

[2021-06-20 12:02] #2336 closed

[2021-06-21 10:47] ginuraju commented on #1188
@ryangribble Hi Ryan, does octokit has an implementation for source import endpoint to migrate from other git repos(non GitHub ones) to GitHub

[2021-06-22 13:32] bobbytreed commented on #2018
Still Getting this error.

┌[ GLaDOS ] [  main ≣ ~3 -0 ! ]
└[~\source\docindex]> $prs = $gitHubClient.PullRequest.GetAllForRepository("MicrosoftDocs", "azure-docs-pr", $request)
┌[ GLaDOS ] [  main ≣ ~3 -0 ! ]
└[~\source\docindex]> $prs

Result                 :
Id                     : 671
Exception              : System.AggregateException: One or more errors occurred. ---> Octokit.ApiException

[2021-06-22 13:41] bobbytreed commented on #2018
C# Stack Trace (.50)

   at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()
   at Octokit.GraphQL.Connection.<Run>d__25.MoveNext()
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at

[2021-06-24 03:19] haacked commented on #1955
If I had a time machine I'd have written these APIs to return a custom `IPaginatedList<T>` interface. The current implementation makes it impossible to build a client with pagination without requesting ALL issues on every request. I honestly don't remember what I was thinking making it work the way it does. Most likely I was only focused on the needs of GitHub for Windows and GitHub for Visual Stu

[2021-06-24 10:55] ch1seL opened #2337 "Value 'changes_requested' is not a valid 'PullRequestReviewState' enum value."
I've tried to deserialize PullRequestReviewEventPayload and faced with this error:
[code]

I think there is a little problem with `review.state` value.
In Rest API is in uppercase: https://docs.github.com/en/rest/reference/pulls#list-reviews-for-a-pull-request--code-samples
In Webhooks events is in lowercase: https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-pay

[2021-07-01 14:32] adtakle opened #2339 ""Draft" state missing from "MergeableState" enum"
We're receiving a payload from a GitHub webhook with `"mergeable_state": "draft"` when a PR is marked as a draft. We're seeing an error when deserializing the JSON payload using the Octokit `MergeableState` enum:
`System.ArgumentException: Value 'draft' is not a valid 'MergeableState' enum value.`

I think the fix should just be to add `draft` as an enum value here: [MergeableState enum](https://g

[2021-07-06 17:48] guygreenleaf opened #2340 ""Maintain" and "Triage" permissions not exposed in API"
As of now the "Maintain" and "Triage" permissions are not exposed.

I.E. I can't do something like this:

[code]

Is there any workaround to this or is this a feature that's forthcoming in future releases?

[2021-07-06 17:57] guygreenleaf commented on #2340
Closing this. Looks like it's already being looked into:

#2041

[2021-07-06 17:57] #2340 closed

[2021-07-07 13:52] Brend-Smits commented on #2328
I actually stumbled on this issue because I thought this was already released. Is there any release planned?

[2021-07-07 16:41] p-brito opened #2341 "Swift Language is missing"
SearchRepositoriesRequest.Language does not have Swift. @mislav @anaisbetts  @zeke @mislav @zerowidth Can you please add this language, it's a quick fix I think.

[2021-07-14 13:50] p-brito commented on #2341
@shiftkey I think this is a quick fix, can you handle it?

[2021-07-16 15:03] SeanKilleen commented on #2328
I think @shiftkey may have been busy [building the future of GitHub](https://twitter.com/shiftkey/status/1407732284963311618?s=20) for a minute :)

Brendan, these changes were merged Feb 25th, so just barely missed the Feb 21st release.

Is there a next planned release? Is there any way I could support that endeavor? I'm happy to onboard into that process if you would find it useful.

[2021-07-22 14:28] anandarch opened #2346 "Create first branch in github"
How to create first branch in github using octokit C#

[2021-07-26 22:16] CaptainAchilles opened #2347 "Is ocotkit.net still maintaind?"
I have not seen anything merged or released in quite a while. Is this package still maintained?

[2021-07-28 11:15] adamralph commented on #2180
Is there anything I or anyone else can do to help get this prioritised?

[2021-08-12 11:04] wanjizheng opened #2349 "Issues of creating new users"
GitHub Enterprise Version: 2.22.1
Octokit.net version: latest release

Issues:
When create new user, it always throws an exception says "Validation Failed". I use the basic auth method, and the account I use has siteadmin permission. It used to work fine, but stop working (not sure from when, probably after we upgrade to 2.22.1). I can still do other admin task like list all the organisations.

Pl

[2021-08-12 13:51] #2349 closed

[2021-08-23 10:55] SeanKilleen opened #2351 "GitHub IDs have exceeded Int32.MaxValue; Octokit uses int"
Spotted in this tweet from @patriksvensson: https://twitter.com/firstdrafthell/status/1429738272574558210?s=19

I'll look into this ASAP but don't mind anyone else doing the same.

[2021-08-23 11:12] SeanKilleen commented on #2347
Yes, the package is maintained with love and care but releases have slowed due to other legitimate obligations on behalf of the maintainers (I'm not one of them but have seen their activity).

I'd love to see others commit to actively maintaining this project as I think more maintainers prevents burnout, but the current maintainers have stewarded this project well so I'm comfortable deferring to t

[2021-08-23 12:23] shiftkey commented on #2351
An example PR where we've had to fix this in the past: https://github.com/octokit/octokit.net/pull/1703

Happy to push out a release asap about it if you have a fix.

[2021-08-23 12:25] shiftkey commented on #2351
@patriksvensson got a sample script that helps us to know where it's overflowing?

[2021-08-23 12:30] SeanKilleen commented on #2351
For those following along, I am using the following regex search in VS to attempt to find int Ids and knocking them out:

`int [^=]*Id`

[2021-08-23 12:31] SeanKilleen commented on #2351
@shiftkey I'm not quite sure how the songs are chosen for releases, but this one seems like "For the Long-est Time" would be appropriate.

[2021-08-23 12:33] shiftkey commented on #2351
Release titles are chosen mostly at random. I endorse this name for the one that fixes this.

[2021-08-23 12:34] patriksvensson commented on #2351
@shiftkey I don't have a sample script, but encountered this when retrieving notifications.

[2021-08-23 12:55] shiftkey commented on #2341
@p-brito please don't at-mention a whole bunch of people - some of whom no longer work at GitHub, none of whom are previous contributors to this project - and ask them to do this work.

I've merged #2344, so this will go out with the next release.

[2021-08-23 12:55] #2341 closed

[2021-08-23 13:00] shiftkey commented on #2337
Webhook support has never been a priority for this, and https://github.com/octokit/octokit.net/issues/407 was an early request to support this:

https://github.com/octokit/octokit.net/blob/356588288e2d07fb4844911f6e03ef129540b124/Octokit/Models/Response/PullRequestReview.cs#L88-L104

Not sure when this will get fixed, and I'm not sure if we can adapt that parsing to ignore the casing of a match (`

[2021-08-23 13:48] p-brito commented on #2341
Thank you @shiftkey! Sry for tagging a lot of people.

[2021-08-23 16:43] SeanKilleen commented on #2351
@patriksvensson question as I go through this:

You mention that you were having issues when retrieving notifications. It looks like, in a strange turn of events, the API is actually returning the notification ID as a string (and Octokit .NET is complying with that). Thread IDs are integers, but Octokit is currently compliant with that as well.

Are you by any chance casting it to an integer on yo

[2021-08-31 06:27] CancanTang opened #2354 "SearchCodeApi show error : Only the first 1000 search results are available"
i want to search more results by SearchCode API .
For example : search code by key words "net6.0" , it just return 1000 results , but i want to get more than 1000 , May be 10,000 results
how can i do?

![image](https://user-images.githubusercontent.com/50062380/131452832-fbad01a1-3687-4e90-8417-6c6c7dc1c5f8.png)

[2021-09-07 12:57] Kum4tor opened #2355 "How to list all commits in a branch."
Other than the master branch how do I list all the commits in a branch

`var commit = await Cilent.Repository.Commit.Get("octokit", "octokit.net", "test");`
`
This only gives the tip commit of the branch.

[2021-09-07 15:14] omelianlevkovych commented on #2339
Hi, Is it still relevant?
Can I try to prepare PR to fix it (as my first contribution)?

[2021-09-07 16:13] adtakle commented on #2339
@omelianlevkovych yes, this is still relevant

[2021-09-12 21:29] #2355 closed

[2021-09-13 13:45] Choc13 opened #2356 "`DetailsUrl` property seems to be missing from `CheckRun`"
According to the REST API docs a check run should have a `details_url` property in the body. However, it seems like the [`CheckRun`](https://github.com/octokit/octokit.net/blob/main/Octokit/Models/Response/CheckRun.cs) model class in this repo doesn't expose this property.

Am I looking in the wrong place or is this just missing? I'm happy to open a PR to add it.

[2021-09-14 21:38] omelianlevkovych commented on #2339
Okay, I will try to prepare PR this/next week. Thanks

[2021-09-15 21:00] williamdenton opened #2358 "Parameterless constructors break immutable serialization with json parsing libraries"
Attempting to use System.Text.Json to deserialize webhook data into the octokit models fails as there is a parameterless constructor on PullRequest.

https://github.com/octokit/octokit.net/blob/b4d7fb09784f5695fb1360ca40d88262e9bc519f/Octokit/Models/Response/PullRequest.cs#L10-L20

Using the bundled SimpleJson works - but it took me a day to realise this was bundled in the nuget.

As per the [syst

[2021-09-17 03:35] imwiss commented on #2193
Heads up that I'm taking a crack at the first one in that list: [List team projects](https://developer.github.com/v3/teams/#list-team-projects).

[2021-09-19 11:03] mausch opened #2360 "Packages API"
Hi, it looks like this library doesn't implement the [packages API](https://docs.github.com/en/rest/reference/packages)?

For example I wanted to delete some packages (which github doesn't support through `dotnet nuget delete`)

[2021-09-21 11:45] seebeen opened #2361 "Upload to Github releases stopped working"
Hello,

We use @semantic-release/github plugin to upload releases to github. This morning, our releases stopped working with the following error.

![image](https://user-images.githubusercontent.com/6689756/134164750-edbcd25b-77eb-42fa-b245-2bbf3aebefcf.png)

Is this something octokit related, or should I direct the issue to semantic-release team.

[2021-09-23 14:20] boris-tarasov-maersk opened #2362 "Unable to add workflow file using CreateFile method, gettign error Not found"
`GitHubClient.Repository.Content.CreateFile`
 fails with error "Not found" if path starts with . as it should for
workflow paths.

If dot is removed then files added fine but it is not recognized as a valid workflow.

Please advise!

Example filepath:
"github/workflows/dev1__boris20210921002.yml" -- working

".github/workflows/dev1__boris20210921002.yml" -- Not found error

should workflow files a

[2021-09-30 04:12] donnie-msft commented on #1762
Me too, and the workaround worked.

[2021-09-30 19:37] shiftkey commented on #2361
Please reach out to the project owners for Semantic Release as a first step.

This is the Octokit C# bindings project, and the JS bindings are handled by a different project. But this may require reaching out to GitHub Support if it doesn't appear to be an intermittent issue.

[2021-09-30 19:37] #2361 closed

[2021-10-02 14:09] danijeljw-RPC opened #2363 "Cannot create issue on repo that I own under my user account"
I am trying to create an issue. I have followed the guide.

Replacing `my-gh-username`, `ghp_my-gh-oauth-token` and `my-gh-repo` with the values they represent, this is the code I am using:

[code]

This is the error I get:
[code]

Why is it not creating the issue as expected?

[2021-10-02 14:14] danijeljw-RPC commented on #2363
Sorry!

I did further testing and it requires the following minimum as a permission:

- [ ] **public_repo** Access public repositories

It may be helpful to add this to the documentation.

[2021-10-02 14:14] #2363 closed

[2021-10-06 13:38] rshettybr opened #2365 "UpdateFile: Octokit.ApiException: is at xx but expected yy"
I want to create a PR with the few changes on main.

1. Fetch the commitId(sha/reference) on main.
2. Then execute GetAllContentsByRef for the given commitId(reference)
3. Create a new branch against the  main(commitId) using client.Git.Reference.Create
4. Any new changes I have I execute: (For each file : about 20 files)
client.Repository.Content.UpdateFile
where UpdateFileRequest () -> would poi

[2021-10-15 12:19] AndreyKozhevnikov opened #2368 "The GetAllRepositories method raises an exception"
Hello,

We have the organization:
"DevExpress-Examples"
In this organization we have the group:
"Maintain Group" (id 2662639)
In this group, there are over 5k repositories.

Octokit.GitHubClient

When I try to get all repositories from this group using the following code:
`var teamGitRepos = client.Organization.Team.GetAllRepositories(gitTeam.Id).Result;`
I get the exception:
![image](https://user

[2021-10-17 17:28] git37 opened #2369 "any plans to add ApiOptions to Repository.GetAllPublic ?"
in order to allow pagination?

[2021-10-18 09:41] #2347 closed

[2021-10-30 09:27] damianh commented on #2360
Looking for similar functionality to manage docker images.

[2021-11-02 20:25] dbalikhin commented on #2308
Any updates? It looks like a very nice feature.
@shiftkey :point_up_2:

@palenshus Can you please try to make another commit / merge to rebuild it again?

[2021-11-03 04:59] salvadorgonmo commented on #1862
Is it possible to use issues to automatically assign a Project to a PR when it has an specific label?

[2021-11-03 21:29] palenshus commented on #2308
Good idea, done

[2021-11-10 00:51] mohitramwani opened #2371 "any plans to support Installation webhook payload?"

[2021-11-10 00:54] mohitramwani commented on #2371
So as to deserialize the installation webhook payload received from GitHub - https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#installation

[2021-11-16 16:15] marwie opened #2373 "RepoCollaboratorsClient.Add throws exception with 201 status code (Created)"
Hello, looks like github changed the return code for adding collaborators

STRP:
1) check "IsCollaborator"
2) if false call "Add"
3) observe exception

Using octokit 0.50.0

![image](https://user-images.githubusercontent.com/5083203/142020488-e332a2fd-5130-4d6a-9804-0a6617f16456.png)

[2021-11-17 15:03] Sam13 opened #2374 "Granting team access for (Enterprise) repositories"
Is there a way to add a team with specific access rights to a repository?
I can do this manually in the repository settings -> Collaborators & teams -> Add a team

In the repository client I can add collaborators but I'm not able to add teams.
I can retrieve the list of teams in the repository client.

I'm using Octokit.NET v0.50.0 with GitHub Enterprise Server 3.2.3

[2021-11-21 19:33] Jimdandy498 commented on #2374
add what ever you think

On Fri, Nov 19, 2021, 11:02 PM jim dandy ***@***.***> wrote:

[2021-11-21 19:33] Jimdandy498 commented on #2374
im trying to get connected but says ot of range

On Wed, Nov 17, 2021, 9:03 AM Sam13 ***@***.***> wrote:

[2021-12-13 15:57] wangyoutian opened #2382 "Still not strong named at nuget.org ?"
After I installed octokit from nuget.org, I exported the meta of the installed dll and found it's  still not strong-named. The dumped meta is :

"Octokit, Version=0.50.0.0, Culture=neutral, PublicKeyToken=null"

Being unstrong-named, it brings about some issue in my project, which is strong named.

I saw at this repo that whether to strong-name has been discussed and the decision to strong-name is

[2021-12-26 05:57] Bigg29 opened #2383 "Superseded by #2350."
Superseded by #2350.

_Originally posted by @dependabot in https://github.com/octokit/octokit.net/pull/2330#issuecomment-899846591_

[2022-01-03 16:25] p-brito opened #2385 "How long until the next release?"
Need some new developments that are already merged...

[2022-01-03 16:59] Bigg29 opened #2386 "Free cash!"
At Cashing you earn answering surveys, using your social media and much more.
You can withdraw it in money or virtual currency in many games!!

Use the link below and earn 500 Cash.

https://cashing.page.link/B4Nxu1mxHkPPzV2ZA

[2022-01-04 19:58] hiren929 opened #2387 "Pull request creation fails when adding .github folder"
While creating a pull request against master branch using latest version (0.50.0) of Octokit lib, it throws following error if feature branch (branch1) has .github directory.

Error:
{"message":"Validation Failed","errors":[{"resource":"PullRequest","field":"head","code":"invalid"}],"documentation_url":"https://docs.github.com/enterprise/3.1/rest/reference/pulls#create-a-pull-request"}

Creation o

[2022-01-05 00:41] miloush opened #2388 "Converting Issue into Pull Request"
It seems that the GitHub API supports converting issues into pull requests. https://github.com/refined-github/refined-github/issues/2614 suggests this can be done by supplying issue number to the create PR API.

I verified it is working, using
[code]

Therefore I suggest a new overload to `NewPullRequest` is added:

[code]

that sets a new `Issue` property instead of the `Title` property.

[2022-01-06 17:28] hiren929 commented on #2387
Figure it out. OAuth app was missing "workflow" scope.

[2022-01-06 17:28] #2387 closed

[2022-01-10 07:45] alexandvvvvv opened #2390 "Requesting repository contents by ref does not trim input parameters"
The issue was observed on method specified below but would be also produced on some similar methods.

Task<IReadOnlyList<RepositoryContent>> GetAllContentsByRef(string owner, string name, string path, string reference);

Let's have repo "Test_Repo" of "Programmer" owner with following structure:
/src
--/back-end
----code.cs

Let's have 2 branches of this repo: main and dev.

I want to get contents

[2022-01-12 21:35] Whitestripe7773 commented on #2335
I would like to work on this one :)

[2022-01-13 03:00] JamieMagee commented on #2371
Check out the [Octokit .NET webhooks package](https://github.com/octokit/webhooks.net). It has support for the installation event:

https://github.com/octokit/webhooks.net/blob/main/src/Octokit.Webhooks/Events/InstallationEvent.cs

[2022-01-13 03:02] JamieMagee commented on #407
Webhook payloads are now supported in the [Octokit .NET webhooks package](https://github.com/octokit/webhooks.net)

[2022-01-17 12:25] nwf commented on #2351
Is there any progress on resolving this?  #2352 appears stalled, but, sadly, this is stymieing any use of octokit.net for handling `workflow_job` events, because the `id` field therein is expressed as a JSON number, not a string, and they are far above 2**32 at this point.

[2022-01-21 06:58] Codectory opened #2392 "GetLatest Release takes several minutes"
I cannot explain why, but since yesterday, the call "client.repository.Release.GetLatest(...) takes several minutes. The requesttimeout is set to 10 seconds.  Any ideas?

Edit: The strange thing about, when I an exception raises after some minutes, the next call works perfectly.

[2022-01-21 18:01] Cosxxxx opened #2393 "Moon"

[2022-01-21 18:01] Cosxxxx commented on #2393
[](https://github.com/all-contributors/all-contributors/issues/578)

[2022-01-21 18:02] #2393 closed

[2022-01-30 16:13] dmitry-kosar opened #2405 "`seats` and `filled_seats` fields are missed in Plan model"
According to API reference there are `seats` and `filled_seats` fields in Organization response
See https://docs.github.com/en/rest/reference/orgs#get-an-organization--code-samples

But they missed in Plan model
See https://github.com/octokit/octokit.net/blob/main/Octokit/Models/Response/Plan.cs

Is this expected?

[2022-02-02 22:43] zgenov commented on #2354
This is limitation from GitHub. Check this https://docs.github.com/en/rest/reference/search

[2022-02-09 04:36] Cosxxxx opened #2408 "Enable QuickConverter to receive requests from approved contracts (not just tx.origin)"
Enable QuickConverter to receive requests from approved contracts (not just tx.origin)
Add converter.convert() to the end of addLiquidity, addLiquidityETH, and removeLiquidity

This hasn't been tested. Other than adding the conversion step, the router code should be identical, so it's low risk. I have not audited this for potential reentrancy attacks, but I think it's safe because the added code c

[2022-02-09 20:20] Korporal opened #2409 "Question: Single Sign On"
I have a Windows OctoKit console app I wrote a few years ago that no longer works, the app has not been run for like 2 years.

I suspect it fails because since it was last run our company move to GitHub Enterprise and we now have to always authenticate an additional step because we have setup SSO.

I guess the old code (that uses my username and password as command line args) needs some extra step

[2022-02-14 11:15] giladv opened #2411 "Question: compare branches and get files changed for each commit"
Hello,

I'm trying to compare 2 branches - so far pretty easy with `/repos/{owner}/{repo}/compare/{basehead}`

but for some reason, the returned result comes with a list of commits and a list of files changed separated,
and i can't seem to be able to connect between them by any identifier.
i would like for each commit to link the associated file changes.
is it possible?

the only solution i found

[2022-02-14 17:16] mryanmurphy opened #2412 "DeployTask should be a string, not an enum"
Per docs and actual usage, there is no way to enumerate all possible values of `task`. It's an arbitrary string that only has meaning given to it via the consuming deployment mechanism. The example values are truly examples, not the only accepted values.

https://docs.github.com/en/rest/reference/deployments#create-a-deployment

https://github.com/octokit/octokit.net/blob/b4d7fb09784f5695fb1360ca4

[2022-02-15 19:29] mryanmurphy opened #2414 "Deployment payload should be `Dictionary<string, object>`"
See https://github.com/octokit/octokit.net/pull/2303 for related notes, this is a +1 on further correcting the deployments client.

[2022-02-19 15:58] robinmanuelthiel opened #2415 "Allow Auto Merge not supported"
The SDK is lacking the `allow_auto_merge` field for repositories. I would have expected to find and `AllowAutoMerge` property in `Repository.cs`, as it is part of the JSON response from the API.

[2022-02-20 03:58] Hosch250 opened #2416 "Organization.GetAllForCurrent returning nothing with OAuth token"
I created an OAuth app on GitHub, wired it into my app signin process, and everything works so far.

[code]

Now I'm trying to see what orgs a user is in:

[code]

This call doesn't return any data when using the OAuth token returned, but if I hard-code a PAT and run it, I get all my orgs back. How can we get the orgs for the signed-in user when using just the OAuth token? It's not a huge deal bec

[2022-02-20 21:44] TopazTK commented on #1782
Not to necro or anything, but since this is still open I will concur:
As of 02/21/22, this is still present.

[2022-02-22 16:37] shiftkey commented on #2416
This suggests the scopes defined for the OAuth token are different to the PAT - have you defined `read:org` for the OAuth token?

You can confirm what scopes a token has granted, and what was used for a specific endpoint, using `curl`:

[code]

There are some notes about OAuth permissions for [this endpoint in the docs](https://docs.github.com/en/rest/reference/orgs#list-organizations-for-the-auth

[2022-02-22 23:44] Hosch250 commented on #2416
@shiftkey I can definitely confirm that scope has been added; I didn't know it was required at first and when I made the call it prompted me to add it, after which I was able to pull the public orgs with the `GetAllForUser(context.Identity.Name)` call.

[2022-03-02 15:48] SeanKilleen commented on #2385
Wanted to ping @shiftkey, @ryangribble, and @haacked on this as I know you were contributing pretty recently.

❤️ I know you have a ton going on. I know this isn't your main focus and you have very little bandwidth.  I am willing to help on this to whatever extent you're comfortable. If there are steps you perform for a release, I'd be happy to undertake them in order to get this out the door. ❤️

[2022-03-09 15:52] Lucas-Sarkadi opened #2420 "GetAllTags random exception on Unity"
Hello, I have an issue related to Octokit:

When calling Client.Repository.GetAllTags, the method sometimes works perfectly, and sometimes throw this error after around 2 minutes of trying:

[code]

This is on Unity.
FYI Unity forces its API call to be on a main thread and therefore has a custom synchronization context (this is similar to a Windows Forms application from my understanding) but call

[2022-03-11 17:57] cowlike opened #2421 "Question on API getting access tokens"
I'm having trouble finding out how to retrieve all the access tokens for a user other than the currently authenticated user. I'm the enterprise admin for our company and we're trying to automate some checks for personal access tokens with particular scopes.

I'm using my personal access token for this utility. I can find what I need by hitting this URL for a particular USER:

[code]

For convenien

[2022-03-13 21:52] markus-codechefs commented on #1755
Though it seems clear from the comment its probably
`result.Commit.Comitter.Date;`

[2022-03-16 23:22] Gera-Vera opened #2423 "There isn't a clone to desktop button"
.

[2022-03-21 06:27] FreePhoenix888 opened #2425 "Add `SearchCommits` to `Client.Search`"
https://docs.github.com/en/search-github/searching-on-github/searching-commits

[2022-03-23 12:07] jozefizso opened #2427 "Update a label is missing some properties"
The latest GitHub API supports these parameters when updating a label:

* `new_name`
* `color`
* `description`

Reference: https://docs.github.com/en/rest/reference/issues#update-a-label

Current `LabelUpdate` model should be updated to match these parameters.

[2022-03-23 12:12] #2427 closed

[2022-03-24 01:26] nkolev92 opened #2428 "Support for beta projects"
We're trying to use projects (beta), but the lack of automation around it makes a bit challenging.

[code]

Only returns the v1 projects.

[2022-03-24 12:51] shiftkey commented on #2428
The v3 REST API does not yet support beta projects - GraphQL support is currently available: https://docs.github.com/en/issues/trying-out-the-new-projects-experience/using-the-api-to-manage-projects

[2022-03-29 10:57] martincostello commented on #2078
I'm going to take a look at contributing the client bits for Actions, as I've been using it in some automation I've been building.

[2022-03-29 20:21] tschissler opened #2430 "How to delete a reaction from an issue?"
I have been trying to create and delete reactions on an issue. Creating works great, but I'm having issues deleting the issue. It throws an exception with "Not found". I'm guessing it does not find the reaction_id I'm providing.

[code]

What confuses me is that it seems that the API needs the issue Id

DELETE /repos/{owner}/{repo}/issues/{issue_number}/reactions/{reaction_id}
https://docs.github.

[2022-04-01 20:03] cesar-d2l opened #2431 "Support deserializing C# record types"
### What you were trying to do.

I was trying to call `IGitHubClient.Connection.Get<T>()` where `T` is a C# record type

### What you expected to happen.

That method to return an object

### What actually happened.

A `System.NullReferenceException` was thrown

### Steps to reproduce the problem.

I defined the record types:
[code]
then I made the call:
[code]

Note that System.Text.Json does sup

[2022-04-04 17:27] pjirsa opened #2433 "Team.Permission parse error"
Response from Team.Get() has a value of "pull", which does not match the enum values for Permission property causing an exception when parsing the value.

`Value 'pull' is not a valid 'PermissionLevel' enum value.`

[2022-04-04 17:36] pjirsa commented on #2433
Discovered this is due to use of StringEnum type which "safely" handles fast-changing or unknown enum values.
Link to the docs: [working-with-enums](https://octokitnet.readthedocs.io/en/latest/working-with-enums/)

[2022-04-04 17:36] #2433 closed

[2022-04-08 19:56] akashkarve opened #2434 "How to create a feature branch from master branch."
I want to create a branch from master branch, make a commit newly created branch and raise PR for it.
I am unable to find examples for it.
TIA

[2022-04-13 18:51] Emnmer1 opened #2435 "0xe408Aa91aD47A0599046B2FA28d2c37e71151483"
https://metamask.app.link/send/0x89d24A6b4CcB1B6fAA2625fE562bDD9a23260359@1/transfer?address=0xe408Aa91aD47A0599046B2FA28d2c37e71151483&uint256=9e18

[2022-04-19 10:19] BanksySan commented on #809
Is there a solution for this yet?  There doesn't seem to be a way to use a proxy and supply credentials.

[2022-04-20 21:29] #2308 closed

[2022-04-21 00:53] palenshus commented on #2308
It's in!

[2022-04-25 19:03] #2435 closed

[2022-04-25 19:10] nickfloyd commented on #2423
Hey @Gera-Vera thanks for reaching out.  I'm making an assumption here but in the GitHub web interface, you should find what you're looking for by navigating to the repo's main [page](https://github.com/octokit/octokit.net) then clicking on code, and then choosing `open with GitHub desktop`

![Screen Shot 2022-04-25 at 2 05 48 PM](https://user-images.githubusercontent.com/139819/165156939-a86bb6f8

[2022-04-25 20:46] nickfloyd commented on #2382
Possble duplicate of: https://github.com/octokit/octokit.net/issues/1604

[2022-04-25 20:52] nickfloyd commented on #1512
resolved with: https://github.com/octokit/octokit.net/pull/1523

[2022-04-25 20:52] #1512 closed

[2022-04-25 20:54] nickfloyd commented on #1502
Resolved with: #1536 and #1591

[2022-04-25 20:54] #1502 closed

[2022-05-14 21:30] Cyl18 opened #2444 "Update documentation detailing how to use octokit.net in a thread-safe way"
I can't find it anywhere

[2022-05-16 22:23] mockjv commented on #2323
This appears to also affect the `Permission` enum as well, which is limited to `pull`, `push`, and `admin`.

[2022-05-18 00:30] JoshCheek opened #2446 "How do I diff 2 branches?"
Hi. We've got a build tool that does things based on what changed. For example, due to deployment constraints, we need database changes to go out separately from code changes, so we have a build step that will fail the build if a PR changes both the database and the app code.

So what I want that build step to do is to only consider files that will change if the PR is merged.

The best I've been a

[2022-05-18 00:35] JoshCheek commented on #2446
Sorry, closing this, because I opened it in the wrong client, I've reopened it in the ruby client, [here](https://github.com/octokit/octokit.rb/issues/1417).

[2022-05-18 00:35] #2446 closed

[2022-05-18 02:10] #2296 closed

[2022-05-18 02:10] #2287 closed

[2022-05-19 02:15] #2262 closed

[2022-05-19 02:15] #2261 closed

[2022-05-19 02:15] #2251 closed

[2022-05-19 02:15] #2242 closed

[2022-05-21 02:01] #2188 closed

[2022-05-23 23:48] TealEgg opened #2452 "How to create a png file thats in base64 format?"
Ive tried a lot of things, but when the file gets uploaded, it shows the text instead of the actual image.

[2022-05-26 21:49] #2339 closed

[2022-05-27 02:13] #2148 closed

[2022-05-27 02:13] #2146 closed

[2022-05-27 02:13] #2147 closed

[2022-05-27 10:21] Emnmer1 opened #2454 "Néw"
https://github.com/ethereum/consensus-specs/blob/dev/.circleci/config.yml

[2022-05-28 02:10] #2346 closed

[2022-05-28 02:10] #2337 closed

[2022-05-28 02:10] #2332 closed

[2022-05-28 02:10] #2314 closed

[2022-05-28 02:10] #2311 closed

[2022-06-02 02:16] #2145 closed

[2022-06-02 20:53] Emnmer1 opened #2455 "Not what was scheduled"
https://github.com/Emnmer1/octokit.net/blob/2001d976568456b1d4b6e5360d6c2fcdea2c8393/Octokit.Tests/Octokit.Tests.csproj

[2022-06-05 02:14] #2142 closed

[2022-06-05 02:14] #2143 closed

[2022-06-06 02:17] #2140 closed

[2022-06-06 02:17] #2141 closed

[2022-06-06 02:17] #2139 closed

[2022-06-06 02:17] #2138 closed

[2022-06-06 02:17] #2137 closed

[2022-06-06 02:17] #2135 closed

[2022-06-06 02:17] #2136 closed

[2022-06-06 02:17] #2134 closed

[2022-06-07 17:49] #2455 closed

[2022-06-07 17:50] #2454 closed

[2022-06-07 17:54] nickfloyd commented on #2452
Hey @TealEgg,

I was wondering if you could post more details about how you are trying to accomplish the above -

Such as:
1. Methods used
2. Data passed
3. Code / snips, etc....

[2022-06-08 02:13] #2132 closed

[2022-06-08 02:13] #2133 closed

[2022-06-09 02:12] #2129 closed

[2022-06-09 02:50] ianfixes commented on #2002
@shiftkey do you think this merits adding the `pinned` label, as the bot suggests?  Or has the underlying quirk about the `repo` scope been resolved upstream?

[2022-06-09 11:28] shiftkey commented on #2002
@ianfixes I'm no longer a maintainer on the project, but I'd suggest pitching the changes as a PR to that page. I also think basic authentication needs to be removed as it's [no longer supported by the API](https://github.blog/2020-07-30-token-authentication-requirements-for-api-and-git-operations/) so it's probably worth giving that page a refresh.

The [current docs for the REST API](https://doc

[2022-06-10 02:14] #2126 closed

[2022-06-12 02:15] #2125 closed

[2022-06-14 02:16] #2120 closed

[2022-06-14 02:16] #2103 closed

[2022-06-14 02:16] #2100 closed

[2022-06-14 02:16] #2093 closed

[2022-06-14 02:16] #2045 closed

[2022-06-15 02:16] #2030 closed

[2022-06-15 03:28] terrajobst commented on #2041
Can this be reopened? Seems like a glaring omission now.

[2022-06-16 02:19] #2027 closed

[2022-06-16 05:16] urbanistica opened #2460 "Can OctoKit provide a complete tree of raw files?"
There seems to be no way simple way to do this, and neither with GitHub API. Faiing that, a list of the file paths...?

[2022-06-17 02:15] #1976 closed

[2022-06-17 19:46] sPITf1re-dev commented on #1610
Just saved my day! Trees documentation is si unclear an this part... It says:
`
If not provided, GitHub will create a new Git tree object from only the entries defined in the tree parameter. If you create a new commit pointing to such a tree, then all files which were a part of the parent commit's tree and were not defined in the tree parameter will be listed as deleted by the new commit.`

So I t

[2022-06-17 19:52] nickfloyd commented on #2460
Hey @urbanistica,

Apologies, our [documentation](https://octokitnet.readthedocs.io/en/latest/) is a bit out of date - that's something we are actively trying to address. I am guessing you're looking for the equivalent of git's `git ls-tree` - does that sound right?

I'm wondering if you might be looking for the Trees API, specifically GET [Tree](https://docs.github.com/en/rest/git/trees#get-a-tre

[2022-06-18 02:15] #1974 closed

[2022-06-18 03:39] urbanistica commented on #2460
Hey Nick, yeah the tree is the idea. I'm going to circle back to this, so I may open this up to ask more specific questions. Fro now, I'm grabbing the commits, and then retrieving them, while saving the sha for the most recent. That then becomes the limit for the next retrieval. It all goes in a DB, and the purpose is to get the raw urls.... works as a hack. Thanks for getting back to me.

[2022-06-19 02:17] #1968 closed

[2022-06-19 02:17] #1961 closed

[2022-06-20 17:02] Saalvage opened #2463 "Support for lazy pagination"
The various `GetAll*` methods automatically paginate through the entire structure, which can be overly expensive both in terms of performance as well as in terms of API calls, the allowed number of which is very limited without an oAuth token.
In many cases you only want to find exactly one entry matching some criteria or similar, for which enumerating the entire structure isn't necessary.

My pro

[2022-06-22 02:15] #1937 closed

[2022-06-23 02:14] #2193 closed

[2022-06-23 02:14] #1922 closed

[2022-06-23 16:13] chris-smith-zocdoc opened #2465 "Missing response properties on the branch protection api"
There are several newer properties on the branch protection api that are missing

- required_signatures
- required_linear_history
- allow_force_pushes
- allow_deletions
- required_conversation_resolution

Relevant response model https://github.com/octokit/octokit.net/blob/main/Octokit/Models/Response/BranchProtection.cs

Api
https://docs.github.com/en/rest/branches/branch-protection#get-branch-pro

[2022-06-23 17:40] timrogers commented on #2465
@chris-smith-zocdoc Thanks for reaching out! Would you be open to create a PR to add these fields?

[2022-06-23 18:22] chris-smith-zocdoc commented on #2465
@timrogers potentially. Could you point me toward something that explains what type of testing / documentation is required for these new properties

[2022-06-24 02:15] #1915 closed

[2022-06-24 02:15] #1855 closed

[2022-06-25 02:15] #1841 closed

[2022-06-25 02:15] #1840 closed

[2022-06-25 02:15] #1830 closed

[2022-06-26 02:21] #1829 closed

[2022-06-26 02:21] #1828 closed

[2022-06-27 02:16] #1827 closed

[2022-06-27 02:16] #1826 closed

[2022-06-27 08:35] HenrikPoulsen opened #2466 ""You have exceeded a secondary rate limit" does not throw RateLimitExceededException"
As seen [here](https://github.com/octokit/octokit.net/blob/356588288e2d07fb4844911f6e03ef129540b124/Octokit/Http/Connection.cs#L722) when determining to throw a RateLimitExceededException it does not handle the case where it prints `You have exceeded a secondary rate limit. Please wait a few minutes before you try again.` and instead you get a `Octokit.ForbiddenException`

[2022-06-28 02:15] #1800 closed

[2022-06-30 02:15] #1752 closed

[2022-06-30 09:11] JyotstnaDeviChintala opened #2470 "Unable to fetch Organisations list if membership is private"
i have an  C# wpf Desktop APP  trying to fetch the organizations list i have access to or i'm a member of

This app has been added to trusted apps to my account and by the organization ( i own) also
Applications ->Authorised OAUth APPs ->MYAPP, its trusted by the Organization too.

Scopes used are : `user` and `read:org`  while fetching access token

But still using this token im unable to fetch f

[2022-06-30 14:43] nickfloyd opened #2472 "Standardize response model property accessors"
As we start making our way toward generating models based on the OpenAPI definitions from the GitHub REST API we need to do some pre-work to help us know what the result of the generated code might look like.  This begins with standardization, establishing patterns, and approaches to the way we build our models.

One area where we need to do this is with our [response models](https://github.com/oc

[2022-06-30 15:49] timrogers commented on #2470
@JyotstnaDeviChintala Thanks for sharing the code!

According to the API docs, [that API](https://docs.github.com/en/rest/orgs/orgs#list-organizations-for-a-user) "only lists public memberships, regardless of authentication". You'll need to use the "list organizations for the authenticated user" [API](https://docs.github.com/en/rest/orgs/orgs#list-organizations-for-the-authenticated-user) instead.

[2022-07-01 02:16] #1749 closed

[2022-07-01 02:16] #1686 closed

[2022-07-01 03:40] idflyfish commented on #1762
I just ran into that issue when trying to serialize Team for storing in session storage. It looks like maybe I need to project the Octokit objects into my own DTOs?

[2022-07-01 05:02] JyotstnaDeviChintala commented on #2470
Thanks a lot ! it Worked.

i got confused with the library documentation

[code]

[2022-07-01 13:11] timrogers commented on #2470
Great! If you have time, it would be awesome if you could make a pull request updating the method description to make the "only lists public memberships, regardless of authentication" limitation clear. That'll help other people in the future I'm sure.

[2022-07-03 02:16] #1646 closed

[2022-07-04 02:15] #1636 closed

[2022-07-04 02:15] #1626 closed

[2022-07-05 02:16] #1616 closed

[2022-07-05 02:16] #1608 closed

[2022-07-05 02:16] #1606 closed

[2022-07-05 06:32] JonruAlveus commented on #2472
Which JsonSerializer are you referring to? I can't see any static serializers currently available in the repo (and system.text.json requires .net 4.6.1).

[2022-07-05 06:44] JonruAlveus commented on #2472
Changing this test to throw when models have non private setters (or none) reveals... only a small amount of work!

![image](https://user-images.githubusercontent.com/15954362/177265887-f6401c72-62ec-4392-87a1-89763162df31.png)

![image](https://user-images.githubusercontent.com/15954362/177266055-5b87a0af-68fe-4a14-9601-f24810186b00.png)

[2022-07-06 02:15] #1583 closed

[2022-07-06 16:36] nickfloyd commented on #2472
That's a great point on the requirement around 4.6.1 - it seems it would be best to revert back to string interpolation.  I will roll through a few thoughts on how to simplify things here (though it's a low priority). Also, this may be a needless optimization (in terms of code writing) as we get closer to generating these models based on the OpenAPI descriptions.

[2022-07-07 02:15] #1545 closed

[2022-07-07 05:22] JonruAlveus commented on #2472
We could use the SimpleJsonSerializer (or SimpleJson directly). With the auto generated api descriptions, what's the future of that serializer?
![image](https://user-images.githubusercontent.com/15954362/177697321-e3b0afd4-198b-42a6-8b1b-3008c690c8cc.png)
![image](https://user-images.githubusercontent.com/15954362/177697366-bea8bc02-f1a1-4dc6-b2ed-2b89503682cd.png)

What does the path look like to

[2022-07-10 02:16] #1533 closed

[2022-07-10 02:16] #1521 closed

[2022-07-11 02:16] #1514 closed

[2022-07-11 14:03] #2466 closed

[2022-07-11 14:12] #2041 closed

[2022-07-11 14:30] nickfloyd opened #2474 "[DOCS] Update all links to developer.github.com in docs and code comments to the more accurate docs.github.com"
It's been a while since we've updated the documentation for octokit.net (*.md). The hostname for the docs site on GitHub has since changed from `developer.github.com` to `docs.github.com` so all of the references need to change given the redirects might not always be there and might not currently be accurate.

Things to watch out for:
- This also includes the v3 URI segment - in most cases that ca

[2022-07-12 02:16] #1270 closed

[2022-07-12 07:06] JonruAlveus commented on #2430
Hi @tschissler. I've not been here long enough to comment precisely, but I believe that either this is how it used to work, or this was an attempt to standardise deletions for the Observable side.

Code wise, I would say that the below clients need updating to include delete routes, as they are all slightly different:
* ICommitCommentReactionsClient
* IIssueReactionsClient
* IIssueCommentReactions

[2022-07-12 18:12] #2460 closed

[2022-07-13 02:17] #1263 closed

[2022-07-13 02:17] #1244 closed

[2022-07-13 02:17] #1255 closed

[2022-07-13 02:17] #1242 closed

[2022-07-13 05:03] JonruAlveus commented on #2465
@chris-smith-zocdoc It looks like there's some options for integration tests in RepositoryBranchesClientTests.TheGetBranchProtectionMethod where you can test that the properties are pulling back correctly. It doesn't look like there's any unit testing. Documentation is just summary tags on classes & properties.

[2022-07-13 17:42] #2415 closed

[2022-07-13 17:49] #2412 closed

[2022-07-14 02:16] #1201 closed

[2022-07-14 02:16] #1200 closed

[2022-07-14 05:43] JonruAlveus commented on #2373
@nickfloyd this check is only performed when there is a CollaboratorRequest passed in. This appears to be organisation-owned/enterprise only. Unfortunately I don't have access to test this, do you? RepoCollaboratorsClient.Add methods.

[2022-07-14 06:28] JonruAlveus commented on #2180
@adamralph Very late response, apologies. It looks like the github api itself can't handle this and it has been requested for a long time. It is possible to do via the GraphQl integration though.

[2022-07-14 06:31] nerocui opened #2480 "Value 'convert_to_draft' is not a valid 'EventInfoState' enum value"
I get events from `GitHubClient.Issue.Events.GetAllForIssue(repo.Id, pr.Number);`
Then I have a line where I get the value of the state.
[code]

This line is given error `State = @event.Event.Value;` because `@event.Event.Value`'s getter is throwing exception. The string value is actually `convert_to_draft`

Error message

------
Repro version
0.5.2
1.0.0

[2022-07-14 06:43] JonruAlveus opened #2481 "Add use_squash_pr_title_as_default to Repository Create"
use_squash_pr_title_as_default is missing from NewRepository. Cannot be tested currently as it isn't returned by the GET methods.

[2022-07-14 07:02] JonruAlveus commented on #2480
Notes for myself: EventInfoState should be updated too reflect this list:
https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types

[2022-07-14 07:06] JonruAlveus opened #2483 "All instances of master in tests should be checked and updated to main"
Given the default branch name is now main, a number of integration tests fail to run because they are looking for the master branch. We should check all instances of master and update to main if appropriate.

[2022-07-14 07:18] adamralph commented on #2180
@JonruAlveus thanks. Is there an issue I can monitor for the API addition?

[2022-07-14 16:01] #2481 closed

[2022-07-14 16:04] #2356 closed

[2022-07-14 16:06] nickfloyd commented on #2373
@JonruAlveus Thanks for the heads up on this.  I've added it to the board to put some 👀's on it soon to verify and fix.

[2022-07-14 16:22] nickfloyd commented on #1762
@idflyfish Sorry that you're running into some trouble here.  Would you happen to have a snip or repro case that I could use to help chase down this issue?  You should be able to use the built-in models - but since things have changed so much since we last supported this - I wouldn't be surprised if the structure of what a team looks like in the SDK would differ from what the GitHub REST API is se

[2022-07-15 02:16] #1194 closed

[2022-07-15 02:29] nerocui commented on #2480
@JonruAlveus may I ask when will this be prioritized? I could take it if that's accelerate it.

[2022-07-15 04:06] JonruAlveus commented on #2480
Hey @nerocui, I was planning on taking a look this morning 👍

[2022-07-15 04:43] JonruAlveus commented on #2180
@adamralph here’s a community forum post I saw

https://github.community/t/rest-api-v3-wildcard-branch-protection/13593

and one around graphql

https://github.community/t/how-to-read-wildcard-branch-protection-rules-using-the-api/196464

I can’t find open issues on GitHub itself but the api docs require the branch name in the path of the request which implies the branch has to exist to apply the

[2022-07-15 04:51] JonruAlveus commented on #2257
@Cyberboss We’ve just hit v1 with a breaking change. I can’t say what’s going to happen in the future but it’s looking like semver had arrived!

[2022-07-15 12:29] johnmc-tc opened #2488 "Repository.Comment.GetAllForRepository returning empty array"
I am getting an empty array response when I use Octokit to query a repo with 6 commits that have comments. Same when I call GetAllForCommit.

Is this working as expected?

[2022-07-15 12:36] timrogers commented on #2488
Would you be able to share the code you're using to help us to look into this?

[2022-07-15 12:40] johnmc-tc commented on #2488
Yes can do. It's pretty simple.

[code]

GetClient uses the suggested way for using GitHub Apps to authenticate. The method is used in a lot of other places and working as expected.

[2022-07-15 12:46] timrogers commented on #2488
Would you be able to try replicating the request using Postman or curl or something like that to see what the raw API response is? That'll help us figure out if this is an API issue or an Octokit issue.

Ideally there'd be an easy way to do that in Octokit.net itself, but I'm not aware of one (cc @nickfloyd).

[2022-07-15 19:32] #2470 closed

[2022-07-15 19:46] #2465 closed

[2022-07-15 19:50] #2243 closed

[2022-07-15 19:50] #2390 closed

[2022-07-16 02:15] #1146 closed

[2022-07-16 02:15] #1168 closed

[2022-07-16 02:15] #1116 closed

[2022-07-16 06:23] JonruAlveus commented on #2483
@nickfloyd @timrogers I've made a start on this (see attached PR). As I'm going through the integration tests I'm noticing a few issues, as I can't actually run half of the tests. Are you happy if I extend this and:

* Change attributes for organisation tests from IntegrationTest to OrganizationTest
* Change constructors to only provide the client and repository and having usings in each test to c

[2022-07-16 06:24] JonruAlveus commented on #2430
@timrogers will do.

[2022-07-16 06:27] JonruAlveus opened #2490 "Add way of deleting reactions from individual routes"
In an older version of the api, there used to be a single route for deleting reactions. This has now changed into 4 individual routes for commit comments, issues, issue comments and pull request reviews. We should:

* Add a delete route (and tests) to ICommitCommentReactionsClient
* Add a delete route (and tests) to IIssueReactionsClient
* Add a delete route (and tests) to IIssueCommentReactionsCl

[2022-07-17 08:09] JonruAlveus opened #2491 "RepositoryUpdate is missing some parameters"
Add parameters to RepositoryUpdate and fix up any missing/not working tests.

[2022-07-17 08:12] JonruAlveus commented on #2483
See #2492 for possibly a better way of doing these tests with base classes.

[2022-07-18 02:16] #2144 closed

[2022-07-18 02:16] #1109 closed

[2022-07-18 07:34] JonruAlveus opened #2496 "Code warnings and obsoletes should be removed"
We’ve just moved to v1, it would be lovely to clean up the Repo a bit:

* Fix any obsolete warnings
* Fix any other warnings
* Remove or fix any skipped tests

[2022-07-18 07:39] JonruAlveus opened #2497 ".NET SDK: Remove preview headers"
It’s looks like all preview headers have been removed from the api.

This is the latest post:
https://github.blog/changelog/2021-10-14-rest-api-preview-promotions/

The 2 remaining from this page no longer specify the need for the header anywhere on the documentation, so we should remove all trace of preview headers to simplify the code.

[2022-07-18 11:00] krulci opened #2498 "Calculate Sha locally without Client.Git.Blob.Create()"
I am currently looping my local directory to compare with remote repository.
What I do not get is that everytime creating a NewBlob, Sha is generated through the Create methods (which uses Rates).
Is it possible to calculate Sha locally?

[2022-07-18 11:01] timrogers commented on #2498
Hi there! Can you tell me a bit more about what you’re trying to achieve?

[2022-07-18 11:06] timrogers commented on #2498
Can you tell me a bit more about why you are trying to do that comparison? I’d like to understand your goal so I might be able to suggest a different approach.

[2022-07-18 11:09] krulci commented on #2498
The project's ultimate goal is to commit these files separately so that each files has specific comment.
Due to this reason, I chose to commit each file separately instead of commit as a single tree.

[2022-07-18 12:00] timrogers commented on #2498
If you're creating commits using the GitHub REST API, then you will need to make an API call for each commit. An alternative approach would be to use Git locally to build the commits and push them.

[2022-07-18 12:01] krulci commented on #2498
I was looking for this feature earlier.
The only thinging I was able to figure was that update method.
I don't see something that could push multiple commits with octokit

[2022-07-18 12:52] timrogers commented on #2497
Exactly right on this one! ✅

[2022-07-18 16:17] nickfloyd commented on #2257
@IvanJosipovic we just posted an announcement on where we are and where we are headed:  https://github.com/octokit/octokit.net/discussions/2499 | please let us know if you have any questions or thoughts - we'd love to hear them.

[2022-07-18 16:18] nickfloyd commented on #2257
I am going to close this issue, but if you feel that your original question has not been answered or if there is more discussion needed here please feel free to reopen so that we can continue the discussion.

[2022-07-18 16:18] #2257 closed

[2022-07-18 16:25] nickfloyd commented on #2488
Hey @johnmc-tc would you happen to be able to tell us if the repo you are querying is a public one and if the PAT (personal access token) has the proper authorization.

This feels like an authorization issue given it works as expected with other repos and commits.  I like @timrogers' idea of attempting the request using an HTTP client and hitting the REST API directly with an Auth header.

If the

[2022-07-18 16:28] nickfloyd commented on #2430
Thank you for adding the issue for this @JonruAlveus! ❤️

[2022-07-19 02:16] #1105 closed

[2022-07-19 09:41] krulci commented on #2498
Thanks for your suggestion
I was able to get commit and push.
I understand this might be better to post as an issue in libgit2sharp.
However, does this library you suggested allow Parralel.ForEach loop when staging files?

[2022-07-19 11:32] timrogers commented on #2498
I don't know I'm afraid - sorry!

[2022-07-19 11:57] johnmc-tc commented on #2488
Hi @nickfloyd it's a private repo and the token is generated using the Github App we have created. You could be correct about the permissions - I tried enabling a few that might include commit comments but nothing has worked.

I just tried a CURL of this endpoint and it returned an empty array so it aligns with what is being returned by Octokit.

https://docs.github.com/en/rest/commits/comments#li

[2022-07-19 12:04] timrogers commented on #2488
That definitely sounds like a bug, in that case! Would you be able to share the request ID returned in the response headers? We can use that to flag it with the relevant team at GitHub.

[2022-07-19 12:27] johnmc-tc commented on #2488
Sure. The value of the header with name "X-GitHub-Request-Id" is "FD5C:721F:7A8F44C:7D1C6B2:62D6A2F4"

[2022-07-19 12:44] timrogers commented on #2488
Thanks! And just to confirm - is it definitely a direct comment on a commit rather than a comment on a PR or something like that?

[2022-07-19 12:50] johnmc-tc commented on #2488
The most recent was 8 days ago. Commit SHA is 53b08e9fe0d7bbe5a5b637fdccedf9c39dfd5841

[2022-07-19 21:48] JamieMagee opened #2500 "Drop support for .NET Framework 4.6"
Currently `Octokit` targets `netstandard2.0` and `net46`:

https://github.com/octokit/octokit.net/blob/73b7a7a18ce33862ca48892982d69d952d755df4/Octokit/Octokit.csproj#L9

.NET Framework 4.6 (and 4.6.1) went out of support on April 26 2022[^1]. Continuing to publish `Octokit` for this target adds additional support burden.

.NET standard 2.0 covers .NET Framework 4.6.2 already[^2].

Supporting a si

[2022-07-20 22:08] nickfloyd commented on #2497
Yeah +1 on this for sure... I promoted all of the REST API previews last year so this is long overdue! Thanks for jotting this one down.

Info: this is the related Octokit.rb issue: https://github.com/octokit/octokit.rb/issues/1447

[2022-07-20 22:14] nickfloyd commented on #2488
Hey @johnmc-tc I've got this in my `up next` column to have a look at it... Apologies for the delay.

[2022-07-21 02:42] eriawan commented on #2500
I agree. We should remove support for .NET Framework before v4.7, to be in sync with .NET Framework lifecycle and related Windows support due to tight relationship of .NET Framework and Windows release cycle.

[2022-07-21 16:08] JonruAlveus opened #2505 "Find invalid code owners files"
Hi,

Is there an api route for finding repositories with invalid code owner files, or to check the code owners file is valid? I can see it in the UI and I have a feeling we have a few invalid/broken ones hanging around.

Cheers!

[2022-07-21 19:09] nickfloyd opened #2506 "Correct SetRequestTimeout code does to be more descriptive of what it's actually doing"
A few spots in the code exist where `SetRequestTimeout` is used and documented.

The timeout specified in the connection itself is only for the client connecting to the server. All this does is pass through the value you pass into `System.Net.Http.HttpClient` and assigns it to the `Timeout` property - which just sets the timespan to wait before the request itself times out.

We need to correct the

[2022-07-21 19:29] nickfloyd commented on #2500
I agree with this 💯.  I'd like to get this done sooner than later. I've also marked this as a breaking change - since technically older applications will not be able to use the new version.

My only hesitation (which might not be valid at all) is that we are moving toward SDK [generation](https://github.com/octokit/octokit.net/discussions/2495#discussioncomment-3173935) soon with this SDK. This al

[2022-07-21 19:49] JonruAlveus commented on #2500
I too believe we should move up to Standard2. It opens up a whole world of new things (and challenges). We can look into different serialisers, newer code styles etc. But, as you say, what do we do with our legacy application users. I feel like we have a couple of options:
* Fork the Repo and maintain 2 versions - net46 and net standard 2. I think avoid multi targeting, that just makes life diffic

[2022-07-21 21:22] JamieMagee commented on #2500
I would go with the simplest approach and drop support for .NET 4.6.0 now, before moving onto SDK generation.

Yes, we'd be dropping support for current users that are targeting 4.6.0, but .NET Standard 2.0 already covers .NET Framework 4.6.1 and 4.6.2. I would hope that most users are off .NET Framework 4.6.0, and if not, bumping to .NET Framework 4.6.1 (or 4.6.2) should be a backwards compatible

[2022-07-21 21:27] nickfloyd commented on #2500
@JamieMagee @JonruAlveus such great perspective.  We should move forward on this. I'll prioritize this over a few other things currently in flight unless someone else wants / can pick this up.

Let's drop support for 4.6.0 like you said and move on from there.  Thanks for all of the discussion, thoughts, and getting this conversation started.

[2022-07-22 02:16] #1092 closed

[2022-07-22 02:16] #1069 closed

[2022-07-22 02:16] #1074 closed

[2022-07-22 02:16] #1024 closed

[2022-07-22 02:16] #1016 closed

[2022-07-22 06:32] snyrting6github opened #2507 "Private repositories no longer have a maximum quota"
All plans now have unlimited repositories and private repositories. We have a few methods and tests which check for quota exceptions, throwing PrivateRepositoryQuotaExceededException and this should be removed.

See RepositoriesClientTests.ThrowsPrivateRepositoryQuotaExceededExceptionWhenOverQuota

[2022-07-22 06:33] JonruAlveus commented on #2507
Sorry the above was me, I forgot I was logged in as my test account 🙄

[2022-07-22 12:33] timrogers commented on #2505
Hi @JonruAlveus 👋🏻 Yes - there is. You can find the API in the docs at https://docs.github.com/en/rest/repos/repos#list-codeowners-errors.

[2022-07-22 15:58] nickfloyd commented on #2488
So I ran a series of tests using Octokit and GH CLI and direct calls to the API using both public and private repos.  Public repos worked every time.  As far as private ones in an org I tested using different tokens with and without repo rights, and it worked as expected. This aligns with our egress access controls on that endpoint for authorization.

One thing to note - when the repo had no commi

[2022-07-22 16:27] nickfloyd opened #2508 "Refactor ApiUrls to use a more semantically rich naming scheme for method parameters"
Currently, [ApiUrls](https://github.com/octokit/octokit.net/blob/main/Octokit/Helpers/ApiUrls.cs) uses an inconsistent naming scheme for the parameters being passed into the URI methods.  This makes it difficult to understand what should be passed in and will make it difficult for code gen in the future.

I recommend that we move from naming like:
[code]

To

[code]

[2022-07-22 16:28] #2490 closed

[2022-07-22 20:22] JonruAlveus commented on #2508
@nickfloyd What do we do when we find undocumented endpoints?

[2022-07-23 02:15] #1088 closed

[2022-07-23 02:15] #1010 closed

[2022-07-23 04:52] JonruAlveus commented on #2491
Pr merge has completed this.

[2022-07-23 04:52] #2491 closed

[2022-07-23 06:55] JonruAlveus opened #2509 "Repository WatchersCount actually refers to Starred"
The response for getting a repository contains a watchers_count property. This doesn't actually refer to watchers, but to Stars (unless stars add watchers?). I've created a repository, added a watch via the Activity.Watch client and the property is 0 when retrieved. If I start it, the property becomes 1.

I wonder if there is something wrong in the background as watchers_count seems to follow star

[2022-07-23 07:43] snyrting6github opened #2510 "Identify and mark or fix potentially flaky tests"
I've made a start on marking potentially flaky tests. These are tests which reference existing resources outside of those created by the tests themselves. While they are likely to be harmless (I can't see the octokit organisation going away soon for example), we should really be testing in pure isolation if possible.

I have created (in an upcoming PR) an attribute for doing this so we can identif

[2022-07-23 07:47] JonruAlveus commented on #2510
🙄 me again...

[2022-07-23 08:36] JonruAlveus commented on #2510
See #2511 for attribute usage.

[2022-07-24 02:15] #1003 closed

[2022-07-24 02:15] #984 closed

[2022-07-24 02:15] #993 closed

[2022-07-25 15:36] #2483 closed

[2022-07-25 15:42] nickfloyd commented on #2509
Interesting, good catch!  I wonder if there is a transposed element in the [OpenAPI descriptions](https://github.com/github/rest-api-description) - given how we dynamically hydrate the response object this is most likely on the GitHub REST API side of things.

I'll put it on the list of things to look into unless anyone else has time to grok the OpenAPI descriptions.

[2022-07-25 16:06] nickfloyd commented on #2463
@Saalvage Thanks for taking the time to put the thought into this.  I like what you're describing.  We're planning on dropping support for .NET 4.6.0 btw, but I feel like what you suggest is the best path forward:
i.e. Introduce this concept as an extension method, then later implement it as a first-class citizen of the `GetAll*` implementations - perhaps after we drop support for 4.6.

[2022-07-26 02:17] #971 closed

[2022-07-26 02:17] #962 closed

[2022-07-26 06:18] JonruAlveus commented on #2505
Thanks @timrogers! PR created :)

[2022-07-26 13:44] Seichis commented on #2078
Any news on this one?

Thanks!

[2022-07-27 02:19] #920 closed

[2022-07-27 03:11] Saalvage commented on #2463
Thank you for getting back to me! I've started cooking up a PR! :)

[2022-07-27 09:45] martincostello commented on #352
I came across this issue after reading @JamieMagee's great blog post [_Making the most of GitHub rate limits_](https://jamiemagee.co.uk/blog/making-the-most-of-github-rate-limits/) and seeing if there were any improvements I could make to my Octokit.NET usage to use less of my rate limits.

It turns out for my specific C# code usage there wasn't really anything worth the investment, particularly a

[2022-07-27 18:53] #2505 closed

[2022-07-27 19:02] nickfloyd commented on #2078
Hey @kentahikaru & @Seichis, it is possible; the only one who has worked on this is @martincostello - he's got a draft PR [here](https://github.com/octokit/octokit.net/pull/2429).  Ideally, all six endpoints should be implemented.

If either of you has time, you might lend @martincostello a hand to get this over the finish line.  While getting these APIs knocked out is important, the core of the w

[2022-07-27 19:04] #2507 closed

[2022-07-27 19:13] martincostello commented on #2078
I’d be happy to pick up the draft again soon and do more, but I was hoping for some initial review/feedback I was on the right track before I did anymore.

It turned out to be a lot more involved than I initially anticipated 😅

[2022-07-28 02:15] #905 closed

[2022-07-28 17:31] JonruAlveus commented on #2509
I'm not sure what the openapi spec is telling us, but here's the bit we're talking about

![image](https://user-images.githubusercontent.com/15954362/181600806-464da518-049b-4ed9-b73b-eec8812cfa48.png)

They both have the same example value, not sure if that's relevant?

[2022-07-30 02:18] #904 closed

[2022-07-30 02:18] #899 closed

[2022-07-30 06:54] JonruAlveus opened #2517 "Code generation - what are our options?"
We’re talking a lot about code gen and I thought it would be good to kick off a chat about it.

So far I’ve successfully generated a postman collection (not really related to this Repo but it was pretty easy). I also unsuccessfully generated a c# client using the ms open api connected service. There is one endpoint with one enum that accepted add, Add, remove, Remove etc. which exploded because yo

[2022-07-31 02:16] #880 closed

[2022-07-31 02:16] #872 closed

[2022-08-01 02:16] #873 closed

[2022-08-01 09:59] un1r8okq commented on #2444
I’ve been wondering this too. I have an ASP.NET Core application using a GitHub client through the DI container. Should it be a singleton to prevent socket exhaustion or transient to prevent concurrency bugs?

[2022-08-01 14:37] #2497 closed

[2022-08-02 02:16] #870 closed

[2022-08-02 02:16] #866 closed

[2022-08-02 06:30] Brend-Smits commented on #2509
This seems like a bug in the GitHub API itself. I just tested it by using the GitHub CLI and Postman and get the same bug as you reported.
I don't think we can fix this in this repository, needs to be escalated to the GH Team.

[2022-08-02 18:15] JamieMagee commented on #2517
I think a Roslyn source generator[^1] would be the best way to build the client. The only one I know of is `H.NSwag.Generator`[^2]

[^1]: https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/source-generators-overview
[^2]: https://github.com/HavenDV/H.NSwag.Generator

[2022-08-02 19:49] nickfloyd commented on #2509
@Brend-Smits Thanks for tracking this down!  It's not an ideal situation.  Hopefully, in the future, with versioning - this type of thing will be a non-issue as in, fields will be more easily deprecated.

[2022-08-02 19:55] #2509 closed

[2022-08-03 02:15] #859 closed

[2022-08-03 02:15] #827 closed

[2022-08-03 02:15] #831 closed

[2022-08-03 06:13] notauserx commented on #2506
I would like to work on this issue.

To reiterate, I would be updating the code docs from "Set the GitHub Api request timeout." to "Sets the timeout between the client and the server".

[2022-08-03 07:10] notauserx commented on #2506
#2520 is my PR

[2022-08-03 13:40] nickfloyd commented on #2506
Thank you @notauserx for helping us make things better here 🎉

[2022-08-03 14:45] nickfloyd commented on #2517
@JonruAlveus Would you mind if we move this to a discussion? Not a big deal, but I'd like to start driving many more conversations that way so we can benefit from the features of the discussions toolset and keep our issues tidy... I'd be glad to move it over if you want.

[2022-08-03 15:17] #2506 closed

[2022-08-03 20:01] JonruAlveus commented on #2508
I’m having a go at this one in case anyone else picks it up.

[2022-08-04 02:14] #824 closed

[2022-08-04 05:01] JonruAlveus commented on #2517
@nickfloyd Sure! Are you able to convert it into a discussion? According to the docs there's a button on the right to convert it automatically. If not, I'll do a copy and paste job :)

[2022-08-04 06:40] casstait opened #2523 "Bug introduced when "Removing accept header previews" Merge"
Hi there!

I believe a bug was introduced in version `1.0.1` from the [PR that removed accept header previews](https://github.com/octokit/octokit.net/pull/2515/files#diff-280ab49c2b24a3635079b0e7005677658e0043dbdfa48639e5fc637c71da2066R841).

What used to occur was:
[code]
Where the `AcceptHeaders`  was passed as a fourth argument to the `PUT` method in the `APIConnection` class.

What now occurs

[2022-08-04 06:54] JonruAlveus commented on #2523
Hi! Sorry about that, I'll have a PR to fix it done soon. It looks like the areas affected are:
* RepositoriesClient.ReplaceAllTopics
* RepositoryBranchesClient.UpdateBranchProtection
* RepositoryBranchesClient.UpdateRequiredStatusChecksContexts
* RepositoryBranchesClient.UpdateProtectedBranchTeamRestrictions
* RepositoryBranchesClient.UpdateProtectedBranchUserRestrictions

[2022-08-04 10:32] notauserx commented on #2248
I would like to help out on this issue.

[2022-08-04 14:06] nickfloyd opened #2526 "Review/Cleanup DefineConstants in the projects"
There seems to be a mismatch between what is defined in the `< DefineConstants>` nodes in the csproj files from what is being used in the code. We need to look at the following projects and determine what env constants are still being used:

- [ ] Octokit
- [ ] Octokit.Tests
- [ ] Octokit.Tests.Integration

[2022-08-04 17:12] #2500 closed

[2022-08-04 20:39] #2523 closed

[2022-08-04 20:41] nickfloyd commented on #2523
Thanks @JonruAlveus for getting this knocked out!  I'll start working up a release for this now. ❤️

[2022-08-04 20:44] nickfloyd commented on #2523
As a side note, this next release has #2521 in it where we made both SDKs .NET Standard 2.0

[2022-08-04 21:06] nickfloyd commented on #2523
Released:
https://github.com/octokit/octokit.net/releases/tag/v2.0.0
https://www.nuget.org/packages/Octokit/2.0.0

[2022-08-05 02:16] #801 closed

[2022-08-05 02:16] #744 closed

[2022-08-05 02:16] #745 closed

[2022-08-05 05:40] matt-richardson commented on #2523
Thanks for the awesomely fast turnaround time, @JonruAlveus and @nickfloyd!

[2022-08-05 07:15] JonruAlveus commented on #2526
This is the distinct list of usages (full list of usages further down). Not sure where to go with it though!

GITHUBJWT_HELPER_AVAILABLE
NET_45
NO_SERIALIZABLE
HAS_DEFAULT_ENCODING
HAS_TYPEINFO
HAS_REGEX_COMPILED_OPTIONS
HAS_ENVIRONMENT
HAS_SERVICEPOINTMANAGER
NETFX_CORE
SIMPLE_JSON_NO_LINQ_EXPRESSION
SIMPLE_JSON_DYNAMIC
SIMPLE_JSON_OBJARRAYINTERNAL
SIMPLE_JSON_INTERNAL
SIMPLE_JSON_READONLY_COLLEC

[2022-08-07 02:15] #729 closed

[2022-08-07 16:53] FrediKats opened #2531 "Implement method for getting failed organization invites"
Github API provide method for getting failed invites - https://docs.github.com/en/rest/orgs/members#list-failed-organization-invitations. But IOrganizationMembersClient has only method for getting pending invites.

[2022-08-08 02:15] #643 closed

[2022-08-08 15:25] nickfloyd opened #2534 "Add generators project for current and future generative features"
related: https://github.com/octokit/octokit.net/pull/2516

From the reference PR

Given that we are headed down to a more generative SDK  (see the discussions https://github.com/octokit/octokit.net/discussions/2499 and https://github.com/octokit/octokit.net/discussions/2495 and https://github.com/octokit/octokit.net/issues/2517 for more info on that)

IMO the preferred approach would be to have a

[2022-08-08 15:27] #2463 closed

[2022-08-09 02:15] #642 closed

[2022-08-09 02:15] #594 closed

[2022-08-09 07:10] JonruAlveus commented on #2496
All obsoletes warnings and other warnings are now gone. All unit tests pass.

Now to work on skipped tests.

[2022-08-09 14:10] #2531 closed

[2022-08-09 19:48] nickfloyd opened #2536 "Include Readme in NuGet package"
Sourced from: https://github.com/octokit/webhooks.net/issues/107 (hat tip @JamieMagee)

https://docs.microsoft.com/en-gb/nuget/nuget-org/package-readme-on-nuget-org
https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#packagereadmefile

[2022-08-09 21:31] AndreyTretyak commented on #1604
If I understood the decision [here](https://github.com/octokit/octokit.net/blob/master/docs/strong-naming.md) correctly, the plan was too strong to name `Octokit` before version `1.0`. Any chance we would get a strong naming since the project is already at version `2.0`? I'll be happy to create a PR if that is something you'll consider.

Using StrongNamer to sign Octokit.dll during the build is a

[2022-08-10 02:10] #593 closed

[2022-08-10 07:19] JonruAlveus commented on #2430
@tschissler The fix should now be available, please could you let us know if it’s working for you? 😄

[2022-08-11 02:13] #530 closed

[2022-08-11 05:28] JonruAlveus commented on #2405
Hi @dmitry-kosar, I'm really sorry for the very long time for a response. Those fields are indeed missing, I'll create a PR with the changes in now.

[2022-08-11 05:53] JonruAlveus commented on #2411
Hi @giladv, I'm very sorry for the super slow reply! There isn't a nice way of doing it (the commit sha isn't returned as is in the response) however it does appear in the raw/blob urls, so could be parsed out of that. I have created a small PR to add this functionality.

[2022-08-11 06:23] JonruAlveus commented on #2434
Hi @akashkarve, I'm very sorry for the super slow reply! I've just created a PR with updated documentation on how to create a branch 😃 I hope it helps!

[2022-08-11 06:26] JonruAlveus commented on #2388
Resolved by PR.

[2022-08-11 06:26] #2388 closed

[2022-08-11 06:29] #2354 closed

[2022-08-11 06:34] #2534 closed

[2022-08-11 06:35] #2434 closed

[2022-08-11 09:23] AleF83 opened #2542 "Add support for enable auto-merge option in PR"
[Since github introduced auto-merge](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/automatically-merging-a-pull-request)

[2022-08-12 02:16] #456 closed

[2022-08-12 02:16] #107 closed

[2022-08-12 05:47] JonruAlveus commented on #2542
Hi @AleF83. I’m afraid that currently there is no auto merge flag available in the api. I’ve seen it mentioned a number of times among the GitHub community (e.g [here](https://github.com/orgs/community/discussions/24301)).

But you have a couple of options as it is available in the GraphQL version or the CLI (which uses GraphQL).

Sorry for the bad news 😞

[2022-08-12 05:51] AleF83 commented on #2542
Yeah, it's frustrating...
Thanks for the detailed explanation!

[2022-08-12 06:14] JonruAlveus commented on #2373
Hi @marwie, could you confirm if this is still occurring? I can't now reproduce it.
Thanks!

[2022-08-12 17:19] #2526 closed

[2022-08-12 17:21] #2405 closed

[2022-08-12 21:06] nickfloyd commented on #2542
Hey @AleF83, @JonruAlveus I've reached out to the owning team for clarity on this - the only thing I could find was `"auto_merge": null`, in the schemas/[docs](https://docs.github.com/en/rest/pulls/pulls) returned from the list pull requests endpoint.  I'll let you know what I find out.

[2022-08-13 05:12] JonruAlveus commented on #2411
@giladv The only way to find it is by parsing it out of one of the URLs., with something like this based on the RawUrl.

[code]

[2022-08-14 06:35] asklar commented on #2444
it looks like at the end up the day the octokit api will call IHttpClient, which is thread safe (it can handle calls from multiple threads)

[2022-08-14 08:00] tschissler commented on #2430
@JonruAlveus, thanks for implementing this. I will look into this in the next couple of days.

[2022-08-14 20:50] un1r8okq commented on #2444
@asklar not quite, look a layer deeper. The `IHttpClient` in Octokit is not compile time compatible with `System.Net.Http.HttpClient`.

The [GitHubClient constructor](https://github.com/octokit/octokit.net/blob/main/Octokit/GitHubClient.cs#L28) uses a [Connection](https://github.com/octokit/octokit.net/blob/b866d669d664e2726a5cd9e6ad985a382e800f64/Octokit/Http/Connection.cs#L131) which _does_ have

[2022-08-16 04:32] JonruAlveus commented on #2496
Skipped tests are all skipped for a reason so this is done.

[2022-08-16 04:32] #2496 closed

[2022-08-16 04:37] JonruAlveus commented on #2392
Hi @Codectory, is this still a problem for you? If so can you share some sample code to help us diagnose the issue?

[2022-08-16 04:38] JonruAlveus commented on #2416
@Hosch250 please could you confirm if this is still an issue for you?

[2022-08-16 04:59] JonruAlveus commented on #2374
Hi @Sam13, sorry for the very slow response! Under the Team client you can assign a repo and change permissions using the AddRepository method.

[2022-08-19 17:36] #2248 closed

[2022-08-21 16:03] JonruAlveus commented on #2510
Too many of these to make it worthwhile!

[2022-08-21 16:03] #2510 closed

[2022-08-21 16:04] JonruAlveus commented on #2498
Response given

[2022-08-21 16:04] #2498 closed

[2022-08-21 16:17] #2423 closed

[2022-08-21 16:17] JonruAlveus commented on #2452
Closing due to inactivity.

[2022-08-21 16:17] #2452 closed

[2022-08-21 16:19] JonruAlveus commented on #2371
Closing due to inactivity.

[2022-08-21 16:19] #2371 closed

[2022-08-23 07:22] JonruAlveus commented on #2360
Coming soon 👍

[2022-08-23 16:37] extesy opened #2550 "IssueEvent is missing payload for code review set of events"
I am writing a review request notification bot and as part of that I need to get information about when somebody was requested to review a PR. As part of `review_requested` event [payload](https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types#review_requested) there should be `review_requester`, `requested_reviewer` and `requested_team` fields but they are not in the I

[2022-08-24 11:10] timrogers commented on #2550
@extesy Thanks for reaching out! Would you be open to create a pull request to add those fields? At the moment, the code here isn't automatically generated based on the API structure, so we rely on humans to keep it up to date with actual payloads.

[2022-08-25 05:59] JonruAlveus commented on #2369
Hi @git37, very sorry for the slow reply. Unfortunately there's not a lot we can do around pagination on that endpoint. Github only provide us with a "since" parameter, so we can't change page size. Currently the code gets all results available. Were you looking to only retrieve a subset of pages? We could potentially allow you to retrieve only the first 5 or the first 10 pages of results?

[2022-08-25 06:01] JonruAlveus commented on #2365
Hi @rshettybr, sorry for the slow reply. Did you ever find a solution or is this still a problem for you? I wonder if you could share a code sample if possible reproducing the issue?

[2022-08-25 06:07] JonruAlveus commented on #2368
Hi @AndreyKozhevnikov, sorry for the slow reply. I've done a bit of reading and other people were suffering because of additional request headers being sent at the same time (not sure I understand that, but apparently that was it). We have recently removed the additional rest headers here. Are you able to use the latest version of this project and try again to see if it's fixed for you?

[2022-08-25 07:56] Gamer025 opened #2552 "Ability to specify per_page for PullRequest.Files?"
Is it somehow possible to specify the per_page parameter when calling PullRequest.Files?
By default Github only returns 30 files per page but could return up to 100.
This means when retrieving a list of modified files on a large PR a lot of unneeded API calls are being made.

Apparently other GetAll methods allow you to pass an ApiOptions parameter but it doesn't look like PullRequest.Files has an

[2022-08-25 11:41] timrogers commented on #2552
@Gamer025 👋🏻 Hi there! Just to confirm, are you referring to [this method](https://github.com/octokit/octokit.net/blob/595e35d6419e444bbf20f9d02bab5a9749219e83/Octokit/Clients/PullRequestsClient.cs#L419-L446)?

If so, I can see that [that REST API does support the `per_page` parameter](https://docs.github.com/en/rest/pulls/pulls#list-pull-requests-files).

Would you be open to creating a PR to add

[2022-08-25 12:20] Gamer025 commented on #2552
Hello @timrogers
Yes im referring to the method you linked.
I took a quick look at the code and as far as I can tell one probably only needs to add an overloaded Files method that takes in an ApiOptions object?
That object can then simply be passed on to ApiConnection.GetAll

[2022-08-25 12:31] timrogers commented on #2552
That sounds like it will work to me! I'd welcome a PR.

[2022-08-25 16:30] Gamer025 commented on #2552
I submitted a PR that adds ApiOptions to the Files method.
I tested it in a local project and everything worked correctly and one could now query up to 100 files per page:
![image](https://user-images.githubusercontent.com/33846895/186719434-177fb485-7a02-452a-a21b-d7bb0ab8f0df.png)
I had to change some of the unit test mocking because calling PullRequestsClient.Files without ApiOptions now calls

[2022-08-25 17:00] timrogers commented on #2552
Thanks for taking the time to submit the PR, #2553! We'll get that reviewed.

[2022-08-25 20:59] rkreisel opened #2554 "Basic Auth credentials not working"
I am trying to use the API via C# and the OctoKit nuget package.
During development I want to use basic auth, but after configuring it I still get errors indicating I am not authenticated.

var client = new GitHubClient(new ProductHeaderValue("rkreiselsstuff"));
var basicAuth = new Credentials("_myuserid_", "_myid_");
client.Credentials = basicAuth;

var rateLimit = await client.Miscellaneous.GetR

[2022-08-25 21:42] timrogers commented on #2554
Hi there! 👋 Thanks for reaching out.

Sadly it looks like the documentation is out of date as basic authentication using a username and password is no longer supported in the GitHuh API.

Can you try creating a personal access token from your GitHub settings, and using that to authenticate with the token option?

If you run into any more issues, let us know. We'll get those docs fixed - or you're

[2022-08-25 21:44] timrogers commented on #2554
There's an example at https://github.com/octokit/octokit.net/blob/main/docs/getting-started.md of how you can use a token.

Just to add as well, the `User.Get` method expects a username as the argument, not an email address.

[2022-08-26 00:39] rkreisel commented on #2554
Thanks.  I'll give that a try later tonight. Sent from the bridge of the Enterprise NCC 1701-E.
-------- Original message --------From: Tim Rogers ***@***.***> Date: 8/25/22  16:45  (GMT-06:00) To: "octokit/octokit.net" ***@***.***> Cc: Randy Kreisel ***@***.***>, Author ***@***.***> Subject: Re: [octokit/octokit.net] Basic Auth credentials not working (Issue #2554)
There's an example at https://g

[2022-08-26 04:37] rkreisel commented on #2554
I implemented the use of a PAT and submitted a pull request to update the document.

From: Tim Rogers ***@***.***>
Sent: Thursday, August 25, 2022 16:45
To: octokit/octokit.net ***@***.***>
Cc: Randy Kreisel ***@***.***>; Author ***@***.***>
Subject: Re: [octokit/octokit.net] Basic Auth credentials not working (Issue #2554)

There's an example at https://github.com/octokit/octokit.net/blob/main/do

[2022-08-26 08:22] HouseOfPandas commented on #2428
Any updates on this issue?

[2022-08-28 06:40] JonruAlveus commented on #2428
Hi @HouseOfPandas, unfortunately the GitHub Api itself still only supports classic projects.

[2022-08-28 09:30] tschissler commented on #2430
Thank you @JonruAlveus
I just tested it and it works now as expected. Great work!.

I have created a LinqPad sample and can create a PR for this if you think this is helpful.

[code]

[2022-08-28 09:30] #2430 closed

[2022-08-28 14:12] #2552 closed

[2022-08-31 01:27] darksidersstrife opened #2557 "Add deliveries api"
Github has api for getting webhook deliveries and redelivering them (for [repos](https://docs.github.com/en/rest/webhooks/repo-deliveries), [orgs](https://docs.github.com/en/rest/orgs/webhooks#list-deliveries-for-an-organization-webhook) and [apps](https://docs.github.com/en/rest/apps/webhooks#list-deliveries-for-an-app-webhook))
I'm willing to implement it (at least for apps, even though repos an

[2022-08-31 05:23] JonruAlveus commented on #2554
Completed 👍

[2022-08-31 05:23] #2554 closed

[2022-08-31 20:10] JonruAlveus commented on #2430
Hi @tschissler, glad it working for you! We’re always happy to receive a PR for improvements, especially to the documentation side if you have time!

[2022-09-02 12:15] timrogers commented on #2557
@darksidersstrife Thanks for reaching out and for your willingness to implement this API in Octokit.net - we really appreciate it ❤️

GitHub's resident .NET expert, @nickfloyd is on vacation until Tuesday, but he'll be able to help on this when he's back - or perhaps someone from the community like @JonruAlveus can help.

[2022-09-03 13:02] FrediKats opened #2558 "Invalid exception when add-collaborator return 201"
From docs (https://docs.github.com/en/rest/collaborators/collaborators#add-a-repository-collaborator):

![image](https://user-images.githubusercontent.com/22368203/188271559-71a88d6d-8d96-4823-b0f4-9136fb233218.png)

But .Add method has `response.HttpResponse.IsTrue()` and fail on 201. Method should return `RepositoryInvitation` instead of `bool` and do not fail on 201.

[2022-09-03 13:19] timrogers commented on #2558
Thanks for reporting this issue! Would you be open to creating a PR to fix it? We welcome all contributions ❤️

[2022-09-03 13:30] FrediKats commented on #2558
We will try to fix it.

[2022-09-03 13:59] timrogers commented on #2558
If you don't have time or if you run into any issues, let us know and we can try to pick this up on our side.

I imagine this will end up being a breaking change as the return type will be different.

[2022-09-03 14:16] annchous commented on #2558
This issue was originally posted in #2373, but the author had lost the confirmation of this problem somehow.

I can try to create a pull request to fix it in a few hours.

[2022-09-04 08:56] JonruAlveus commented on #2557
Hello!
I would go for 1.i, it keeps it nice and simple and obvious about what's going on. Changing the existing ApiOptions makes ApiOptions a little unsure about it's purpose and we want to keep these changes as small as possible.

With regards to 2, I think create two separate (if similar) classes. The nullable properties are misleading and will likely lead to null reference exceptions when someo

[2022-09-06 05:36] #2373 closed

[2022-09-06 05:36] #2558 closed

[2022-09-06 10:12] hansmbakker commented on #1400
@Cyberboss see https://github.com/octokit/octokit.net/pull/2560

[2022-09-06 10:21] hansmbakker opened #2562 "Refit and Polly"
I see this library has its own request logic and serialization logic.

To make these library parts more maintainable, I would recommend using `Refit`, and adding [Polly](https://github.com/App-vNext/Polly) for dealing with the rate limiting part.

[2022-09-06 11:51] hansmbakker commented on #2431
Switching to Refit (see #2562) would make [generic interfaces](https://github.com/reactiveui/refit#using-generic-interfaces) possible as well and uses `System.Text.Json` by default

[2022-09-06 16:26] husseinsakr commented on #2323
We are also seeing this issue when getting all pull requests on the git repository
[code]

The error we are seeing is
[code]

To re-produce
1. Add a github team to to file `.github/CODEOWNERS` - Example: `* @org/my-team`
2. Call the api

[2022-09-06 20:55] nickfloyd commented on #2542
Hey @AleF83 & @JonruAlveus - apologies for the delay in getting back to you; I was on paternity leave for a bit.

It turns out that there is the field (`auto_merge`) that is returned in our API serializer is not exposed as a mutatable field in the create and update endpoints.

It seems that there is no real technical reason why there couldn't be a REST equivalent to `enablePullRequestAutoMerge` fr

[2022-09-06 21:00] AleF83 commented on #2542
Thanks for the explanation!

[2022-09-07 18:46] nickfloyd opened #2564 "Determine the viability of the IHttpAdaptor implementation used by the Connection"
re: https://github.com/octokit/octokit.net/issues/2444

We need to evaluate the use case for having a custom implementation/interface for HttpClient.  The original set of use cases seems to be outdated (at a glance), but we need to ensure that there are no constraints that would cause problems for users if we removed the implementation.  This is purely a task to determine if anything can be cleane

[2022-09-07 18:48] nickfloyd commented on #2444
@un1r8okq Thank you for the response here.  At a minimum, we need to get your response in the usage docs. Still, we should reevaluate this implementation given that the original use case for it (one of which was windows mobile) is out of date - there could still be value to having this, but we should still [take a look](https://github.com/octokit/octokit.net/issues/2564). Thanks again for the info

[2022-09-08 14:59] #2360 closed

[2022-09-12 19:09] #2421 closed

[2022-09-13 09:17] DrewScoggins opened #2566 "Listing all issues in a repo with a Github application"
From reading the documentation it seems that Github exposes a rest endpoint to get all issues in a repo as a Github app, https://docs.github.com/en/rest/issues/issues#list-repository-issues. However, it is unclear to me if this endpoint is wrapped in Octokit.

If it is can you please point to the documentation, and if not is there a plan to include this in a future release?

[2022-09-13 11:30] timrogers commented on #2566
@DrewScoggins Hi there! 👋🏻 The [`GetAllForRepository` method on the `IssuesClient`](https://github.com/octokit/octokit.net/blob/main/Octokit/Clients/IssuesClient.cs#L303) should do what you're looking for. You can see an example in the docs [here](https://octokitnet.readthedocs.io/en/latest/issues/#get-all). If you're using a GitHub App, you will just need to make sure you authenticate with the re

[2022-09-13 19:37] nickfloyd commented on #2557
Hey @darksidersstrife, thanks for bringing this up and being available to build things out. Have you had a look at https://github.com/octokit/webhooks.net yet (same with [GraphQL](https://github.com/octokit/octokit.graphql.net))? I know @JamieMagee and others have done a lot of great work around webhooks in that implementation.  I'd like to keep the REST implementation and webhooks logic distinct

[2022-09-13 22:27] DrewScoggins commented on #2566
I found out what my issue was. I was using a custom RepositoryIssueRequest, and by default the Filter on that is set to just assigned issues, not all. Once I changed that it works just like I thought it should.

[2022-09-13 22:27] #2566 closed

[2022-09-14 12:27] bblaszkiewicz opened #2568 "this thing doesn't work"

[2022-09-14 12:31] bblaszkiewicz opened #2569 "this thing doesn't work"

[2022-09-14 12:32] bblaszkiewicz opened #2570 "this thing doesn't work"

[2022-09-14 12:34] #2570 closed

[2022-09-14 12:35] #2569 closed

[2022-09-15 15:46] SeanKilleen opened #2572 "Split out and retire the MiscellaneousClient"
While working on #2571 to support #2474, I noticed the `MiscellaneousClient` had a link to `misc` rest endpoint that had since been separated into their own named endpoints and docs. The Octokit .NET client updated the URLs but didn't update the C# code to reflect them.

My suggestion, which I think can be done in steps:

* Method by method:
 * Create named clients & methods to support the functio

[2022-09-15 21:00] SeanKilleen commented on #2474
Planning this task a little more.

The below powershell script tells me there are 1928 unique URLs containing `developer.github.com` in the project.

[code]

So I exported a text file:

[code]

And I put that into Excel, which I'm linking here: https://1drv.ms/x/s!AuaqsrDoMOUHofFGQlnoE6jKbcuxHg?e=v7JX7a

I'm thinking the next step would be to do some quick analysis to see if there's a systemic way

[2022-09-16 06:01] JonruAlveus commented on #2474
Nice! How about this for a starter

- Ensure https
- Replace developer.github.com with docs.github.com
- Remove v3
- Change help.github.com (are these still valid)?
Perhaps at this point re-assess what we've got and identify all the links in the code-base and test for validity. If we can see which are invalid, which are redirects and which are valid we can come up with the next steps?

[2022-09-16 06:06] JonruAlveus commented on #2572
❤️ I'd be happy to pick this one up.

[2022-09-16 06:11] JonruAlveus commented on #2572
Clients:

- EmojisClient
  - /emojis
- MarkdownClient
  - /markdown/raw
  - /markdown
- GitIgnoreClient
  - /gitignore/templates
  - /gitignore/templates/{name}
- LicensesClient
  - /licenses
  - /licenses/{key}
- RateLimitClient
  - /rate_limit
- MetaClient
  - /meta

[2022-09-17 17:15] JonruAlveus opened #2576 "Miscellaneous Client - GetEmojis does not work"
MiscellaneousClient.GetAllEmojis currently fails because it expects to receive a list of Emojis in an [ ] format. It actually returns as an object list. This needs to change to be handled properly without breaking the public api.

[2022-09-17 17:36] JonruAlveus opened #2578 "MiscellaneousClient - Meta Endpoint Tests fail"
MiscellaneousClient.GetMetadata tests fail due to the removal of a parameter (GitHubServicesSha). The dto is also out of date.

Fix these DTO and tests to pass.

[2022-09-20 20:15] #2576 closed

[2022-09-20 20:17] #2578 closed

[2022-10-04 05:52] minoura-a opened #2587 "If a folder or file name contains "#", the content cannot be retrieved."
In the following folder structure of GitHub, I tried to get the contents under #aaa1 by specifying "AAA/#aaa1" in the `path` of `Client.GetAllContents()`.

[code]

I thought I could get #aaa_xxx.xlsx, but #aaa1, #aaa2, and #aaa3 were got.
This bug occurs only when the folder or file name contains #.

[2022-10-05 04:03] bjunker99 opened #2588 "Using SimpleJsonSerializer to deserialize event leaves some fields as null"
Using SimpleJsonSerializer to deserialize json event data is leaving the fields Installation, Repository and Sender as null after updating to Octokit 3.0.0.  When I downgrade back to 2.0.1, it works properly.

I used sample data from https://github.com/octokit/octokit.net/blob/main/Octokit.Tests/Models/CheckSuiteEventTests.cs to put together the below code to replicate.

[code]

[2022-10-05 14:47] nickfloyd commented on #2587
Hey @minoura-a,  Thanks for reporting this ❤️ .  We'll prioritize this to be worked on, but feel free to submit a PR for a fix if you have time!

[2022-10-05 15:11] nickfloyd commented on #2444
- [ ] Update docs to reflect the info above

[2022-10-05 15:26] nickfloyd commented on #2588
Related to:
* https://github.com/octokit/octokit.net/issues/2562
* https://github.com/octokit/octokit.net/issues/2431

[2022-10-05 23:37] minoura-a commented on #2587
Hello @nickfloyd, thank you for your comments.
I would like to make a pull request.
I think I can solve the problem by URL encoding the #.
May I implement a method that specifies the path to a folder or file that encodes #?