[2016-03-11 07:17] shiftkey commented on #224
Closing this out as low-priority - we'll be focusing on .NET Core support for Octokit soon (and that'll let us run the CLI tests everywhere) - after that we'll wait for the upstream support - or get involved there...

[2016-03-11 07:17] #224 closed

[2016-03-11 07:23] shiftkey opened #1142 "Documentation for getting API information from GitHubClient."
Add a page to the documentation explaining how to access this. See https://github.com/octokit/octokit.net/pull/855 for the feature as it was implemented.

[2016-03-11 07:23] shiftkey commented on #504
As this requires significant thought - and likely significant changes to the API responses - as well as there exists the ability to get this data using `IGitHubClient.GetLastApiInfo()` I'm happy to close this out for now.

I've opened https://github.com/octokit/octokit.net/issues/1142 to add some documentation for this feature before I forget.

[2016-03-11 07:23] #504 closed

[2016-03-11 07:25] shiftkey commented on #832
Closing this out in favour of #1115

[2016-03-11 07:25] #832 closed

[2016-03-11 07:26] shiftkey commented on #1137
Alright, time to end this labelling spree...

[2016-03-11 07:26] #1137 closed

[2016-03-11 07:38] shiftkey commented on #823
I've kinda sat on this for a while rather than report it upstream so maybe it's been fixed, but if someone is keen to confirm it's still occurring on NuGet v3 I'll help them to navigate the process of reporting this.

[2016-03-11 07:54] shiftkey opened #1143 "Repository Contents API doesn't support Base64 content directly"
As raised in #925, we're making the assumption here that you're interested in publishing a UTF-8 string as your content when you create or update a file. That's not entirely true.

As raised in #925 there's a workaround which is to use the Git Data API - see sample here https://github.com/octokit/octokit.net/issues/925#issuecomment-147390168 - but I'll leave this open to indicate an area where we

[2016-03-11 07:55] shiftkey commented on #925
@aaron-comyn oops, totally missed that last message.

Thanks for the details, and there's actually some things we do under the hood to take the control away from you here - the `Content` property is a .NET string and we decorate it with a `[SerializeAsBase64]` attribute so that the user doesn't need to remember to do that. That's clearly not what you're looking for here, and I'm grateful for that

[2016-03-11 07:55] #925 closed

[2016-03-11 11:32] prayankmathur commented on #1016
@shiftkey
@gabrielweyer
What needs to be done here then ?
I followed your discussion [here](https://github.com/octokit/octokit.net/pull/1017) and since the method is implemented in a different class, do i need to remove it from there, or just have to add the new method in the **EventsClient** class or both ?

[2016-03-11 17:42] prayankmathur commented on #896
@shiftkey
@cvrebert
I have added the function in the **IssueClients** class.
Could you please tell me what all unit and integration tests to add ?

[2016-03-13 03:35] ryangribble commented on #1082
Thanks for the PR!  Ive just made a comment on the PR and basically said that after seeing the proposed changes, i've backflipped on what was said above!

Please check #1140 for my comments and let's continue the discussion there :grinning:

[2016-03-13 06:15] shiftkey commented on #1016
@prayankmathur that's an excellent point - I've called out the three tasks I think need to be done here https://github.com/octokit/octokit.net/pull/1017#issuecomment-166488913 but let me look at the current state of affairs and open fresh issues (rather than this vague one).

I'll leave this open until I have linked to the new tasks here.

[2016-03-13 06:39] devkhan commented on #1010
Tried deleting a repo without access:

![image](https://cloud.githubusercontent.com/assets/8049092/13727328/19ae074c-e914-11e5-8ec1-16ed5086b192.png)

Tried accessing a repo which doesn't exists:

![image](https://cloud.githubusercontent.com/assets/8049092/13727329/3249dbd2-e914-11e5-8cbb-d031a02ac24c.png)

Should there be any more information?

@distantcam Is this similar to what your were gettin

[2016-03-13 06:58] ryangribble commented on #1010
You're not actually calling the method properly there... They are async calls so you need to await the result, otherwise you're actually dealing with a ```Task<Repository>```

[code]

You'd need to wrap that in a try/catch then see what data you get on the thrown exception

[2016-03-13 07:01] ryangribble commented on #1010
Oops sorry I see you did try to say ```.Result``` on the call. I dont think you can really do such async stuff on console/immediate window, hence errors about tasks/no properties etc.

it's easier to just write an integration test or something so you can execute the actual code fragment "properly"

[2016-03-13 07:03] devkhan commented on #1010
@ryangribble This is not command window, its `scriptcs` code, so I guess it is showing the correct response. Also, I tried a legit call and the response was correct, so this shouldn't be a problem. Or am I missing something?

[2016-03-13 07:11] ryangribble commented on #1010
Ah ok... Sorry am on my phone at the moment!

I see now the first error you posted was saying .Result isn't a valid member...  that's because Delete actually isn't a Task<T> but just a Task. But yes it looks like the exception is still what you wanted to look at

In both cases the exception you've received, you want to inspect the ApiError objects on it, to see what information is there on the .Me

[2016-03-13 07:32] shiftkey commented on #1010
@devkhan @ryangribble The `AggregateException` raised is classic TPL behaviour. You want to have a look at what's set on it's `InnerException` - which seems to be the `404` you're interested in...

[2016-03-13 07:57] devkhan commented on #1010
Also, I think the `Not Found` is because the GitHub API gives just **"Not Found"** as message on 404.

So, what should be done next?

[2016-03-13 10:52] #1136 closed

[2016-03-13 11:13] ryangribble opened #1146 "[META] Thoughts on release notes generation"
As mentioned in #1137 we can work towards automating the [release notes](https://github.com/octokit/octokit.net/releases/tag/v0.19.0) (using octokit of course!).  We are doing a similar concept at work so here are a few ideas/thoughts based on what we've done so far

Obviously the key is "grooming things as we go" so that there is not much (ideally not any) i dotting or t crossing or rewording to

[2016-03-13 13:59] ryangribble opened #1147 "Issue downloading release asset from Private repository"
Hi all,

We are having trouble getting a release asset (a json file) contents from a PRIVATE repo.  As per previous issue/PR #854 and #943 we have tried both ways:

- Hitting the asset api URL, using the ```GitHubClient.Connection``` so we can specify the required "application/octet-stream" to get the binary contents, then converting that to text
[code]

- Using the BrowserDownloadUrl to "download

[2016-03-13 16:47] devkhan commented on #1116
@shiftkey Can you please review this now?

[2016-03-13 22:06] shiftkey commented on #1147
@ryangribble are you able to crack open `HttpResponse` response and see what it has set? I'm pretty sure there's some implementation differences between release assets on GitHub.com and GHE, so I'd love to know more about your setup...

[2016-03-13 23:04] ryangribble commented on #1147
Hey @shiftkey

When using the "own ```HttpClient``` method and the ```BrowserDownloadUrl``` this is the succesful ```HttpResponse``` when the repo is PUBLIC

[code]

And this is the ```HttpResponse``` when repo is PRIVATE

[code]

Is that enough information?  This is just printing ```?response``` in the immediate window.  I obfuscated a couple of things like server address, org/repo and access tok

[2016-03-13 23:32] shiftkey commented on #1147
@ryangribble yeah, that's more information - I was hoping for something more instructive than a `HTTP 500` but that's fine, I can work with that. I'll test on another GHE service to see if I can trigger the same thing with a private repository.

[2016-03-14 00:11] shiftkey commented on #1116
@devkhan

Here's some of my thoughts on this:

- regarding "Too many ctor's" - I believe this we can resolve this as a side-effect of making `HttpClient` a first-class feature. There's a number of `ctor` dependencies in Octokit which we can (and perhaps should) delegate to the HTTP abstraction, such as:

  - `BaseAddress`
  - `Timeout`
  - perhaps even [`Credentials`](https://msdn.microsoft.com/en

[2016-03-14 00:25] shiftkey commented on #1146
Me right now:

![](https://cloud.githubusercontent.com/assets/359239/13732391/e2a6a494-e9d5-11e5-9ac6-8aea7ea7d8b8.gif)

I like this - I'm fine with reading all the issues for this syntax - we can also look at the author to ensure it's someone trusted (whatever that means)

For example, if the issue is "Error xxxxx when loading my public repositories" we might make a comment saying

Yeah, the PR t

[2016-03-14 00:29] shiftkey commented on #896
@prayankmathur which branch is this for? If you could open a pull request it will run against our CI infrastructure - and let us see what the failures might be about...

[2016-03-14 01:54] ryangribble commented on #1146
I guess you are referring to here to a large body of work (eg implementing your Response Paging control) that is implemented via multiple PRs?  In some ways I wonder if just having each PR be listable is ok - eg "Added pagination support to xxx client"  "added pagination support to yyy client".  Is there a need to group these together?

if so some possibilities would be:
- use more feature labels

[2016-03-14 02:42] shiftkey commented on #1146
@ryangribble

Perhaps, perhaps not. Here's a recent example from `v0.19`:

The first PR was to implement the feature, and the second was to address a regression that was introduced not caught during review. I didn't feel that the second PR warranted it's own line as it was within the context of the same release.

That's kind of how I feel about the upcoming pagination PRs - having a separate entry

[2016-03-14 04:47] shiftkey opened #1148 "Add ApiOption overloads to methods on IAssigneesClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1149 "Add ApiOption overloads to methods on IAuthorizationsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1150 "Add ApiOption overloads to methods on ICommitStatusClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1151 "Add ApiOption overloads to methods on IDeploymentsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1152 "Add ApiOption overloads to methods on IDeploymentStatusClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1153 "Add ApiOption overloads to methods on IEventsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1154 "Add ApiOption overloads to methods on IFollowersClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1155 "Add ApiOption overloads to methods on IGistCommentsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1156 "Add ApiOption overloads to methods on IGistsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1157 "Add ApiOption overloads to methods on IIssueCommentsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1158 "Add ApiOption overloads to methods on IIssuesClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1159 "Add ApiOption overloads to methods on IIssuesEventsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1160 "Add ApiOption overloads to methods on IIssuesLabelsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1161 "Add ApiOption overloads to methods on IMilestonesClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1162 "Add ApiOption overloads to methods on IMiscellaneousClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1163 "Add ApiOption overloads to methods on INotificationsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1164 "Add ApiOption overloads to methods on IOrganizationMembersClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1165 "Add ApiOption overloads to methods on IOrganizationsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1166 "Add ApiOption overloads to methods on IPullRequestReviewCommentsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1167 "Add ApiOption overloads to methods on IPullRequestsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1168 "Add ApiOption overloads to methods on IReferencesClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1169 "Add ApiOption overloads to methods on IReleasesClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1170 "Add ApiOption overloads to methods on IRepoCollaboratorsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1171 "Add ApiOption overloads to methods on IRepositoriesClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1172 "Add ApiOption overloads to methods on IRepositoryCommentsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1173 "Add ApiOption overloads to methods on IRepositoryCommitsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1174 "Add ApiOption overloads to methods on IRepositoryContentsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1175 "Add ApiOption overloads to methods on IRepositoryDeployKeysClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1176 "Add ApiOption overloads to methods on IRepositoryForksClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1177 "Add ApiOption overloads to methods on IRepositoryHooksClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1178 "Add ApiOption overloads to methods on IRepositoryPagesClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1179 "Add ApiOption overloads to methods on ISshKeysClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1180 "Add ApiOption overloads to methods on IStarredClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1181 "Add ApiOption overloads to methods on ITeamsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1182 "Add ApiOption overloads to methods on IUserEmailsClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1183 "Add ApiOption overloads to methods on IUserKeysClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 04:48] shiftkey opened #1184 "Add ApiOption overloads to methods on IWatchedClient"
As part of completing #760 a number of overloads need to be added to the client interfaces.

As an example, this has been added to [`IReleasesClient`](https://github.com/octokit/octokit.net/commit/03ea83148995711fc47148489e2123e65f33bd82)and [`IObservableReleasesClient`](https://github.com/octokit/octokit.net/commit/aa3ce0db9210b778414e290af7f17c4a646bdeec).

The checklist for porting each method

[2016-03-14 14:09] ryangribble opened #1188 "Implement Migration - Source Imports client"
https://developer.github.com/v3/migration/source_imports/

Added to [API docs](https://github.com/github/developer.github.com/commit/6a784797e1a7e0dd2b6898743bab94e9200d6a53) approximately Feb 19 2016

The Source Import API lets you start an import from a Git, Subversion, Mercurial, or Team Foundation Server source repository. This is the same functionality as the [GitHub Importer](https://import.

[2016-03-14 14:23] ryangribble opened #1189 "New method on RepositoryCommits client"
https://developer.github.com/v3/repos/commits/#get-the-sha-1-of-a-commit-reference

Added to the [API docs](https://github.com/github/developer.github.com/commit/524e1d748156a8cabfdb01a4ca112c7408bb24b8) on 27 February 2016

[code]

Note this is a preview API and requires a custom accept header to activate the functionality
` application/vnd.github.chitauri-preview+sha`

[2016-03-14 15:21] devkhan commented on #1188
Since I'm already implementing the Migrations API, should I take this up after I am finished with that?

[2016-03-14 18:21] Haacked commented on #1146
Agreed.

Also, I think we should only look at PRs for release notes comments. It'll reduce the number of times we might have double notes (issue and associated PR) and it keeps us in the discipline of always submitting a PR for changes.

I don't think we need to worry about "trusted" authors. Instead, when we review a PR that should have a release note, we can simply edit any comment that has the

[2016-03-14 18:43] M-Zuber commented on #1146
This all looks lovely :sparkling_heart:

Maybe once a syntax is decided on, you can make an pullrequest_template?

[2016-03-14 19:31] devkhan commented on #1116
@shiftkey Can we also pull out the serialization part out of Octokit.NET and server as a separate packages?

I know that users can still pass in an `IJsonSerializer` to provide their own serializer, but if we move the serialization work out of Octokit, others can also contribute community-powered Serialization packages for Octokit, e.g. [Nancy](https://github.com/NancyFx/Nancy/) has different NuGe

[2016-03-14 19:40] shiftkey commented on #1116
@devkhan we've started a discussion in #1074 about that - the serializations are specific to Octokit's request/response models and the API itself, so I'd love to understand the scenarios and value that extracting it would permit...

[2016-03-14 19:44] devkhan commented on #1116
Thanks @shiftkey, I'll go through them first.

[2016-03-14 21:43] ryangribble commented on #1076
Here's a new one we hadn't seen before.  Perhaps just temporary issue communicating with nuget
**[Linux]** The command "nuget restore Octokit-Mono.sln" failed and exited with 139 during .
https://travis-ci.org/octokit/octokit.net/jobs/115926780

[2016-03-14 22:03] ryangribble commented on #1188
Certainly, but it's definitely best to get one over the line before working on the next.l :grinning:
Infact, I haven't yet started on #1024 which would be a higher priority IMO, if you wanted to knock off some of that coding :stuck_out_tongue_winking_eye:

[2016-03-15 03:34] devkhan commented on #1188
@ryangribble Sure, I'll try to make it production-ready ASAP.

[2016-03-15 08:50] prayankmathur commented on #1115
@shiftkey

How exactly do we port a csproj file to project.json
Do we have to do it manually defining each and every dependency as mentioned [here](https://github.com/aspnet/Home/wiki/Project.json-file) or is there a tool available ?

And once that is done, we then need to modify the build.fsx file to incorporate the changes ?
And after that see what all errors creep in and try to rectify it using

[2016-03-15 12:25] devkhan commented on #1115
@prayankmathur I guess it is done by hand right now. But there must be tools available.

Maybe we will have a unified project.josn which will target the current .NET Framework, .Net45 and PCL, which all have different projects right now. And the project.json will just contain definitions for different targets (their dependencies). You can take a look at the [`target-the-coreclr`](https://github.co

[2016-03-15 20:43] ryangribble commented on #1147
Github enterprise 2.5.2 was released overnight and the release notes mention this

https://enterprise.github.com/releases/2.5.2/notes

Sounds hopeful! I will retest and advise...

[2016-03-15 21:59] ryangribble commented on #1147
Updated my test GHE instance to 2.5.2 and verified that downloading release assets on private repositories now works fine.

It works as expected using both approaches outlined in my first post - ie Octokit's `Connection.Get<Byte[]>(assetUrl ...)` on the Api URL and using a custom `HttpRequest` to hit the `BrowserDownloadUrl`)

Closing out this issue!

[2016-03-15 21:59] #1147 closed

[2016-03-15 22:42] shiftkey commented on #1115
@prayankmathur

There are no tools to convert a `csproj` over to `project.json`, but it's easy to add a project.json (and the `.xproj`) alongside the existing `.csproj` to help with the transition. An earlier example of this can be seen [here](https://github.com/octokit/octokit.net/tree/target-the-coreclr/Octokit) although that's rather out of date.

One of the benefits of this new approach is tha

[2016-03-15 22:45] shiftkey commented on #1115
@devkhan exactly - one `project.json` file can target many frameworks, and can replace the multiple `csproj` files we currently maintain. Because the project.json file supports wildcard expressions to include code, like this:

[code]

We can drop the `.\build FixProjects` script we have to ensure all the `csproj` files are in sync - and no more merge conflicts from `csproj` files!!!

[2016-03-15 22:55] shiftkey commented on #1147
@ryangribble that's great news!

[2016-03-15 23:10] prayankmathur commented on #1115
@shiftkey

Do you believe this task is gonna take 2 months if we only have to do things that is discussed in this meta issue.

I think we can finish it fast once everything is figured out step by step on how to do it .

Am i right or this is gonna take time because i haven't have any experience in writing a project. json from .csproj ?

[2016-03-15 23:12] #1148 closed

[2016-03-15 23:35] shiftkey commented on #1115
@prayankmathur 2 months of part-time work (this could just be a few hours each week), including integrating this into the process, shipping preview packages and testing, plus allowing for unexpected upstream issues that might occur with pre-release packages feel about right...

[2016-03-16 09:41] devkhan commented on #1116
on the topics of delegating things to `HttpClient`, should `ProductHeaderValue` be specified in the client or not? Since this should be added as a header to every request, I think its better to move in into the client. Users wanting to use other clients, can just add a custom header for this. `IGitHubClient` passes it on to `IConnection` anyways.

/cc @shiftkey

[2016-03-16 14:15] ryangribble opened #1194 "[META] Cleaning up obsoleted items"
Just opening a discussion to review the items marked `[Obsolete]`, since most of them will have been more than 3 months old by the time of the next release (and many of them are 1 year+ old too)... it must be time to :rocket: :fire: some of them :grinning:

We've currently got 80 occurences across 39 files, and by my (manual count) about 14 actual functional areas.

Here's a list of the areas and

[2016-03-16 23:48] shiftkey commented on #1116
@devkhan

This seems reasonable, however we need to ensure that [a User-Agent header is set](https://developer.github.com/v3/#user-agent-required).

I'd rather do things publicly wherever possible, as there are others here who are familiar with Octokit and may be able to answer your questions - rather than myself being a blocker. But yes, I can keep an eye on Gitter...

[2016-03-17 09:20] shiftkey commented on #1000
The test still passes, so I'm going to chalk this up to eager obsoleting. I can't see a mention of this being removed in the future, so I'm happy to keep this test around.

Thanks @Anubhav10 and @M-Zuber for looking into this.

[2016-03-17 09:20] #1000 closed

[2016-03-17 10:15] shiftkey commented on #1194
Alright, quick brain dump:

 - as Octokit is being used in many places, we should be `[Obsoleting]` before removing any APIs.
 - the `[Obsolete]` comment should indicate what the caller needs to update
 - for the most part, the code should continue to work while obsolete
   - `allowAutoRedirect` is one exception I can think of, but as we're all-in on redirects then I can live with that

The $64000

[2016-03-17 10:19] M-Zuber commented on #1194
brain fart: Should we include the release in the obsolete message? (the release that is current when the change is made || a reviewer can just say - add in "in release x.x.x)

[2016-03-17 10:20] M-Zuber commented on #1194
I agree, but for devil's advocacy do accepted (& actually used) guidelines exist for this kind of thing?

[2016-03-17 10:42] shiftkey commented on #1194
Maybe? Having the release number there may mean they'll go and read the release notes - but perhaps the details in the message are enough for them to understand...

"It depends" is really the best answer I can come up with, and this probably comes down to support lifecycles. On one hand, $vendor may need to support obsolete features in an API until the next major release. On the other hand, some O

[2016-03-17 10:56] M-Zuber commented on #1194
Sounds good to me.
I have some Real Life™ to take care of, and then I will try and post back with a sorting of `Obsolete` methods based on release

[2016-03-18 11:10] devkhan commented on #1116
@shiftkey I looked at #985, and it seems like you have done much of the work, e.g. marking obsoletes, creating stubs, etc. So then, how much work is left in this project?

Sidenote: Why didn't you merged that PR?

[2016-03-18 11:57] shiftkey commented on #1116
Don't take my previous work as gospel here - I was exploring it and opened the PR to gather feedback. It didn't really get to the point where it was mergeable due to how much is involved with the HTTP stack, but hopefully the lessons learned help out with the work on this PR...

[2016-03-18 14:26] devkhan commented on #1116
That's good, cause it will be useful as a great reference. :+1:

[2016-03-18 23:08] devkhan opened #1200 "[META] Codecov Code Coverage Badge"
Should we have a code coverage badge?

Example:

![image](https://cloud.githubusercontent.com/assets/8049092/13894323/817f92f6-ed8c-11e5-83dc-fd839efd443a.png)

The important thing: Is it really helpful for someone who reaches the repo homepage? Does it signify anything meaningful which is relevant to the library?

[2016-03-19 00:01] shiftkey commented on #1200
@devkhan I'm neutral on this.

On the one hand, I think code coverage is a questionable metric for code quality. Fowler [sums it up nicely](http://martinfowler.com/bliki/TestCoverage.html) in that it should be used to look for untested code, not as a general metric.

On the other, if someone thinks it's worth setting up, they are welcome to explore options and see how Octokit integrates with this.

[2016-03-19 00:02] shiftkey commented on #1200
Setting this to a meta discussion.

[2016-03-19 07:02] ryangribble commented on #1182
Implemented in PR #1190

[2016-03-19 07:02] #1182 closed

[2016-03-19 07:15] ryangribble commented on #1076
**[Linux]** Timeout

Same as [this one previously](https://github.com/octokit/octokit.net/issues/1076#issuecomment-178228432)

https://travis-ci.org/octokit/octokit.net/jobs/116884393

[2016-03-21 22:25] shiftkey opened #1201 "document usage of FormatCode in CONTRIBUTING.md"
From https://github.com/octokit/octokit.net/pull/1196#issuecomment-199249284

[2016-03-22 05:55] devkhan opened #1202 "Misspelt: docmentation"
I know its not even a real issue, but just thought I should share:

![image](https://cloud.githubusercontent.com/assets/8049092/13943128/dddd1ff6-f01f-11e5-80ee-437451c5c94d.png)

`docmentation vs documentation`

This is just the code files, but when I searched in a text editor, it found results from non-code and generated files too. I didn't submit a PR as that may cause conflicts with many other

[2016-03-22 06:18] shiftkey commented on #1202
@devkhan nope, this is fine to log - I'll leave this as an easy contribution for someone to get started on...

[2016-03-22 06:20] devkhan commented on #1202
Let me take care of this. :smiley:

[2016-03-22 12:05] M-Zuber opened #1207 "Keep property names that are sub-clients singular"
The convention is that a client that has sub-clients uses a singular form for the property name
eg

[code]

and not

[code]

Is this a check that could be added into the convention tests?
(maybe using something like Humanizer - which might enable us to even just put it in FormatCode and just fix it automagically)

EDIT: we can use this issue to track what places currently need fixing

[2016-03-22 12:09] M-Zuber opened #1208 "Lowercase namespace"
At some point a folder called `fixtures` was introduced.
This lead to a number of classes having the namespace`Octokit.Tests.Integration.fixtures`

Will make a PR to fix once #1144 is merged (as it introduces some more files to that namespace)

([Affected Files - potentially more](https://github.com/octokit/octokit.net/search?utf8=%E2%9C%93&q=namespace+Octokit.Tests.Integration.fixtures))

[2016-03-22 12:12] #1189 closed

[2016-03-22 12:13] ryangribble commented on #1149
Fixed in #1198

[2016-03-22 12:13] #1149 closed

[2016-03-22 12:14] shiftkey commented on #1207
I'm pretty sure this was something I was tracking as part of auditing everything in https://github.com/octokit/octokit.net/pull/1038/ but I'd need to remember just what past me was doing there...

[2016-03-22 12:21] M-Zuber commented on #1207
Yeah, I've had the email for that issue pinned since it was opened - because some day I will download the code and do a real review

[2016-03-22 12:53] #1202 closed

[2016-03-22 13:13] ryangribble commented on #1207
I just did a quick search through the code base and found a few properties of clients that are not singular

[code]

These 2 are also potenitally "awkwardly" named, although the property name does match the API doc, and im not sure if a "better" naming for these "action" based -ing words exists!

[code]

[2016-03-22 13:20] ryangribble commented on #1194
So given that theres a pretty massive gap between the ones that are 200+ days since obsoleted, and a bunch sitting at around the ~90 mark... we should be pretty safe to remove all the really old stuff:
[code]

And keep the following for now
[code]

[2016-03-22 13:28] M-Zuber commented on #1207
IMO The _client name_ is a bit off. If our gospel is the API docs, they should be
[code]
Either way `Watch` and `Star` can also be adjective-iy so
[code]
would not be so jarr**ing** ( :stuck_out_tongue_closed_eyes: ) IMO

In the same vein the `StarredRequest` class name feels off to me

[2016-03-22 13:29] M-Zuber commented on #1194
If the answer is yes, I would like to do that PR

[2016-03-22 17:43] Haacked commented on #1208
I would love to remove all namespaces from unit and integration tests. They really don't serve a purpose for our tests. Namespaces are useful for libraries that you reference in order to disambiguate class names. But you never reference a set of unit tests for your own code. At least, we don't need to support that if you do for some wild reason. :stuck_out_tongue:

[2016-03-22 17:45] M-Zuber commented on #1208
Would you be open to one fat PR that rips out all namespace parts lower than what matches the project?
Or shall I split it up?

[2016-03-22 17:49] Haacked commented on #1208
Split it up. I worry that one big fat PR will cause problems for everybody else. :)

[2016-03-23 18:04] shiftkey commented on #1208
Just a heads up - removing the namespaces is likely to cause a whole bunch of indenting changes to the test suite. It's a minor nuisance but things like `git blame` will then be full of lies...

[2016-03-23 18:05] shiftkey commented on #1194
Yes, very happy

[2016-03-27 07:12] M-Zuber commented on #1208
What do you mean by `indenting changes`?

[2016-03-27 07:39] M-Zuber commented on #1208
An example of what things look like now is
![image](https://cloud.githubusercontent.com/assets/4746537/14064333/f1fd22b0-f407-11e5-849b-4b315e86fe3b.png)
@Haacked do you want to just drop the `.Clients` or drop the namespace altogether (like :arrow_down: )?
![image](https://cloud.githubusercontent.com/assets/4746537/14064338/16c428c8-f408-11e5-80ad-9bd2b3ac5549.png)

[2016-03-27 08:22] M-Zuber commented on #1194
ApiConnection.GetRedirect() depends on IConnection.Get<T>(... allowAutoRedirect)

It currently did this: ` return connection.Get<T>(uri, null, null, false);`.
Should I just drop the last param?

[2016-03-27 18:45] shiftkey commented on #1208
@M-Zuber that's exactly the issue, and why I kinda put it aside when I started finding these 😢

[2016-03-27 20:40] shiftkey commented on #1194
@M-Zuber I think we should drop usages of the `allowAutoRedirect` parameter and possibly remove it - if that's already been marked as obsolete...

[2016-03-29 02:49] ryangribble commented on #1194
yep, that `Get` overload on `IConnection` can be removed since it is marked Obsolete 110 days ago.  `ApiConnection.GetRedirect()` was the only place that was using that overload anyway, so it's all nicely clean and we can just :fire: all 3

`ApiConnection.GetRedirect()`

`IConnection.Task<IApiResponse<T>> Get<T>(Uri uri, IDictionary<string, string> parameters, string accepts, bool allowAutoRedirec

[2016-03-29 08:24] M-Zuber commented on #1208
IMO I would do the first option. having a namespace that matches the project name does not create noise (at least to me) - and that is what is included in the default.

Is there a setting that prevents VS from tacking on namespace parts to match the file system?

[2016-03-29 10:53] ryangribble opened #1227 "Missing options on `SearchIssuesRequest`"
There are a number of "filter" fields/options mentioned in [the API documentation] and [how-to search article](https://help.github.com/articles/searching-issues) that are not currently implemented in SearchIssuesRequest class

- Searching by [`team`](https://help.github.com/articles/searching-issues/#search-by-a-team-thats-mentioned-within-an-issue-or-pull-request)
- Searching by "not" label synta

[2016-03-29 12:39] #1082 closed

[2016-03-29 17:48] shiftkey commented on #1208
[Unfortunately it seems to be R# only](http://stackoverflow.com/a/6246679/1363815)

[2016-03-30 11:18] ryangribble commented on #1146
for anyone who hadnt seen: https://github.com/shiftkey/hermes

I dont know if I want to tackle fsharp at this point though LOL so I may just contribute cerebrally :grinning:

Having a look at what @shiftkey has produced so far I think we could benefit from adding a new label (in addition to `feature` and `bugfix`) to group up all of the recent items around fixing inconsistencies and tidying things

[2016-03-31 06:31] dampir opened #1231 "Provide uniform name for constructors test classes"
I found some inconsistency in naming of classes that tests client constructors. So,
30 tests uses "TheConstructor" class name for test client constructors.
37 tests uses "TheCtor" class name for test client constructors.
1 test use TheCtorMethod" class name for test client constructor in [ObservableCommitsClientTests.cs](https://github.com/octokit/octokit.net/blob/aa133286459612c32351cde75dca399b8

[2016-03-31 07:19] devkhan commented on #1231
Can we add inconsistencies like this to be resolved in FormatCode command? Automating this will remove any inconsistencies introduced by humans. Is something like this possible?

[2016-03-31 07:23] dampir commented on #1231
@devkhan Guess after we choose name convention for these classes, we can add additional checks in Conventions test rather in FormatCode. Anyway, it would be very cool have such additional check.

[2016-03-31 07:26] M-Zuber commented on #1231
Checks like this are in theory possible, _but_ would require a lot of hard coding (not that that is a bad thing, just something to keep in mind).

And I second @dampir's suggestion that they go into `Conventions` and not `FormatCode`

[2016-03-31 10:27] ryangribble commented on #1231
Yep considering we aren't "making" people run the format code step, nor is there an easy way to enforce that, adding things to convention tests would be the preferred option

[2016-03-31 16:44] shiftkey commented on #1231
There's no real project-specific rules defined in [`Octokit.CodeFormatter`](https://github.com/shiftkey/octokit.codeformatter) and writing Roslyn analyzers is a bit tricky if you're not familiar with the concepts.

This feels a bit easier to add and will be caught earlier.

[2016-04-02 18:17] shiftkey opened #1233 "unable to download PCLs for testing PRs on Travis"
[code]

@naveensrinivasan do you know what might have changed?

[2016-04-02 18:26] naveensrinivasan commented on #1233
I don't think we need PCL. Let me check that and get back. I have been really busy with work and haven't had a chance to look at these issues.

[2016-04-03 02:35] naveensrinivasan commented on #1233
@shiftkey The link is dead and there aren't any files. Could you try removing the pcl reference from the script and try it without that?

[2016-04-03 11:54] ryangribble opened #1234 "New property on Meta endpoint response"
While poking around the [API docs](https://developer.github.com/v3/meta/) I found that the `Meta` endpoint under `MiscellaneousClient` has an additional property (`importer`) that is not yet implemented in octokit.net

It also looks like the `GetMetadata` method is not covered by unit tests, and the integration test only asserts 1 of the 6 returned properties

[2016-04-03 12:51] ryangribble opened #1236 "Implement Pull Request "Squash Commit" support (API preview)"
### Summary
Recently announced on this [blog post](https://developer.github.com/changes/#--preview-squash-support-for-the-pull-request-merge-api) the GitHub API now has preview support for the new "Squash Commits" Pull Request merge option.

API Docs [are here](https://developer.github.com/v3/pulls/#merge-a-pull-request-merge-button)

### Tips for Octokit Implementation
`IPullRequestsClient.Merge(

[2016-04-03 13:00] ryangribble opened #1237 "Add custom exception for the HTTP 451 response (DMCA Notice)"
### Summary
As per this [blog post](https://developer.github.com/changes/#--the-451-status-code-is-now-supported)

GitHub API will now return a HTTP 451 response (rather than a 403) when a repository or gist cannot be accessed due to a DMCA notice.

### Tips for Octokit Implementation
In octokit, some key HTTP exceptions are represented by specific named exceptions (eg `ForbiddenException`, which

[2016-04-03 19:54] Sarmad93 commented on #1236
hi @ryangribble hope you are fine. this one looks easy i want to do this one :smile:
but regarding the tests i will certainly bother you when i will implement this :grinning:
and :+1: for clean and nice instructions.

[2016-04-03 20:19] #1233 closed

[2016-04-04 10:19] ryangribble commented on #1236
:+1:

[2016-04-04 14:27] devkhan commented on #1207
The Migration API has an internal Enterprise Migrations client, so that causes troubles if I follow this. As I can't name both of them `Migration`, so I have named the internal one as `IMigrationsClient Migrations` and `IMigrationClient`. The only difference is the plurality. What should be done in such a case?

[Here](https://github.com/octokit/octokit.net/pull/1141#issuecomment-196313358) is the

[2016-04-04 16:14] tidusjar opened #1241 "System.FormatException: Invalid format when running on Mono (Ubuntu)"
Hello,

It seems that I have a similar issue to #684 but we are currently using `v0.19` release (nuget).

This is the code that is producing the error:

[code]

The exception is below.

[code]

[2016-04-04 16:16] shiftkey commented on #1241
@tidusjar which version of Mono?

[2016-04-04 16:19] tidusjar commented on #1241
@shiftkey Trying to find out now (I'm not having the issue, will report back when I find out).

[2016-04-04 19:09] tidusjar commented on #1241
Updated the Mono package and it now works. Thanks.

[2016-04-04 19:09] #1241 closed

[2016-04-04 21:43] #1234 closed

[2016-04-04 22:01] ryangribble opened #1242 "[META] What should we do when preview API functionality becomes "official""
As per this [blog post](https://developer.github.com/changes/2016-01-05-api-enhancements-for-working-with-organization-permissions-are-now-official/)

The accepts header for organizational permissions is no longer required and we can look towards removing it.

HOWEVER this does raise an interesting point around GitHub Enterprise.

Generally speaking, GitHub Enterprise has a feature release (eg 2.3

[2016-04-04 22:24] pmn commented on #1242
Outside of the larger conversation of when to stop sending the preview header, I chatted with a few folks about this here and verified that nothing will break if the preview header continues to be used after the feature has shipped. Any media type that is not supported or no longer supported will default back to `application/vnd.github.v3+json`.

That being said, I'll leave the conversation around

[2016-04-04 22:58] ryangribble commented on #1242
Useful info thanks.

Perhaps we could treat it like obsoleting items where we remove things a number of releases after they are no longer supported/needed.  Eg we could decide the latest octokit will only support (for example) the last 2 GHE feature versions, and base such removals on that.

Although I guess if there's no harm in sending them "forever" that gives the widest possible support with t

[2016-04-05 03:05] distantcam opened #1243 "Add Repository property to Issue response from API"
So I want to query many repos within an org for issues with a given label. I could use `client.Issue.GetallForRepository` and call this for each repository, but this seems wasteful as I'm querying 51 repos.

Instead I would like to use `client.Issue.GetAllForOrganization` which worked fine, but now I have a list of issues and there's no easy way to tell which repo an issue came from.

Should org a

[2016-04-05 03:26] ryangribble commented on #1243
This is kinda interesting because if you look at the actual [API response data](https://developer.github.com/v3/issues/#parameters) it doesnt include any information about the repository that we even COULD populate into octokit.  There is a `repository_url` field, that is not currently deserialized into the octokit.net response models for `Issue` but then if you were happy to parse a URL field the

[2016-04-05 03:33] distantcam commented on #1243
@ryangribble Url parsing is what I meant when I said there's no _easy_ way to tell which repo an issue came from. ;)

Also I agree it doesn't make sense for octokit to do another API call behind the scenes, since I was trying to avoid excess API calls to begin with.

I guess the problem then is at the API layer and maybe this problem could be elevated to them?

[2016-04-05 03:59] ryangribble commented on #1243
yeah maybe @shiftkey or @Haacked can escalate that one internally, though I guess any of us can also send github commentary/request like this externally too

I agree with your sentitment although id say "there is no ~~easy~~cringe-free way" since parsing the text is "easy" just makes us cringe hehe :trollface:

[2016-04-05 04:22] ryangribble opened #1244 "[META] Discussion on coding style"
Following on from a [recent PR](https://github.com/octokit/octokit.net/pull/1211#issuecomment-205509458) where coding styles came up, I've started this discussion point to see whether we want to have a more official stance on coding style for the repo.

For obvious reasons consistency is important in an open source project (and octokit is already very high in overall consistency stakes I feel), so

[2016-04-05 11:56] shiftkey commented on #1243
A quick test indicates `repository` should be available at the `GetAllForCurrent` endpoint. I'd need to test `GetAllForOrganization` as well but don't have the right setup to confirm this right now:

[code]

Whether we should bake this into Octokit.NET however, I'm not so sure. It might be considered undocumented behaviour...

[2016-04-05 15:09] ryangribble commented on #1243
Ah I should have thought about that as I encountered similar things (eg fields present in responses that aren't shown in the doco) like on GHE when ldap is enabled, user/org responses contain an ldap_dn field

I reckon if it's in the json response we can put it in octokit. Worst case it ends up null if the field is ever not there anymore but it seems extremely unlikely that would happen?

[2016-04-05 17:35] #1181 closed

[2016-04-05 17:48] shiftkey commented on #1243
So I had a chat with our API team about this and it's just a documenation oversight. For v3 of the API there should be a `Repository` property off of the root `Issue` - now, whether we can (or *should*) use the existing one or not is something for us to check out.

[2016-04-05 17:52] shiftkey commented on #1243
Updated issue to clarify what needs to be done and mark it as up-for-grabs

[2016-04-06 19:49] zzzprojects commented on #1111
There is a lot of ConfigureAwait(false) missing in all the projects.

By example, the method "client.Repository.Content.GetAllContents(...)" didn't work in my WinForm application because of UI Blocking.

I just fixed RedirectHandler.SendAsync to add ConfigureAwait to all methods and it worked.

[2016-04-07 01:04] shiftkey commented on #1111
@zzzprojects thanks for the extra info - I've opened #1248 which cleans this up

[2016-04-07 12:02] ryangribble opened #1249 "Deployment and DeploymentStatus API enhancements preview period"
### Summary
Recently announced on this [blog post](https://developer.github.com/changes/#--deployment-and-deploymentstatus-api-enhancements-preview-period) the Deployment API has some enhancements that are now in preview mode.

API Docs:
[Create Deployment](https://developer.github.com/v3/repos/deployments/#create-a-deployment)
[Create Deployment Status](https://developer.github.com/v3/repos/deplo

[2016-04-07 14:46] shiftkey opened #1251 "New activity events not being deserialized correctly"
Found while testing #1240 - the lack of `type` on these is why the test is failing due to us incorrectly deserializing the payload:

<img width="928" src="https://cloud.githubusercontent.com/assets/359239/14354978/7764e796-fcad-11e5-8a04-2ac16f38f695.png">
<img width="924" src="https://cloud.githubusercontent.com/assets/359239/14354980/776a2d78-fcad-11e5-807c-52aa84699d90.png">
<img width="922" sr

[2016-04-07 17:27] shiftkey commented on #1244
So I like the CoreFx coding style with a few extra changes. Let me elaborate:

 - We use `_camelCase` for internal and private fields and use readonly where possible

This is helpful to understand context quickly when dealing with large, complex classes with lots of internal fields and variables. But I don't feel Octokit is at that stage (nor should it be aiming for that). We have lots of small cl

[2016-04-07 20:54] shiftkey opened #1252 "GPG Key Administration API Preview"
### Summary

Recently announced on this [blog post](https://developer.github.com/changes/2016-04-04-git-signing-api-preview/) the User API has some enhancements that are now in preview mode.

### Notes on Octokit Implementation

This should be similar to our [`IUserKeysClient`](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IUserKeysClient.cs)

#### GPG Keys API

 - [GetAllForC

[2016-04-07 20:56] shiftkey opened #1253 "rename IUserClient.Keys to IUserClient.GitSshKeys"
As part of rolling out GPG Keys in the GitHub API, Keys was renamed to **Git SSH Keys**

<img width="329" alt="screen shot 2016-04-07 at 4 55 17 pm" src="https://cloud.githubusercontent.com/assets/359239/14366605/952572d0-fce1-11e5-9527-93b8348e72c0.png">

We should do the same in the client, and then mark the old property as obsolete.

[2016-04-07 21:15] shiftkey opened #1254 "Get Signature Verification When Viewing Git Data Commit"
API documentation: https://developer.github.com/v3/git/commits/#commit-signature-verification

An enhancement as part of the Commit Signing API is to surface the signature details in the commit.

It looks like these are the new properties:

[code]

These fields should be available on the `Commit` response object (perhaps in a class called `Verification` or something), and the `CommitsClient.Get` a

[2016-04-07 21:18] shiftkey opened #1255 "Get Signature Verification When Viewing Repository Commits"
API documentation: https://developer.github.com/v3/repos/commits/#commit-signature-verification

An enhancement as part of the Commit Signing API is to surface the signature details in the commit.

It looks like these are the new properties:

[code]

These fields should be available on the `GitHubCommit` response object (perhaps in a class called `Verification` or something), and the `RepositoryCo

[2016-04-07 21:28] shiftkey opened #1256 "Get Signature Verification When Viewing Git Data Tags"
API documentation: https://developer.github.com/v3/git/tags/#tag-signature-verification

An enhancement as part of the Commit Signing API is to surface the signature details in the tag.

It looks like these are the new properties:

[code]

These fields should be available on the `GitTag` response object (perhaps in a class called `Verification` or something), and the `TagsClient.Get` action should

[2016-04-07 22:18] M-Zuber commented on #868
So #1243 is relevant to this.
I would say we can close this out as:

seems to have resulted in crickets

[2016-04-07 23:27] ryangribble commented on #1244
So do you think it's feasible to essentially have our own copy of that md file, with our preferred tweaks, then reinforce it with convention tests? Eg it should be easy enough to have tests that make sure `private` visibility is not specified and variable names never contain underscores

[2016-04-08 00:47] shiftkey commented on #868
At this point I think it's easier for us to enhance the actual response objects - especially when it's something additive and we know it'll be supported.

:cry:

[2016-04-08 00:50] shiftkey commented on #1244
@ryangribble so I'm pretty sure I can adapt the `.vssettings` file from corefx to address those two. And I guess the R# rules file. I think those alongside with adding this to CONTRIBUTING.md (or something similar) should be good enough.

I'll let others chime in here before I do anything about it.

[2016-04-08 00:51] M-Zuber commented on #868
So ill close this and we can just enhance objects as requested.
Enhancement of response objects is actually the main thing I was trying to get from this.

[2016-04-08 00:51] #868 closed

[2016-04-08 11:51] ikourfaln opened #1257 "Microsoft.Net.Http.Client -> System.Net.Http"
Hi,

I think that you must remove reference to Microsoft.Net.Http.Client, this is obsolete now that CoreCLR has a functioning HttpClient. Microsoft.Net.Http should be used with traditional ASP.NET applications (MVC 5 for example) and does not work with .NET Core. So let ASP.NET Core developers be happy too.

[2016-04-08 11:55] shiftkey commented on #1257
Could you add a comment to #1115 about migrating that package, and any other details about why this package is considered obsolete? We've been talking about .NET Core support for a while, and that bit of information sounds useful to us...

[2016-04-08 12:44] ikourfaln commented on #1115
Hi,
OK, as I said before (#1257), CoreCLR has a functioning HttpClient (System.Net.Http), it is included in .NET 4.5 and .NET Core, so it will work on ASP.NET Core.
Use System.Net.Http.HttpClient to communicate over HTTP with GitHub web services. And you need to remove Microsoft.Net.Http (whitch it depend to two other packages :wink: ).

[2016-04-08 12:54] #1257 closed

[2016-04-08 15:24] kivancmuslu opened #1258 "Octokit.CompareResult does not include merge_base_commit field of the GitHub Api"
Hi,

GitHub compare Api (https://developer.github.com/v3/repos/commits/#compare-two-commits) specifies the "merge_base_commit" field. Unfortunately, OctoKit.CompareResult (return value of await IGitHubClient.Repository.Commit.Compare(..)), does not contain a property for the "merge_base_commit" field. The closest it has is "MergedBaseCommit", however it always returns "null".

Are there any plans

[2016-04-08 15:31] Andychochocho commented on #1253
Hey there - I'm new to open source projects, but would like to take this on.

[2016-04-08 15:33] shiftkey commented on #1258
I believe this is just a typo - note the `d` that's included on the C# property:

With Octokit we map properties using conventions, which would explain what happened (or didn't happen) here.

We have a bunch of tests around compare in [`RepositoryCommitsClientTests.cs`](https://github.com/octokit/octokit.net/blob/master/Octokit.Tests.Integration/Clients/RepositoryCommitsClientTests.cs) but I can't

[2016-04-08 15:34] shiftkey commented on #1253
@Andychochocho sounds good!

[2016-04-08 15:37] kivancmuslu commented on #1258
I also thought it was something simple. Thanks for the quick response @shiftkey!

[2016-04-08 15:39] shiftkey commented on #1258
@kivancmuslu I can help to co-ordinate a hotfix release (currently there's a lot of new features on `master`) if someone is interested in tidying this up in a PR:

  - add the new property
  - mark the old one as obsolete
  - add a test to verify this behaviour

[2016-04-08 19:13] kivancmuslu commented on #1258
@shiftkey, no promises on the delivery time, but I will see what I can do during the weekend.

Just a quick question: when the typo is fixed, does parsing (and the correct value filling in) happen automatically or do I need to update the parse logic as well?

I am an Octokit consumer, but am very new to how Octokit internally works. Sorry if the question is obvious.

[2016-04-10 18:33] shiftkey commented on #1258
@kivancmuslu

No need to worry about changing the parsing logic - for reference it's [this component](https://github.com/octokit/octokit.net/blob/master/Octokit/Http/SimpleJsonSerializer.cs#L24) that does the deserializing and [this is the magic rule for mapping properties from C# to JSON](https://github.com/octokit/octokit.net/blob/master/Octokit/Helpers/StringExtensions.cs#L81-L85)

[2016-04-11 04:35] prayankmathur opened #1263 "improve documentation for interacting with Pages API"
After having a discussion with @shiftkey and referring to the [docs](https://developer.github.com/v3/repos/pages/), we found that any normal integration tests won't be of any use as you need to be an authenticated owner of the repository to use the Pages API.

Refer to #1213 and especially conversation after this [comment](https://github.com/octokit/octokit.net/pull/1213#issuecomment-203437170) fo

[2016-04-11 10:32] devkhan commented on #1151
Can be closed now.

[2016-04-11 10:32] devkhan commented on #1153
Can be closed now.

[2016-04-11 10:32] devkhan commented on #1155
Can be closed now.

[2016-04-11 10:48] devkhan commented on #1173
Can be closed now.

[2016-04-11 10:48] devkhan commented on #1237
Can be closed now.

[2016-04-11 11:07] #1155 closed

[2016-04-11 11:08] #1153 closed

[2016-04-11 11:08] #1151 closed

[2016-04-11 11:11] #1237 closed

[2016-04-11 11:12] #1173 closed

[2016-04-11 13:24] ryangribble commented on #1151
Fyi for anyone not aware of this github feature, if when you mention an issue in PR, you use words like "fixes #1151" or "resolves #1151" "fixes #issue" then the issue is automatically closed when PR merged. So including those words in your PR will avoid needing to manually close out issues 😁

[2016-04-11 14:17] devkhan commented on #1151
@ryangribble I know about that, but that didn't work if the PR opener doesn't have appropriate access rights to close the issue. Maybe I'm wrong, I don't know for sure.

[2016-04-11 15:48] dampir commented on #1151
@ryangribble tnx, I will do that in future. For some reasons I've used "refers" instead of "fixes" :smile:

@devkhan As far as in [github blog post](https://github.com/blog/1506-closing-issues-via-pull-requests) nothing mentioned about rights, I guess auto close should work.

Maybe you confused with this: [Closing issues via commit messages](https://github.com/blog/1506-closing-issues-via-pull-req

[2016-04-11 19:27] shiftkey commented on #1151
I don't believe this is the case. Please mention `Fixes #XXX` in the PR title.

[2016-04-11 19:29] #1258 closed

[2016-04-12 07:28] devkhan commented on #1065
Can be closed now.

[2016-04-12 07:28] devkhan commented on #1150
Can be closed now.

[2016-04-12 07:29] devkhan commented on #1154
Can be closed now.

[2016-04-12 08:00] #1154 closed

[2016-04-12 08:00] #1150 closed

[2016-04-13 01:36] #1065 closed

[2016-04-13 22:36] M-Zuber opened #1270 "Obsolete attribute on interfaces and implementations"
In the course of #1224 it was discovered that (in at least one place) a method was obsoleted, but the attribute was not added in both places.

Should such a check be added into the `Conventions` test project or somewhere else?

[2016-04-13 22:48] shiftkey commented on #1270
@M-Zuber I think this is a good thing to do, but I'll leave it up to someone who is brave enough (and knows enough reflection) to dive into this and make it work broadly (think methods versus properties and interfaces versus all implementations available).

[2016-04-14 04:07] #1157 closed

[2016-04-14 13:52] MikhailTymchukDX opened #1271 "The request was aborted: Could not create SSL/TLS secure channel."
I try to run the [first sample](https://github.com/octokit/octokit.net/blob/master/samples/linqpad-samples/1-introducing-octokit.linq):
[code]

However, I get an error "The request was aborted: Could not create SSL/TLS secure channel.".
![octocat](https://cloud.githubusercontent.com/assets/17080984/14530395/8682b834-0261-11e6-863a-58a8256dbc83.png)

Accessing GitHub API via browser works OK.

I'm

[2016-04-14 19:33] shiftkey commented on #1271
The error message itself suggests something is interfering with the TLS handshaking that your computer and `api.github.com`. This often occurs when the client isn't able to validate the certificate it gets from the server. If you have a look at the stack trace for that error it'll likely be deep inside the bowels of `System.Net.Http` stack - way beyond anything that Octokit can control.

My gut fe

[2016-04-15 14:57] MikhailTymchukDX commented on #1271
Well, I did this, but breakpoint can not be hit - I get an exception before this line is executed.

[2016-04-15 18:45] devkhan commented on #1271
Just a wild guess, but can you try opening `api.github.com` in VS's internal browser?

It may be informative if it is a certificate related problem, AFAIK.

[2016-04-15 23:35] shiftkey commented on #1271
It's hard to say without more information what's happening here.

Which browser?

[2016-04-16 09:55] MikhailTymchukDX commented on #1271
@devkhan I can not reach [this url](https://api.github.com/repos/DevExpress/AjaxControlToolkit/issues?state=closed&filter=all) from inside VS:
![image](https://cloud.githubusercontent.com/assets/17080984/14580301/f5af11b4-03d1-11e6-98a5-a5d90b0a391c.png)

@shiftkey I tried IE 11 and Chrome, both OK.
However, Firefox gives me this:
![image](https://cloud.githubusercontent.com/assets/17080984/145803

[2016-04-18 05:39] dampir commented on #1176
Can be closed now.

[2016-04-18 10:09] shiftkey commented on #1231
Closing this after the work done in #1246. Please open a new issue if there are further ideas about this.

[2016-04-18 10:09] #1231 closed

[2016-04-18 10:49] dampir commented on #1169
I guess here needed update only one method

`Task<IReadOnlyList<ReleaseAsset>> GetAllAssets(String owner, String name, Int32 id)`

GetAll method is already implemented.

[2016-04-18 15:37] MikhailTymchukDX commented on #1271
Thanks everyone for helping, I found the cause of the problem.
It was ESET Antivirus bug, that blocks all HTTPS requests until explicitly allowed.
Chrome an IE were in exclusion lists, so they work OK.

[2016-04-18 15:37] #1271 closed

[2016-04-18 21:50] shiftkey commented on #1169
@dampir  :thumbsup:

[2016-04-18 22:16] #1156 closed

[2016-04-18 22:36] M-Zuber commented on #1208
I am voting for leaving a namespace that matches the project name, but dropping any further levels.

Files that currently have **no** namespace can stay that way.
I would also include adding a test to `Conventions` to the PR.

@shiftkey @Haacked @ryangribble any feedback please?

[2016-04-19 07:13] dampir commented on #1177
Can be closed now I guess.

[2016-04-19 07:25] #1177 closed

[2016-04-19 07:51] shiftkey commented on #1162
[`GetAllEmoji`](https://developer.github.com/v3/emojis/) doesn't support pagination. I'll need to figure out a way to exclude that when it comes time to verify this.

[2016-04-19 08:11] shiftkey commented on #1162
Actually, dropping myself from this as `MiscellaneousClient` doesn't use `IApiConnection` here - just `IConnection` - and this doesn't have any of the `ApiOptions` overloads available.

Come back to this after all the others are done.

[2016-04-19 09:11] shiftkey commented on #1168
Parking this one because of a bug with the API for `GetAllForSubNamespace`:

[code]

[2016-04-19 09:54] ryangribble commented on #1208
It's very unfortunate because not even thinking about files where extra namespace levels were added due to folder path, we seem to have a real mix of unit and integration tests where some files have a namespace and others have none.  My OCD wants things to be consistent, particularly now it's been brought to attention, but yeah im not sure if the code/indentation churn is worth it...

Pretty tough

[2016-04-19 11:37] joaope commented on #1270
Hi! I'm grabbing this one up if it's ok with you.

[2016-04-19 12:45] M-Zuber commented on #1208
Yeah I meant the the test should only fail if there **is** a namespace and it doesn't match the project

[2016-04-19 16:50] ikourfaln commented on #1115
So @shiftkey. whats the status of this issue ?!

[2016-04-19 21:39] shiftkey commented on #1115
@ikourfaln I've been experimenting with .NET Core for the upcoming RC2 bits (not on this project, on something more complex). My current focus is wrapping up the `ApiOptions` release, and by the time that's done I think the RC2 tooling bits like `dotnet cli` should be ready for mainstream.

However I've got way too much on my plate these days (and over the coming months) and none of it needs .NET

[2016-04-21 11:05] devkhan commented on #1179
The mentioned methods are obsolete and marked for removal. And `User.Keys.*` are advised instead. Do we still need to add the ApiOptions overloads to these or #1183 will suffice?

[2016-04-22 00:12] shiftkey commented on #1179
@devkhan you're right, let's skip this

[2016-04-22 00:12] #1179 closed

[2016-04-26 12:50] elv1s42 opened #1284 "SearchUsers does not return Name and PublicRepos count"
The following code:
[code]
does not return all information (user.Name and user.PublicRepos are empty). See this test run in VS 2015:

![screenshot](https://cloud.githubusercontent.com/assets/6689884/14818409/a5611094-0bc5-11e6-8c11-31d816a532e7.png)

API url (https://api.github.com/users/epam) returns correct data.
This issue can be reproduced in my project: https://github.com/elv1s42/gh-org-compa

[2016-04-26 16:10] ryangribble commented on #1284
Hi,

Thanks for reaching out...

I haven't runtime tested this as I'm not at a computer currently, but if you have a look at the [API docs](https://developer.github.com/v3/search/#search-users) for the search user call and the example json response, it doesn't return a full `User` object (with the properties you are wanting), it only appears to return a smaller subset of information.

Unfortunatel

[2016-04-26 16:24] elv1s42 commented on #1284
@ryangribble thanks!
I did not notice that in API docs and expected to see full objects.

Looks like this is not an issue at all.
I will try your approach, thanks.

[2016-04-26 16:24] #1284 closed

[2016-04-27 23:44] shiftkey opened #1285 "readthedocs links now need to be .io, not .com"
Just got an email with these details from the Read The Docs team (couldn't find a URL to point at):

We're being redirected as expected, but we should update anywhere in the `README.md` or `CONTRIBUTING.md` docs that refer to this explicitly...

[2016-04-29 04:16] #1170 closed

[2016-04-29 04:17] #1183 closed

[2016-04-29 04:19] #1227 closed

[2016-05-05 08:53] M-Zuber commented on #1208
So how do we reach a consensus on this, so I can either code or close?

[2016-05-05 10:03] shiftkey commented on #1208
@M-Zuber assigning myself to look at this tomorrow

[2016-05-05 10:04] #1285 closed

[2016-05-05 11:19] radu-matei commented on #1253
What should be the course of action: adding a new property and modifying all references to it? (In this scenario, what happens with the old property?)

Or renaming `Keys` to `GitSshKeys` directly?

[2016-05-08 09:29] caseycraig commented on #1253
Because it's easier

On Thu, May 5, 2016 at 6:19 AM, Radu Matei <notifications@github.com> wrote:

[2016-05-08 09:35] radu-matei commented on #1253
@caseycraig I don't really understand your comment.

What is easier?

[2016-05-11 09:17] shiftkey commented on #1253
@radu-matei @caseycraig when it comes to deprecating properties and types we should follow this pattern:

 - mark the existing property or type as `[Obsolete]` so that it's easier to find all references
 - add in a new property or type with the correct name
 - update all usages internally to point to the new method
 - add a comment to the `[Obsolete]` to indicate what needs to be done (i.e. use th

[2016-05-12 05:44] M-Zuber commented on #1243
One thing to pay attention to is that requesting a specific issue will not return the `repository` key.
How would you suggest we deal with this?

[2016-05-12 06:58] M-Zuber commented on #1076
[Linux] "Got a SIGSEGV while executing native code." https://gist.github.com/M-Zuber/7efea02cbf47fb310131982bbfcbd63b
https://travis-ci.org/octokit/octokit.net/builds/129625518

[2016-05-14 12:55] dimitrisTim commented on #869
I am trying to use the client.Repository.Commit.Get method, to get every file that a commit has changed. But if the commits are too many (let's say more that 1000), this method of obtaining the info is very slow. Any thoughts?

[2016-05-14 13:09] shiftkey commented on #869
@dimitrisTim can you please open a new issue with more information and/or a code sample of what you're trying to achieve? Thanks!

[2016-05-14 13:21] dimitrisTim opened #1293 "Getting all the changed files from all the commits"
I am trying to get every file that has been changed in a repo, by every commit. Then I store the files in a list, so that I can count how many times every file has been changed.
Code:

[code]

However, if the number of commits is high (let's say 1000), this method is totally slow and useless. Any thoughts?

[2016-05-14 13:38] shiftkey commented on #1293
I'm not sure how we can optimize this "all files and then all commits" scenario but there's a few optimizations I can think of. Apologies if this doesn't compile, I'm writing it from scratch.

First, you can grab all the files which exist on a given branch like this:

[code]

Then, you can query for all commits associated with a given file:

[code]

It's still time-consuming, but now the number of

[2016-05-14 14:09] dimitrisTim commented on #1293
Thanks a lot. That was the other idea I had but didn't know how to implement. It works, with a change on how you get the file paths:

var files = await client.Git.Tree.GetRecursive (Owner,Name, "master");
var filePaths = files.Tree.Select (x => x.Path);
var stats = new Dictionary<string, int>();
			foreach (var path in filePaths)
			{
				var request = new CommitRequest { Path = path };
				var co

[2016-05-14 14:12] shiftkey commented on #1293
Oh yes, silly me - the tip commit doesn't reflect the whole tree, just the files changed in that commit!

I'm glad the rest helped though!

[2016-05-14 14:12] #1293 closed

[2016-05-14 19:11] caseycraig commented on #1293
It's an octodecimal hypermobius?
On May 14, 2016 8:21 AM, "dimitrisTim" <notifications@github.com> wrote:

[2016-05-16 06:36] caseycraig opened #1294 "Data"
Git doesn't control the universe bro.

[2016-05-16 06:38] shiftkey commented on #1294
![](https://media.giphy.com/media/bSllM1kdw7C7e/giphy.gif)

[2016-05-16 06:38] #1294 closed

[2016-05-17 08:51] ja1984 opened #1295 "Add reactions to issue comments response payload"
Github have added reactions to the issues, comments and pull requests. It would be a really cool feature to have, it's however opt in via header for now.

https://developer.github.com/changes/2016-05-12-reactions-api-preview/
https://developer.github.com/v3/issues/comments/#list-comments-on-an-issue

application/vnd.github.squirrel-girl-preview
The reactions key will have the following payload whe

[2016-05-17 13:55] shiftkey commented on #1295
@ja1984 I'd love to see this land with some preview support. As it looks like the reactions model are the same shape whether it is for issues, issue comments, pull requests or review comments we can roll this out gradually. The first PR can add the model, set the preview header and add some tests - and the others can follow.

I've renamed this task to focus on issue comments, and I'll open tasks f

[2016-05-17 14:04] shiftkey opened #1296 "Add reactions to issue response payload"
Link: https://developer.github.com/v3/issues/#preview-period-org-issues

Before we do this, let's get #1295 resolved as that will involve much of the groundwork.

After that, here's what I think needs to be done:

 - add `Reactions` property to `Issue` response model
 - include the preview header to methods in `IssueClient` which return issues:  `application/vnd.github.squirrel-girl-preview`
 - ad

[2016-05-17 14:08] shiftkey opened #1297 "Add reactions to commit comment payload"
Link: https://developer.github.com/v3/repos/comments#preview-period-commits-comments

Before we do this, let's get #1295 resolved as that will involve much of the groundwork.

After that, here's what I think needs to be done:

 - add `Reactions` property to `CommitComment` response model
 - include the preview header to methods in `RepositoryCommentsClient` which return commit comments:  `applicat

[2016-05-17 14:11] shiftkey opened #1298 "add reactions to review comment payload"
Link: https://developer.github.com/v3/pulls/comments#preview-period-pull-comments

Before we do this, let's get #1295 resolved as that will involve much of the groundwork.

After that, here's what I think needs to be done:

 - add `Reactions` property to `PullRequestReviewComment` response model
 - include the preview header to methods in `PullRequestReviewCommentsClient` which return commit comme

[2016-05-17 14:24] shiftkey opened #1299 "create reaction for pull request comment"
Link: https://developer.github.com/v3/reactions/#create-reaction-for-a-pull-request-review-comment

This is a new endpoint which should live in `IPullRequestReviewCommentClient`

`POST /repos/:owner/:repo/pulls/comments/:id/reactions`

Example request payload:

[code]

As these are a limited subset of emojis, the request object should use an enumeration of values - rather than a regular string.

E

[2016-05-17 14:29] shiftkey opened #1300 "create reaction for issue"
Link: https://developer.github.com/v3/reactions/#create-reaction-for-an-issue

This is a new endpoint which should live in `IIssuesClient`

`POST /repos/:owner/:repo/issues/:number/reactions`

Example request payload:

[code]

As these are a limited subset of emojis, the request object should use an enumeration of values - rather than a regular string.

Example response payload:

[code]

 - (if no

[2016-05-17 14:31] shiftkey opened #1301 "create reaction for issue comment"
Link: https://developer.github.com/v3/reactions/#create-reaction-for-an-issue-comment

This is a new endpoint which should live in `IIssueCommentsClient`

`POST /repos/:owner/:repo/issues/comments/:id/reactions`

Example request payload:

[code]

As these are a limited subset of emojis, the request object should use an enumeration of values - rather than a regular string.

Example response payload

[2016-05-17 14:33] shiftkey opened #1302 "create reaction for commit comment"
Link: https://developer.github.com/v3/reactions/#create-reaction-for-a-commit-comment

This is a new endpoint which should live in `IRepositoryCommentsClient`

`POST /repos/:owner/:repo/comments/:id/reactions`

Example request payload:

[code]

As these are a limited subset of emojis, the request object should use an enumeration of values - rather than a regular string.

Example response payload:

[2016-05-17 14:37] shiftkey opened #1303 "Delete a Reaction"
Link: https://developer.github.com/v3/reactions/#delete-a-reaction

As this is a standalone API not tied to specific resources, this should live in a new `IReactionsClient` (with an equivalent `IObservableReactionsClient` for Octokit.Reactive) as a property of the root `IGitHubClient`.

It only needs one method at this stage, which returns a `Task` (or `IObservable<Unit>`) but you'll need to send

[2016-05-18 09:13] #1243 closed

[2016-05-20 08:36] shiftkey commented on #1236
Implemented in #1245

[2016-05-20 08:36] #1236 closed

[2016-05-20 11:02] #1178 closed

[2016-05-20 11:47] shiftkey commented on #1175
Done in #1307

[2016-05-20 11:47] #1175 closed

[2016-05-20 21:36] lrz-hal commented on #1302
HI Shiftkey,

i'm working on this feature. Is this Ok?

[2016-05-20 22:06] joe307bad opened #1309 "Get all commits and details of those commits"
How do I get all commits of a repo, plus the details of those commits. This is the best I have come up with:

        var client = new GitHubClient(new ProductHeaderValue("joe307bad-commits"));

            var repository = await client.Repository.Commit.GetAll("joe307bad", "portfolio_wp");

            var commitsFiltered = repository.Select(async(_) =>
            {
                return await

[2016-05-21 07:10] shiftkey commented on #1302
@lrz-hal that's fine, thanks for the heads up!

[2016-05-21 10:07] shiftkey commented on #1309
@joe307bad when you mean details, what exactly are you looking to get out of the API?

Also, a similar question was asked in https://github.com/octokit/octokit.net/issues/1293 and we walk through some options there...

[2016-05-21 19:21] joe307bad commented on #1309
I had actually seen that question and formulated the above code based on that.

I am mainly looking to get the commit stats (which seems like a pretty small piece of data) without having to make a separate `Commit.Get` request for each individual commit returned from `Commit.GetAll`. This seemed like an inefficient way to get a small piece of data associated with all commits.

I thought my questio

[2016-05-21 21:04] shiftkey commented on #1309
Yeah, unfortunately the response for `GetAll` doesn't have the stats or files changed in a commit - here's the [example payload](https://developer.github.com/v3/repos/commits/#list-commits-on-a-repository).

If you're aggregating the stats for a range of commits, what about if you were to compare two commits, like this?

[code]

This isn't as granular as checking each commit, but might work for yo

[2016-05-23 21:05] shiftkey commented on #1172
Fixed in #1310

[2016-05-23 21:05] #1172 closed

[2016-05-23 22:35] joe307bad commented on #1309
That's an interesting approach. I am actually just looking to output a simple list of most recent commits and minor details on each commit. I felt the commit message, commit date, and commit stats would provide a good snapshot for a commit, which is why I was surprised commit stats were not in the commit payload you referenced.

Thanks for the help.

[2016-05-23 22:47] shiftkey commented on #1309
@joe307bad the short version of the long story is that `GetAll` becomes expensive to execute when you have to dig into the underlying tree/s and blobs and work out the changes between it and the parent commit, for each commit in the range of history.

Closing this out for now. Best of luck!

[2016-05-23 22:47] #1309 closed

[2016-05-23 22:52] ragnarok513 opened #1314 "Need to modify pull request commit message"
I am working on migrating my code base to GitHub.  One of the requirements that I have is that I need to prepend the pull request commits with a specific string.  Does the GitHub API allow me to hook on to the pull request's "merge" event and modify the default commit message?

[2016-05-23 23:02] shiftkey commented on #1314
Not sure I understand the problem completely, but you have a couple of options:

 - the commits in a PR cannot be changed while under review - to change existing commits you need to rewrite the branch directly and push, which will then sync the PR on GitHub
 - when the PR is synced (aka updated) you could verify the commit messages for the commits to be merged, and then set a failed commit status

[2016-05-23 23:22] ragnarok513 commented on #1314
hi shiftkey,

Thanks for the quick response!  I understand the the commit message inside the PR can't be changes.  What I want to do is tack on a string to the pull request merge commit message.

Right now in GitHub website when I click on the merge pull request button my commit message for the merge is prepopulated with "Merge pull request #5 from ragnarok513/test".  If my branch name was named B

[2016-05-23 23:40] ragnarok513 commented on #1314
Some context for you....

My users are going to be directed to use the Github website to initiate and complete pull requests.  I have a webhook that enforces that the pull request must also have my custom labels attached before merging.  I need to also enforce that the pull request commit message starts with something like "Bug-123".  I didn't find a capability to validate the pull request commit

[2016-05-24 00:07] shiftkey commented on #1314
Unfortunately that sort of web hook (enforce merge commit message) isn't available currently. I'm not sure of alternatives aside from what you've mentioned above...

[2016-05-24 09:01] dampir opened #1315 "Do Contents support pagination?"
I guess that I've found a bug in Github API. I was implementing pagination support for IRepositoryContentsClient and found out that Contents do not support pagination.

This query

[](https://api.github.com/repos/octokit/octokit.net/contents?page=1&per_page=2)

return all contents of repo, but should return only 2 items.

/cc @shiftkey, @ryangribble

[2016-05-24 10:17] dampir opened #1318 "Incorrect order of parameters on IObservableRepositoryContentsClient.GetAllContentsByRef"
I've found out that method IObservableRepositoryContentsClient.GetAllContentsByRef ([here](https://github.com/octokit/octokit.net/blob/172b1a632ea8e64755128934d92d79ea068d4e8f/Octokit.Reactive/Clients/IObservableRepositoryContentsClient.cs#L107)) has incorrect order of parameters.

As is:

[code]

As should be:

[code]

/cc @shiftkey @ryangribble

[2016-05-24 10:18] dampir commented on #1318
I'm going to fix that, but I can't use standard approach "create new method, fix all usages, mark old methods by Obsolete attribute", because in this case type of parameters is equal (string). So it will be breaking change in this case. In what way it should be fixed?

[2016-05-24 11:28] ryangribble commented on #1314
one other suggestion i have is that by using the commit status API and protected branches features, you can effectively "stop" PR's from being merged if the status checks havent passed.  You could potentially set a status check as pending that will never be passed, thus stopping the users from merging PRs on github.com web site.  Then you provide them with your own tool/script/webUI that will set

[2016-05-24 11:51] ryangribble commented on #1318
So this is an inconsistency but not actually a "problem" currently right?  Because inside the Observable implementation it does pass the correct order of parameters through to the normal client.

Id be tempted to say that although inconsistencies are annoying, we shouldnt make a breaking change just to order the parameters in the observable client the same as the normal client...

[2016-05-24 12:19] dampir commented on #1318
Yeah, all worked :smile: ! I'm not insisting on fixing in any case, just I was wonder :scream_cat:  when I found it. And yes, breaking changes are very bad, but I thought that since version of Octocit.NET is far from 1.0 and maybe users are ready to breaking changes, so it can be fixed as far as it was located.

[2016-05-24 12:28] shiftkey-tester commented on #1318
Let's not break this yet. We've got a few things we should clean up that are far more urgent than this...

[2016-05-24 12:56] ryangribble commented on #1029
Implemented by #1141

[2016-05-24 12:56] #1029 closed

[2016-05-24 13:24] ryangribble opened #1319 "Missing `permissions` attribute on repository collaborators and teams' repositories calls"
I was writing a script to pull some auditing information from our github enterprise server when I stumbled into this one today.  We are missing the `permissions` section of the response on repository collaborators and team repositories, which indicates the admin/push/pull permissions.

Here are the items I found so far that have the `permissions` attribute.  It's also worth noting that this was in

[2016-05-24 13:27] ryangribble commented on #1101
Also note that as part of this GitHub API change, they indicated that the `permission` parameter when creating and editing Teams is deprecated.  So potentially on our `NewTeam` and `UpdateTeam` request model classes, we should mark that field as `Obsolete`

[2016-05-24 13:38] ryangribble opened #1320 "Add or Update Team's Repository - missing permission parameter"
Related to the [Organisation/Team permission changes from last year](https://developer.github.com/changes/2015-06-24-api-enhancements-for-working-with-organization-permissions/#preview-period)

When adding/updating a team's access to a repository, [there is a `permission` parameter](https://developer.github.com/v3/orgs/teams/#parameters-3) to control the level of access, we are currently not setti

[2016-05-24 14:21] dampir commented on #1318
So I don't mind if it would be closed :+1:

[2016-05-25 11:13] #1152 closed

[2016-05-25 11:14] #1167 closed

[2016-05-25 11:17] #1169 closed

[2016-05-25 11:40] dampir commented on #1159
@ryangribble sorry, I forgot "fixes" magic word in PR :dizzy_face:  Can be closed for now :+1:

[2016-05-25 11:42] ryangribble commented on #1159
Fixed by #1321

[2016-05-25 11:42] #1159 closed

[2016-05-25 18:44] k122085 opened #1327 "Download files in the Repo"
Is there any way of downloading complete repository from a given owner and repo. and store them in a local folder. just like git clone command in cmd.

[2016-05-25 21:50] ryangribble commented on #1327
I don't believe so...

You can download an archive of the entire repository at any specified reference (branch, commit, tag etc)  in zip or tar format, using the [`client.Repository.Content.GetArchive()`](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IRepositoryContentsClient.cs#L122) calls, but that's a copy at a point in time, not the entire repo including history and commit

[2016-05-25 22:08] k122085 commented on #1327
Alright. Thank you for the response.

[2016-05-25 23:46] shiftkey commented on #1327
Seconding what @ryangribble said - it's not something Octokit or the GitHub API supports.

[2016-05-25 23:46] #1327 closed

[2016-05-26 11:38] #1184 closed

[2016-05-26 11:51] #1166 closed

[2016-05-26 12:37] ryangribble commented on #1302
@shiftkey I have a question over the proposed implementation of these reaction calls.

In the github API docs, these all sit underneath a top level "Reactions" section... so wouldnt that mean for octokit.net we should be creating a new `ReactionsClient` with the various methods under that, rather than adding `CreateReaction()` methods under each of the Repository PullRequest, Commit, Comment etc c

[2016-05-26 13:21] shiftkey commented on #1302
@ryangribble I'm not locked into the approach that I've chosen, so I can be talked off this ledge.

There's a couple of places in the API documentation where the structure doesn't reflect the underlying resources (for example, Pull Requests) and this one I'm pushing back on for a couple of reasons:

 - it's new code and also a preview API
 - the new endpoints build on existing resources
 - for con

[2016-05-26 19:22] M-Zuber commented on #1302
Documentation wise I swing either way, but for implementations - definitely feel each client that needs reactions should have such a method.

One idea that I have no idea if it's feasible as I'm not checking code is to have an interface that defines the reaction methods and then clients that expose that will provide specific implementation

[2016-05-27 03:06] shiftkey commented on #1174
Closing this out as the underlying API doesn't support pagination.

[2016-05-27 03:06] #1174 closed

[2016-05-27 03:07] shiftkey commented on #1315
Let's not worry about this one - because of the nuance of serving up a directory versus serving up a file, I don't expect pagination to be added here anytime soon.

[2016-05-27 03:07] #1315 closed

[2016-05-27 03:15] shiftkey commented on #1318
@dampir I'm happy to leave it open.

[2016-05-27 03:24] shiftkey commented on #1101
👍

[2016-05-27 03:27] shiftkey commented on #1314
@ryangribble I like that idea. Some people might not, but if you're looking for process then it's the easiest way to lock it down...

[2016-05-27 06:14] maddin2016 commented on #1302
So then each client should also have a delete and a get method. Right?

[2016-05-27 06:21] shiftkey commented on #1302
@maddin2016 I've grouped up all the open issues under the `reactions` label:

https://github.com/octokit/octokit.net/issues?q=is%3Aissue+is%3Aopen+label%3Areactions

[2016-05-27 07:19] shiftkey commented on #1161
Fixed in #1312

[2016-05-27 07:20] #1161 closed

[2016-05-27 09:20] ryangribble commented on #1302
That's what's getting me a bit unstuck though...  The delete method deletes ANY reaction, so it doesn't seem good to duplicate that on all the commit pull request issue issue comment etc clients. But having delete sitting out on it's own under a Reactions client isn't intuitive either. This is why I was questioning why we wouldn't just parallel the official documentation structure and have it all

[2016-05-27 11:17] maddin2016 commented on #1302
For me the api not feels (I dont find a better word for it) naturally. If you look at the api docs, there are root objects like gists, repositories, issues **and** reactions. All except reactions ( i exclude labels because i dont understand why they stay under issues. For me labels are also root objects because i can get and create labels for repositories and labels for issues. But this belongs to

[2016-05-28 00:00] shiftkey commented on #1302
:thumbsup: to bringing it all under the root `Reaction` object. I'll go through and clarify those issues now.

[2016-05-28 04:51] ryangribble commented on #1314
Yeah commit statuses and protected branches offer great flexibility from "carrot" based suggestions to "stick" based enforcement depending on individual teams/repos needs

[2016-05-28 11:00] maddin2016 commented on #1302
👍

[2016-05-28 14:41] dampir commented on #1164
This method
[code]
was fired by 0a0829d5

[2016-05-29 06:24] shiftkey commented on #1314
Closing this out as I think we've covered a bunch of alternatives to the proposed requirements.

[2016-05-29 06:24] #1314 closed

[2016-05-29 06:32] #1160 closed

[2016-05-29 11:13] dampir opened #1333 "Integration tests of INotificationsClient"
Refer #1330

I've found out that there are no integration tests of INotificationsClient in the project. I tried to add it, but found out that I can't create any notifications from myself (by the way, it is make sense). To push out any notifications for user, other user have to trigger event that will send notification. So, to test notifications properly we have to have two credentials in environme

[2016-05-30 13:21] adamralph opened #1334 "Support for multiple assignees"
As per https://github.com/blog/2178-multiple-assignees-on-issues-and-pull-requests

This feature is amazeballs, and [we](https://github.com/Particular) want to start using it ASAP. Currently, we list all the assignees in a CSV string in the issue description (e.g.https://github.com/Particular/NServiceBus/issues/3342), and we have [some automation](https://github.com/Particular/PBot/blob/master/src

[2016-05-30 13:29] adamralph commented on #1334
The code I pointed is for the query, of course. I could also just retrieve all issues, and look through the list of assignees, but it seems like that list is also not yet exposed. `Octokit.Issue` only has a singular `Assignee` property.

[2016-05-30 13:30] shiftkey commented on #1334
@adamralph you are correct in that support isn't there.

I haven't had a chance to review all the areas where it's needed (I'm trying to wrap up the pagination release right now) but I'd love to see this happen.

cc @shana @paladique - we were discussing this just after it was made public.

[2016-05-30 13:31] adamralph commented on #1334
@shiftkey by chance, do you know if the API exposes it yet? I guess I could drop down to bare metal temporarily, depending on how you think Octokit might get his.

[2016-05-30 13:34] shiftkey commented on #1334
@adamralph I'll defer to @shana and @paladique to talk about their urgency for this being implemented, my focus is currently on other things at the moment...

[2016-05-30 21:09] ryangribble commented on #1334
Changes were only announced a few days ago so yeah, not implemented in octokit just yet! 😀

These are the details of the API changes if it helps:
https://developer.github.com/changes/2016-5-27-multiple-assignees/

Listing and creating and editing issues has new "assignees" parameter but there isn't any mention of the search API behaviour although you would hope it would now return an issue where t

[2016-05-31 06:48] adamralph commented on #1334
@ryangribble thanks very much for the info. Very useful. We don't have enormous urgency to support this in our automation so we may just wait for this to come out of preview (and be supported in Octokit) but in the meantime, if we do experiment with it, we'll report back and let you know how we get on.

[2016-05-31 06:49] shiftkey commented on #1334
@adamralph we're usually keen to get preview support into the APIs (we've not been burned by this yet) so expect it before GitHub drops the preview support and makes it part of the official API...

[2016-05-31 11:21] ryangribble commented on #1334
yeah sorry if that was misleading, from my observations such features sit in "preview" for a looooong time, so we definitely look to expose the preview functionality in octokit.net as soon as we can :grinning:

[2016-06-01 14:12] #1165 closed

[2016-06-01 14:16] #1164 closed

[2016-06-02 09:19] #1163 closed

[2016-06-02 09:21] #1158 closed

[2016-06-02 10:10] shiftkey commented on #1162
As [`List All Licenses`](https://developer.github.com/v3/licenses/#list-all-licenses) also lacks pagination this really isn't feasible to implement (or hack around). Closing it out.

[2016-06-02 10:10] #1162 closed

[2016-06-02 10:16] shiftkey commented on #1180
This was fixed in #1336

[2016-06-02 10:16] #1180 closed

[2016-06-02 11:46] shiftkey commented on #1171
I'll see if I can open this PR today and hopefully wrap up this release this week :metal:

[2016-06-02 15:31] shana commented on #1334
Looks like @paladique will start working on this in the next few days so hopefully you'll have this very soon 😄

[2016-06-03 08:14] shiftkey opened #1340 "IRepositoriesClient.GetAllPublic paginates in a different way to everything else"
https://developer.github.com/v3/repos/#list-all-public-repositories

This is different to the other pagination across the GitHub API, and it doesn't increment `page=` so it never completes. We have skipped integration tests here to cover us, so I'm going to come back to this after the ship and identify how to handle this (as there needs to be some internal state in pagination to emulate whatever p

[2016-06-04 01:29] alfhenrik commented on #1295
I'd like to get back and involved with Octokit.net again (been too long since I was 😢 ), mind if I grab this one?

[2016-06-04 07:30] ryangribble commented on #1295
Hey @alfhenrik that's awesome!

Just a heads up that some other related changes are occurring in #1335 (for creating and deleting the reactions)... For this issue you'd want to use the same `ReactionType` enum created there etc

[2016-06-04 11:12] alfhenrik commented on #1295
I'll get a start on this and add in a few `TODO`s to use the `AcceptHeaders.ReactionsPreview` property being introduced in #1335

[2016-06-04 21:57] alfhenrik commented on #1252
If no-one else has already picked this one up, I'll jump on it.

[2016-06-04 22:37] alfhenrik commented on #1252
OK, so the [blog post](https://developer.github.com/changes/2016-04-04-git-signing-api-preview/) specifies the preview header as `application/vnd.github.cryptographer-preview` while the [GPG Keys doco](https://developer.github.com/v3/users/gpg_keys/) specifies the preview header as `application/vnd.github.cryptographer-preview+sha`...so the question is, which one is correct?

I'm going to go with

[2016-06-06 07:16] maddin2016 commented on #1320
Hi @ryangribble, is there any option to try this out. Because i dont have access to github enterprise. And second question, is there someone still working on this issue?

[2016-06-06 08:45] ryangribble commented on #1320
This one doesn't require GitHub Enterprise (i take it you already realised that based on the strikethrough text)

I recently pushed up #1342 which addresses #1319, but I haven't done anything on this issue yet, so feel free to take this if you want!

[2016-06-06 09:03] maddin2016 commented on #1320
:+1:

[2016-06-07 07:06] shiftkey commented on #1252
@alfhenrik both worked for me, but given History™ I'd recommend using `application/vnd.github.cryptographer-preview` here.

I'll speak to the team to confirm this is right and get the docs addressed.

[2016-06-07 07:15] alfhenrik commented on #1252
@shiftkey cheers, I'll update my PR later tonight

[2016-06-07 23:47] lbrader opened #1349 "missing "closed_by" data in response for single issue request"
https://github.com/octokit/octokit.net/blob/master/docs/issues.md

I'm retrieving a list of issues from a repository and if it's close I retrieve the single issue. The issue value returned from the single issue response - does not contain "Close_by" fields.

var issue = await client.Issue.Get("octokit", "octokit.net",#_of_issue);

The "issue" response is incorrect.

Reference https://developer.git

[2016-06-07 23:55] lbrader opened #1350 "How do I get an Issue "closed_by" data?"
https://github.com/octokit/octokit.net/blob/master/docs/issues.md

I'm trying to retrieve an issue json with the "closed_by" data.  I can get a JSON value back, but it's missing the "closed_by" data.

[2016-06-08 10:12] dampir commented on #1120
If nobody minds, here I'm going to track progress of implementation of this feature.

- [x] Collaborators (IRepoCollaboratorsClient, IObservableRepoCollaboratorsClient)
- [x] Comments (IRepositoryCommentsClient, IObservableRepositoryCommentsClient)
- [x] Commits (IRepositoryCommitsClient, IObservableRepositoryCommitsClient)
- [x] Contents  (IRepositoryContentsClient, IObservableRepositoryContentsC

[2016-06-08 10:48] maddin2016 commented on #1350
That's right. `ClosedBy` Attribute is missing. @shiftkey, is there any reason why this attribute is missing. Otherwise we can added to `IssueClient.cs`.

[2016-06-08 10:55] ryangribble commented on #1350
No reason for it to be missing...  just historical really,and evidently nobody has raised it/needed it until now

[2016-06-08 11:39] dampir commented on #1176
@shiftkey , @ryangribble

It is hard to say why, but this client does not have ApiOptions overload at this moment. Please reopen it , I'll deliver ApiOptions overloads here as far as possible.

[2016-06-08 12:22] #1320 closed

[2016-06-08 12:29] #1350 closed

[2016-06-08 14:23] #1319 closed

[2016-06-08 17:40] lbrader commented on #1350
Thanks!  And great work on Octokit.

From: Ryan Gribble [mailto:notifications@github.com]
Sent: Wednesday, June 8, 2016 5:30 AM
To: octokit/octokit.net <octokit.net@noreply.github.com>
Cc: Larry Brader <lbrader@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [octokit/octokit.net] How do I get an Issue "closed_by" data? (#1350)

Closed #1350<https://github.com/octokit/octokit.net/is

[2016-06-08 20:41] #1252 closed

[2016-06-08 21:32] #1253 closed

[2016-06-08 21:34] ryangribble commented on #1349
duplicate of #1350

[2016-06-08 21:34] #1349 closed

[2016-06-09 08:16] dampir commented on #625
@ryangribble, @shiftkey could this one be closed as solved because Octokit.NET in one little step from release with pagination support?

[2016-06-09 08:51] dampir commented on #827
I know it is the old question, but have some info about it.

since=0001-01-01T00%3A00%3A00Z isn't considered a valid date under /notifications
since=2001-01-01T00%3A00%3A00Z works fine

It is not exactly a corner case, because issue arises from dates in range from 0001-01-01 00:00:00 to 0999-12-31 23:59:59 i.e. when year is less that 1000 (YYYY < 1000). So, the next query not work too:

`
curl --u

[2016-06-09 12:10] #1176 closed

[2016-06-10 04:31] shaggygi opened #1358 "Missing Properties in Milestone Class"
Why doesn't the Milestone Class provide a HtmlUrl property similar to the Repository Class?  I noticed there is a Url property and the JSON returned includes a tag for html_url.  Is there another approach to get this information?

[2016-06-10 05:56] ryangribble commented on #1358
Any missing properties are not likely to be intentional, more so just historic or accidental.

Would you be happy to send a pull request that adds the property?

[2016-06-10 09:28] ErikSchierboom commented on #1301
I'd like to give this a try :)

[2016-06-10 11:02] shaggygi commented on #1358
Yes, I'll look into the PR.

[2016-06-10 11:24] ryangribble commented on #1358
Great!  Let us know if you need any help :+1:

[2016-06-10 11:30] ryangribble commented on #1301
Hi @ErikSchierboom, this one is actually implemented on PR #1335 which is about to be merged, sorry!

But there are some other "Reactions" related work not yet done, mostly the ones to include reaction information in the responses for Issues, PullRequestReviewComments etc
#1295, #1296, #1297 and #1298

@alfhenrik has #1295 covered in PR #1341 , but the other 3 havent yet had any PRs pushed up...

[2016-06-10 11:35] ErikSchierboomTest commented on #1301
Ouch, not the best of choices on my part :) I'll look at one of the other issues.

[2016-06-10 11:54] ErikSchierboom commented on #1249
I'll try and have a go at this.

[2016-06-10 12:08] dampir commented on #1076
[MAC OS]

https://gist.github.com/dampir/b96ee54c5153d8b6f5aed65340ba6e9e

https://travis-ci.org/octokit/octokit.net/jobs/136667692

[2016-06-11 07:54] maddin2016 commented on #1296
@shiftkey, i take this issue and #1297 and #1298 if this ok

[2016-06-12 23:19] shiftkey commented on #625
Fixed in https://github.com/octokit/octokit.net/pull/1240 and will be available in the next Octokit release...

[2016-06-12 23:19] #625 closed

[2016-06-13 16:32] dampir opened #1374 "Deserialization error on Activity type"
When I've tried implement new integration tests for IEventsClient.GetAllIssuesForRepository I've found out that Activity class cannot be deserialized by SimpleJsonDeserializer, because of this part of code
(https://github.com/octokit/octokit.net/blob/master/Octokit/Http/SimpleJsonSerializer.cs#L121 - https://github.com/octokit/octokit.net/blob/master/Octokit/Http/SimpleJsonSerializer.cs#L127):

[c

[2016-06-13 23:23] shiftkey commented on #827
@dampir I do like enforcing some validation within Octokit to catch this, with a sensible error message delivered to the caller

[2016-06-13 23:38] shiftkey commented on #1374
@dampir do you have a example of the failing test? I came across this a while ago, and I thought I wrote up an issue but perhaps I didn't...

[2016-06-13 23:38] shiftkey commented on #1374
Ah, I did: #1251

[2016-06-14 00:15] #1171 closed

[2016-06-14 06:11] shiftkey commented on #1374
Closing this one in favour of #1251 - I'll add some notes in there about what I've found recently...

[2016-06-14 06:11] #1374 closed

[2016-06-14 06:14] shiftkey commented on #1251
Here's some example events that I've found which break our current code for parsing activities...

 - A subscription event:

[code]

 - A mentioned event:

[code]

 - A head ref deleted (associated with a PR?):

[code]

 - A PR has been closed (this one was merged):

[code]

[2016-06-14 06:15] shiftkey commented on #1251
I think we need to review and/or revamp this area of the code - there's lots of values here that don't seem to be deserializing correctly even after you hack around the missing field that triggers the crash, so perhaps we need to rethink how to go about this...

[2016-06-14 18:29] dsplaisted opened #1381 "ApiValidationException failure when searching some repos for filename without a search term"
I am using Octokit.NET to search GitHub repos for `project.json` files.  This means [searching for a filename without specifying a search term](https://github.com/octokit/octokit.net/pull/1338).  When I try to do this with some repos, I am getting an ApiValidationException, with the following response body:

[code]

An example repo I get this error for is [brandonlw/Psychson](https://github.com/br

[2016-06-15 00:09] #1299 closed

[2016-06-15 00:33] shiftkey commented on #1381
This HTTP request seems to work for me:

[code]

Which corresponds to this code with Octokit v0.20:

[code]

But both of these queries don't return results, which seems to be the same as the web result mentioned above. Swapping in `dotnet/corefx` for the repository entry then returns 571 results.

Not sure what I'm missing here @dsplaisted, let me know if I've missed something...

[2016-06-15 01:03] dsplaisted commented on #1381
OK, debugging a bit more, it looks like the issue is I'm actually searching the `adamcaudill/Psychson`.  The web interface redirects this to `brandonlw/Psychson`, but the API is giving the failure I describe.  Is there a way via the API to check if the user (or repo) ID has been changed?

[2016-06-15 01:17] shiftkey commented on #1381
Yep, I see the same failure now.

[code]

Octokit.net follows these redirects directly - but the search endpoints doesn't give us that context. If you hit the endpoint you should receive a 301 with a response like this:

[code]

And then a GET gives you the new repository name:

[code]

[2016-06-15 06:51] alfhenrik commented on #1115
As I'm about to embark on a new .NET Core side project in which I'd (most likely) like to use Octokit I can have a look into this one

[2016-06-15 06:57] shiftkey commented on #1115
@alfhenrik now that Rx.NET preview packages supporting .NET Core are available - [details here](https://github.com/Reactive-Extensions/Rx.NET/issues/148#issuecomment-219506305) - this is now something we can start exploring. You're more than welcome to dive in!

[2016-06-15 07:21] #1295 closed

[2016-06-15 12:04] dampir opened #1386 "Add ApiOptions overloads to methods on Reactions clients"
For next clients ApiOptions overloads have to be added:

- [x] Commit Comment Reactions (ICommitCommentReactionsClient, IObservableCommitCommentReactionsClient) 2
- [x] Issue Comment Reactions (IIssueCommentReactionsClient, IObservableIssueCommentReactionsClient) 2
- [x] Issue Reactions (IIssueReactionsClient, IObservableIssueReactionsClient) 2
- [x] Pull Request Review Comment Reactions (IPullReq

[2016-06-16 00:40] shiftkey commented on #1381
Closing this out as a limitation with the search endpoint (and not something we can fix in the client).

On the upside, [it's been acknowledged](https://twitter.com/pea53/status/742909469076529152)

[2016-06-16 00:40] #1381 closed

[2016-06-16 08:39] Sarmad93 commented on #1254
@shiftkey i want to grab this one :smiley:

[2016-06-16 16:44] radu-matei commented on #1115
I don't think that converting to `project.json` is going to be required, since all .NET projects will use the `.csproj` file.

In a couple of weeks the RTM will be released, so I think it would be a great moment to start working on porting to .NET Core.

What do you people think?

[2016-06-17 00:03] shiftkey commented on #1115
Okay, so now I can finally talk about porting Rx.NET to .NET Core, have a look at our setup for one of the projects:

https://github.com/Reactive-Extensions/Rx.NET/blob/master/Rx.NET/Source/System.Reactive.Core/project.json

Feel free to repurpose this to suit - these bits are ready for GA in a couple of weeks.

[2016-06-17 01:05] dsplaisted opened #1396 "Timeout when getting multiple repositories that have been renamed"
The following test fails for me with a `TaskCancelledException` for the [`HttpClient.SendAsync`](https://github.com/octokit/octokit.net/blob/49f246f15b3c78db72b64666cbd1e5ca8f67c029/Octokit/Http/HttpClientAdapter.cs#L46) call, inside the second call to get a repository:

[code]

It does not fail if I instead use repos that have not been renamed:

[code]

It also does not fail if I have Fiddler run

[2016-06-17 01:24] daveaglick commented on #1396
The Fiddler thing has been noted before in #874

[2016-06-17 12:58] maddin2016 commented on #1396
This is because if you rename an repo or change the owner you get an `301 moced permanty`. In  `Octokit.Internal.HttpMessageHandlerFactory` we set `AllowAutoRedirect = false`
[code]

I have tested to set this to true, and voila, i get an response which contains the new owner. @ryangribble @shiftkey can you say which consequence it has to set this to true.

[2016-06-17 20:02] dsplaisted commented on #1396
OctoKit is [setting `AllowAutoRedirect` to `false`](https://github.com/octokit/octokit.net/blob/f354d1bf00ff7606b46489e3a915e1428414bc47/Octokit/Http/HttpMessageHandlerFactory.cs#L20) on the `HttpMessageHandler`, and then [wrapping it with another handler](https://github.com/octokit/octokit.net/blob/49f246f15b3c78db72b64666cbd1e5ca8f67c029/Octokit/Http/HttpClientAdapter.cs#L28) which [handles the

[2016-06-18 11:08] devkhan commented on #655
Should be closed?

[2016-06-18 21:22] #655 closed

[2016-06-19 11:18] ryangribble opened #1399 "Repository Invitations Changes"
### Summary
Recently announced on this [blog post](https://developer.github.com/changes/2016-06-14-repository-invitations/), Repository Invitations are now in preview in the GitHub API with changes in the following areas:

[Repository Collaborators](https://developer.github.com/v3/repos/collaborators/#add-user-as-a-collaborator) API
[Repository Invitations](https://developer.github.com/v3/repos/in

[2016-06-19 11:29] ryangribble opened #1400 "Auditing API response fields"
We've had a number of issues raised where users have found certain fields provided by the GitHub API arent implemented in Octokit.net (mostly due to historic reasons).  We have also found on more than one occasion that fields are included in Json payload responses that aren't necessarily shown in the official GitHub API docs.

I thought it would be interesting to add some trace logging to highligh

[2016-06-20 00:17] ryangribble commented on #1249
Fixed by #1365

[2016-06-20 00:17] #1249 closed

[2016-06-20 13:57] ryangribble commented on #1300
fixed by #1335

[2016-06-20 13:57] #1300 closed

[2016-06-20 13:57] ryangribble commented on #1303
fixed by #1335

[2016-06-20 13:57] #1303 closed

[2016-06-20 14:19] maddin2016 commented on #1396
It must have something to do with the new Request.
[code]
It only works for the first time. If you call it again, then you end in an error.
But If i cancel all pending requests for `_http` before you send a new request it works.
[code]
I don't know why but it seems that the first redirect request is not completed succesfully. I will try to find out why.

[2016-06-20 15:27] maddin2016 commented on #1296
Oops :see_no_evil: Of course!!! I didn't recognized that #1341 was merged. Thanks for the update

[2016-06-21 20:36] mssealsbuzz opened #1403 "Issue.PullRequest is not fully populated when calling IGitHubClient.Search.SearchIssues?"
When calling IGitHubClient.Search.SearchIssues, Issue.PullRequest is not fully populated in SearchIssuesResult.Items. Some examples include PullRequest.Merged and PullRequest.MergedBy. I can call IGitHubClient.PullRequest.Get to retrieve pull request's details separately. But is there an option to return pull request's details when calling IGitHubClient.Search.SearchIssues?

Here is my pseudo code

[2016-06-21 21:32] ryangribble commented on #1403
Yeah I ran into this myself yesterday.  Unfortunately looking at the [API docs example](https://developer.github.com/v3/search/#example-2) shows that the GitHub API really only returns a couple of Url's (Html, Diff, Patch) for the Pull Request, and not the entire object which would indeed be handy.

In my case I ended up using the Search Issue API to get a list of PRs for a specific repo that were

[2016-06-24 03:28] dsplaisted opened #1406 "Can't search repos with underscore in repo name"
The following test fails:

[code]

It fails with the following exception:

[code]

The culprit seems to be [this Regex](https://github.com/octokit/octokit.net/blob/f354d1bf00ff7606b46489e3a915e1428414bc47/Octokit/Helpers/StringExtensions.cs#L125).  With a quick search I couldn't find documentation on what the allowed formats for GitHub usernames and repo names are, so I don't know if adding an und

[2016-06-26 11:00] shiftkey commented on #1403
Seconding what @ryangribble said - this is a limitation of the server-side, and unfortunately due to us sharing models this is giving consumers false hope that it should be available...

[2016-06-26 11:02] shiftkey commented on #1406
@dsplaisted :thumbsup: to relaxing the regex to include `_`- I did a quick test of other special characters and the only one I could find permitted is a `-`

[2016-06-26 21:03] ryangribble commented on #1403
Do you think we should have some cut down models ma,ed something like `PullRequestStub` or `IssuePullRequestInfo` for these cases?

[2016-06-26 22:40] shiftkey commented on #1403
@ryangribble that's what i'm leaning towards, but I need to think more on how we can make this maintainable because it could be a lot of work to migrate and keep in sync...

[2016-06-26 23:06] #1254 closed

[2016-06-27 03:22] shiftkey commented on #1396
From MSDN:

Because of how the GitHub API hides private resources and returns a `404 Not Found`, we need to be a bit clever here and set the `Authorization` header explicitly.

[2016-06-28 03:30] AlenPelin commented on #1400
+1

[2016-06-28 23:03] shiftkey opened #1407 "Protected Branches Preview API Update - main methods"
[Announcement](https://developer.github.com/changes/2016-06-27-protected-branches-api-update/)

Just noting this down so we don't miss it. I haven't had a chance to look over the actual work required.

[2016-06-28 23:08] ryangribble commented on #1407
Yep I was about to post this too 😀

Pretty major changes, as previously all protection settings were done via 1 object and the single "update branch" endpoint,  whereas now protection is pulled apart into various sub components (enabled,  required contexts, user/team push restrictions)  but overall a much better approach  for the feature :+1:

[2016-06-29 07:37] alfhenrik commented on #1115
I'm sorry to say it but, I thought I was in a position to have a crack at this, but it turns out I'm not...so I'm walking away from it. Thought I'd just mention it here so if someone else wanted to pick it up they don't need to confirm the status from my side.

[2016-06-29 12:02] maddin2016 commented on #1396
The only fix for me is to call `_http.CancelPendingRequests()` after you get the response. Because for any reason i don't know there is still a request pending which maybe has the same signatur or anything else. I have no idea. @shiftkey what do you think.

[2016-06-30 10:56] maddin2016 commented on #1399
Hi @ryangribble , i would take this issue.

[2016-06-30 17:21] maddin2016 commented on #1399
Hi @ryangribble @shiftkey i'm almost finished with this issue. There is one strange thing with this api. I have create an integration test to send an invitation. The callback from the api ist fine, but it sends no invitation (email). I have tested this also with a real example. Can you confirm this behavior?

[2016-06-30 22:28] shiftkey commented on #1399
@maddin2016 it'd be much easier to investigate the behaviour when the code is handy - let's look into that after opening the PR...

[2016-06-30 23:52] shiftkey opened #1409 "Ensure "Id" is used in all code comments, instead of ID or id"
Just do a find-and-replace across everything...

[2016-07-03 12:17] shiftkey commented on #1396
For reference, here's [the source](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.cs#L400-L414) for `HttpClient.CancelPendingRequests()` - looks like it's just cleaning up a cancellation token.

[2016-07-04 12:56] maddin2016 commented on #1396
I think it has to do with the following [line](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.cs#L386). It seems that there is the same request sending twice. But i don't know why :sweat:

[2016-07-05 08:36] maddin2016 commented on #1396
@shiftkey i have create pull request #1411. There i put the logic for redirects outside of the delegating handler. Because for any reason if delegating handler sends the same request twice, and this is not possible. The other solution is to cancel alle pending requests see my comment below.

[2016-07-05 09:05] tebeco opened #1412 "Impossible to use in ConsoleApp when ConsoleApp is running on .Net 4.6.1"
Hi,
I've just created a new project on vs2015.3
Template used : Console Application
Framework : .net 4.6.1

I've just ran :
Install-Package Octokit

Then I tried to connect the Entreprise Github with this simple code to fect a user repository.
The Application Crash around the first "await" that call octokit code (a simple Repository fetch).

I've added the code to the "Octokit" Github solution to

[2016-07-05 09:14] ryangribble commented on #1412
Can you please post your example code here or in a gist or repo?

[2016-07-05 09:38] tebeco commented on #1412
Of course the code is copy pasted from :

https://github.com/octokit/octokit.net/blob/master/samples/linqpad-samples/6-create-repository.linq

Changes :
* ".Dump" method extension seems to comes from linqPad only so I've deleted lines
* I've replaced "client.GitDatabase.xxx" by "client.Git" since this is obsolete code.
* Used a new ProductHeaderValue
* used my Entreprise Account line 21
* replace

[2016-07-05 09:52] tebeco commented on #1412
Ok so I just had a lucky Guess

Octokit is not compliant with ConsoleApp **if consoleApp is buit with 4.6.1**

It seems to crash a "MethodNotAllowed" exception if i'm targetting 4.5

[2016-07-05 11:23] tebeco commented on #1412
@ryangribble any idea for the MethodNotAllowed ?

Let's say that :
* my Entreprise expose Github on : https://corp.github.pouet/
* My account is on : https://corp.github.pouet/tebeco
* I created an OAuth token : a12345bcd

The generated request has the following params when it's rejected ::
(File Connection.cs line 543)

[2016-07-05 11:28] shiftkey commented on #1412
@tebeco there's documentation about enabling source debugging for Octokit here: http://octokitnet.readthedocs.io/en/latest/debugging-source/

This will mean you don't need to worry about referencing the source.

Could you confirm which version is the problem?

[2016-07-05 11:36] tebeco commented on #1412
wich version of what ?

I've cloned "Octokit" and added a console app INSIDE the solution
this consoleApp is using framework 4.6.1
And this project has a "Project reference" to the Octokit.net project

No tricks, then it will crash
My guess is that the framework 4.6.1 changed BCL for the stack octokit uses (from 4.5)

[2016-07-05 11:50] shiftkey commented on #1412
Which version of the .NET Framework you are targeting - are you saying that both .NET 4.5 and 4.6.1 are affected?

These are the steps that I used in Visual Studio 2015 Update 3 to see if I can understand the issue as you see it:

 - create a new console application targeting .NET 4.6.1
 - In NuGet Package Console, run this command: `Install-Package Octokit`
 - replace the contents of Program with

[2016-07-05 12:21] tebeco commented on #1412
(just changed this issue title)
I'm redoing the steps you did above to double check
I'll delete this answer just after ^^

[2016-07-05 13:05] tebeco commented on #1412
So ...
The fact that I catch nothing is only happening if I use Octokit inside a

ConsoleApp 461               KO
ConsoleApp is 4.5             OK
WebApi 461                       OK

I can catch any exception without issue in any configuration/plateform or whatever in any project BUT the configuration octokit + consoleApp 461
My guess is that there's a segfault or something like that. It seems th

[2016-07-05 13:06] tebeco commented on #1412
For the "MethodNoAllowed" issue
It seems that :

does not allow me to set a custom values ... it works perfectly until I change it with :

[2016-07-05 13:20] ryangribble opened #1413 "Add convention test to ensure response models have appropriate constructor"
The Json deserializer requires a public parameterless ctor in order to create response objects.

This [catches people out](https://github.com/octokit/octokit.net/pull/1410#discussion_r69558986) from time to time, so it would be good to add a convention test that enforces this

[2016-07-06 00:41] shiftkey commented on #1396
@maddin2016 thanks for digging into this! I've made a note to look at that PR when I get a spare moment...

[2016-07-06 01:05] #1413 closed

[2016-07-06 04:50] shiftkey commented on #1412
Thanks for the suggestion, but I'm very hesitant to drop this compatibility as I have an application that's been using Octokit targeting .NET 4.5 for 2+ years and I've not had any users encounter this issue.

This is interesting, and not something I've seen before. Do you have a stack trace that illustrates the error when this occurs?

[2016-07-08 10:29] #1296 closed

[2016-07-08 10:29] #1297 closed

[2016-07-08 10:29] #1298 closed

[2016-07-08 10:44] ryangribble opened #1416 "GitHub Pages Preview API Enhancements"
### Summary
Recently announced on this [blog post](https://developer.github.com/changes/2016-07-06-github-pages-preiew-api) the GitHub Pages API has some enhancements that are now in preview mode.

- New `html_url` field on [Get information about a pages site](https://developer.github.com/v3/repos/pages/#get-information-about-a-pages-site) endpoint

- New endpoint [Request a Page Build](https://de

[2016-07-08 14:36] adamralph commented on #1334
@paladique @shana has any progress been made on this?

[2016-07-08 14:44] shana commented on #1334
@adamralph I believe so, there's an open PR by another contributor that adds this. I'm not sure what the status of it is, looks like it's bumped against some architectural issues and it's not finished yet. Work is ongoing at https://github.com/octokit/octokit.net/issues/1339.

[2016-07-08 15:04] adamralph commented on #1334
@shana looking back through this issue, I don't think I've been specific enough about my use case, and I'm not convinced that #1339 supports it.

I want to search for issues assigned to a particular user. Currently, using `RepositoryIssueRequest` an issue will only be returned if the user is the *first* assignee on the issue. If the user is the 2nd, 3rd, 4th assignee, the issue will not returned.

[2016-07-08 15:50] shana commented on #1334
@adamralph That is a very good question. I think it's best if you post this use case in #1339 so that everyone is aware of it.

[2016-07-08 16:39] adamralph commented on #1334
@shana thanks I did so https://github.com/octokit/octokit.net/pull/1339#issuecomment-231397033

Also, it turns out my immediate use case is solved already, without requiring changes to Octokit: https://github.com/octokit/octokit.net/pull/1339#issuecomment-231408854

[2016-07-08 18:45] andrejo-msft opened #1417 "IssuesEventsClient.GetAllForRepository behavior"
I have two repos that are being serviced by an implementation of **OctoKit 0.20**. One represents ~600 issues and is actively used. The other is a test bed for pre-production testing.

Around 6am PDT, OctoKit started reporting this and failing to complete an IIssuesEventsClient.GetAllForRepository() call:

**Unhandled Exception: System.AggregateException: One or more errors occurred. ---> Octokit.

[2016-07-08 23:31] ryangribble commented on #1417
someone mentioned something on gitter chat that there may have been some changes to Api rate limits from memory.

Have you tried passing an `ApiOptions` to the `GetAll` call and specifying a high records per page size to override whatever the default is?  That way if the default was changed to something lower, but it still allows you to request more per page, you might be OK.

In general I was bum

[2016-07-10 20:47] shiftkey commented on #1417
A couple of questions I have:

- Are you capturing the rate limiting information when you encounter this error? I'd love to confirm that is reflecting reality so that clients know when they are able to reconnect to the resource.

Here's a quick snippet:

[code]

- are there other resources you're encountering this on, or is it only [Issue Events for Repository](https://developer.github.com/v3/issu

[2016-07-10 21:04] andrejo-msft commented on #1417
Brendan, I did in fact collect this data in the process of troubleshooting.

This is from memory and reflects what I saw on Friday.

-          Issues GetAllFromRepository() can be done without additional ApiOptions added.

-          Comments GetAllFromRepository() gets stuck in the loop that I see if ApiOptions are not set. However, if I provide a number of pages larger than the number needed as

[2016-07-11 18:22] andrejo-msft commented on #1417
@ryangribble - we use Octokit to push GitHub issue data into our internal bug tracking system, allowing those who are looking at larger trends within the organization to not have to jump over to GitHub to understand our project.

GH issues, comments, and events are used to update our tracking bugs. Because GetAllFromRepository's ApiOptions only cover page size and number of entries, the initial ve

[2016-07-11 23:45] shiftkey commented on #953
We're already creating these packages as part of the CI build, but there's a few enhancements we need before we can complete this:

 - implement versioning scheme for pre-release packages - see what [libgit2sharp](https://github.com/libgit2/libgit2sharp/blob/master/appveyor.yml#L33-L40) has done here for example
 - [detect whether build should be packaged](https://github.com/libgit2/libgit2sharp/b

[2016-07-11 23:45] shiftkey commented on #953
Opening this up as up-for-grabs for someone who wants to dive into Appveyor customizations...

[2016-07-12 16:55] shiftkey opened #1419 "[Proposal] The Road to .NET Core Support"
I came back to look at what would be involved with getting Octokit.net running on .NET Core recently now that they had the 1.0 launch, and this is the initial brain dump for what I'm anticipating.
### Pros
- fewer projects to manage
- less project hacks (I'm still not sure how we're getting NSubstitute to work on `netcore50`)
- `.\build FixProjects` is now redundant
- we can now enable `Octokit.Re

[2016-07-12 18:12] shiftkey commented on #1412
I'm going to close this out as I'm not sure what the next steps are to resolve this.

[2016-07-12 18:12] #1412 closed

[2016-07-13 11:34] mderriey commented on #1256
Hey,

I'd like to give this one a shot.
From the looks of it, what has been done in #1398 can be reused.

Cheers

[2016-07-13 16:36] shiftkey commented on #1256
@mderriey sounds good!

[2016-07-13 18:29] #1256 closed

[2016-07-14 21:20] #1406 closed

[2016-07-17 05:56] dampir commented on #1386
@shiftkey It could be closed, all overloads were added.

[2016-07-17 06:06] dampir commented on #896
@shiftkey I think this could be closed for now :+1:

[2016-07-17 14:25] #1386 closed

[2016-07-17 14:25] #896 closed

[2016-07-17 14:59] #1416 closed

[2016-07-20 00:33] shaggygi opened #1424 "[Question] Fork repository with all issues, labels and assignees"
Is this possible or would you have to create each programmatically after forking?

[2016-07-20 01:57] shaggygi opened #1425 "[Question] Change repository name when forking"
Is there a way to change the name of a repository when forking another?  Meaning, if there is an original repository (e.g. organization/foundation) and I want to fork and rename to myuser/foundation-build, how would you rename when forking with Octokit?

Thx

[2016-07-20 02:43] shaggygi opened #1426 "[Question] Enable issues in a fork"
Is it possible to enable issues with Octokit after creating a fork?  I notice you must go into the repository's settings > features section and check the Issues box before issues can be created in site or via Octokit.

[2016-07-20 15:59] shiftkey commented on #1424
@shaggygi you would have to repopulate the issues in the new repository after forking

[2016-07-20 15:59] #1424 closed

[2016-07-20 16:06] shiftkey commented on #1425
@shaggygi I'm not aware of a way through the GitHub API to script forking repositories. However, if you've already created the repository you can rename it through the API.

This snippet from @M-Zuber is an example of doing the rename:

[code]

[2016-07-20 16:06] #1425 closed

[2016-07-20 16:38] shaggygi commented on #1425
That did the trick @shiftkey Thanks!

[2016-07-20 16:48] shaggygi commented on #1424
I was able to do this as mentioned, but wasn't sure if there as a call that could do in one attempt instead of individually.  I also had to add the labels and assignees one at time, as well.  @shiftkey  Are you saying this is the case or is there a method to copy the entire issue(s) contents (body, labels, assignees, etc.) to new fork at one time?

Thanks again for the help.

[2016-07-20 18:23] shiftkey commented on #1424
@shaggygi unfortunately there isn't a method to do this all in one API call

[2016-07-20 18:26] shiftkey commented on #1426
Similar to #1425, you can set `HasIssues` when editing the repository through the API to change this behaviour...

[2016-07-20 18:26] #1426 closed

[2016-07-20 18:37] shaggygi commented on #1426
Yes, just came across this property.  Thanks

[2016-07-21 11:55] shaggygi opened #1427 "[Question] How to delete an issue"
How do you delete an issue with Octokit?  It appears there is no Delete method similar to Milestones, Labels and such.  Thx

[2016-07-21 12:38] M-Zuber commented on #1427
You can't delete issues on github in any anyway as,  only close them.

[2016-07-21 12:54] shaggygi commented on #1427
Thx for info.

[2016-07-21 12:54] #1427 closed

[2016-07-21 19:15] #1409 closed

[2016-07-22 10:24] bmd-benita opened #1429 "Git LFS Support"
Is there any way to download file from Git LFS?
I have tried to download text file from GitHub using this script, but the files from Git LFS cannot be convert to base64String:
`Dim blob = Await GitHubClient.Git.Blob.Get(Owner, Repository, fileSHA)
File.WriteAllBytes(DestinationFilePath, Convert.FromBase64String(blob.Content))
`
What should I do? What action should be taken to download dll, xml, an

[2016-07-22 10:28] ryangribble commented on #1429
Interesting question, there's nothing in the github API for git LFS specifically. I'd assume if you really need to do this you'd need to manipulate an actual git workspace using git cmdline or maybe libgit2

As an aside I wouldn't expect dll or xml files to normally be setup to use LFS, it's normally only for huge files compared to typical dll or xml files

[2016-07-22 15:03] shaggygi opened #1430 "[Question] Markdown support with WPF app"
Anyone have examples of using GitHub Markdown with a WPF app?  Understanding, this is more of a GitHub question, I thought I would check here to see if someone came across the feature and possibly using it with Octokit.NET.  Thx

[2016-07-22 16:07] shiftkey commented on #1430
If you can render HTML in your WPF app (using the WebBrowser control or something like CefSharp), then you can just use Octokit.NET to generate the GitHub-flavoured Markdown directly:

[code]

I'm not aware of any libraries that support client-side rendering of GitHub-flavoured Markdown, but you can see an old [SO thread](http://stackoverflow.com/questions/8210974/markdownsharp-github-syntax-for-c

[2016-07-22 16:13] shiftkey commented on #1429
@bmd-benita what do you get back from the server when the file is GitLFS-enabled?

[2016-07-22 21:57] shaggygi97test opened #1431 "[Question] How to upload avatar image"
Does Octokit.NET have the ability to upload an avatar image?  If not, is this something that must be performed in the user's bio?  Thx

[2016-07-23 08:50] #1399 closed

[2016-07-23 18:37] shiftkey commented on #1431
@shaggygi97test unfortunately we can't set the avatar when [updating the user](https://developer.github.com/v3/users/#update-the-authenticated-user). This is still a manual task :cry:

[2016-07-23 18:37] #1431 closed

[2016-07-23 19:10] shaggygi commented on #1431
Maybe one day.  Thx for the reply.

[2016-07-25 05:41] bmd-benita commented on #1429
The file itself.
I have tracked .dat, .dat.gz, .xml, .dll for Git LFS. I want to get these files (download the files) to my local computer from the application using Octokit.

[2016-07-27 09:57] gep13 opened #1433 "Null Fields on commits returned when using Compare API"
I am using the following snippet as a proof of concept for extracting the list of contributors to a milestone:

[code]

However, I am finding that the Author field is sometimes returning as a null object:

![image](https://cloud.githubusercontent.com/assets/1271146/17171469/ba48b6a4-53e8-11e6-8d7c-659e3407677b.png)

The commit in question is this one:

https://github.com/cake-build/cake/commit/0dd

[2016-07-27 13:53] ryangribble commented on #1433
G'day @gep13

It looks to be related to those specific users.  In the 108 commits in your comparison, there are 5 commits with `Author == null` and `Committer == null` and all 5 of them are from 2 unique contributors.  Also there are no other commits from these contributors in this comparison range that DO provide Author/Committer details.  In other words, ALL commits from these 2 authors present

[2016-07-27 13:59] ryangribble commented on #1433
PS I listened to your DNR podcast on cake recently and although I knew it was out there it's motivated me to put it on the todo list to go and check it out!  :+1:

I havent looked as yet, but I was thinking it'd be cool to have some "github" tasks in cake (using octokit.net of course!) if you don't already...

[2016-07-27 14:00] gep13 commented on #1433
Thank you so much for digging into this!

I might ping github support about this to see if there is an explanation

If you could I would really appreciate it.

The idea was really to create the list that you can see here:

http://cakebuild.net/blog/2016/07/cake-v0-15-0-released

![image](https://cloud.githubusercontent.com/assets/1271146/17177674/723693aa-540a-11e6-8bb7-421df37a8760.png)

Which is

[2016-07-27 14:05] gep13 commented on #1433
PS I listened to your DNR podcast on cake recently and although I knew it was out there it's motivated me to put it on the todo list to go and check it out!  :+1:
I havent looked as yet, but I was thinking it'd be cool to have some "github" tasks in cake (using octokit.net of course!) if you don't already...

Woot!  Glad to hear that it helped motivate you to look into it! :smile:

We have an Addi

[2016-07-27 15:12] wwwlicious commented on #1433
@gep13 There is nothing I'm aware of, I do commit using a few email addresses across a few machines and apps so things aren't always consistent, but my main account email is private and have two-factor auth enabled if that makes any difference?

Guess I'm just a :snowflake: lol

[2016-07-27 15:14] ryangribble commented on #1433
Are all the email addresses linked to your github profile?

[2016-07-27 15:19] wwwlicious commented on #1433
No they aren't

[2016-07-27 15:22] ryangribble commented on #1433
Assuming the email address on the commits being discussed here is one that isn't, that would explain it

Ideally you should add all your email addresses you use in git, under your github profile so you get stats for commits made via that email

[2016-07-27 16:20] markrendle commented on #1433
If it helps, my commit and push was done using the GitHub desktop client for Windows, which is the only thing that works with the corporate network I was on.

[2016-07-27 17:04] gep13 commented on #1433
@ryangribble after associating the emails with the account, should I expect to see a non null in the response of the octokit call?

[2016-07-27 17:05] markrendle commented on #1433
Ah, but email somehow got set to one I didn't have in my Profile, an omission I have now rectified; alas, too late to make it into Gary's blog post.

[2016-07-27 17:05] gep13 commented on #1433
@markrendle I retrospectively added you too the blog post :smile:

[2016-07-27 20:29] ryangribble commented on #1433
yep!  Once the email address is "claimed" the output will contain the expected github `Author`.

As there's nothing to stop this happening on any future commit/author, it's probably a good idea to implement the fallback to `commit.Commit.Author.Name` when `commit.Author` is `null`

[2016-07-27 20:43] gep13 commented on #1433
yep! Once the email address is "claimed" the output will contain the expected github Author.

Perfect!  I have just confirmed that this is now the case.  I now get the `Author` property populated for both @markrendle and @wwwlicious.  The only one that is still not populated is @adamhathcock but I am going to assume that this is the same issue.

As there's nothing to stop this happening on any fut

[2016-07-27 20:43] #1433 closed

[2016-07-27 23:10] shiftkey commented on #1120
This will be available in Octokit 0.21 which is almost ready to :ship:

[2016-07-27 23:10] #1120 closed

[2016-07-28 06:27] adamhathcock commented on #1433
I'm sure my email is the same issue because I did fixes at work with git instead of home.  I'll fix my profile.  Thanks!

[2016-07-28 06:30] gep13 commented on #1433
I'm sure my email is the same issue because I did fixes at work with git instead of home. I'll fix my profile. Thanks!

Perfect, thank you! :smile:

[2016-08-03 14:13] alfhenrik opened #1436 "Issue timeline preview API"
The issue timeline API is in [preview](https://developer.github.com/changes/2016-05-23-timeline-preview-api/) so we should add that to Octokit.

[2016-08-04 11:56] martinnormark opened #1438 "Cannot add labels to issue"
I'm trying to create an issue with labels, the below code is what I'm using:

[code]

I'm not getting any errors, and the issue is being created just fine. I just don't get the labels added to the issue. I have verified, and the labels already exists in the repo.

I tried sending an update to the issue adding labels via `AddLabel()` but that doesn't solve it.

Anything I'm doing wrong?

[2016-08-04 19:44] shaggygi opened #1439 "[Question] Add file to an Issue"
Could you explain how to add a file (e.g. Text.txt) to an Issue using Octokit.NET?  Thx

[2016-08-04 21:33] ryangribble commented on #1439
Are you referring to attachments on the issue? There doesn't appear to be any GitHub API method to do this, it seems only available through the webUI

[2016-08-04 21:34] ryangribble commented on #1438
Do you have push access to the repository? The github API docs say that setting labels requires push access and if you don't have that, any labels (and assignees etc) are dropped

[2016-08-04 21:44] shaggygi commented on #1439
Yes, I wanted to know if there was a way to attach a file via the API like you would when dragging/dropping on the Issue in GitHub website.  Basically, I want to programmatically create an Issue, add some markdown comments and attached a file.  It seems like there would be some type of method to do this.  If Octokit is currently not able to do so, do you know the next steps to take in determining

[2016-08-05 02:17] shiftkey commented on #1439
@shaggygi I'm afraid this isn't currently supported, and I'm not sure of an ETA for it

[2016-08-05 02:17] #1439 closed

[2016-08-05 06:23] martinnormark commented on #1438
I do have push access. The token I'm using is a Personal Access Token - perhaps that is not enough?

[2016-08-05 06:53] ryangribble commented on #1438
Could be, depending on what scopes you've granted the personal access token You could also attempt user/pwd just to see if it changes anything

Otherwise if you want to post your code sample we can take a look?

[2016-08-05 07:07] martinnormark commented on #1438
Doh, I messed up the permissions so in fact the user didn't have push access to the repo. Thanks for your input.

[2016-08-05 07:07] #1438 closed

[2016-08-05 10:39] shaggygi commented on #1439
@shiftkey Thanks for the info.  If I could ask one more question.... do you mean it is not supported in Octokit or it is not a supported feature in GitHub in general?  Meaning, you don't know of ETA coming with GitHub?  Thanks again.

[2016-08-07 04:47] shiftkey commented on #1439
@shaggygi it's not currently a supported feature of the GitHub API

[2016-08-07 04:56] alfhenrik commented on #1419
Looks like `NSubstitute

[2016-08-07 10:00] ryangribble commented on #1419
Whether in conjunction with this or not, i'd also like to look at moving the builds over to CAKE rather than FAKE...

[2016-08-07 21:51] #1436 closed

[2016-08-08 04:42] shiftkey opened #1440 "migrate build scripts over to CAKE"
I've had some interest from various corners about moving our build scripts over to [Cake](https://github.com/cake-build/cake). The process seems very similar to what we're doing currently, so I'm not really going to stand in the way.

Things I'd like to verify are possible with Cake (mostly due to emulating our current flow for releasing things):
- use `dotnet` CLI tools to build, rather than MSBu

[2016-08-08 04:42] shiftkey commented on #1419
@ryangribble here you go #1440

[2016-08-10 05:46] ryangribble commented on #1407
For complete coverage of all the new API endpoints we will need to add 40 methods!

Given that some are only a "convenience" (since you can manage everything with the top level endpoints anyway), this issue will cover implementing the following top level methods:

[code]

And the remainder will be moved to new issues
[code]

[2016-08-10 05:50] ryangribble opened #1442 "Protected Branches Preview API Update - granular methods"
#1407 covers implementing the top level branch protection methods after the [Branch Protection preview API update](https://developer.github.com/changes/2016-06-27-protected-branches-api-update/).

This issue is raised as a reminder to implement the remaining more granular methods if/when requested/desired

[code]

[2016-08-11 16:29] maddin2016 commented on #1442
![wow](https://cloud.githubusercontent.com/assets/19551763/17596371/624b49ca-5ff1-11e6-84f4-d3b70c2a752a.gif)

That's a lot. I will see what i can do if it's ok.

[2016-08-12 10:15] maddin2016 commented on #1442
Should i wait until #1441 is merged before to start?

[2016-08-12 10:23] ryangribble commented on #1442
Yes you should do any changes on top of those changes but you can just branch from my branch (ie don't have to wait for it to be merged)

[2016-08-14 20:57] #1396 closed

[2016-08-16 13:04] grokys opened #1446 "Organization can fail deserialization when user is not an org owner."
According to the [API docs](https://developer.github.com/v3/orgs/#get-an-organization):

What this means in practice is that if the user is a *member* of the org but not an owner. the resulting json has `null` for the values of these fields. However the `PrivateGists`, `DiskUsage` and `Collaborators` fields are not null in the `Organization` model meaning that the deserialization fails.

PR to fol

[2016-08-16 13:26] ryangribble opened #1447 "Implement Repository Traffic preview API"
As per [this announcement](https://developer.github.com/changes/2016-08-15-traffic-api-preview/) there is a new "Repository Traffic" API

I'll flesh this issue out later, but just logging it now so we don't miss it.

[2016-08-16 13:55] khellang commented on #1446
BTW, this was recently announced on the [dev blog](https://developer.github.com/changes/2016-08-09-breaking-change-removed-sensitive-fields-from-organization-api-responses-for-owner/) as well.

[2016-08-16 13:57] khellang commented on #1430
I think you should be able to tweak [Markdig](https://github.com/lunet-io/markdig) to render GFM pretty close to what GitHub itself does, if you want to avoid the roundtripping.

[2016-08-16 14:00] ryangribble commented on #1446
I saw this thismorning but incorrectly assumed we'd be fine since they were just making some fields not returned in some cases, which happens quite commonly.  Obviously being non nullable int's wasn't too happy though :grin:

[2016-08-16 14:35] #1446 closed

[2016-08-24 08:40] ryangribble opened #1449 "Add support for API change to update base branch of a PullRequest"
As per this [recent anouncement](https://developer.github.com/changes/2016-08-23-change-base/) the API now supports changing the base branch of an existing pull request (woohoo!!!).

The [Update a pull request](https://developer.github.com/v3/pulls/#update-a-pull-request) endpoint now accepts a `base` string field on the request to do this.

For octokit.net this is pretty simple - we just need to

[2016-08-24 12:37] M-Zuber commented on #1449
If this is still open, I'd like to take it

[2016-08-24 16:26] M-Zuber commented on #259
Completed with [this release](https://github.com/octokit/octokit.net/releases/tag/v0.20.0)

[2016-08-24 20:00] #259 closed

[2016-08-25 08:30] M-Zuber commented on #643
## This is not an attempt to give an answer to OPs question, but to try and get a handle on what would be affected
What enums would this apply for?
Some points before your eyes glaze over as you read the list:
- Quite a number of the enums use the `ParameterAttribute` to set the actual value as needed by/from the server
- Some of the enums are not part of the client/server traffic
- The list may b

[2016-08-25 14:26] di48l069 opened #1451 "Octokit Update"
Hi,

Im using Octokit as a updater where it would download blabla.msi from my releases but my problem is my project is private how would I give it access to my private repro?

[2016-08-25 22:05] ryangribble commented on #1451
You would need to use credentials (personal access token) that has access to the private repository, which may not be desirable.

If you are determined to use github release files as your file storage then perhaps another way would be to have a public repo that only contains a readme file and release notes etc that you could create/mirror your releases in and have your download msi there etc. You

[2016-08-26 09:10] di48l069 commented on #1451
@ryangribble Thank you

[2016-08-26 09:10] #1451 closed

[2016-08-26 13:05] mderriey commented on #1081
I'd like to give it a shot.

Bear with my ignorance, I didn't really understand why that test should be ported to F#. I read through #983 and you mentioned that it could be run inline. Could you shed some light?

Also, would you be able to provide some guidance for the first steps to take to get going? Where should the test be moved to?

Thanks!

[2016-08-27 07:50] ryangribble commented on #1081
Hi @mderriey

As far as I can gather, in order to test the LinqPad samples the proposal is that during the build, we rewrite the linqpad files to use local reference to the octokit DLLs (ie those that were just built) instead of pulling nuget packages (which dont contain the very latest changes in the build) then execute them to ensure they dont have any errors.  @shiftkey even ended up writing an

[2016-08-27 10:13] mderriey commented on #1081
Thanks a lot for the explanations, it makes more sense now.

I'll have a look at the build scripts to see if we already have custom build steps or something alike that I can use as a starting point.

Still, if you have more info/guidance, it'll be very appreciated.

Thanks again!

[2016-08-29 00:40] #1449 closed

[2016-08-29 04:04] #1407 closed

[2016-08-31 06:46] di48l069 commented on #1451
@ryangribble Can I maybe invite you to my private repro can you give me a quick example on how to add credentials (personal access token) so I can download from my private repro

[2016-08-31 07:20] shiftkey commented on #1451
@di48l069 there's [an example](http://octokitnet.readthedocs.io/en/latest/getting-started/#authenticated-access) in the documentation about passing in a Personal Access Token

[2016-08-31 07:30] di48l069 commented on #1451
@shiftkey Thanks just what i'm looking for!

[2016-08-31 18:16] jaredpar opened #1453 "Problems paging and querying milestones"
I'm working on a simple app that will query all bugs for a given milestone using Octokit.  The target repo is initially [dotnet/roslyn](https://github.com/dotnet/roslyn) which has a very high number of issues, even when sorted by milestone.  As such I'm trying to use pagination in the API to get the issues in chunks and possibly break up the work.

I've looked through the available docs and dug th

[2016-08-31 19:21] jaredpar commented on #1453
Experimentally I've found that i'm actually hurting myself here with `ApiOptions`.  If I forgo pagination and use the overload without `ApiOptions` the same call completes in just a few seconds.

Am I just using `ApiOptions` in some unsupported way here?

[2016-09-01 12:57] maddin2016 commented on #1447
Hi @ryangribble, i would like to take this issue. I would create a new client `IRepositoryTrafficClient`!?

[2016-09-01 20:16] di48l069 commented on #1451
@shiftkey  Please see attachment is this best way to do token part?
[ReleaseInfo.zip](https://github.com/octokit/octokit.net/files/450606/ReleaseInfo.zip)

[2016-09-01 20:49] ryangribble commented on #1447
Yep, based on the [API structure](https://developer.github.com/v3/repos/traffic/) that sounds good, and it would be a child `Traffic` property under the existing `RepositoriesClient` so we would access it like `client.Repository.Traffic.GetAllReferrers()`

[2016-09-02 21:21] ryangribble commented on #1440
Just on this point, I stumbled upon [GitLink](https://github.com/GitTools/GitLink) which sounds like it may do the same thing as what SourceLink currently does.  CAKE has [built in aliases](http://cakebuild.net/api/cake.common.tools.gitlink) for GitLink

[2016-09-05 00:48] shiftkey commented on #1440
@ryangribble if GitLink gives us the same end result, then I'm fine with switching. I forget the backstory and why they didn't team up way back in the day...

[2016-09-06 23:58] #1081 closed

[2016-09-07 09:53] mderriey commented on #1419
Is anything blocking this issue at the moment? I'd like to help if that's OK.

[2016-09-07 11:40] ryangribble commented on #1419
No, nothing blocking it... it looks like all the dependencies are supporting dotnet core now

[2016-09-07 14:42] mderriey commented on #1419
Great. I'll start with something to kick off a discussion around it.

In the meantime, if you think of anything I should be aware of, please let me know. Thanks.

[2016-09-07 15:05] jaredpar commented on #1453
@dampir good call.  Switching StartPage to 1 fixed the issue.

In general though is this the correct way to approach queries where a large number of issues are going to be returned?  Or if I'm going to process them all in batch anyways should I just query without any pagination?

[2016-09-07 15:49] hahmed commented on #1419
If we can use visual studio code to contribute to ocotkit - that con  would be addressed. 😄

[2016-09-07 22:20] radu-matei commented on #1419
I would also like to contribute to the .NET Core port, so count me in when it all starts :D

[2016-09-07 23:23] shiftkey commented on #1419
As a first step, if someone wants to have a look at getting a simple .NET Core project (name it `Octokit.Next` or whatever) building on Appveyor within our existing build scripts. That should open us up to scaling this out so more people can help out.

I've even got a branch [started a while ago which ports one of the projects](https://github.com/octokit/octokit.net/compare/master...shiftkey:what-

[2016-09-08 00:55] shiftkey commented on #1451
@di48l069 that seems fine

[2016-09-08 06:43] aetos382 opened #1459 "Can't search C# code"
When I specify Language.CSharp to [SearchCodeRequest.Language] (https://github.com/octokit/octokit.net/blob/master/Octokit/Models/Request/SearchCodeRequest.cs#L90), [SearchCode] (https://github.com/octokit/octokit.net/blob/master/docs/search.md#search-code) request is failed.
Because '#' character contains in request URL and subsequent part is not passed to the server.

The request URL contains th

[2016-09-08 06:48] mderriey commented on #1419
sweet, thanks for pointing that out.

what was the rationale behind defining [several](https://github.com/octokit/octokit.net/compare/master...shiftkey:what-even-is-dotnet-core#diff-04cf975081b2ad282e6c41f68f1235e9R25) [netstandard](https://github.com/octokit/octokit.net/compare/master...shiftkey:what-even-is-dotnet-core#diff-04cf975081b2ad282e6c41f68f1235e9R43) [targets](https://github.com/octoki

[2016-09-08 20:47] lalberto8085 opened #1460 "Exception while getting Issue Events for repository"
I'm using `octokit 0.22.0` to get all issue-events for a given repo in my organization for reporting, but whenever I call:

    var issueActivity = await client.Activity.Events.GetAllIssuesForRepository(owner, repo);

I get this error

  "Message": "An error has occurred.",
  "ExceptionMessage": "The given key was not present in the dictionary.",
  "ExceptionType": "System.Collections.Generic.KeyN

[2016-09-08 21:28] Abdelkrim opened #1461 "throw exception when getting all issues for logged user : [NotFoundException: issues was not found.]"
**The challenge**

0. Using Octokit.OctokitNet
1. the user is registered
2. we get all issues for the current user using ` client.Issue.GetAllForCurrent();`

**Result:**

1. An exception is raised: Octokit.NotFoundException: issues was not found.

**Note:**

1. my rate limit hasn't been exceed

**QUESTION1:** How to get all issues?

**QUESTION2:** Why does the exception refers to a file that is no

[2016-09-09 00:05] shiftkey commented on #1461
`GetAllForCurrent()` will return the issues created and assigned to the current user. My psychic debugger thinks you haven't specified any credentials on your `GitHubClient` - the 404 typically occurs when you're not authenticated for a certain resource.

Check out the [Authenticated Access](http://octokitnet.readthedocs.io/en/latest/getting-started/#authenticated-access) section in the documentat

[2016-09-09 00:06] shiftkey commented on #1460
Yeah, I'm pretty sure this stuff is broken and needs some love https://github.com/octokit/octokit.net/issues/1251 😢

[2016-09-09 00:28] shiftkey commented on #1419
@mderriey it was mostly me experimenting at the time with the API surface required to target each `netstandard` flavour, but I was also following what we did with [Rx.NET](https://github.com/Reactive-Extensions/Rx.NET/blob/master/Rx.NET/Source/System.Reactive.Core/project.json).

And of course I'll defer to [the documentation](https://github.com/dotnet/corefx/blob/master/Documentation/architecture

[2016-09-09 00:32] shiftkey commented on #1459
Can you provide a failing test here, so we can verify the issue?

[2016-09-09 07:48] Abdelkrim commented on #1461
Dear @shiftkey , as you can see, the credentials are present.

I have used the 'token authentication' as you can see on the screenshot.

QUESTION1: The Login is equal to 'null', is it the expected behaviour?

QUESTION2: From that point, how could I get the login of the authenticated user?

![githubstratex-credentials are present](https://cloud.githubusercontent.com/assets/791663/18379343/467449bc-

[2016-09-09 08:08] aetos382 commented on #1459
Please test this.

[code]

Please find the [entire code](https://github.com/aetos382/SearchCodeSample).

[2016-09-12 00:42] shiftkey commented on #1461
@Abdelkrim aha!

This is a permissions issue with your OAuth app - your application is only setup to request `user` and `notifications` scope, but everything issues requires at least `public_repo` scope.

![](https://cloud.githubusercontent.com/assets/359239/18421789/81c417f8-78d5-11e6-8ea2-158c31fbeb8a.png)

Once you enable that, you should receive an empty response instead of the 404 error.

[2016-09-12 06:48] dampir commented on #1459
@aetos382 good catch! The fix of this issue looks very simple and if you need this fix as ASAP just change attribute value on Language enum.

So, this one [SearchRepositoriesRequest.cs#L449](https://github.com/octokit/octokit.net/blob/58833602b7e79cc2fc85802ca97e108298b86353/Octokit/Models/Request/SearchRepositoriesRequest.cs#L449)
[code]

should be changed on:
[code]

Anyway, I made some investig

[2016-09-12 12:33] Abdelkrim commented on #1461
Dear @shiftkey  this is correct, I can read the issues of the registered user now!

Many thanks!

[2016-09-12 12:33] #1461 closed

[2016-09-12 16:54] dotMorten opened #1464 "Postfix async methods with Async"
Please follow the .NET guidelines and post-fix all task-returning methods with 'Async'. I get that would be a breaking change, so perhaps keep the old ones and mark them obsolete + make them not-browsable.

[2016-09-12 23:44] shiftkey commented on #1464
I'm _really_ not keen to do this, because everything in the Octokit API (ignoring Octokit.Reactive which just wraps it) returns a `Task`. And I'll point to [the documentation](http://docs.particular.net/nservicebus/upgrades/5to6/async-suffix) the NServiceBus crew put out explaining why they don't do this either (yeah, they also refer to this project, whatever).

But I asked @terrajobst if this was

[2016-09-12 23:46] paulcbetts commented on #1464
Breaks literally every piece of software written using Octokit, for literally no tangible benefits to users. Easy decision.

[2016-09-12 23:50] shiftkey commented on #1464
cc @shana @grokys @paladique for additional feels

[2016-09-13 00:01] terrajobst commented on #1464
Here is how I see this:

* **When deciding on guidelines, consistency trumps virtually everything else**. Developers don't just use one component of .NET, they use a ton of .NET components. So even if an entire component is exclusively async, staying consistent with other components that offer both async and sync APIs helps. It also helps in code reviews because calling a method that is suffixed w

[2016-09-13 00:06] shana commented on #1464
As I recall, the reason .NET has `Async` suffixes all over the place is because the original API was not async, and to maintain compatibility, instead of making the API async-first (as MS wanted), they instead added the `Async suffix`. MS decided not to break the API and every user out there even though an async-first API would be the preferable choice.

The irony of creating new APIs outside of t

[2016-09-13 00:14] shiftkey commented on #1464
@terrajobst thanks for putting it so succintly :sparkles:

[2016-09-13 00:53] dotMorten commented on #1464
The main reason I suggested this was that when starting with the API this completely throw me off. I knew what I wanted had to be async, but I couldn't find any async methods. It's also really inconvenient not instantly knowing you need to put await in front of some code, but have to go look at the signature.
As @terrajobst this is why coding guidelines are important and when working with multiple

[2016-09-13 01:30] terrajobst commented on #1464
@dotMorten

I'm not an expert in Octokit, but it sounds to me as if this would mean virtually marking all methods as obsolete, will have significant impact on the consumers. That still seems excessive to me.

[2016-09-13 01:33] dotMorten commented on #1464
That's fair. I knew it was a longshot to begin with, but my OCD just couldn't handle it 😀

[2016-09-13 03:39] shiftkey commented on #1464
For reference, here's how it would affect Octokit:

 - 668 public methods returning `Task<T>`
 - Of these, 96 are `public async Task<T>`
 - 81 public methods returning `Task`
 - Of these, 4 are `public async Task`

[2016-09-13 04:07] shiftkey commented on #1464
Oh, and another interesting data point - the earliest commit on this project was from late April 2012, a few months before .NET 4.5 was released. The code was extracted from GitHub for Windows, but that gives you an idea of how far back this decision probably went...

[2016-09-13 04:16] dotMorten commented on #1464
@shiftkey Task has been around since 4.0 / 2010 😜

[2016-09-13 05:18] shiftkey commented on #1464
@dotMorten true, but the new `*Async` APIs in the BCL weren't added until .NET 4.5

[2016-09-13 05:54] dampir commented on #1464
Mark every method that return Task as obsolete it means mark Octokit.NET as obsolete (Observable methods is just wrappers). And I think that this is unacceptable for now. Time for such code convention decision is gone for Octokit.

I definitely agree with that, but not in case of Octokit and Async suffix. Octokit is fully asynchronous library, each method in each client is async. This .NET Framewo

[2016-09-13 06:40] dotMorten commented on #1464
I don't see how that has anything to do with following the common .NET coding patterns for Task-returning methods, and it is completely ignoring the arguments for postfixing with async that has been stated above that has nothing to do with any legacy .NET.

I get the argument that at this point you don't want to change your naming mistake - the ship has sailed and it is what it is..
However I don'

[2016-09-13 09:45] phillip-haydon commented on #1464
No Async suffix for Nancy. :)

[2016-09-13 10:14] grokys commented on #1464
While do I see @dotMorten's point, and I'm a great believer in following style guidelines, I think @terrajobst put it best, in that not making breaking changes is more important. I certainly don't relish going through my codebases adding `Async` to the end of each call, and I imagine that for really heavy users of octokit this would be a real burden.

So yeah, @dotMorten has a good point, but the

[2016-09-13 11:26] ryangribble commented on #1464
Not that it's really required but my 2c is definitely in agreement that the 🚢 had sailed on this

As @shiftkey said if someone honestly feels passionately enough about this to make ALL the changes in a non breaking way I'd help get the PR through but I definitely don't intend to do it 😝

[2016-09-13 14:06] dotMorten commented on #1464
No worries.
If you do change your mind, I have a code analyzer that'll auto-fix it in one big swoop.

[2016-09-13 14:06] #1464 closed

[2016-09-13 14:52] peteraritchie commented on #1464
I think @Shana said it very succinctly. To prefix all methods (or even a majority) with Async is just rote, it misses the point of the convention. The point isn't to delineate asynchronous methods, it's too delineate deviations from the established api style. The established api style being either synchronous or asynchronous. Given an api with an asynchronous style, the convention should be the ot

[2016-09-13 21:55] aaronhoffman opened #1465 "Construction of ReadOnlyCollection in RepositoriesClient.GetAllLanguages() method can throw null argument exception"
see here: https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/RepositoriesClient.cs#L792

If this method is called and the API does not return a value, a null argument exception is thrown by the ReadOnlyCollection constructor.

example repo: vhf/free-programming-books  (id: 13491895)

Note: I'd like to contribute by opening a PR for this issue. I first need to investigate how "empty

[2016-09-13 22:40] shiftkey commented on #1465
This seems plausible according to [the reference source](https://github.com/Microsoft/referencesource/blob/master/mscorlib/system/collections/objectmodel/readonlycollection.cs#L27-L32), but I'm not sure why this code shouldn't return an empty enumerable when there are no values in the response:

[code]

[2016-09-14 00:17] dotMorten commented on #1464
@peteraritchie The API style should follow common .net conventions. It's a huge mistake to have different APIs that you use together use different API styles. If this is the "API style" for octokit, let me be frank and say it uses the wrong style. And if you're fine with that, so be it.

Sorry. But no. Octokit isn't the only API one codes against in an app.

[2016-09-14 00:55] shiftkey commented on #1464
Alright, that's enough.

[2016-09-14 01:02] shiftkey commented on #1453
@jaredpar yeah, silly 1-based pagination 😞  - let me know if there's any way we can make this clearer.

If you drop the pagination overload the GitHub API will return 30 entities per response, and when it finds [Link Headers](https://developer.github.com/v3/#link-header) in the response headers it'll continue to make new requests.

If you're not really looking for a specific page of results, and j

[2016-09-14 13:32] aaronhoffman commented on #1465
I'll need to double check. I believe that was the exception and stack trace I was seeing, but I agree that the `.ToList()` should not return `null`.

[2016-09-15 00:17] #1459 closed

[2016-09-15 12:22] Red-Folder commented on #874
This is a bit of a drive-by ... spotted this article about the use of HttpClient -> http://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

This feels as if it may be related to this problem.

Not had a chance to run through the code (and not likely to in the near future) ... but figured I'd throw this in while passing.  Hope it helps.

[2016-09-15 13:37] ryangribble commented on #874
Thanks for the bump and reference, this has actually been fixed by changes in #1411 and the failing test has been unskipped, looks like I forgot to come back and close this :grinning:

[2016-09-15 13:37] #874 closed

[2016-09-15 15:39] Red-Folder commented on #874
@ryangribble Excellent news.  Great stuff

[2016-09-15 23:53] tang-jason opened #1466 "Increase Rate Limit"
Hello,

Is there an octokit doc where it explains how to increase rate limit step by step?

Looked at the [developer site ](https://developer.github.com/v3/#rate-limiting)but it didn't say much about where and how you obtain the "client_id" and "client_secret".

And how to build the client with the client_id and client_secret?

[2016-09-16 00:00] shiftkey commented on #1466
@tang-jason are you referring to this limit?

Unauthenticated requests are much lower (60 per hour), and I highly recommend using authentication for interacting with the GitHub API...

[2016-09-16 00:03] tang-jason commented on #1466
@shiftkey Yes, I think so. How do I get the 5,000 requests per hour? Sorry, totally new to this.

[2016-09-16 00:07] shiftkey commented on #1466
@tang-jason if you're only interested in doing something with your account, I'd recommend creating a [Personal Access Token]() with the permissions it needs. The [Getting Started](http://octokitnet.readthedocs.io/en/latest/getting-started) guide should then help you get started with Octokit.net.

If you want to support other users running your app, you'll need to create an OAuth application so tha

[2016-09-16 00:24] tang-jason commented on #1466
@shiftkey Thanks so much for the link. Looking at the OAuth setup, I am not sure what to put in the Homepage URL and Authorization callback URL since this application will/might be running in the VM and triggered by task scheduler.

[2016-09-16 01:43] tang-jason commented on #1466
@shiftkey Looks like PAT will do. I got what I needed. Thanks for the pointers and help! Very appreciated. :+1:

[2016-09-17 08:17] hbons opened #1467 "Uploading new public key to user account"
I can't find the API for this function. Is it possible? If not, could Octokit.net support this? :)

[2016-09-19 00:34] ryangribble commented on #1467
Do you mean SSH key?  If so it's at `client.User.GitSshKey.Create()`

[2016-09-19 06:22] jaredpar commented on #1453
@shiftkey once you know it's 1 based it's pretty easy to use.

I think the only way to make it clearer is to error in some way in the case of a 0 value.  It seems like that would be possible given the structure of `ApiOptions`.  But I've only used this API in a pretty limited fashion, so it's possible I'm not considering valid use cases.

I was mostly trying to be conscious of now downloading the

[2016-09-20 20:22] tang-jason opened #1468 "Octokit.net supports repo traffic?"
Is the "[traffic](https://developer.github.com/v3/repos/traffic/#views)" supported or will be supported in the near future?

`application/vnd.github.spiderman-preview`

[2016-09-20 20:36] ryangribble commented on #1468
@maddin2016 has done the work in PR #1457  which should be merged soon. It should be in the next release 👍

[2016-09-20 20:45] tang-jason commented on #1468
Awesome! Thanks for the update @ryangribble  👍

[2016-09-20 20:45] #1468 closed

[2016-09-20 21:16] #1442 closed

[2016-09-21 20:46] tang-jason opened #1470 "No "Watchers" available in Octokit.net?"
Using
`client.Search.SearchRepo(new SearchRepositoriesRequest(searchTerm));`

I don't seem to find "watchers" listed from the repos that I pulled. Is this available/implemented in Octokit?

[2016-09-21 21:03] ryangribble commented on #1470
Assuming I am understanding what you're referring to, I believe the API field name (and hence the octokit member name) is `StargazersCount`

[2016-09-21 21:15] tang-jason commented on #1470
@ryangribble  Isn't the StargazersCount referring to "Star". Take octokit for example, it has

"Watch" is the one I am looking for.

[2016-09-21 21:26] ryangribble commented on #1470
Ah sorry, indeed you are correct

There is a `watchers_count` field in the API response that is not currently implemented in octokit.net. It should be a simple change, just adding a member called `WatchersCount` to the `Repository` object

Typically missing fields like this are added as people run into them, but I would actually like to proactively add useful missing fields. I started rhetoric fir

[2016-09-22 15:36] khellang opened #1471 "Mark RepositoryFormatException.GetObjectData with System.Security.SecurityCritical"
I'm getting this exception when trying to run a program using Octokit in .NET Fiddle:

  at Program.<GetIssues>d__5.MoveNext(): line 57

  at Program.Main(String[] args): line 16

I think `RepositoryFormatException.GetObjectData` should be annotated with `System.Security.SecurityCritical`, [like its base version](http://referencesource.microsoft.com/#mscorlib/system/exception.cs,548).

I'll PR thi

[2016-09-25 11:04] ryangribble opened #1472 "Support Projects preview API"
As per the [recent anouncement](https://developer.github.com/changes/2016-09-14-projects-api/) there is a new API for the Projects functionality

[API docs](https://developer.github.com/v3/repos/projects/)

There are 17 functions to be implemented around Projects, Columns and Cards.  It's also likely that there are `repositoryId` based versions of these functions as well

[2016-09-25 11:16] ryangribble commented on #1470
Hey so I actually stumbled upon an old issue #699 that explains this `WatchersCount` property was actually deprecated and `SubscribersCount` is the field you want to use for this...  But then `SubscribersCount` field was also deprecated/removed in issue #736.  So apparently the "correct" way to retrieve this info is using the "Watchers" API `WatchedClient.GetAllWatchers()` instead.

Although, sinc

[2016-09-26 03:39] shiftkey commented on #1470
Assigning to myself to remember and investigate

[2016-09-26 10:19] shiftkey commented on #1467
Alternatively, `client.User.GpgKey.Create()` is the other "key" that the GitHub API supports.

Closing this out as implemented.

[2016-09-26 10:19] #1467 closed

[2016-09-28 14:37] ryangribble opened #1474 "Support changes to PR merge methods (adding Rebase+Merge support)"
As per the [recent announcement](https://developer.github.com/changes/2016-09-26-pull-request-merge-api-update/) a 3rd option on PR merges now exists.  Previously when squash support was added, the PR merge method was updated to take a `squash` boolean.  This looks to now have been replaced with a `merge_method` parameter, taking options of `merge` (default), `squash` or `rebase`

[Api Docs](https

[2016-09-28 14:40] ryangribble opened #1475 "Support repository settings to configure the allowed PR merge methods"
As per the [recent announcement](https://developer.github.com/changes/2016-09-26-pull-request-merge-api-update/) the repository settings to enable/disable the 3 Pull Request merge options (Merge, Squash, Rebase) are now configurable via the API 🙌

There are 3 new properties to accomplish this, which will need to be added to our `Repository` response class and also the Create and Edit requests will

[2016-09-28 15:16] #1447 closed

[2016-09-29 01:01] tang-jason opened #1478 "Is "GetReadmeHtml()" supported for subfolder readme?"
Sorry, I couldn't find anything that is related on how to get the readme in html form using `GetReadmeHtml()` in sub-folder structure.

example: `https://github.com/tang-jason/test1/blob/master/subfolder/helloworld/README.md`

I can get `test1` readme using `Repository.Content.GetReadmeHtml(owner, name)` but how to drill down to sub-folder level to get the readme in html?

[2016-09-29 01:42] shiftkey commented on #1478
Unfortunately the [Get the README](https://developer.github.com/v3/repos/contents/#get-the-readme) endpoint doesn't support providing a path - that's the behaviour we're using in Octokit.

The [Get Contents](https://developer.github.com/v3/repos/contents/#get-contents) API supports providing a path, and looks like this in Octokit:

[code]

However we don't support providing a [custom media type](h

[2016-09-29 01:42] #1478 closed

[2016-09-29 07:38] maddin2016 commented on #1472
Looks like a nice project 😀 In the API they say that pagination is currently not supported. But i've tested with two projects and i can paginate (get the `Link` Header)!!??

[2016-09-29 07:40] maddin2016 commented on #1472
So should we go on with pagination?

[2016-09-29 07:59] ryangribble commented on #1472
If it works then may as well include the `ApiOptions` overloads :+1:

[2016-09-29 08:01] maddin2016 commented on #1472
Ok. I create PR for this

[2016-09-29 12:42] ryangribble commented on #1440
Hmmm so it turns out both SourceLink and GitLink dont support dotnetcore project.json and .xproj files which is a bit of a bummer in terms of our own dotnetcore move (which isnt strictly related to moving to CAKE however I was kind of intending to do it all at the same time)

GitLink [aren't planning on doing anything](https://github.com/GitTools/GitLink/issues/83) until project.json goes away (al

[2016-09-29 22:05] ps625353 opened #1481 "Patrick smith"
Need my mesaages back

[2016-09-29 22:55] #1481 closed

[2016-10-02 13:52] zzzprojects opened #1483 "Missing ConfigureAwait(false)"
In the issue #1111, we discussed on missing ConfigureAwait(false) which has been fixed in the pull #1248

However, I tried again your solution today, but there is still some ConfigureAwait missing like in the file HttpClientAdapter.SendAsync

[code]

should be

[code]

If you want, I can create a Pull Request. However, it only takes five mins to fix them all, so I'm not sure if you prefer to verif

[2016-10-02 15:06] ryangribble commented on #1483
Hi @zzzprojects thanks for the heads up ☝

But the one you highlighted looks ok to me? It's an internal function, and inside that function the only await call DOES have `ConfigureAwait(false)` on there already?

Happy for you to send a pull request for any you find! to discuss/review further

[2016-10-02 16:21] zzzprojects commented on #1483
That doesn't matter.

The SendAsync method is asynchronous, and since you don't use ConfigureAwait(false) for this method, the UI will be blocked. So yes, the function inside (CloneHttpRequestMessageAsync) doesn't block the UI however, the line `await CloneHttpRequestMessageAsync(request);` do.

By example, this method in my WinForm application is blocked if I use your latest version. By just addi

[2016-10-02 23:37] shiftkey commented on #1483
![](https://cloud.githubusercontent.com/assets/359239/19024710/4284dc40-8955-11e6-92cd-e665a63ced3a.gif)

Yeah, I think this is a necessary evil of `await` for library code - while`CloneHttpRequestMessageAsync` has it's own `await` and `ConfigureAwait` usage this doesn't mean callers know about it - it only sees `Task<T>` rather than the narrowed `ConfiguredTaskAwaitable<T>`.

@zzzprojects I'm con

[2016-10-03 00:02] zzzprojects commented on #1483
The problem is right here. Since the library is missing a few ConfigureAwait and the API doesn't provide any non-asynchronous method, you force people to use an async method for not blocking the UI which is bad.

Nop, I cannot provide any `async void` that will not work, since if I create an async method, the UI will not be blocked.

Using `.Result` allows resolving the task for a non-asynchronous

[2016-10-03 00:40] shiftkey commented on #1483
Okay, now I'm confused.

Whether you call `.Wait()` on the task or use `.Result` directly, this will block the current thread until the task has completed. This is different to how `ICriticalNotifyCompletion` (the interface which `.ConfigureAwait(false)` returns) works around scheduling continuations.

I'm not sure I follow - if you're `await`ing on the result of a task, it will be made available

[2016-10-03 01:21] zzzprojects commented on #1483
It's a deadlocking. The thread is blocked with the UI thread.

Look at your code, you **FORCED** the user to use an async method and that's really bad. Most people doesn't understand how async method work, so that's why I avoid them.

This is what I want:
[code]

Imagine a legacy application where the `DoSomething` method already exists. You forced an existing method to be changed to use now an as

[2016-10-03 01:52] shiftkey commented on #1483
This is what I needed to hear. Thanks.

If you're not interested in submitting a PR I'll add this to my task list for the week.

[2016-10-03 01:55] zzzprojects commented on #1483
I will be happy to do it tomorrow.

All I need to know is the answer to the following question:

Do you want me to put await & ConfigureAwait on the same line whenever is possible? I think there is only one place which I have to keep the multiline for readability.

[2016-10-03 01:59] shiftkey-tester commented on #1483
@zzzprojects single-line is preferred, yes

[2016-10-03 02:00] shiftkey commented on #1483
@zzzprojects single-line is preferred, yes

[2016-10-03 03:27] #1474 closed

[2016-10-03 23:51] ryangribble commented on #1111
This was fixed by #1248 (apart from a few additional ones which were possibly introduced after #1248 anyway... #1483 is tackling those)

[2016-10-03 23:51] #1111 closed

[2016-10-04 10:10] #1483 closed

[2016-10-04 20:57] laedit commented on #1143
If that's ok I want to contribute on this one.

About how to do it,  I think that the simplest is to add an `EncodingType Encoding` property, potentially add the corresponding constructors and remove the `SerializeAsBase64` attribute on `Content` property.

And if you want to avoid any breaking change on this, deal with the base64 in the existing constructors.

What do you think?

[2016-10-04 22:49] #1475 closed

[2016-10-04 23:20] shiftkey commented on #1143
@laedit go for it - there might be some things to catch when serializing/deserialzing but I'm happy to review things and ensure a smooth transition

[2016-10-04 23:26] shiftkey opened #1487 "revisit RepositoryTrafficClient integration tests"
I disabled some tests in 0f90d20e3015d7e405160f9348544c7dd5ac16b0 as my test account is not an administrator for the Octokit.net repository - and admin is necessary to see the repository traffic.

Instead, I'd suggest updating this test to use a user-generated repository so the API call doesn't fail. This probably means the deserialized response might not be as compelling, but I think verifying th

[2016-10-04 23:27] shiftkey commented on #1251
I've disabled the integration tests around this code in 0f90d20e3015d7e405160f9348544c7dd5ac16b0 - if someone wants to start digging into this, I'd look at getting those running again.

[2016-10-10 04:04] jsauvexamarin opened #1491 "Unable to add octokit.net package to Xamarin.iOS 10+ projects"
When I try to add the octokit.net package to a Xamarin.iOS project, I get the following package manager output:

[code]

This seems to suggest that the package does not support Xamarin projects (or PCLs), even though the readme obviously claims that it does:
https://github.com/octokit/octokit.net#user-content-supported-platforms

Why would your nuget package not be able target Xamarin.iOS?

Why is

[2016-10-10 05:48] shiftkey commented on #1491
@jsauvexamarin it's been a while since I've looked at our Xamarin Studio support (I'm pretty sure my license expired too), so I'm not quite sure how to proceed here.

We've had [Microsoft.Net.Http](https://www.nuget.org/packages/Microsoft.Net.Http/) as a dependency for a while - it's technically a PCL as well, so I'm not sure whether something has changed and we should target something else for th

[2016-10-10 07:06] jsauvexamarin commented on #1491
I've actually already begun to take it upon myself to convert the csproj files over to supporting the unified Xamarin.iOS APIs. It's mostly just matter of swapping out the project type GUIDs in the csproj's, and then referencing the new targets.

I'm working on a fork. I should have a PR ready sometime in the next 24 hours. :)

[2016-10-10 07:07] jsauvexamarin commented on #1491
I'll make sure the entire solution is buttoned up before I submit

[2016-10-10 13:50] jsauvexamarin commented on #1491
@shiftkey, here's the PR: https://github.com/octokit/octokit.net/pull/1492

[2016-10-13 12:03] M-Zuber commented on #1471
Beat you to it 😃

[2016-10-13 12:17] M-Zuber commented on #1487
I'm working on trying to figure this out.

If we come up with something that works, there are a number of other tests that are currently skipped for the same reason of needing admin rights

[2016-10-13 12:50] M-Zuber commented on #1487
The main issue I am hitting is generating any sort of traffic.
Calling `new WebClient().DownloadStringTaskAsync(...)` does not seem to register as a hit.

I see two options:
1. Assert `referrers.Count` is 0
2. Create a browser object, navigate to url, ect, ect.

Is there another option I am missing?

[2016-10-13 13:42] ryangribble commented on #1487
one other way could be to create a "shared" octokit-test organisation and repo and user, then embed a personal access token for that user into our test code.  This could either be used to run those [RequiresOrgOwner] type tests under, or could also be used behind the scenes to add the user's configured test account to the organization as an owner, so the tests would then work

[2016-10-13 18:13] manusenssas opened #1494 "Manucure Senssas enr"
Manucure Senssas enr Luce Suzanne Letourneau #1400

[2016-10-13 21:29] #1494 closed

[2016-10-14 06:09] M-Zuber commented on #1487
I'm not sure how that is different then what we already have with the user, org, and access token set in environment variables?

[2016-10-14 07:00] ryangribble commented on #1487
A shared organisation and API key that all octokit contributors would be added to with appropriate permissions so the tests would work (and the data would be real since the repos are existing and not created just for the test)

[2016-10-15 06:30] manusenssas commented on #1494
Manucure Senssas enr http://www.manucure-senssas.com

[2016-10-16 23:16] #1471 closed

[2016-10-18 22:15] strich commented on #1419
Hey folks. Can I get a summary or where we're at on this? I may be interested in helping out.

[2016-10-18 22:23] shiftkey commented on #1419
@strich we have an `Octokit.Next` project and tests building in CI. If someone wants to start building against the Octokit source and targeting new platforms they're more than welcome to dive in.

I'd recommend using the `include` options in `buildOptions`, rather than copying the same source into the new folder.

e.g:

[code]

[2016-10-18 22:58] strich commented on #1419
I'm not sure I understand. It would be good if this Next project was at least setup to whatever standard the others are - I have no idea what requirements you have around your build processes, etc. Maybe you could prepare the project, even if it is broken, so people can more readily refactor code?

[2016-10-18 23:31] shiftkey commented on #1419
@strich Appveyor and Travis are already setup to build and run tests for this Octokit.Next project - you can see this in action [here](https://ci.appveyor.com/project/github-windows/octokit-net/build/0.17.1769#L1259). Aside for the [requirements](https://www.microsoft.com/net/core#windows) for .NET Core you shouldn't need anything else.

[I also started a branch a while ago](https://github.com/oct

[2016-10-18 23:33] shiftkey commented on #1419
@strich the project is relatively vanilla because MSBuild does weird things when you mix `csproj` and `xproj`/`project.json` in the same directory. I also wanted to transition things gradually, without interfering with people who wanted to contribute new features and fixes and might not have the latest tools installed.

[2016-10-19 09:49] strich commented on #1419
Unfortunately I do not know enough about VS projects to figure out how to include the Octokit files in the Next project by reference - IE not copied - and still be able to build and view the project as if it were a normal VS project.

[2016-10-20 14:43] mderriey commented on #1419
An approach I would use is to get rid of all the `.csproj` files and create `project.json` to replace them. Since `project.json` allows multi-targetting, then the solution would not contain as many different flavours of the Octokit project, but only the main one that would be built for several targets.

You can find several examples of projects that have been ported to .NET Core, but one @shiftkey

[2016-10-21 07:13] radu-matei commented on #1419
Updates on `.csproj` and MSBuild.

https://blogs.msdn.microsoft.com/dotnet/2016/10/19/net-core-tooling-in-visual-studio-15/

[2016-10-24 17:30] jaredpar opened #1495 "Cannot get comments via octokit"
Consider the following code:

[code]

This is how I would expect to retrieve the comments for a specific PR.  If you run the code though you will see it print out the following

[code]

Essentially the PR claims to have 4 comments (and if you look at the PR in question you will see it does).  Yet the `GetAll` method is returning an empty collection.

Is there something I'm doing wrong here?

[2016-10-24 21:20] shiftkey commented on #1495
Nope, looks like the GitHub API is now using `PullRequest.Comment` to return [Review Comments](https://developer.github.com/v3/pulls/comments/#list-comments-on-a-pull-request). I'll ask around and see what's changed.

I'm not sure how long this is guaranteed to work, but here's my workaround:

[code]

[2016-10-25 00:24] jaredpar commented on #1495
Thanks for the work around.  That got me unblocked.

[2016-10-25 17:00] goateey opened #1496 "Admin Permission of Team lists out as Pull"
i'm Trying to get permissions of a team that is associated with the Repo of an org.
 The api lists out as "pull" for a team that has admin "role".  Not sure how to get around with this. Please let know

private static async Task<string> BasicTest()
{
var ghe = new Uri("https://github.MyCompany.com");
var client = new GitHubClient(new ProductHeaderValue("TEST-APP"), ghe);
client.Credentials = new C

[2016-10-25 21:35] ryangribble commented on #1496
Hey @goateey

What level of access to the organisation/repo do the user credentials you are providing for the API call have?  In order to list out admins you would need to be an owner of the organisation I'm pretty sure

[2016-10-25 23:49] shiftkey commented on #1496
From the [docs](https://developer.github.com/v3/orgs/teams/)

[2016-10-25 23:53] goateey commented on #1496
The authenticated user is Site admin and owner of all orgs.. Github version is 2.6.9.... it worked before migrating from 2.4.3

[2016-10-26 13:12] goateey commented on #1496
The below curl gets me what i want but how can this be achieved via Octokit ?

 curl -u username:password https://github.MyCompany.com/api/v3/teams/<TEAM-ID>/repos -k

[2016-10-26 13:34] ryangribble commented on #1496
Yes the [API call you highlighted ](https://developer.github.com/v3/orgs/teams/#list-team-repos) is already implemented in octokit as `client.Organization.Team.GetAllRepositories()`

And the reason why the first call you mentioned doesnt work anymore is that the github API only returns limited team information on the "get teams for repo" call, as you can see in the [api docs here](https://develope

[2016-10-26 13:56] goateey commented on #1496
@ryangribble  - thanks that worked.
we migrated recently from 2.4.3 to 2.6.9 and the contractor who was working on this task had his contract ended. So been pulled on to this task...

Thanks a lot for the help... appreciate it!

[2016-10-26 16:47] #1496 closed

[2016-10-29 21:50] pmiossec commented on #963
I am confronted to this bug :( It is still there in the new 0.23 release.
It make the upload of release asset feature completly useless...
Do you think if the this bug will be fixed ?

I could perhaps take some time to do a PR but how do you want to fix it?
1. Set a huge Timeout on the HttpClient
2. Expose a Timeout property
3. (Potentialy) Update the Timeout at each request depending of the reque

[2016-11-09 08:59] pjc0247 commented on #1495
@shiftkey But.. I think there's no API which can handle optional parameters in `/repos/:owner/:repo/issues/comments`.

[Issue.Comment.GetAllForRepository](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IIssueCommentsClient.cs#L36-L66)
[PullRequest.Comment.GetAllForRepository](https://github.com/octokit/octokit.net/blob/master/Octokit/Clients/IPullRequestReviewCommentsClient.cs#

[2016-11-09 21:58] shiftkey commented on #1495
@pjc0247 I'm not clear what you were looking for in terms of options here - could you elaborate?